Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

docs: organize blog under certain tags (#2279)
  apps/docs/blog/2023-11-07-open-source-open-data-open-infra.mdx
  apps/docs/blog/2023-11-20-retropgf3-ecosystem-analysis/index.md
  apps/docs/blog/2023-12-14-levels-of-the-game.mdx
  apps/docs/blog/2023-12-15-pln-ecosystem-analysis/index.mdx
  apps/docs/blog/2024-01-03-fund-your-dependencies/index.mdx
  apps/docs/blog/2024-01-19-what-builders-can-learn-from-retropgf3/index.mdx
  apps/docs/blog/2024-01-26-octant-epoch-02-ecosystem-analysis.mdx
  apps/docs/blog/2024-01-31-arb-ecosystem-analysis/index.mdx
  apps/docs/blog/2024-02-21-gitcoin-grants-impact/index.mdx
  apps/docs/blog/2024-02-28-arbitrum-impact-pools/index.mdx
  apps/docs/blog/2024-03-20-request-for-impact-metrics/index.md
  apps/docs/blog/2024-04-24-octant-epoch-03-ecosystem-analysis.md
  apps/docs/blog/2024-05-16-impact-metrics-rf4/index.md
  apps/docs/blog/2024-05-30-fil-retropgf-1/index.md
  apps/docs/blog/2024-06-29-impact-metrics-rf4-deep-dive/index.md
  apps/docs/blog/2024-07-15-impact-of-retro-funding/index.md
  apps/docs/blog/2024-07-16-oso-data-portal/index.md
  apps/docs/blog/2024-07-23-rf4-ballot-box/index.md
  apps/docs/blog/2024-08-12-war-for-public-goods/index.md
  apps/docs/blog/2024-08-30-impact-data-scientists.mdx
  apps/docs/docusaurus.config.ts
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Fix metrics weekly handling (#2277)
  warehouse/metrics_tools/lib/factories/definition.py
  warehouse/metrics_tools/lib/factories/factory.py
  warehouse/metrics_tools/lib/factories/macros.py
  warehouse/metrics_tools/models.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat(docs): EAS datasets
  apps/docs/docs/integrate/overview/index.mdx
Due: none

feat(docs): EAS datasets (#2281)
  apps/docs/docs/integrate/overview/index.mdx
Due: none

fix: add logo
  apps/docs/docs/integrate/overview/eas.png
  apps/docs/docs/integrate/overview/index.mdx
Due: none

update: EAS logo (#2282)
  apps/docs/docs/integrate/overview/eas.png
  apps/docs/docs/integrate/overview/index.mdx
Due: none

add: incremental `staging` model for deps.dev
  warehouse/dbt/models/staging/deps-dev/stg_deps_dev__dependencies.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

add: dependency parsing `name`/`namespace` macro
  warehouse/dbt/macros/models/deps_dev_artifact_details.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: add YOUR_PROJECT_NAME back
  apps/docs/docs/integrate/overview/index.mdx
Due: none

add: deps.dev dependencies `intermediate` model
  warehouse/dbt/models/intermediate/events/int_events_dependencies.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat: merge deps.dev events into the `event` table
  warehouse/dbt/models/intermediate/events/int_events.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: remove unused `comments`
  warehouse/dbt/models/intermediate/events/int_events_dependencies.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Docs/eas 2 (#2284)
  apps/docs/docs/integrate/overview/index.mdx
Due: none

fix: use sample data for non `production` environments
  warehouse/dbt/models/staging/deps-dev/stg_deps_dev__dependencies.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat: merge deps.dev events into the `event` table (#2285)
  warehouse/dbt/macros/models/deps_dev_artifact_details.sql
  warehouse/dbt/models/intermediate/events/int_events.sql
  warehouse/dbt/models/intermediate/events/int_events_dependencies.sql
  warehouse/dbt/models/staging/deps-dev/stg_deps_dev__dependencies.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat(dbt): add sources and staging models for gitcoin funding events
  warehouse/dbt/models/gitcoin_sources.yml
  warehouse/dbt/models/passport_sources.yml
  warehouse/dbt/models/staging/gitcoin/stg_gitcoin__donations.sql
  warehouse/dbt/models/staging/gitcoin/stg_gitcoin__matching.sql
  warehouse/dbt/models/staging/gitcoin/stg_gitcoin__project_groups.sql
  warehouse/dbt/models/staging/gitcoin/stg_gitcoin__project_lookup.sql
  warehouse/dbt/models/staging/gitcoin/stg_passport__scores.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat(dbt): map gitcoin projects to oso ids
  warehouse/dbt/models/intermediate/funding/int_projects_by_gitcoin_id.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat(dbt): add raw gitcoin funding event data
  warehouse/dbt/models/intermediate/funding/int_gitcoin_funding_events.sql
  warehouse/dbt/models/intermediate/funding/int_gitcoin_project_directory.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat(dbt): add gitcoin funding event data (#2289)
  warehouse/dbt/models/gitcoin_sources.yml
  warehouse/dbt/models/intermediate/funding/int_gitcoin_funding_events.sql
  warehouse/dbt/models/intermediate/funding/int_gitcoin_project_directory.sql
  warehouse/dbt/models/passport_sources.yml
  warehouse/dbt/models/staging/gitcoin/stg_gitcoin__donations.sql
  warehouse/dbt/models/staging/gitcoin/stg_gitcoin__matching.sql
  warehouse/dbt/models/staging/gitcoin/stg_gitcoin__project_groups.sql
  warehouse/dbt/models/staging/gitcoin/stg_gitcoin__project_lookup.sql
  warehouse/dbt/models/staging/gitcoin/stg_passport__scores.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

setup trino
  ops/k8s-apps/base/trino/kustomization.yaml
  ops/k8s-apps/base/trino/trino.yaml
  ops/tf-modules/warehouse-cluster/main.tf
Due: none

temp: update branch to watch
  ops/clusters/warehouse/flux-system/gotk-sync.yaml
Due: none

Add trino to prod
  ops/k8s-apps/production/trino/custom-helm-values.yaml
  ops/k8s-apps/production/trino/kustomization.yaml
Due: none

Add trino
  manual-work-log.md
  ops/k8s-apps/base/trino/trino.yaml
  ops/k8s-apps/production/kustomization.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

test
  ops/k8s-apps/base/trino/trino.yaml
Due: none

fix
  ops/k8s-apps/base/trino/trino.yaml
Due: none

fix: destroy trino
  ops/k8s-apps/production/kustomization.yaml
Due: none

fix: restore trino
  ops/k8s-apps/production/kustomization.yaml
Due: none

fix: increase writers by 10
  ops/k8s-apps/base/trino/trino.yaml
Due: none

update log
  manual-work-log.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

some changes for trino
  poetry.lock
  pyproject.toml
  warehouse/metrics_mesh/config.py
  warehouse/metrics_mesh/models/events_daily_to_artifact.sql
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_tools/lib/factories/macros.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fixes
  ops/k8s-apps/base/trino/trino.yaml
  warehouse/metrics_mesh/config.py
  warehouse/metrics_tools/lib/factories/factory.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

use postgres
  warehouse/metrics_mesh/config.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

further improvements
  warehouse/metrics_mesh/config.py
  warehouse/metrics_tools/lib/factories/factory.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

More fixes
  ops/k8s-apps/base/trino/trino.yaml
  ops/k8s-apps/production/kustomization.yaml
  ops/tf-modules/warehouse-cluster/main.tf
Due: none

redeploy trino
  ops/k8s-apps/production/kustomization.yaml
Due: none

more fix
  ops/k8s-apps/base/trino/trino.yaml
Due: none

go big
  ops/k8s-apps/base/trino/trino.yaml
Due: none

make weekly less concurrent
  warehouse/metrics_tools/lib/factories/factory.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  poetry run ruff check --fix --force-exclude: any of: **/*.py
  pnpm pyright: any of: **/*.py
  poetry run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  poetry run sqlfluff lint: any of: warehouse/dbt/**/*.sql
