Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

.lintstagedrc:

{
    "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
        "eslint --ignore-path .gitignore --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ],
    "warehouse/dbt/**/*.sql": [
        "uv run sqlfluff fix -f",
        "uv run sqlfluff lint"
    ]
}

add: `int_events__blockchain` playground reference
  warehouse/metrics_tools/local/utils.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: add defillama `fallback` tables
  warehouse/oso_dagster/assets/defillama.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(api): track api calls for analytics (#3191)
  apps/frontend/components/dataprovider/auth-router.tsx
  apps/frontend/components/widgets/analytics.tsx
  apps/frontend/lib/auth/auth.ts
  apps/frontend/lib/clients/segment.ts
  apps/frontend/middleware.ts
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(mcs): fix data export
  warehouse/metrics_tools/compute/cache.py
  warehouse/metrics_tools/transfer/trino.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(dagster): removes unnecessary debug log
  warehouse/oso_dagster/resources/trino.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(mcs): fix data export (#3210)
  warehouse/metrics_tools/compute/cache.py
  warehouse/metrics_tools/transfer/trino.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

test bazel
  .bazelignore
  .bazelrc
  .gitignore
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  lib/utils/BUILD.bazel
  ops/external-prs/BUILD.bazel
Due: none

making sure random installs work
  apps/docs/.eslintrc.json
  apps/docs/package.json
  apps/docs/plasmic.json
  apps/docs/plasmic.lock
  apps/docs/src/components/plasmic/DocsCard.tsx
  apps/docs/src/components/plasmic/plasmic-tokens.theo.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

more fixes to build
  apps/frontend/package.json
  ops/external-prs/src/checks.ts
  ops/external-prs/src/oso/index.ts
  ops/github-app-utils/src/checks.ts
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Add some bazel build files
  .aspect/cli/config.yaml
  .bazelignore
  REPO.bazel
  apps/docs/BUILD.bazel
  lib/oss-artifact-validators/BUILD.bazel
  package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

More bazeling
  apps/frontend/BUILD.bazel
Due: none

fix(dagster): removes unnecessary debug log (#3211)
  warehouse/oso_dagster/resources/trino.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: `fallback` mechanism for fetching defillama tables
  warehouse/oso_dagster/assets/defillama.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: defillama `assets` instability (#3163)
  warehouse/metrics_tools/local/utils.py
  warehouse/oso_dagster/assets/defillama.py
  warehouse/oso_dagster/factories/rest.py
  warehouse/oso_sqlmesh/macros/defillama/unioned_defillama_tvl_events.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: upgrade `dagster` helm chart
  ops/helm-charts/oso-dagster/Chart.lock
  ops/helm-charts/oso-dagster/Chart.yaml
Due: none

chore: upgrade `dagster` helm chart (#3222)
  ops/helm-charts/oso-dagster/Chart.lock
  ops/helm-charts/oso-dagster/Chart.yaml
Due: none

fix(sqlmesh): format oso slugs that come in from op atlas
  warehouse/oso_sqlmesh/models/staging/op_atlas/stg_op_atlas_project.sql
Due: none

fix: typo in logs
  apps/frontend/lib/auth/auth.ts
Due: none

fix: typo in logs (#3223)
  apps/frontend/lib/auth/auth.ts
Due: none

fix: filter out `invalid` slugs before processing
  warehouse/oso_dagster/assets/defillama.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: filter `after` fallback process
  warehouse/oso_dagster/assets/defillama.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: refactor slug validation to `speed` up checks
  warehouse/oso_dagster/assets/defillama.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: remove `extraneous` logs
  warehouse/oso_dagster/assets/defillama.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: add `missing` mapping function
  warehouse/oso_dagster/assets/defillama.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: filter out `invalid` slugs before processing (#3225)
  warehouse/oso_dagster/assets/defillama.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(mcs)!: additional websocket disconnect handling
  warehouse/metrics_tools/compute/app.py
  warehouse/metrics_tools/compute/client.py
  warehouse/metrics_tools/compute/types.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(mcs): additional websocket disconnect handling (#3226)
  warehouse/metrics_tools/compute/app.py
  warehouse/metrics_tools/compute/client.py
  warehouse/metrics_tools/compute/types.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

add: resource to fetch `all` defillama protocols in one run
  warehouse/oso_dagster/assets/defillama.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: update pnpm
  ops/external-prs/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(external-prs): compilation issues
  apps/frontend/package.json
  ops/external-prs/src/checks.ts
  ops/external-prs/src/oso/index.ts
  ops/github-app-utils/src/checks.ts
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: remove pending test-deploy status
  .github/workflows/test-deploy-owners.yml
Due: none

chore: update pnpm lock
  pnpm-lock.yaml
Due: none

chore(docs): autogenerated fixes
  apps/docs/package.json
  apps/docs/plasmic.json
  apps/docs/plasmic.lock
  apps/docs/src/components/plasmic/DocsCard.tsx
  apps/docs/src/components/plasmic/plasmic-tokens.theo.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: dlt typing issues
  warehouse/oso_dagster/factories/dlt.py
  warehouse/oso_dagster/factories/rest.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): use the repo node id if it exists for repos in op atlas
  warehouse/oso_sqlmesh/models/intermediate/directory/int_artifacts_by_project_in_op_atlas.sql
Due: none

fix(sqlmesh): ensure repo parts are lower cased
  warehouse/oso_sqlmesh/models/staging/op_atlas/stg_op_atlas_project_repository.sql
Due: none

chore: update .gitignore
  .gitignore
Due: none

chore: update .gitignore to exclude local sqlmesh tests
  .gitignore
Due: none

chore: update .gitignore to exclude local sqlmesh tests (#3228)
  .gitignore
Due: none
