Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

.lintstagedrc:

{
    "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
        "eslint --ignore-path .gitignore --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ],
    "warehouse/dbt/**/*.sql": [
        "uv run sqlfluff fix -f",
        "uv run sqlfluff lint"
    ]
}

fix: save `faulty_range` during Open Collective data fetch
  warehouse/oso_dagster/assets/open_collective.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Add custom schema documentation generator
  docs/schema-docs/configuration-schema.md
  package.json
  scripts/generate-schema-docs.js
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: remove export tag from timeseries_metrics_by_artifact_v0
  warehouse/oso_sqlmesh/models/marts/metrics/timeseries_metrics_by_artifact_v0.sql
Due: none

feat(docs): adds crypto-ecosystems and cleans up docs
  apps/docs/docs/integrate/datasets/crypto-ecosystems-logo.jpeg
  apps/docs/docs/integrate/datasets/electric_capital_logo_transparent.png
  apps/docs/docs/integrate/datasets/index.mdx
Due: none

fix(docs): crypto ecosystems logo
  apps/docs/docs/integrate/datasets/index.mdx
Due: none

feat(docs): add growthepie to docs
  apps/docs/docs/integrate/datasets/growthepie_full_logo.png
  apps/docs/docs/integrate/datasets/growthepie_logo.png
  apps/docs/docs/integrate/datasets/index.mdx
Due: none

fix(sqlmesh): cleaner handling for crypto ecosystems project sources
  uv.lock
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/crypto-ecosystems/int_artifacts_by_project_in_crypto_ecosystems.sql
Due: none

Apply suggestion from @Copilot
  apps/docs/docs/integrate/datasets/index.mdx
Due: none

fix: adjust pagination settings for smaller `steps`
  warehouse/oso_dagster/assets/giveth_qf.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

refactor(sqlmesh): add macro for entity name translations
  warehouse/oso_sqlmesh/macros/to_entity_name.py
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/crypto-ecosystems/int_artifacts_by_project_in_crypto_ecosystems.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): use explicit aliases in cte
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/crypto-ecosystems/int_artifacts_by_project_in_crypto_ecosystems.sql
Due: none

fix(sqlmesh): cleaner handling for crypto ecosystems project sources (#4776)
  uv.lock
  warehouse/oso_sqlmesh/macros/to_entity_name.py
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/crypto-ecosystems/int_artifacts_by_project_in_crypto_ecosystems.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

refactor(sqlmesh): create artifacts_by_project and projects_by_collection separately
  warehouse/oso_sqlmesh/models/intermediate/entities/collections/defillama/int_artifacts_by_collection_in_defillama.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/defillama/int_artifacts_by_project_in_defillama.sql
Due: none

fix(sqlmesh): rename model
  warehouse/oso_sqlmesh/models/intermediate/entities/collections/defillama/int_projects_by_collection_in_defillama.sql
Due: none

fix(sqlmesh): category handling
  warehouse/oso_sqlmesh/models/intermediate/entities/collections/defillama/int_projects_by_collection_in_defillama.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/defillama/int_artifacts_by_project_in_defillama.sql
Due: none

fix: pnpm lock
  pnpm-lock.yaml
Due: none

feat: playing around with shadcn sidebars (#4750)
  apps/frontend/components/ui/dropdown-menu.tsx
  apps/frontend/components/ui/icons.tsx
  apps/frontend/components/widgets/index.ts
  apps/frontend/components/widgets/oso-navbar.tsx
  apps/frontend/components/widgets/oso-sidebar.tsx
  apps/frontend/package.json
  apps/frontend/stories/widgets/sidebar.stories.tsx
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: adjust pagination settings for smaller `steps` (#4777)
  warehouse/oso_dagster/assets/giveth_qf.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: this ensures that no `duplicate` projects exist for `qf` rounds
  warehouse/oso_dagster/assets/giveth_qf.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: this ensures that no `duplicate` projects exist for `qf` rounds (#4779)
  warehouse/oso_dagster/assets/giveth_qf.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: linter
  warehouse/oso_sqlmesh/models/marts/metrics/timeseries_metrics_by_artifact_v0.sql
Due: none

fix: `open collective` asset is failing due to faulty ranges (#4766)
  warehouse/oso_dagster/assets/open_collective.py
  warehouse/oso_dagster/utils/common.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: re-enable audit
  warehouse/oso_sqlmesh/models/marts/metrics/timeseries_metrics_by_artifact_v0.sql
Due: none

fix: remove physical properties
  warehouse/oso_sqlmesh/models/marts/metrics/timeseries_metrics_by_artifact_v0.sql
Due: none

fix(sqlmesh): make timeseries_metrics_by_artifact_v0 a view (#4770)
  warehouse/oso_sqlmesh/models/marts/metrics/timeseries_metrics_by_artifact_v0.sql
Due: none

chore(archive-nodes): create ethereum archive node and improve arbitrum ssd
  ops/tf-modules/archive-nodes/main.tf
Due: none

feat(sqlmesh): TVL categories by project and chain (#4741)
  warehouse/oso_sqlmesh/models/intermediate/entities/collections/defillama/int_projects_by_collection_in_defillama.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/defillama/int_artifacts_by_project_in_defillama.sql
Due: none

feat(docs): add crypto-ecosystems and growthepie BQ datasets to docs (#4775)
  apps/docs/docs/integrate/datasets/crypto-ecosystems-logo.jpeg
  apps/docs/docs/integrate/datasets/electric_capital_logo_transparent.png
  apps/docs/docs/integrate/datasets/growthepie_full_logo.png
  apps/docs/docs/integrate/datasets/growthepie_logo.png
  apps/docs/docs/integrate/datasets/index.mdx
Due: none

feat(sqlmesh): add chain mapping mart (#4169)
  warehouse/oso_sqlmesh/models/marts/entities/chains_v0.sql
Due: none

refactor(sqlmesh): open collective projects using new int_artifacts_by_project pattern
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/open-collective/int_artifacts_by_project__open_collective.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/open-collective/int_artifacts_by_project_in_open_collective.sql
  warehouse/oso_sqlmesh/models/staging/open-collective/stg_open_collective__projects.sql
Due: none
