Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat: define new job for unstable data sources and for the core pipeline (#2922)
  warehouse/oso_dagster/assets/ossd.py
  warehouse/oso_dagster/factories/bq2clickhouse.py
  warehouse/oso_dagster/factories/bq_dts.py
  warehouse/oso_dagster/factories/dlt.py
  warehouse/oso_dagster/factories/gcs.py
  warehouse/oso_dagster/factories/goldsky/additional.py
  warehouse/oso_dagster/factories/goldsky/assets.py
  warehouse/oso_dagster/factories/sql.py
  warehouse/oso_dagster/schedules.py
  warehouse/oso_dagster/utils/tags.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

chore: change dagster alert to only target core jobs
  warehouse/oso_dagster/factories/alerts.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

chore: change dagster alert to only target core jobs (#2976)
  warehouse/oso_dagster/factories/alerts.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Connect superchain data to contracts_v0
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_deployers.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_derived_contracts.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_factories.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_proxies.sql
  warehouse/metrics_mesh/models/staging/superchain/stg_superchain__deployers.sql
  warehouse/metrics_mesh/models/staging/superchain/stg_superchain__factories.sql
  warehouse/metrics_mesh/models/staging/superchain/stg_superchain__proxies.sql
Due: none

fix references
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_deployers.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_derived_contracts.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_factories.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_proxies.sql
  warehouse/metrics_mesh/models/staging/superchain/stg_superchain__deployers.sql
  warehouse/metrics_mesh/models/staging/superchain/stg_superchain__factories.sql
  warehouse/metrics_mesh/models/staging/superchain/stg_superchain__proxies.sql
  warehouse/metrics_mesh/models/staging/superchain/stg_superchain__traces.sql
  warehouse/metrics_mesh/models/staging/superchain/stg_superchain__transactions.sql
Due: none

feat: add weekly tx counts
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_derived_contract_tx_counts_weekly.sql
Due: none

Fixes issues with run
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_derived_contract_tx_counts_weekly.sql
Due: none

Wire together contracts_v0
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_contracts_by_project.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_contracts_overview.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_deployers.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_derived_contract_tx_counts_weekly.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_derived_contracts.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_factories.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_factory_root_deployers.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_proxies.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_deployers_by_project.sql
  warehouse/metrics_mesh/models/marts/directory/contracts_v0.sql
Due: none

fix issues with local runner
  ops/k8s-apps/local/nessie-psql/kustomization.yaml
  ops/k8s-apps/local/nessie-psql/nessie-psql.yaml
  ops/k8s-apps/local/nessie/custom-helm-values.yaml
Due: none

comment out forward_only for now. should enable in the future
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_derived_contracts.sql
Due: none

fix reset logic
  warehouse/metrics_tools/local/loader.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

more local runner fixes
  ops/k8s-apps/local/kustomization.yaml
Due: none

stop using bq's int_deployers_by_project
  warehouse/metrics_mesh/models/intermediate/directory/int_all_artifacts.sql
Due: none

introduce a row limit for sqlmesh running metrics calculations locally
  warehouse/metrics_tools/factory/generated.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix type
  warehouse/metrics_tools/factory/generated.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Contracts V0 + Transaction Counts (#2969)
  ops/k8s-apps/local/kustomization.yaml
  ops/k8s-apps/local/nessie-psql/kustomization.yaml
  ops/k8s-apps/local/nessie-psql/nessie-psql.yaml
  ops/k8s-apps/local/nessie/custom-helm-values.yaml
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_contracts_by_project.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_contracts_overview.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_deployers.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_derived_contract_tx_counts_weekly.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_derived_contracts.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_factories.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_factory_root_deployers.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_proxies.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_all_artifacts.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_deployers_by_project.sql
  warehouse/metrics_mesh/models/marts/directory/contracts_v0.sql
  warehouse/metrics_mesh/models/staging/superchain/stg_superchain__deployers.sql
  warehouse/metrics_mesh/models/staging/superchain/stg_superchain__factories.sql
  warehouse/metrics_mesh/models/staging/superchain/stg_superchain__proxies.sql
  warehouse/metrics_mesh/models/staging/superchain/stg_superchain__traces.sql
  warehouse/metrics_mesh/models/staging/superchain/stg_superchain__transactions.sql
  warehouse/metrics_tools/factory/generated.py
  warehouse/metrics_tools/local/loader.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Adds tailscale and alternative secrets retrieval
  ops/k8s-operators/common/tailscale/kustomization.yaml
  ops/k8s-operators/common/tailscale/tailscale-operator.yaml
  ops/k8s-operators/gke/secrets-store-csi-driver/kustomization.yaml
  ops/k8s-operators/gke/secrets-store-csi-driver/secrets-store-csi-driver.yaml
  ops/k8s-operators/gke/tailscale/custom-helm-values.yaml
  ops/k8s-operators/gke/tailscale/kustomization.yaml
  ops/k8s-operators/gke/tailscale/secrets-provider.yaml
Due: none

Adds tailscale and alternative secrets retrieval (#2977)
  ops/k8s-operators/common/tailscale/kustomization.yaml
  ops/k8s-operators/common/tailscale/tailscale-operator.yaml
  ops/k8s-operators/gke/secrets-store-csi-driver/kustomization.yaml
  ops/k8s-operators/gke/secrets-store-csi-driver/secrets-store-csi-driver.yaml
  ops/k8s-operators/gke/tailscale/custom-helm-values.yaml
  ops/k8s-operators/gke/tailscale/kustomization.yaml
  ops/k8s-operators/gke/tailscale/secrets-provider.yaml
Due: none

Deploy tailscale
  ops/k8s-operators/gke/kustomization.yaml
  ops/k8s-operators/gke/secrets-store-csi-driver/secrets-store-csi-driver.yaml
  ops/k8s-operators/gke/tailscale/custom-helm-values.yaml
Due: none

set for testing
  ops/clusters/warehouse/flux-system/gotk-sync.yaml
Due: none

fix
  ops/k8s-operators/gke/tailscale/kustomization.yaml
Due: none

put secrets driver earlier
  ops/k8s-infrastructure/gke/kustomization.yaml
  ops/k8s-infrastructure/gke/secrets-store-csi-driver/kustomization.yaml
  ops/k8s-infrastructure/gke/secrets-store-csi-driver/secrets-store-csi-driver.yaml
Due: none

fixing
  ops/k8s-operators/gke/kustomization.yaml
  ops/k8s-operators/gke/tailscale/custom-helm-values.yaml
Due: none

fix
  ops/k8s-apps/production/trino/custom-helm-values.yaml
Due: none

fix namespace
  ops/k8s-operators/gke/tailscale/kustomization.yaml
Due: none

feat(docs): add OP atlas data exchange listing
  apps/docs/docs/integrate/datasets/index.mdx
  apps/docs/docs/integrate/datasets/op-atlas.png
Due: none

feat(docs): add OP atlas data exchange listing (#2978)
  apps/docs/docs/integrate/datasets/index.mdx
  apps/docs/docs/integrate/datasets/op-atlas.png
Due: none

add: sqlmesh BigQuery `importer` resource
  warehouse/metrics_tools/transfer/bq.py
  warehouse/oso_dagster/resources/bq.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add: sqlmesh DuckDB `exporter` resource
  warehouse/metrics_tools/transfer/duckdb.py
  warehouse/oso_dagster/resources/duckdb.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add: `new` resources to global defs
  warehouse/oso_dagster/definitions.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add: `new` sqlmesh exporters
  warehouse/oso_dagster/resources/sqlmesh.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add: `new` sqlmesh exporters (#2979)
  warehouse/metrics_tools/transfer/bq.py
  warehouse/metrics_tools/transfer/duckdb.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/resources/bq.py
  warehouse/oso_dagster/resources/duckdb.py
  warehouse/oso_dagster/resources/sqlmesh.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Deploy tailscale
  ops/k8s-apps/production/trino/custom-helm-values.yaml
  ops/k8s-infrastructure/gke/gcp-secrets-store-plugin/gcp-secrets-store-plugin.yaml
  ops/k8s-infrastructure/gke/gcp-secrets-store-plugin/kustomization.yaml
  ops/k8s-infrastructure/gke/kustomization.yaml
  ops/k8s-infrastructure/gke/secrets-store-csi-driver/kustomization.yaml
  ops/k8s-infrastructure/gke/secrets-store-csi-driver/secrets-store-csi-driver.yaml
  ops/k8s-operators/gke/tailscale/kustomization.yaml
  ops/k8s-operators/gke/tailscale/secrets-provider.yaml
Due: none

Add mcs and postgres to the tailnet
  ops/helm-charts/metrics-calculation-service/Chart.yaml
  ops/helm-charts/metrics-calculation-service/templates/service.yaml
  ops/helm-charts/metrics-calculation-service/values.yaml
  ops/k8s-apps/production/cloudsql-proxy/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-calculation-service/custom-helm-values.yaml
Due: none

Deploy tailscale (#2980)
  ops/helm-charts/metrics-calculation-service/Chart.yaml
  ops/helm-charts/metrics-calculation-service/templates/service.yaml
  ops/helm-charts/metrics-calculation-service/values.yaml
  ops/k8s-apps/production/cloudsql-proxy/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-calculation-service/custom-helm-values.yaml
  ops/k8s-apps/production/trino/custom-helm-values.yaml
  ops/k8s-infrastructure/gke/gcp-secrets-store-plugin/gcp-secrets-store-plugin.yaml
  ops/k8s-infrastructure/gke/gcp-secrets-store-plugin/kustomization.yaml
  ops/k8s-infrastructure/gke/kustomization.yaml
  ops/k8s-infrastructure/gke/secrets-store-csi-driver/kustomization.yaml
  ops/k8s-infrastructure/gke/secrets-store-csi-driver/secrets-store-csi-driver.yaml
  ops/k8s-operators/gke/tailscale/kustomization.yaml
  ops/k8s-operators/gke/tailscale/secrets-provider.yaml
Due: none

hotfix: mcs helm service bugfix
  ops/helm-charts/metrics-calculation-service/Chart.yaml
  ops/helm-charts/metrics-calculation-service/templates/service.yaml
Due: none

exports contracts_v0
  warehouse/metrics_mesh/models/marts/directory/contracts_v0.sql
Due: none

Exports contracts_v0 (#2985)
  warehouse/metrics_mesh/models/marts/directory/contracts_v0.sql
Due: none

fix(docs): a bit more context on adding defillama protocol urls
  apps/docs/docs/projects/index.md
  apps/docs/docs/projects/update-artifacts.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  poetry run ruff check --fix --force-exclude: any of: **/*.py
  pnpm pyright: any of: **/*.py
  poetry run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  poetry run sqlfluff lint: any of: warehouse/dbt/**/*.sql
