Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

refactor(docs): simplify layout a bit more
  apps/docs/docs/guides/dagster/index.md
  apps/docs/docs/index.mdx
  apps/docs/src/pages/index.mdx
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

refactor(docs): simplify layout a bit more (#2716)
  apps/docs/docs/guides/dagster/index.md
  apps/docs/docs/index.mdx
  apps/docs/src/pages/index.mdx
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: use new `correct` path for dagster documentation
  apps/docs/docs/guides/dagster/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

docs: update dagster `rest` factory docs for clarity
  apps/docs/docs/contribute-data/api.md
  apps/docs/docs/contribute-data/crawl-api-advanced.png
  apps/docs/docs/contribute-data/crawl-api-example-defillama.png
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: provide missing `str_to_unix_timestamp` macro
  warehouse/metrics_tools/factory/proxy/proxies.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: update `point_in_time_model` queries for key metrics
  warehouse/metrics_tools/factory/factory.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add: `rest` factory documentation (#2705)
  apps/docs/docs/contribute-data/api.md
  apps/docs/docs/contribute-data/crawl-api-advanced.png
  apps/docs/docs/contribute-data/crawl-api-example-defillama.png
  apps/docs/docs/guides/dagster/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: update footer
  apps/docs/docusaurus.config.ts
Due: none

fix: cmd-k on search
  apps/docs/docs/index.mdx
  apps/docs/src/pages/index.mdx
Due: none

add emojis to docs index pages
  apps/docs/docs/index.mdx
  apps/docs/src/pages/index.mdx
Due: none

feat(docs): updated index pages for each major section
  apps/docs/docs/contribute-data/index.md
  apps/docs/docs/contribute-models/index.mdx
  apps/docs/docs/guides/index.mdx
  apps/docs/docs/integrate/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(docs): polishing (#2727)
  apps/docs/docs/contribute-data/index.md
  apps/docs/docs/contribute-models/index.mdx
  apps/docs/docs/guides/index.mdx
  apps/docs/docs/index.mdx
  apps/docs/docs/integrate/index.md
  apps/docs/docusaurus.config.ts
  apps/docs/src/pages/index.mdx
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Create a generalized trino exporter
  warehouse/metrics_tools/compute/cache.py
  warehouse/metrics_tools/compute/manual_testing_utils.py
  warehouse/metrics_tools/compute/result.py
  warehouse/metrics_tools/compute/types.py
  warehouse/metrics_tools/transfer/__init__.py
  warehouse/metrics_tools/transfer/base.py
  warehouse/metrics_tools/transfer/bq.py
  warehouse/metrics_tools/transfer/clickhouse.py
  warehouse/metrics_tools/transfer/coordinator.py
  warehouse/metrics_tools/transfer/trino.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fixes
  warehouse/metrics_tools/compute/service.py
  warehouse/metrics_tools/compute/test_cache.py
  warehouse/metrics_tools/compute/test_service.py
  warehouse/metrics_tools/transfer/clickhouse.py
  warehouse/metrics_tools/transfer/trino.py
  warehouse/oso_dagster/utils/clickhouse.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Factor out the gcs storage so it can be reused
  warehouse/metrics_tools/transfer/base.py
  warehouse/metrics_tools/transfer/clickhouse.py
  warehouse/metrics_tools/transfer/gcs.py
  warehouse/metrics_tools/transfer/storage.py
  warehouse/metrics_tools/transfer/trino.py
  warehouse/oso_dagster/utils/clickhouse.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Connect asset exporter
  warehouse/metrics_tools/transfer/clickhouse.py
  warehouse/metrics_tools/transfer/coordinator.py
  warehouse/oso_dagster/resources/clickhouse.py
  warehouse/oso_dagster/resources/sqlmesh.py
  warehouse/oso_dagster/resources/storage.py
  warehouse/oso_dagster/resources/trino.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix resource mapping
  warehouse/metrics_tools/transfer/coordinator.py
  warehouse/oso_dagster/assets/sqlmesh_export.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/resources/sqlmesh.py
  warehouse/oso_dagster/resources/storage.py
  warehouse/oso_dagster/resources/trino.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix
  warehouse/metrics_tools/compute/worker.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix
  warehouse/metrics_tools/compute/types.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Refactor clickhouse copy to use trino to gcs export (#2730)
  warehouse/metrics_tools/compute/cache.py
  warehouse/metrics_tools/compute/manual_testing_utils.py
  warehouse/metrics_tools/compute/result.py
  warehouse/metrics_tools/compute/service.py
  warehouse/metrics_tools/compute/test_cache.py
  warehouse/metrics_tools/compute/test_service.py
  warehouse/metrics_tools/compute/types.py
  warehouse/metrics_tools/compute/worker.py
  warehouse/metrics_tools/transfer/__init__.py
  warehouse/metrics_tools/transfer/base.py
  warehouse/metrics_tools/transfer/bq.py
  warehouse/metrics_tools/transfer/clickhouse.py
  warehouse/metrics_tools/transfer/coordinator.py
  warehouse/metrics_tools/transfer/gcs.py
  warehouse/metrics_tools/transfer/storage.py
  warehouse/metrics_tools/transfer/trino.py
  warehouse/oso_dagster/assets/sqlmesh_export.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/resources/clickhouse.py
  warehouse/oso_dagster/resources/sqlmesh.py
  warehouse/oso_dagster/resources/storage.py
  warehouse/oso_dagster/resources/trino.py
  warehouse/oso_dagster/utils/clickhouse.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

wip downstream transactions
  warehouse/metrics_mesh/models/downstream_transactions.sql
  warehouse/metrics_mesh/models/projects_to_dependent_projects.sql
  warehouse/metrics_mesh/oso_metrics/downstream_transactions.sql
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

more wip
  warehouse/metrics_mesh/models/int_code_dependencies.sql
  warehouse/metrics_mesh/oso_metrics/downstream_transactions.sql
Due: none

Fix gcs storage mapping
  warehouse/oso_dagster/config.py
  warehouse/oso_dagster/definitions.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix clickhouse destination
  warehouse/oso_dagster/resources/sqlmesh.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Use multiasset for clickhouse copy
  warehouse/oso_dagster/assets/sqlmesh_export.py
  warehouse/oso_dagster/resources/sqlmesh.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Use multiasset for clickhouse copy (#2740)
  warehouse/oso_dagster/assets/sqlmesh_export.py
  warehouse/oso_dagster/resources/sqlmesh.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Small multi-asset fix
  ops/helm-charts/oso-dagster/Chart.yaml
  ops/helm-charts/oso-dagster/values.yaml
  warehouse/oso_dagster/resources/sqlmesh.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Small multi-asset fix and dagster chart update (#2742)
  ops/helm-charts/oso-dagster/Chart.yaml
  ops/helm-charts/oso-dagster/values.yaml
  warehouse/oso_dagster/resources/sqlmesh.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Update talks.md
  apps/docs/docs/references/talks.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Update apps/docs/docs/references/talks.md
  apps/docs/docs/references/talks.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

prettier
  apps/docs/docs/references/talks.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Add L2BEAT Podcast Talk (#2743)
  apps/docs/docs/references/talks.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

dbt: initial int models for devtooling
  warehouse/dbt/models/marts/metrics/optimism/devtools/int_code_dependencies.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/int_onchain_project_filter.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix(dbt): apply onchain builder filter initially
  warehouse/dbt/models/marts/metrics/optimism/devtools/int_code_dependencies.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat(dbt): add trusted developers model and refactor int model names
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__code_dependencies.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__onchain_project_filter.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__trusted_developers.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat(dbt): create developer relations graph
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__developer_relationships.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__trusted_developers.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat(dbt): filter on relevant dev tooling repos only
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__devtool_artifact_filter.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat(dbt): add total dependents metric
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_metric__total_dependents.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

chore: clean up files
  warehouse/dbt/models/marts/metrics/optimism/devtools/int_code_dependencies.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/int_onchain_project_filter.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__code_dependencies.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix(dbt): handling projects that are in both groups
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__code_dependencies.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__developer_relationships.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__devtool_artifact_filter.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  poetry run ruff check --fix --force-exclude: any of: **/*.py
  pnpm pyright: any of: **/*.py
  poetry run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  poetry run sqlfluff lint: any of: warehouse/dbt/**/*.sql
