Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

.lintstagedrc:

{
    "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
        "eslint --ignore-path .gitignore --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ],
    "warehouse/dbt/**/*.sql": [
        "uv run sqlfluff fix -f",
        "uv run sqlfluff lint"
    ]
}

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

chore: upgrade dependency
  uv.lock
Due: none

feat(sqlmesh): add worldchain users metric
  warehouse/oso_sqlmesh/models/metrics_factories.py
  warehouse/oso_sqlmesh/oso_metrics/blockchain/worldchain_users.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: disable PR auto-approve
  .github/workflows/test-deploy-owners.yml
Due: none

fix: disable PR auto-approve (#4358)
  .github/workflows/test-deploy-owners.yml
Due: none

feat: added readme, fixed infinite loop, add sqlglot
  warehouse/oso_agent/.env.example
  warehouse/oso_mcp/README.md
  warehouse/oso_mcp/oso_mcp/server/app.py
  warehouse/oso_mcp/oso_mcp/utils/entity_context.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(sqlmesh): add contributor classification tests for monthly and yearly metrics
  warehouse/oso_sqlmesh/models/metrics_factories.py
  warehouse/oso_sqlmesh/tests/test_contributor_classifications_to_artifact_monthly.yml
  warehouse/oso_sqlmesh/tests/test_contributor_classifications_to_artifact_yearly.yml
  warehouse/oso_sqlmesh/tests/test_contributor_classifications_to_collection_monthly.yml
  warehouse/oso_sqlmesh/tests/test_contributor_classifications_to_collection_yearly.yml
  warehouse/oso_sqlmesh/tests/test_contributor_classifications_to_project_monthly.yml
  warehouse/oso_sqlmesh/tests/test_contributor_classifications_to_project_yearly.yml
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(sqlmesh): add timeseries metrics for internal gas and world addresses (#4352)
  warehouse/oso_sqlmesh/models/metrics_factories.py
  warehouse/oso_sqlmesh/oso_metrics/blockchain/gas_fees_internal.sql
  warehouse/oso_sqlmesh/oso_metrics/blockchain/worldchain_users.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(metrics): no audits for worldchain user events
  warehouse/oso_sqlmesh/models/metrics_factories.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): more specific table name
  warehouse/oso_sqlmesh/models/metrics_factories.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: add ignore to worldchain_models
  warehouse/metrics_tools/factory/factory.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

wip
  warehouse/oso_semantic/oso_semantic/definition.py
  warehouse/oso_semantic/oso_semantic/test_definition.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(metrics): no audits for worldchain user events (#4359)
  warehouse/metrics_tools/factory/factory.py
  warehouse/oso_sqlmesh/models/metrics_factories.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(docs): initial changes to SQLMesh guide
  apps/docs/docs/contribute-models/data-models.md
  apps/docs/docs/contribute-models/time-series-factory.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

refactor(docs): breakup monolithic SQLMesh docs
  apps/docs/docs/contribute-models/data-models.md
  apps/docs/docs/contribute-models/index.mdx
  apps/docs/docs/contribute-models/setup.md
  apps/docs/docs/contribute-models/sqlmesh/_category_.json
  apps/docs/docs/contribute-models/sqlmesh/advanced-topics/_category_.json
  apps/docs/docs/contribute-models/sqlmesh/advanced-topics/metrics-factory-macros.md
  apps/docs/docs/contribute-models/sqlmesh/advanced-topics/model-configuration.md
  apps/docs/docs/contribute-models/sqlmesh/advanced-topics/time-series-factory-internals.md
  apps/docs/docs/contribute-models/sqlmesh/core-concepts.md
  apps/docs/docs/contribute-models/sqlmesh/how-to-guides/_category_.json
  apps/docs/docs/contribute-models/sqlmesh/how-to-guides/contribute-a-data-model.md
  apps/docs/docs/contribute-models/sqlmesh/how-to-guides/create-a-time-series-metric.md
  apps/docs/docs/contribute-models/sqlmesh/how-to-guides/test-and-validate-models.md
  apps/docs/docs/contribute-models/sqlmesh/how-to-guides/vscode-model.png
  apps/docs/docs/contribute-models/sqlmesh/index.mdx
  apps/docs/docs/contribute-models/sqlmesh/quickstart.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

wip
  warehouse/oso_semantic/oso_semantic/definition.py
  warehouse/oso_semantic/oso_semantic/query.py
  warehouse/oso_semantic/oso_semantic/register.py
  warehouse/oso_semantic/oso_semantic/test_definition.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

wip
  warehouse/oso_semantic/oso_semantic/definition.py
  warehouse/oso_semantic/oso_semantic/query.py
  warehouse/oso_semantic/oso_semantic/register.py
  warehouse/oso_semantic/oso_semantic/test_definition.py
  warehouse/oso_semantic/oso_semantic/test_query.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: upgrade polars dependency
  lib/oso-core/pyproject.toml
  pyproject.toml
  uv.lock
  warehouse/metrics-service/pyproject.toml
Due: none

chore: major upgrade octokit
  ops/external-prs/package.json
  ops/external-prs/src/checks.ts
  ops/github-app-utils/package.json
  ops/github-app-utils/src/checks.ts
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: readd used dependency
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: octokit usage
  ops/external-prs/src/oso/index.ts
Due: none

chore: upgrade polars dependency (#4361)
  lib/oso-core/pyproject.toml
  pyproject.toml
  uv.lock
  warehouse/metrics-service/pyproject.toml
Due: none

chore: upgrade python dependencies
  lib/oso-core/pyproject.toml
  uv.lock
  warehouse/metrics-service/pyproject.toml
Due: none

fix(events): match model name with table name
  warehouse/oso_semantic/oso_semantic/register/events.py
  warehouse/oso_semantic/oso_semantic/test_definition.py
  warehouse/oso_semantic/oso_semantic/test_query.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: upgrade python dependencies (#4362)
  lib/oso-core/pyproject.toml
  uv.lock
  warehouse/metrics-service/pyproject.toml
Due: none

fix(sqlmesh): change coalese order for oso slug overrides
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/op-atlas/int_artifacts_by_project_in_op_atlas.sql
Due: none

fix(seed): fix trailing space in seed data
  warehouse/oso_sqlmesh/seeds/op_atlas_registry_updates.csv
Due: none

fix(sqlmesh): add trims
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/op-atlas/int_artifacts_by_project_in_op_atlas.sql
Due: none

chore: update package manager commands to use pnpm and upgrade cli version
  apps/docs/plasmic.json
  package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: dump M5 dates
  warehouse/oso_sqlmesh/models/intermediate/entities/collections/op-atlas/int_projects_by_collection_in_op_atlas.sql
Due: none

fix(sqlmesh): trim whitespace in seed data for op atlas overrides (#4365)
  warehouse/oso_sqlmesh/models/intermediate/entities/collections/op-atlas/int_projects_by_collection_in_op_atlas.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/op-atlas/int_artifacts_by_project_in_op_atlas.sql
  warehouse/oso_sqlmesh/seeds/op_atlas_registry_updates.csv
Due: none

chore(oso-semantic): add more registration for oso default models (#4351)
  warehouse/oso_semantic/oso_semantic/conftest.py
  warehouse/oso_semantic/oso_semantic/fixtures/artifacts_by_collection_v1.csv
  warehouse/oso_semantic/oso_semantic/register.py
  warehouse/oso_semantic/oso_semantic/register/__init__.py
  warehouse/oso_semantic/oso_semantic/register/entities.py
  warehouse/oso_semantic/oso_semantic/register/events.py
  warehouse/oso_semantic/oso_semantic/register/metrics.py
  warehouse/oso_semantic/oso_semantic/test_definition.py
  warehouse/oso_semantic/oso_semantic/test_query.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright
