Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

.lintstagedrc:

{
    "**/*.{js,jsx,ts,tsx,sol}": [
        "eslint --flag v10_config_lookup_from_file --fix --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff format",
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ]
}

feat(system): implement system credentials and resolveTables resolver
  apps/frontend/app/api/v1/osograph/route.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/index.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/system.ts
  apps/frontend/app/api/v1/osograph/types/context.ts
  apps/frontend/app/api/v1/osograph/utils/validation.ts
  apps/frontend/app/api/v1/sql/route.ts
  apps/frontend/lib/auth/auth.ts
  apps/frontend/lib/types/query-metadata.ts
  apps/frontend/lib/types/system.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(system): add metadata inputs to resolveTables route
  apps/frontend/app/api/v1/osograph/schema/graphql/system.graphql
  apps/frontend/lib/graphql/generated/graphql.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: re-enable DDP repo features and update model kind to FULL (#5795)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_repo_features.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/packages/deps-dev/int_packages__current_maintainer_only.sql
Due: none

chore(python): uv sync
  uv.lock
Due: none

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

feat(system): merge input from resolveTables into metadata field
  apps/frontend/app/api/v1/osograph/schema/graphql/system.graphql
  apps/frontend/app/api/v1/osograph/schema/resolvers/system.ts
  apps/frontend/app/api/v1/osograph/utils/validation.ts
  apps/frontend/lib/graphql/generated/graphql.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Graphql System Resolver (#5800)
  apps/frontend/app/api/v1/osograph/route.ts
  apps/frontend/app/api/v1/osograph/schema/graphql/system.graphql
  apps/frontend/app/api/v1/osograph/schema/resolvers/index.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/system.ts
  apps/frontend/app/api/v1/osograph/types/context.ts
  apps/frontend/app/api/v1/osograph/utils/validation.ts
  apps/frontend/app/api/v1/sql/route.ts
  apps/frontend/lib/auth/auth.ts
  apps/frontend/lib/graphql/generated/graphql.ts
  apps/frontend/lib/types/query-metadata.ts
  apps/frontend/lib/types/system.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(sqlmesh): add seed model for SRE github users
  warehouse/oso_sqlmesh/models/seed/seed_sre_github_users.sql
  warehouse/oso_sqlmesh/seeds/sre_github_users.csv
Due: none

feat(sqlmesh): add seed model for SRE github users (#5805)
  warehouse/oso_sqlmesh/models/seed/seed_sre_github_users.sql
  warehouse/oso_sqlmesh/seeds/sre_github_users.csv
Due: none

hotfix(sqlmesh): tighter filter on op grant metrics
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/grant-measurement/int_optimism_grants_metrics_by_project.sql
Due: none

Update sample date filter to start from 2021
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/grant-measurement/int_optimism_grants_metrics_by_project.sql
Due: none

Fix SQL syntax in grant-measurement file
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/grant-measurement/int_optimism_grants_metrics_by_project.sql
Due: none

hotfix(sqlmesh): tighter filter on op grant metrics (#5806)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/grant-measurement/int_optimism_grants_metrics_by_project.sql
Due: none

feat: adds protobuf schemata for async workers
  lib/protobufs/README.md
  lib/protobufs/data-ingestion.proto
  lib/protobufs/data-model.proto
  lib/protobufs/query.proto
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(github): refactor pull request and push event models for updated API handling
  warehouse/oso_sqlmesh/models/staging/github/stg_github__pull_request_merge_events.sql
  warehouse/oso_sqlmesh/models/staging/github/stg_github__pull_request_merge_events_v1.sql
  warehouse/oso_sqlmesh/models/staging/github/stg_github__pull_request_merge_events_v2.sql
  warehouse/oso_sqlmesh/models/staging/github/stg_github__pull_requests.sql
  warehouse/oso_sqlmesh/models/staging/github/stg_github__pull_requests_v1.sql
  warehouse/oso_sqlmesh/models/staging/github/stg_github__pull_requests_v2.sql
  warehouse/oso_sqlmesh/models/staging/github/stg_github__push_events.sql
  warehouse/oso_sqlmesh/models/staging/github/stg_github__push_events_v1.sql
  warehouse/oso_sqlmesh/models/staging/github/stg_github__push_events_v2.sql
Due: none

feat(github): update push event models and add tests for pull request events
  warehouse/oso_sqlmesh/models/staging/github/stg_github__push_events_v1.sql
  warehouse/oso_sqlmesh/models/staging/github/stg_github__push_events_v2.sql
  warehouse/oso_sqlmesh/tests/test_stg_github__pull_request_merge_events_v1.yml
  warehouse/oso_sqlmesh/tests/test_stg_github__pull_requests_v1.yml
Due: none

feat(superchain): add superchain tags to missing sqlmesh models
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__factories.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__potential_bots.sql
Due: none

feat(sqlmesh): add OP token events staging model
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/stg_op__enriched_logs.sql
Due: none

Fix SQL syntax in int_optimism_grants_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/grant-measurement/int_optimism_grants_metrics_by_project.sql
Due: none

feat(superchain): add superchain tags to missing sqlmesh models (#5816)
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__factories.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__potential_bots.sql
Due: none

Remove invalid chain partition from stg_op__enriched_logs model (#5819)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/stg_op__enriched_logs.sql
Due: none

Clean up
  lib/protobufs/README.md
  lib/protobufs/data-ingestion.proto
  lib/protobufs/data-model.proto
  lib/protobufs/query.proto
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(static-model): add static_model dataset type
  apps/frontend/app/api/v1/osograph/schema/graphql/base.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/static-model.graphql
  apps/frontend/app/api/v1/osograph/schema/resolvers/dataset.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/scheduler.ts
  apps/frontend/lib/types/dataset.ts
  apps/frontend/supabase/migrations/20251204143410_add_static_dataset.sql
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: use model_release_ids instead
  lib/protobufs/data-model.proto
Due: none

fix(static-model): move fileUrl from Query to Mutation
  apps/frontend/app/api/v1/osograph/schema/graphql/static-model.graphql
Due: none

feat: adds protobufs for pub/sub messages (#5820)
  lib/protobufs/README.md
  lib/protobufs/data-ingestion.proto
  lib/protobufs/data-model.proto
  lib/protobufs/query.proto
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(github): update SQL models and add networkx dependency for improved event handling
  pyproject.toml
  uv.lock
  warehouse/oso_sqlmesh/models/staging/github/stg_github__pull_request_merge_events_v1.sql
  warehouse/oso_sqlmesh/models/staging/github/stg_github__pull_request_merge_events_v2.sql
  warehouse/oso_sqlmesh/models/staging/github/stg_github__pull_requests_v1.sql
  warehouse/oso_sqlmesh/models/staging/github/stg_github__push_events_v1.sql
  warehouse/oso_sqlmesh/models/staging/github/stg_github__push_events_v2.sql
Due: none

fix(static-model): fix unique index name
  apps/frontend/supabase/migrations/20251204143410_add_static_dataset.sql
Due: none

feat(static-model): add static_model dataset type (#5823)
  apps/frontend/app/api/v1/osograph/schema/graphql/base.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/static-model.graphql
  apps/frontend/app/api/v1/osograph/schema/resolvers/dataset.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/scheduler.ts
  apps/frontend/lib/types/dataset.ts
  apps/frontend/supabase/migrations/20251204143410_add_static_dataset.sql
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(sqlmesh): create unified github events for SRE devs
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/sre/int_sre_github_events.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/sre/int_sre_github_events_by_user.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/sre/int_sre_github_users.sql
Due: none

fix(sqlmesh): closing semi
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/stg_op__enriched_logs.sql
Due: none

fix: small dagster cost cutting changes
  warehouse/oso_dagster/assets/default/trino_automation.py
  warehouse/oso_dagster/utils/dlt.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright
