Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

.lintstagedrc:

{
    "**/*.{js,jsx,ts,tsx,sol}": [
        "eslint --flag v10_config_lookup_from_file --fix --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff format",
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ]
}

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

fix(data-table): fix 'No Results' style
  apps/frontend/components/ui/data-table.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(data-table): fix 'No Results' style (#5749)
  apps/frontend/components/ui/data-table.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: ci-default pnpm install should be more flexible
  .github/workflows/ci-default.yml
Due: none

chore: ci-default pnpm install should be more flexible (#5751)
  .github/workflows/ci-default.yml
Due: none

fix: address pyodide build issues for vercel
  .gitignore
  apps/frontend/package.json
  lib/pyodide-node-toolkit/src/build.ts
  lib/pyodide-node-toolkit/src/load.ts
  package.json
  turbo.json
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

small fix
  lib/pyodide-node-toolkit/src/build.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

allow corepack
  turbo.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix
  package.json
  turbo.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix
  package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: force pnpm version
  .github/workflows/ci-default.yml
  package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix
  turbo.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: address pyodide build issues for vercel (#5750)
  .gitignore
  apps/frontend/package.json
  lib/pyodide-node-toolkit/src/build.ts
  lib/pyodide-node-toolkit/src/load.ts
  turbo.json
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

test
  apps/frontend/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: vercel build fixes (#5753)
  apps/frontend/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: add some debugging for the sql rewriter loading
  lib/pyodide-node-toolkit/src/load.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: add some debugging for the sql rewriter loading (#5754)
  lib/pyodide-node-toolkit/src/load.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(sqlmlesh): handle alternate way of discovering the tokenId
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/unichain/staging/stg_unichain_logs__erc721.sql
Due: none

fix(pyodide-node-toolkit): allow loading python env into persistent dir
  lib/pyodide-node-toolkit/src/load.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: load into a static directory
  apps/frontend/lib/query/rewrite.ts
  lib/pyodide-node-toolkit/src/load.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: additional sql rewrite debug (#5756)
  apps/frontend/lib/query/rewrite.ts
  lib/pyodide-node-toolkit/src/load.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: ensure tar path is absolute
  lib/pyodide-node-toolkit/src/load.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: ensure tar path is absolute (#5757)
  lib/pyodide-node-toolkit/src/load.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: allow loading pyodide without a tarball
  lib/pyodide-node-toolkit/src/load.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix
  lib/pyodide-node-toolkit/src/build-and-load.test.ts
  lib/pyodide-node-toolkit/src/load.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix
  lib/pyodide-node-toolkit/src/cli.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: only load unpacked environment for execution
  apps/frontend/lib/query/rewrite.ts
  apps/frontend/package.json
  lib/pyodide-node-toolkit/src/index.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: vercel might not like the tarball (#5758)
  apps/frontend/lib/query/rewrite.ts
  apps/frontend/package.json
  lib/pyodide-node-toolkit/src/build-and-load.test.ts
  lib/pyodide-node-toolkit/src/cli.ts
  lib/pyodide-node-toolkit/src/index.ts
  lib/pyodide-node-toolkit/src/load.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(sqlmlesh): handle alternate way of discovering the tokenId (#5755)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/unichain/staging/stg_unichain_logs__erc721.sql
Due: none

fix: store all .pyodide files
  apps/frontend/next.config.js
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: store all .pyodide files (#5759)
  apps/frontend/next.config.js
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check
