Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

.lintstagedrc:

{
    "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
        "eslint --ignore-path .gitignore --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ],
    "warehouse/dbt/**/*.sql": [
        "uv run sqlfluff fix -f",
        "uv run sqlfluff lint"
    ]
}

fix: another
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_monthly_to_project__github.sql
Due: none

chore: fix more sparse models
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_onchain_builder_events.sql
Due: none

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-calculation-service/custom-helm-values.yaml
Due: none

chore: ensure use of doubles instead of bigint
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_events_by_project.sql
Due: none

fix: fixes a strange regression in model loading (this is a temp fix)
  warehouse/oso_sqlmesh/config.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: fixes a strange regression in model loading (this is a temp fix) (#3826)
  warehouse/oso_sqlmesh/config.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Update warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_events_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_events_by_project.sql
Due: none

chore: ensure use of doubles instead of bigint (#3825)
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_events_by_project.sql
Due: none

definations loaded
  warehouse/oso_dagster/assets/giveth.py
  warehouse/oso_dagster/factories/graphql.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: add additional params for no gaps
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__blockchain.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__blockchain_token_transfers.sql
Due: none

chore: add additional params for no gaps (#3827)
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__blockchain.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__blockchain_token_transfers.sql
Due: none

chore: releases might be sparse, disable for now
  warehouse/metrics_tools/factory/factory.py
  warehouse/oso_sqlmesh/models/metrics_factories.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: releases might be sparse, disable for now (#3828)
  warehouse/metrics_tools/factory/factory.py
  warehouse/oso_sqlmesh/models/metrics_factories.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: Implement organizations membership into OsoAppClient
  apps/frontend/README.md
  apps/frontend/lib/clients/oso-app.ts
  apps/frontend/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: Implement organizations membership into OsoAppClient (#3829)
  apps/frontend/README.md
  apps/frontend/lib/clients/oso-app.ts
  apps/frontend/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(sqlmesh): ensure a deployer can't be claimed by more than one project in OP Atlas
  warehouse/oso_sqlmesh/models/intermediate/directory/int_artifacts_by_project_in_op_atlas.sql
Due: none

feat: OsoAppProvider
  apps/frontend/components/dataprovider/oso-app-provider.tsx
  apps/frontend/lib/clients/oso-app.ts
  apps/frontend/lib/types/plasmic.ts
  apps/frontend/plasmic-init-client.tsx
Due: none

nit
  apps/frontend/lib/clients/oso-app.ts
Due: none

feat: OsoAppProvider (#3832)
  apps/frontend/components/dataprovider/oso-app-provider.tsx
  apps/frontend/lib/clients/oso-app.ts
  apps/frontend/lib/types/plasmic.ts
  apps/frontend/plasmic-init-client.tsx
Due: none

fix: wrong prop name in OsoAppProvider
  apps/frontend/components/dataprovider/oso-app-provider.tsx
  apps/frontend/components/dataprovider/provider-view.tsx
Due: none

fix: wrong prop name in OsoAppProvider (#3833)
  apps/frontend/components/dataprovider/oso-app-provider.tsx
  apps/frontend/components/dataprovider/provider-view.tsx
Due: none

fix: bugs in OsoAppProvider
  apps/frontend/components/dataprovider/oso-app-provider.tsx
  apps/frontend/lib/clients/oso-app.ts
Due: none

fix: bugs in OsoAppProvider (#3834)
  apps/frontend/components/dataprovider/oso-app-provider.tsx
  apps/frontend/lib/clients/oso-app.ts
Due: none

feat: separate OsoAppProvider into OsoDataProvider and OsoGlobalContext
  apps/frontend/components/dataprovider/oso-data-provider.tsx
  apps/frontend/components/dataprovider/oso-global-context.tsx
  apps/frontend/lib/types/plasmic.ts
  apps/frontend/plasmic-init-client.tsx
Due: none

feat: separate OsoAppProvider into OsoDataProvider and OsoGlobalContext (#3835)
  apps/frontend/components/dataprovider/oso-data-provider.tsx
  apps/frontend/components/dataprovider/oso-global-context.tsx
  apps/frontend/lib/types/plasmic.ts
  apps/frontend/plasmic-init-client.tsx
Due: none

feat: add the ability to get/delete API keys
  apps/frontend/components/dataprovider/oso-global-context.tsx
  apps/frontend/lib/clients/oso-app.ts
Due: none
