Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

fix: oso_agent deployment vars
  ops/k8s-apps/production/agent/custom-helm-values.yaml
Due: none

fix: oso_agent deployment vars (#3855)
  ops/k8s-apps/production/agent/custom-helm-values.yaml
Due: none

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-calculation-service/custom-helm-values.yaml
Due: none

fix: separate bot config
  warehouse/oso_agent/oso_agent/server/app.py
  warehouse/oso_agent/oso_agent/server/bot.py
  warehouse/oso_agent/oso_agent/server/definition.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: separate bot config (#3857)
  warehouse/oso_agent/oso_agent/server/app.py
  warehouse/oso_agent/oso_agent/server/bot.py
  warehouse/oso_agent/oso_agent/server/definition.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

refactor: improve exception handling in causal inference tutorial
  apps/docs/docs/tutorials/causal_inference_tutorial.ipynb
Due: none

fix(sqlmesh): retry int repos all
  warehouse/oso_sqlmesh/models/intermediate/code_artifacts/int_repositories_all.sql
Due: none

chore: formatting issues
  apps/frontend/app/api/v1/sql/route.ts
Due: none

fix: use correct supabase client init
  apps/frontend/lib/hooks/useAuth.ts
  apps/frontend/lib/services/credits.ts
Due: none

chore: regenerate supabase types
  apps/frontend/lib/types/supabase.ts
Due: none

fix: update supabase migration date
  apps/frontend/supabase/migrations/20250520201628_credit_system.sql
Due: none

fix: typo
  warehouse/oso_sqlmesh/models/intermediate/code_artifacts/int_repositories_all.sql
Due: none

fix(sqlmesh): retry int repos all (#3860)
  warehouse/oso_sqlmesh/models/intermediate/code_artifacts/int_repositories_all.sql
Due: none

chore: add trino graceful shutdown (#3814)
  ops/k8s-apps/base/trino/trino.yaml
Due: none

fix typo
  warehouse/oso_dagster/dlt_sources/sql_database/README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore(package.json): add package for type validation and supabase schema
  apps/frontend/lib/types/schema.ts
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore(package.json): add scripts to generate supabase and zod types locally
  apps/frontend/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(dynamic-connectors): add supabase migration to create dynamic connector table
  apps/frontend/lib/types/supabase.ts
  apps/frontend/supabase/migrations/20250516185358_create_dynamic_connectors.sql
Due: none

fix(dynamic-connectors): check if user is owner in row level security
  apps/frontend/supabase/migrations/20250516185358_create_dynamic_connectors.sql
Due: none

Dynamic connector migration (#3859)
  apps/frontend/lib/types/schema.ts
  apps/frontend/lib/types/supabase.ts
  apps/frontend/package.json
  apps/frontend/supabase/migrations/20250516185358_create_dynamic_connectors.sql
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: semantic querying tools
  warehouse/metrics_tools/semantic/__init__.py
  warehouse/metrics_tools/semantic/definition.py
  warehouse/metrics_tools/semantic/test_definition.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

wip
  warehouse/metrics_tools/semantic/definition.py
  warehouse/metrics_tools/semantic/example.py
  warehouse/metrics_tools/semantic/query.py
  warehouse/metrics_tools/semantic/test_definition.py
  warehouse/metrics_tools/semantic/test_query.py
  warehouse/metrics_tools/semantic/utils.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: clean up
  warehouse/metrics_tools/semantic/definition.py
  warehouse/metrics_tools/semantic/query.py
  warehouse/metrics_tools/semantic/test_definition.py
  warehouse/metrics_tools/semantic/test_query.py
  warehouse/metrics_tools/semantic/testing.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: semantic querying tools (#3680)
  warehouse/metrics_tools/semantic/__init__.py
  warehouse/metrics_tools/semantic/definition.py
  warehouse/metrics_tools/semantic/query.py
  warehouse/metrics_tools/semantic/test_definition.py
  warehouse/metrics_tools/semantic/test_query.py
  warehouse/metrics_tools/semantic/testing.py
  warehouse/metrics_tools/semantic/utils.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: setting up python module reorg
  lib/oso-core/README.md
  lib/oso-core/oso_core/__init__.py
  lib/oso-core/oso_core/mesh/__init__.py
  lib/oso-core/oso_core/mesh/definition.py
  lib/oso-core/pyproject.toml
  uv.lock
  warehouse/metrics-service/README.md
  warehouse/metrics-service/metrics_service/__init__.py
  warehouse/metrics-service/metrics_service/app.py
  warehouse/metrics-service/metrics_service/cache.py
  warehouse/metrics-service/metrics_service/client.py
  warehouse/metrics-service/metrics_service/cluster.py
  warehouse/metrics-service/metrics_service/debug.py
  warehouse/metrics-service/metrics_service/log_config.yaml
  warehouse/metrics-service/metrics_service/manual_testing_utils.py
  warehouse/metrics-service/metrics_service/result.py
  warehouse/metrics-service/metrics_service/server.py
  warehouse/metrics-service/metrics_service/service.py
  warehouse/metrics-service/metrics_service/test_app.py
  warehouse/metrics-service/metrics_service/test_cache.py
  warehouse/metrics-service/metrics_service/test_cluster.py
  warehouse/metrics-service/metrics_service/test_service.py
  warehouse/metrics-service/metrics_service/test_setup.sh
  warehouse/metrics-service/metrics_service/test_types.py
  warehouse/metrics-service/metrics_service/types.py
  warehouse/metrics-service/metrics_service/worker.py
  warehouse/metrics-service/pyproject.toml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: rename to make things consistent
  ops/helm-charts/metrics-service/Chart.yaml
  ops/helm-charts/metrics-service/templates/_helpers.tpl
  ops/helm-charts/metrics-service/templates/app.yaml
  ops/helm-charts/metrics-service/templates/configmap.yaml
  ops/helm-charts/metrics-service/templates/rbac.yaml
  ops/helm-charts/metrics-service/templates/secrets.yaml
  ops/helm-charts/metrics-service/templates/service-account.yaml
  ops/helm-charts/metrics-service/templates/service.yaml
  ops/helm-charts/metrics-service/values.yaml
  ops/k8s-apps/base/metrics-service/kustomization.yaml
  ops/k8s-apps/base/metrics-service/mcs.yaml
  ops/k8s-apps/local/metrics-service/custom-helm-values.yaml
  ops/k8s-apps/local/metrics-service/kustomization.yaml
  ops/k8s-apps/production/kustomization.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/kustomization.yaml
  warehouse/metrics-service/README.md
  warehouse/metrics-service/pyproject.toml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: upgrade `posthog-node` version
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: refactor `tracking` implementation
  apps/frontend/app/api/v1/chat/route.ts
  apps/frontend/app/api/v1/graphql/route.ts
  apps/frontend/app/api/v1/sql/route.ts
  apps/frontend/lib/analytics/track.ts
Due: none

feat: add credit system `preview` mode
  apps/frontend/lib/services/credits.ts
Due: none

fix: enable `local` supabase analytics
  apps/frontend/supabase/config.toml
Due: none

fix: use `full` catalog for `migration`
  apps/frontend/supabase/migrations/20250520201628_credit_system.sql
Due: none

feat: create `orgs` on supabase automatically
  apps/frontend/supabase/migrations/20250521181338_auto_create_organization.sql
Due: none

fix: clean up credit `preview` mode
  apps/frontend/lib/services/credits.ts
  apps/frontend/lib/types/supabase.ts
  apps/frontend/supabase/migrations/20250520201628_credit_system.sql
Due: none

chore: fix references
  ops/k8s-infrastructure/common/oso-image-automation.yaml
  warehouse/metrics_tools/factory/generated.py
  warehouse/metrics_tools/transfer/base.py
  warehouse/metrics_tools/transfer/bq.py
  warehouse/metrics_tools/transfer/clickhouse.py
  warehouse/metrics_tools/transfer/coordinator.py
  warehouse/metrics_tools/transfer/duckdb.py
  warehouse/metrics_tools/transfer/gcs.py
  warehouse/metrics_tools/transfer/storage.py
  warehouse/metrics_tools/transfer/trino.py
  warehouse/oso_dagster/resources/sqlmesh.py
  warehouse/oso_lets_go/cli.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: include public schema and improve foreign key references
  apps/frontend/supabase/migrations/20250516185358_create_dynamic_connectors.sql
Due: none

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  uv run ruff check --fix --force-exclude: any of: **/*.py
  uv run isort: any of: **/*.py
  pnpm pyright: any of: **/*.py
  uv run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  uv run sqlfluff lint: any of: warehouse/dbt/**/*.sql
