Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

.lintstagedrc:

{
    "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
        "eslint --ignore-path .gitignore --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ],
    "warehouse/dbt/**/*.sql": [
        "uv run sqlfluff fix -f",
        "uv run sqlfluff lint"
    ]
}

feat(docs): pyoso sheet connector (#4014)
  apps/docs/docs/guides/google-sheets.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

chore: update M4 date thresholds
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/s7/int_superchain_s7_devtooling_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/s7/int_superchain_s7_summary_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/collections/op-atlas/int_projects_by_collection_in_op_atlas.sql
Due: none

chore: update M4 date thresholds (#4031)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/s7/int_superchain_s7_devtooling_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/s7/int_superchain_s7_summary_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/collections/op-atlas/int_projects_by_collection_in_op_atlas.sql
Due: none

feat(metric_tools/semantic): add composite key support (#4011)
  warehouse/metrics_tools/semantic/definition.py
  warehouse/metrics_tools/semantic/query.py
  warehouse/metrics_tools/semantic/testing.py
  warehouse/metrics_tools/utils/glot.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: bump size for dagster pods
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
Due: none

feat(metrics): add bot activity metric and SQL query
  warehouse/oso_sqlmesh/models/metrics_factories.py
  warehouse/oso_sqlmesh/oso_metrics/code/bot_activity.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

docs(readme): fix sqlmesh setup instructions
  warehouse/oso_sqlmesh/README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(sqlmesh): clarify alias for to_artifact_id in bot_activity.sql
  warehouse/oso_sqlmesh/oso_metrics/code/bot_activity.sql
Due: none

fix typos
  apps/docs/blog/2023-12-15-pln-ecosystem-analysis/index.mdx
  warehouse/bq2cloudsql/cloudsql.py
  warehouse/oso_dagster/cbt/operations/_cbt_merge.sql
  warehouse/oso_dagster/factories/goldsky/assets.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: bump size for dagster pods (#4032)
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
Due: none

feat(docs): draft api tiers
  apps/docs/docs/references/pyoso-pricing.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: fix codeowners paths
  .github/CODEOWNERS
Due: none

chore: fix codeowners paths (#4038)
  .github/CODEOWNERS
Due: none

feat(clickhouse-exporter): add index and order_by for sqlmesh models in clickhouse exporter
  warehouse/metrics-service/metrics_service/types.py
  warehouse/metrics_tools/transfer/clickhouse.py
  warehouse/oso_dagster/assets/sqlmesh_export.py
  warehouse/oso_dagster/resources/sqlmesh.py
  warehouse/oso_sqlmesh/models/marts/metrics/key_metrics_by_artifact_v0.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(clickhouse-exporter): add index and order_by for sqlmesh models in clickhouse exporter (#4039)
  warehouse/metrics-service/metrics_service/types.py
  warehouse/metrics_tools/transfer/clickhouse.py
  warehouse/oso_dagster/assets/sqlmesh_export.py
  warehouse/oso_dagster/resources/sqlmesh.py
  warehouse/oso_sqlmesh/models/marts/metrics/key_metrics_by_artifact_v0.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

minor tweaks to pricing language
  apps/docs/docs/references/pricing.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(docs): draft api tiers (#3554)
  apps/docs/docs/references/pricing.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(dagster): increase timeout for dagster upgrade since pods take too long
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

fix(dagster): increase timeout for dagster upgrade since pods take too long (#4040)
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

fix: disable refresh-test-credentials schedule
  .github/workflows/refresh-test-credentials.yml
Due: none

fix: disable refresh-test-credentials schedule (#4041)
  .github/workflows/refresh-test-credentials.yml
Due: none

feat: added TVL volume and LP fees assets
  warehouse/oso_dagster/assets/defillama.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

docs: update frontend build to exclude codegen
  apps/frontend/README.md
  apps/frontend/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: defined staging models w/ seed data
  warehouse/metrics_tools/seed/schemas/defillama/lp_fee_events.py
  warehouse/metrics_tools/seed/schemas/defillama/trading_volume_events.py
  warehouse/oso_sqlmesh/models/staging/defillama/stg_defillama__lp_fee_events.sql
  warehouse/oso_sqlmesh/models/staging/defillama/stg_defillama__trading_volume_events.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: allow no_gaps to have ignore_after
  warehouse/oso_sqlmesh/audits/no_gaps.sql
Due: none

feat: allow setting superchain_audit_end
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/deployers/int_deployers.sql
  warehouse/oso_sqlmesh/models/intermediate/events/blockchain/int_events__blockchain.sql
  warehouse/oso_sqlmesh/models/intermediate/events/blockchain/int_events__blockchain_token_transfers.sql
  warehouse/oso_sqlmesh/models/intermediate/events/blockchain/int_events_daily__blockchain.sql
  warehouse/oso_sqlmesh/models/intermediate/events/blockchain/int_events_daily__blockchain_token_transfers.sql
  warehouse/oso_sqlmesh/models/intermediate/events/blockchain/superchain/int_superchain_traces_txs_joined.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__deployers.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__factories.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__traces.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__transactions.sql
Due: none

fix: temporarily set superchain_audit_end
  warehouse/oso_sqlmesh/config.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: checking in generated graphql codegen files
  apps/frontend/.gitignore
  apps/frontend/lib/graphql/codegen.ts
  apps/frontend/lib/graphql/generated/fragment-masking.ts
  apps/frontend/lib/graphql/generated/gql.ts
  apps/frontend/lib/graphql/generated/graphql.ts
  apps/frontend/lib/graphql/generated/index.ts
  apps/frontend/lib/graphql/queries.ts
  apps/frontend/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

update frontend deploy script
  apps/frontend/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(sqlmesh): allow setting superchain_audit_end (#4046)
  warehouse/oso_sqlmesh/audits/no_gaps.sql
  warehouse/oso_sqlmesh/config.py
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/deployers/int_deployers.sql
  warehouse/oso_sqlmesh/models/intermediate/events/blockchain/int_events__blockchain.sql
  warehouse/oso_sqlmesh/models/intermediate/events/blockchain/int_events__blockchain_token_transfers.sql
  warehouse/oso_sqlmesh/models/intermediate/events/blockchain/int_events_daily__blockchain.sql
  warehouse/oso_sqlmesh/models/intermediate/events/blockchain/int_events_daily__blockchain_token_transfers.sql
  warehouse/oso_sqlmesh/models/intermediate/events/blockchain/superchain/int_superchain_traces_txs_joined.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__deployers.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__factories.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__traces.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__transactions.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: remove WIP SQL models from PR for later push
  warehouse/oso_sqlmesh/models/staging/defillama/stg_defillama__lp_fee_events.sql
  warehouse/oso_sqlmesh/models/staging/defillama/stg_defillama__trading_volume_events.sql
Due: none
