Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

`/sql` Route data provenance (#4705)
  apps/frontend/.env.local.example
  apps/frontend/app/api/v1/sql/route.ts
  apps/frontend/components/dataprovider/metrics-data-provider.tsx
  apps/frontend/lib/clients/dagster.ts
  apps/frontend/lib/config.ts
  apps/frontend/lib/dagster/assets.ts
  apps/frontend/lib/graphql/codegen.ts
  apps/frontend/lib/graphql/dagster_queries.ts
  apps/frontend/lib/graphql/generated/gql.ts
  apps/frontend/lib/graphql/generated/graphql.ts
  apps/frontend/lib/graphql/oso_queries.ts
Due: none

feat: add `OsoQueryEngineWorkflowMixin` with schema analysis and context retrieval steps (#4703)
  warehouse/oso_agent/oso_agent/workflows/default.py
  warehouse/oso_agent/oso_agent/workflows/text2sql/basic.py
  warehouse/oso_agent/oso_agent/workflows/text2sql/mixins.py
  warehouse/oso_agent/oso_agent/workflows/types.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: use correct `StartEvent` class
  warehouse/oso_agent/oso_agent/workflows/text2sql/events.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore(frontend): remove unused dependencies
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore(frontend): remove unused dependencies (#4708)
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add: `global_config` as new required argument
  apps/docs/docs/contribute-data/graphql-api.md
  warehouse/oso_dagster/assets/giveth_qf.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: address pull request `review` feedback
  warehouse/oso_dagster/factories/graphql.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: `redis` backed memoize utility decorator
  warehouse/oso_dagster/utils/redis.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: workflows use strictly typed `pydantic` classes (#4654)
  warehouse/oso_agent/oso_agent/eval/text2sql/experiment.py
  warehouse/oso_agent/oso_agent/server/app.py
  warehouse/oso_agent/oso_agent/workflows/base.py
  warehouse/oso_agent/oso_agent/workflows/registry.py
  warehouse/oso_agent/oso_agent/workflows/text2sql/basic.py
  warehouse/oso_agent/oso_agent/workflows/text2sql/events.py
  warehouse/oso_agent/oso_agent/workflows/text2sql/semantic.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: `graphql` factory dynamic args (#4527)
  apps/docs/docs/contribute-data/crawl-api-example-opencollective.png
  apps/docs/docs/contribute-data/crawl-api-graphql-pipeline.png
  apps/docs/docs/contribute-data/graphql-api.md
  package.json
  pnpm-lock.yaml
  warehouse/metrics_tools/seed/schemas/growthepie/fundamentals_full.py
  warehouse/metrics_tools/transformer/intermediate.py
  warehouse/oso_dagster/assets/giveth_qf.py
  warehouse/oso_dagster/factories/graphql.py
  warehouse/oso_dagster/utils/redis.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore(oso_core): remove unnecessary deps
  lib/oso-core/pyproject.toml
Due: none

chore(metrics-service): make polars dependency less strict
  warehouse/metrics-service/pyproject.toml
Due: none

chore: make polars dependency less strict
  pyproject.toml
Due: none

chore: update uv.lock
  uv.lock
Due: none

chore(oso_core): remove more unnecessary deps
  lib/oso-core/pyproject.toml
Due: none

chore: fix polars dependencies and clean up oso_core deps (#4709)
  lib/oso-core/pyproject.toml
  pyproject.toml
  uv.lock
  warehouse/metrics-service/pyproject.toml
Due: none

Update apps/docs/docs/tutorials/quickstart.md
  apps/docs/docs/tutorials/quickstart.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Update: apps/docs/docs/tutorials/quickstart.md
  apps/docs/docs/tutorials/quickstart.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(tutorials/semantic-layer): add vo and v1
  apps/docs/docs/tutorials/quickstart.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: chaoss metrics aggregation issues (#4652)
  warehouse/oso_sqlmesh/models/metrics_factories.py
  warehouse/oso_sqlmesh/oso_metrics/code/burstiness.sql
  warehouse/oso_sqlmesh/oso_metrics/code/contributor_absence_factor.sql
  warehouse/oso_sqlmesh/oso_metrics/code/self_merge_rates.sql
  warehouse/oso_sqlmesh/tests/test_burstiness_to_project_daily.yml
  warehouse/oso_sqlmesh/tests/test_contributor_absence_factor_to_project_daily.yml
  warehouse/oso_sqlmesh/tests/test_self_merge_rates_to_project_daily.yml
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Update new-contributor-onboarding.md
  apps/docs/docs/references/new-contributor-onboarding.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(pyoso): add DataAnalytics feature to pyoso
  uv.lock
  warehouse/pyoso/README.md
  warehouse/pyoso/pyoso/__init__.py
  warehouse/pyoso/pyoso/analytics.py
  warehouse/pyoso/pyoso/client.py
  warehouse/pyoso/tests/test_analytics.py
  warehouse/pyoso/tests/test_client.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore(pyoso): bump package version
  uv.lock
  warehouse/pyoso/pyproject.toml
Due: none

refactor(pyoso/analytics): make variables snake case
  warehouse/pyoso/pyoso/analytics.py
  warehouse/pyoso/pyoso/client.py
  warehouse/pyoso/tests/test_analytics.py
  warehouse/pyoso/tests/test_client.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(ci): allow us to have unclean git in ci and still deploy to production
  .github/scripts/publish-docker-containers.sh
  .github/workflows/warehouse-publish-docker-containers.yml
Due: none

chore: update uv.lock (#4725)
  uv.lock
Due: none

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

feat(tutorials/semantic-layer): add semantic layer tab scaffolding to tutorials (#4566)
  apps/docs/docs/tutorials/quickstart.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(pyoso): add and use pydantic models for JSON validation
  uv.lock
  warehouse/pyoso/pyoso/analytics.py
  warehouse/pyoso/pyoso/client.py
  warehouse/pyoso/pyoso/semantic.py
  warehouse/pyoso/pyproject.toml
  warehouse/pyoso/tests/test_analytics.py
  warehouse/pyoso/tests/test_client.py
  warehouse/pyoso/tests/test_semantic.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): add columns to transactions staging model (#4679)
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__transactions.sql
Due: none

fix(pyoso): fix README
  warehouse/pyoso/README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

[OSO-731] add DataAnalytics feature to pyoso (#4723)
  uv.lock
  warehouse/pyoso/README.md
  warehouse/pyoso/pyoso/__init__.py
  warehouse/pyoso/pyoso/analytics.py
  warehouse/pyoso/pyoso/client.py
  warehouse/pyoso/pyoso/semantic.py
  warehouse/pyoso/pyproject.toml
  warehouse/pyoso/tests/test_analytics.py
  warehouse/pyoso/tests/test_client.py
  warehouse/pyoso/tests/test_semantic.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore(sqlmesh): disable all S7 retrofunding models
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/int_superchain_events_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/int_superchain_onchain_user_labels.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/int_worldchain_events_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/s7/int_superchain_s7_defillama_adapter_checks.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/s7/int_superchain_s7_devtooling_deps_to_projects_graph.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/s7/int_superchain_s7_devtooling_devs_to_projects_graph.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/s7/int_superchain_s7_devtooling_graph.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/s7/int_superchain_s7_devtooling_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/s7/int_superchain_s7_devtooling_onchain_builder_nodes.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/s7/int_superchain_s7_devtooling_repositories.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/s7/int_superchain_s7_onchain_builder_eligibility.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/s7/int_superchain_s7_onchain_builder_events.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/s7/int_superchain_s7_onchain_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/s7/int_superchain_s7_relational_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/s7/int_superchain_s7_summary_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/s7/int_superchain_s7_trusted_developers.sql
Due: none

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  uv run ruff check --fix --force-exclude: any of: **/*.py
  uv run isort: any of: **/*.py
  pnpm pyright: any of: **/*.py
  uv run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  uv run sqlfluff lint: any of: warehouse/dbt/**/*.sql
