Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

fix(sqlmesh): disables some metrics we don't currently need (#3914)
  warehouse/oso_sqlmesh/models/metrics_factories.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

fix(sqlmesh): sets from_artifact to lowercase and removes artifact_types from github events model (#3913)
  warehouse/oso_sqlmesh/models/intermediate/events/github/int_events__github.sql
Due: none

docs: add auto-generated MDX tutorial(s)
  apps/docs/docs/tutorials/forecasting.mdx
  apps/docs/docs/tutorials/forecasting_files/forecasting_17_0.png
  apps/docs/docs/tutorials/forecasting_files/forecasting_22_0.png
  apps/docs/docs/tutorials/forecasting_files/forecasting_28_0.png
  apps/docs/docs/tutorials/forecasting_files/forecasting_9_0.png
  apps/docs/docs/tutorials/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: system prompt for llmoso
  warehouse/oso_agent/oso_agent/eval/text2sql.py
  warehouse/oso_agent/oso_agent/prompts/__init__.py
  warehouse/oso_agent/oso_agent/prompts/system.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: add some table and column descriptions
  warehouse/oso_sqlmesh/models/marts/entities/artifacts_by_collection_v1.sql
  warehouse/oso_sqlmesh/models/marts/entities/artifacts_by_project_v1.sql
  warehouse/oso_sqlmesh/models/marts/entities/artifacts_by_user_v1.sql
  warehouse/oso_sqlmesh/models/marts/entities/artifacts_v1.sql
  warehouse/oso_sqlmesh/models/marts/entities/collections_v1.sql
Due: none

feat: system prompt for llmoso (#3916)
  warehouse/oso_agent/oso_agent/eval/text2sql.py
  warehouse/oso_agent/oso_agent/prompts/__init__.py
  warehouse/oso_agent/oso_agent/prompts/system.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: add some table and column descriptions (#3917)
  warehouse/oso_sqlmesh/models/marts/entities/artifacts_by_collection_v1.sql
  warehouse/oso_sqlmesh/models/marts/entities/artifacts_by_project_v1.sql
  warehouse/oso_sqlmesh/models/marts/entities/artifacts_by_user_v1.sql
  warehouse/oso_sqlmesh/models/marts/entities/artifacts_v1.sql
  warehouse/oso_sqlmesh/models/marts/entities/collections_v1.sql
Due: none

feat: more table and column descriptions for metric mart models
  warehouse/oso_sqlmesh/models/marts/events/event_types_v1.sql
  warehouse/oso_sqlmesh/models/marts/metrics/key_metrics_by_artifact_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/key_metrics_by_collection_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/key_metrics_by_project_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/metrics_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/timeseries_metrics_by_artifact_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/timeseries_metrics_by_collection_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/timeseries_metrics_by_project_v0.sql
  warehouse/oso_sqlmesh/models/marts/sqlmesh/models_v0.sql
Due: none

feat: more table and column descriptions for metric mart models (#3920)
  warehouse/oso_sqlmesh/models/marts/events/event_types_v1.sql
  warehouse/oso_sqlmesh/models/marts/metrics/key_metrics_by_artifact_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/key_metrics_by_collection_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/key_metrics_by_project_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/metrics_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/timeseries_metrics_by_artifact_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/timeseries_metrics_by_collection_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/timeseries_metrics_by_project_v0.sql
  warehouse/oso_sqlmesh/models/marts/sqlmesh/models_v0.sql
Due: none

more entity descriptions
  warehouse/oso_sqlmesh/models/marts/entities/projects_by_collection_v1.sql
  warehouse/oso_sqlmesh/models/marts/entities/projects_v1.sql
  warehouse/oso_sqlmesh/models/marts/entities/users_v1.sql
Due: none

feat: more descriptions (#3921)
  warehouse/oso_sqlmesh/models/marts/entities/projects_by_collection_v1.sql
  warehouse/oso_sqlmesh/models/marts/entities/projects_v1.sql
  warehouse/oso_sqlmesh/models/marts/entities/users_v1.sql
Due: none

refactor(sqlmesh): create int_artifacts__blockchain
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/4337-operators/int_4337_address_labels.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/deployers/int_deployers_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/int_artifacts__blockchain.sql
Due: none

fix(sqlmesh): allow desctructive events for int_events_weekly__github
  warehouse/oso_sqlmesh/models/intermediate/events/github/int_events_weekly__github.sql
Due: none

fix(sqlmesh): allow desctructive events for int_events_weekly__github (#3923)
  warehouse/oso_sqlmesh/models/intermediate/events/github/int_events_weekly__github.sql
Due: none

fix: `uv` loop crash
  warehouse/oso_agent/oso_agent/eval/text2sql.py
  warehouse/oso_agent/oso_agent/server/app.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: setup frontend `stripe` integration
  apps/frontend/.env.local.example
  apps/frontend/app/api/v1/stripe/checkout/route.ts
  apps/frontend/app/api/v1/stripe/webhook/route.ts
  apps/frontend/app/billing/page.tsx
  apps/frontend/lib/clients/oso-app/oso-app.ts
  apps/frontend/lib/clients/stripe.ts
  apps/frontend/lib/config.ts
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add: purchase `intent` supabase migration
  apps/frontend/lib/clients/supabase.ts
  apps/frontend/lib/types/supabase.ts
  apps/frontend/supabase/migrations/20250526171300_purschase_intents.sql
Due: none

add: `stripe` tracking event
  apps/frontend/lib/types/posthog.ts
Due: none

Add causal inference tutorial with synthetic control methods
  apps/docs/docs/tutorials/causal-inference.mdx
  apps/docs/docs/tutorials/causal_inference_tutorial.ipynb
Due: none

chore: rollback arize versions
  uv.lock
  warehouse/oso_agent/pyproject.toml
Due: none

fix: fixes issues with arize and "use_cloud" boolean
  warehouse/oso_agent/oso_agent/eval/text2sql.py
  warehouse/oso_agent/oso_agent/util/config.py
  warehouse/oso_agent/oso_agent/util/tracing.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(dynamic-connectors): create dynamic connectors route (#3887)
  .eslintrc.js
  apps/frontend/.env.local.example
  apps/frontend/__tests__/connector/route.test.ts
  apps/frontend/app/api/v1/connector/route.ts
  apps/frontend/app/api/v1/sql/route.ts
  apps/frontend/babel.config.testing.js
  apps/frontend/jest.config.js
  apps/frontend/jest.config.ts
  apps/frontend/lib/auth/auth.ts
  apps/frontend/lib/clients/trino.ts
  apps/frontend/lib/config.ts
  apps/frontend/lib/types/dynamic-connector.ts
  apps/frontend/tsconfig.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: use correct api key
  warehouse/oso_agent/oso_agent/eval/text2sql.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: fix arize endpoint setup (#3931)
  uv.lock
  warehouse/oso_agent/oso_agent/eval/text2sql.py
  warehouse/oso_agent/oso_agent/util/config.py
  warehouse/oso_agent/oso_agent/util/tracing.py
  warehouse/oso_agent/pyproject.toml
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: `uv` loop crash (#3932)
  warehouse/oso_agent/oso_agent/eval/text2sql.py
  warehouse/oso_agent/oso_agent/server/app.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: add allow_destructive_models config
  warehouse/oso_dagster/assets/sqlmesh.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(supazod): upgrade supazod package
  apps/frontend/app/api/v1/connector/route.ts
  apps/frontend/lib/types/schema-types.ts
  apps/frontend/lib/types/schema.ts
  apps/frontend/package.json
  apps/frontend/supazod.config.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: add allow_destructive_models config (#3935)
  warehouse/oso_dagster/assets/sqlmesh.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  uv run ruff check --fix --force-exclude: any of: **/*.py
  uv run isort: any of: **/*.py
  pnpm pyright: any of: **/*.py
  uv run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  uv run sqlfluff lint: any of: warehouse/dbt/**/*.sql
