Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

Fix test invocation
  .github/workflows/ci-default.yml
Due: none

Fix
  pyproject.toml
Due: none

test fix
  .github/workflows/ci-default.yml
Due: none

test
  .github/workflows/ci-default.yml
Due: none

Convert sqlmesh rolling models to python models (#2442)
  .github/workflows/ci-default.yml
  pyproject.toml
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_mesh/oso_metrics/developer_activity_classification.sql
  warehouse/metrics_mesh/tests/test_events_daily_to_artifact.yml
  warehouse/metrics_tools/definition.py
  warehouse/metrics_tools/factory/factory.py
  warehouse/metrics_tools/factory/test_factory.py
  warehouse/metrics_tools/models.py
  warehouse/metrics_tools/runner.py
  warehouse/metrics_tools/transformer/tables.py
  warehouse/metrics_tools/utils/fixtures/__init__.py
  warehouse/metrics_tools/utils/fixtures/gen_data.py
  warehouse/metrics_tools/utils/glot.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Redeploy trino
  ops/k8s-apps/production/kustomization.yaml
Due: none

Redeploy trino (#2448)
  ops/k8s-apps/production/kustomization.yaml
Due: none

Fix macro issues for trino
  warehouse/metrics_tools/factory/macros.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add some docs
  warehouse/metrics_tools/factory/macros.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

format docs
  warehouse/metrics_tools/factory/macros.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fix macro issues for trino (#2449)
  warehouse/metrics_tools/factory/macros.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

upgrade trino
  ops/k8s-apps/base/trino/trino.yaml
Due: none

upgrade trino (#2450)
  ops/k8s-apps/base/trino/trino.yaml
Due: none

remove invalid trino configs
  ops/k8s-apps/base/trino/trino.yaml
Due: none

remove invalid trino configs (#2451)
  ops/k8s-apps/base/trino/trino.yaml
Due: none

Updates deprecated trino config names
  ops/k8s-apps/base/trino/trino.yaml
Due: none

Updates deprecated trino config names (#2453)
  ops/k8s-apps/base/trino/trino.yaml
Due: none

More trino related fixes
  warehouse/metrics_tools/factory/factory.py
  warehouse/metrics_tools/factory/macros.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

More trino related fixes (#2454)
  warehouse/metrics_tools/factory/factory.py
  warehouse/metrics_tools/factory/macros.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Found a circular reference in the code
  warehouse/metrics_tools/factory/factory.py
  warehouse/metrics_tools/macros/__init__.py
  warehouse/metrics_tools/macros/macros.py
  warehouse/metrics_tools/runner.py
  warehouse/metrics_tools/utils/logging.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Found a circular reference in the code (#2457)
  warehouse/metrics_tools/factory/factory.py
  warehouse/metrics_tools/macros/__init__.py
  warehouse/metrics_tools/macros/macros.py
  warehouse/metrics_tools/runner.py
  warehouse/metrics_tools/utils/logging.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

trino hot updated
  ops/k8s-apps/base/trino/trino.yaml
Due: none

Hotfix: Cloudflare K8s setup
  ops/k8s-infrastructure/controllers/ingress-internal-cloudflare.yaml
Due: none

Hotfix: another cloudflare hotfix
  ops/k8s-infrastructure/controllers/ingress-internal-cloudflare.yaml
Due: none

fix: skip malformed `sboms`
  warehouse/oso_dagster/dlt_sources/github_repos/__init__.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: skip malformed `sboms` (#2461)
  warehouse/oso_dagster/dlt_sources/github_repos/__init__.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: incorrect Superchain logo
  apps/docs/docs/integrate/overview/index.mdx
  apps/docs/docs/integrate/overview/superchain.png
Due: none

fix: incorrect Superchain logo (#2462)
  apps/docs/docs/integrate/overview/index.mdx
  apps/docs/docs/integrate/overview/superchain.png
Due: none

fix: use `__annotations__` from source function
  warehouse/oso_dagster/factories/dlt.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add: `npm` weekly downloads collector
  warehouse/oso_dagster/assets/npm.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add: `query_with_string` method to `cbt`
  warehouse/oso_dagster/cbt/cbt.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat(blog): post on advanced metrics
  apps/docs/blog/2024-11-18-synthetic-controls/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: upload image 1
  apps/docs/blog/2024-11-18-synthetic-controls/syncon-base.png
Due: none

chore: upload image 2
  apps/docs/blog/2024-11-18-synthetic-controls/syncon-devs.png
Due: none

chore: upload hero image
  apps/docs/blog/2024-11-18-synthetic-controls/syncon.png
Due: none

fix(blog): small copy edits
  apps/docs/blog/2024-11-18-synthetic-controls/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: broken internal link
  apps/docs/blog/2024-11-18-synthetic-controls/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: final copy edits
  apps/docs/blog/2024-11-18-synthetic-controls/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(blog): add piece on advanced metrics (#2465)
  apps/docs/blog/2024-11-18-synthetic-controls/index.md
  apps/docs/blog/2024-11-18-synthetic-controls/syncon-base.png
  apps/docs/blog/2024-11-18-synthetic-controls/syncon-devs.png
  apps/docs/blog/2024-11-18-synthetic-controls/syncon.png
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  poetry run ruff check --fix --force-exclude: any of: **/*.py
  pnpm pyright: any of: **/*.py
  poetry run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  poetry run sqlfluff lint: any of: warehouse/dbt/**/*.sql
