Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

.lintstagedrc:

{
    "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
        "eslint --ignore-path .gitignore --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ],
    "warehouse/dbt/**/*.sql": [
        "uv run sqlfluff fix -f",
        "uv run sqlfluff lint"
    ]
}

feat: supabase migration for teams
  apps/frontend/supabase/migrations/20250503195516_organizations.sql
Due: none

fix: only send the latest chat message to PostHog
  apps/frontend/app/api/v1/chat/route.ts
Due: none

fix: only send the latest chat message to PostHog (#3711)
  apps/frontend/app/api/v1/chat/route.ts
Due: none

fix(sqlmesh): fix date conversion from string to timestamp
  warehouse/oso_sqlmesh/models/staging/oss-directory/stg_ossd__current_funding.sql
Due: none

fix(sqlmesh): fix date conversion from string to timestamp (#3712)
  warehouse/oso_sqlmesh/models/staging/oss-directory/stg_ossd__current_funding.sql
Due: none

fix(sqlmesh): another attempt at fixing oss-funding date string issues
  warehouse/metrics_tools/seed/schemas/ossd/funding.py
  warehouse/oso_sqlmesh/models/staging/oss-directory/stg_ossd__current_funding.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): another attempt at fixing oss-funding date string issues (#3713)
  warehouse/metrics_tools/seed/schemas/ossd/funding.py
  warehouse/oso_sqlmesh/models/staging/oss-directory/stg_ossd__current_funding.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: reorgs oso_agent
  warehouse/oso_agent/main.py
  warehouse/oso_agent/oso_agent/__init__.py
  warehouse/oso_agent/oso_agent/agent/__init__.py
  warehouse/oso_agent/oso_agent/agent/agent.py
  warehouse/oso_agent/oso_agent/agent/config.py
  warehouse/oso_agent/oso_agent/agent/errors.py
  warehouse/oso_agent/oso_agent/cli/__init__.py
  warehouse/oso_agent/oso_agent/cli/commands.py
  warehouse/oso_agent/oso_agent/cli/utils.py
  warehouse/oso_agent/oso_agent/utils/__init__.py
  warehouse/oso_agent/oso_agent/utils/log.py
  warehouse/oso_agent/pyproject.toml
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: update lock
  uv.lock
Due: none

fix: reorg oso_agent (#3714)
  uv.lock
  warehouse/oso_agent/main.py
  warehouse/oso_agent/oso_agent/__init__.py
  warehouse/oso_agent/oso_agent/agent/__init__.py
  warehouse/oso_agent/oso_agent/agent/agent.py
  warehouse/oso_agent/oso_agent/agent/config.py
  warehouse/oso_agent/oso_agent/agent/errors.py
  warehouse/oso_agent/oso_agent/cli/__init__.py
  warehouse/oso_agent/oso_agent/cli/commands.py
  warehouse/oso_agent/oso_agent/cli/utils.py
  warehouse/oso_agent/oso_agent/utils/__init__.py
  warehouse/oso_agent/oso_agent/utils/log.py
  warehouse/oso_agent/pyproject.toml
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: prepare oso_mcp for deployment
  uv.lock
  warehouse/oso_mcp/main.py
  warehouse/oso_mcp/oso_mcp/__init__.py
  warehouse/oso_mcp/oso_mcp/cli.py
  warehouse/oso_mcp/oso_mcp/server/__init__.py
  warehouse/oso_mcp/oso_mcp/server/app.py
  warehouse/oso_mcp/oso_mcp/server/config.py
  warehouse/oso_mcp/oso_mcp/utils/__init__.py
  warehouse/oso_mcp/oso_mcp/utils/log.py
  warehouse/oso_mcp/pyproject.toml
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: adds generic app chart
  ops/helm-charts/generic/Chart.yaml
  ops/helm-charts/generic/lint-only-values.yaml
  ops/helm-charts/generic/templates/_helpers.tpl
  ops/helm-charts/generic/templates/app.yaml
  ops/helm-charts/generic/templates/service-account.yaml
  ops/helm-charts/generic/templates/service.yaml
  ops/helm-charts/generic/values.yaml
Due: none

feat: prepare oso_mcp for deployment (#3715)
  uv.lock
  warehouse/oso_mcp/main.py
  warehouse/oso_mcp/oso_mcp/__init__.py
  warehouse/oso_mcp/oso_mcp/cli.py
  warehouse/oso_mcp/oso_mcp/server/__init__.py
  warehouse/oso_mcp/oso_mcp/server/app.py
  warehouse/oso_mcp/oso_mcp/server/config.py
  warehouse/oso_mcp/oso_mcp/utils/__init__.py
  warehouse/oso_mcp/oso_mcp/utils/log.py
  warehouse/oso_mcp/pyproject.toml
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: adds generic app chart (#3716)
  ops/helm-charts/generic/Chart.yaml
  ops/helm-charts/generic/lint-only-values.yaml
  ops/helm-charts/generic/templates/_helpers.tpl
  ops/helm-charts/generic/templates/app.yaml
  ops/helm-charts/generic/templates/service-account.yaml
  ops/helm-charts/generic/templates/service.yaml
  ops/helm-charts/generic/values.yaml
Due: none

feat: add base-mcp deployment
  ops/helm-charts/generic/Chart.yaml
  ops/helm-charts/generic/lint-only-values.yaml
  ops/helm-charts/generic/templates/app.yaml
  ops/helm-charts/generic/values.yaml
  ops/k8s-apps/base/mcp/kustomization.yaml
  ops/k8s-apps/base/mcp/mcp.yaml
  ops/k8s-apps/local/kustomization.yaml
  ops/k8s-apps/local/mcp/custom-helm-values.yaml
  ops/k8s-apps/local/mcp/kustomization.yaml
Due: none

feat: add mcp to production
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/kustomization.yaml
Due: none

feat: deploys mcp on local and on production k8s (#3717)
  ops/helm-charts/generic/Chart.yaml
  ops/helm-charts/generic/lint-only-values.yaml
  ops/helm-charts/generic/templates/app.yaml
  ops/helm-charts/generic/values.yaml
  ops/k8s-apps/base/mcp/kustomization.yaml
  ops/k8s-apps/base/mcp/mcp.yaml
  ops/k8s-apps/local/kustomization.yaml
  ops/k8s-apps/local/mcp/custom-helm-values.yaml
  ops/k8s-apps/local/mcp/kustomization.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/kustomization.yaml
Due: none

chore: map mcp for production deployment
  ops/k8s-apps/production/kustomization.yaml
Due: none

Update ops/k8s-apps/production/kustomization.yaml
  ops/k8s-apps/production/kustomization.yaml
Due: none

chore: map mcp for production deployment (#3718)
  ops/k8s-apps/production/kustomization.yaml
Due: none

feat: sets up scaffolding for a server on the oso-agent
  uv.lock
  warehouse/oso_agent/oso_agent/agent/agent.py
  warehouse/oso_agent/oso_agent/agent/config.py
  warehouse/oso_agent/oso_agent/cli/commands.py
  warehouse/oso_agent/oso_agent/server/__init__.py
  warehouse/oso_agent/oso_agent/server/app.py
  warehouse/oso_agent/oso_agent/server/definition.py
  warehouse/oso_agent/oso_agent/server/server.py
  warehouse/oso_agent/oso_agent/utils/__init__.py
  warehouse/oso_agent/oso_agent/utils/config.py
  warehouse/oso_agent/pyproject.toml
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix typos
  apps/docs/blog/2023-12-15-pln-ecosystem-analysis/index.mdx
  ops/external-prs/src/base.ts
  warehouse/bq2cloudsql/cloudsql.py
  warehouse/oso_dagster/cbt/operations/_cbt_merge.sql
  warehouse/oso_dagster/dlt_sources/sql_database/README.md
  warehouse/oso_dagster/factories/goldsky/assets.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Allow setting the model
  warehouse/oso_agent/oso_agent/agent/agent.py
  warehouse/oso_agent/oso_agent/agent/config.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: sets up scaffolding for a server on the oso-agent (#3721)
  uv.lock
  warehouse/oso_agent/oso_agent/agent/agent.py
  warehouse/oso_agent/oso_agent/agent/config.py
  warehouse/oso_agent/oso_agent/cli/commands.py
  warehouse/oso_agent/oso_agent/server/__init__.py
  warehouse/oso_agent/oso_agent/server/app.py
  warehouse/oso_agent/oso_agent/server/definition.py
  warehouse/oso_agent/oso_agent/server/server.py
  warehouse/oso_agent/oso_agent/utils/__init__.py
  warehouse/oso_agent/oso_agent/utils/config.py
  warehouse/oso_agent/pyproject.toml
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

revert change
  warehouse/oso_dagster/dlt_sources/sql_database/README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: fixes system prompt typo
  apps/frontend/app/api/v1/chat/route.ts
Due: none

fix: fixes system prompt typo (#3723)
  apps/frontend/app/api/v1/chat/route.ts
Due: none

fix typo
  ops/external-prs/src/ossd/index.ts
Due: none

chore: update dagster-sqlmesh to 0.16.0
  pyproject.toml
  uv.lock
Due: none

Update refresh-test-credentials.yml
  .github/workflows/refresh-test-credentials.yml
Due: none

chore: update dagster-sqlmesh to 0.16.0 (#3725)
  pyproject.toml
  uv.lock
Due: none

New tutorial for cohort analysis
  apps/docs/docs/tutorials/cohort-analysis.mdx
  apps/docs/docs/tutorials/dev-activity.png
  apps/docs/docs/tutorials/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

New tutorial for cohort analysis (#3727)
  apps/docs/docs/tutorials/cohort-analysis.mdx
  apps/docs/docs/tutorials/dev-activity.png
  apps/docs/docs/tutorials/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore(oso_agent): use secretstr for secrets in pydantic configs
  warehouse/oso_agent/oso_agent/agent/config.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: use of secretstr
  warehouse/oso_agent/oso_agent/agent/agent.py
  warehouse/oso_agent/oso_agent/agent/config.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore(oso_agent): use secretstr for secrets in pydantic configs (#3726)
  warehouse/oso_agent/oso_agent/agent/agent.py
  warehouse/oso_agent/oso_agent/agent/config.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore(oso_agent): improve logging
  warehouse/oso_agent/oso_agent/agent/agent.py
  warehouse/oso_agent/oso_agent/cli/commands.py
  warehouse/oso_agent/oso_agent/utils/log.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore(oso_agent): improve logging (#3729)
  warehouse/oso_agent/oso_agent/agent/agent.py
  warehouse/oso_agent/oso_agent/cli/commands.py
  warehouse/oso_agent/oso_agent/utils/log.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: add support for chat history
  uv.lock
  warehouse/oso_agent/oso_agent/agent/agent.py
  warehouse/oso_agent/oso_agent/cli/commands.py
  warehouse/oso_agent/oso_agent/server/definition.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: adds agent server
  warehouse/oso_agent/oso_agent/server/app.py
  warehouse/oso_agent/oso_agent/server/definition.py
  warehouse/oso_agent/oso_agent/server/server.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright
