Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

fix(ui): add themeResetClass to dropdown menu to avoid Portal issues (#5467)
  apps/frontend/components/ui/dropdown-menu.tsx
Due: none

feat(notebooks): SSR published notebooks in catchall page
  apps/frontend/app/[...catchall]/page.tsx
  apps/frontend/app/api/v1/notebooks/publish/route.tsx
  apps/frontend/components/dataprovider/oso-global-context.tsx
  apps/frontend/lib/clients/oso-app/oso-app.ts
  apps/frontend/lib/notebook/utils-server.ts
Due: none

enhance(ui): Extending tooltip to include default content and forceOpen
  apps/frontend/components/ui/tooltip.tsx
Due: none

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

enhance(ui): adding editOnly true and helper text to forceOpen prop
  apps/frontend/components/ui/tooltip.tsx
Due: none

enhance(ui): Extending tooltip to include default content and forceOpen (#5470)
  apps/frontend/components/ui/tooltip.tsx
Due: none

fix: fixes heartbeat errors that were getting hidden
  warehouse/oso_dagster/assets/default/heartbeat.py
  warehouse/oso_dagster/definitions/resources.py
  warehouse/oso_dagster/resources/heartbeat.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: respect default cache ttl for local runs
  lib/oso-core/oso_core/cache/types.py
  warehouse/oso_dagster/assets/sqlmesh/sqlmesh.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: fixes heartbeat errors that were getting hidden (#5471)
  warehouse/oso_dagster/assets/default/heartbeat.py
  warehouse/oso_dagster/definitions/resources.py
  warehouse/oso_dagster/resources/heartbeat.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(dagster): fix schedule for sqlmesh and downstream assets
  warehouse/oso_dagster/schedules.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): attempt to optimize stg_github__events to use a smaller window for lookbacks
  warehouse/oso_sqlmesh/models/staging/github/stg_github__events.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: upgrade `eslint` config to `flat` config
  .eslintrc.js
  eslint.config.mjs
Due: none

chore: upgrade `eslint` to `v9`
  package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: update `pnpm` lockfile
  pnpm-lock.yaml
Due: none

chore: migrate `apps/docs` to eslint `flat` config
  apps/docs/.eslintrc.json
  apps/docs/eslint.config.mjs
  apps/docs/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: migrate `apps/frontend` to eslint `flat` config
  apps/frontend/eslint.config.mjs
  apps/frontend/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: disable unnecessary `eslint-disable-*` comments
  apps/frontend/components/widgets/oso-navbar.tsx
  apps/frontend/lib/clients/cloudflare-r2.ts
Due: none

fix: ignore auto `generated` files
  apps/frontend/eslint.config.mjs
Due: none

fix: remove `deprecated` lint option
  .lintstagedrc
Due: none

chore: migrate `apps/hasura-clickhouse` to eslint `flat` config
  apps/hasura-clickhouse/.eslintrc.json
  apps/hasura-clickhouse/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: migrate `apps/hasura2` to eslint `flat` config
  apps/hasura2/.eslintrc.json
  apps/hasura2/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: migrate `lib/oss-artifact-validators` to eslint `flat` config
  lib/oss-artifact-validators/.eslintrc.json
  lib/oss-artifact-validators/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: migrate `lib/utils` to eslint `flat` config
  lib/utils/.eslintrc.json
  lib/utils/package.json
  lib/utils/src/common.ts
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: migrate `ops/external-prs` to eslint `flat` config
  ops/external-prs/.eslintrc.json
  ops/external-prs/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: migrate `ops/github-app-utils` to eslint `flat` config
  ops/github-app-utils/.eslintrc.json
  ops/github-app-utils/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(notebooks): SSR published notebooks in catchall page (#5468)
  apps/frontend/app/[...catchall]/page.tsx
  apps/frontend/app/api/v1/notebooks/publish/route.tsx
  apps/frontend/components/dataprovider/oso-global-context.tsx
  apps/frontend/lib/clients/oso-app/oso-app.ts
  apps/frontend/lib/notebook/utils-server.ts
Due: none

fix(ui): remove defaultValue from forceOpen for tooltip to work in preview mode
  apps/frontend/components/ui/tooltip.tsx
Due: none

feat: migrate repo to `eslint` v9 (#5476)
  .eslintrc.js
  .lintstagedrc
  apps/docs/.eslintrc.json
  apps/docs/eslint.config.mjs
  apps/docs/package.json
  apps/frontend/components/widgets/oso-navbar.tsx
  apps/frontend/eslint.config.mjs
  apps/frontend/lib/clients/cloudflare-r2.ts
  apps/frontend/package.json
  apps/hasura-clickhouse/.eslintrc.json
  apps/hasura-clickhouse/package.json
  apps/hasura2/.eslintrc.json
  apps/hasura2/package.json
  eslint.config.mjs
  lib/oss-artifact-validators/.eslintrc.json
  lib/oss-artifact-validators/package.json
  lib/utils/.eslintrc.json
  lib/utils/package.json
  lib/utils/src/common.ts
  ops/external-prs/.eslintrc.json
  ops/external-prs/package.json
  ops/github-app-utils/.eslintrc.json
  ops/github-app-utils/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(notebooks): make sure the loading spinner is gone when generating html
  apps/frontend/lib/notebook/utils-server.ts
Due: none

fix(ui): remove defaultValue from forceOpen for tooltip to work in preview mode (#5477)
  apps/frontend/components/ui/tooltip.tsx
Due: none

fix(notebooks): make sure the loading spinner is gone when generating html (#5478)
  apps/frontend/lib/notebook/utils-server.ts
Due: none

fix(notebooks): increase timeout for spinner to disappear and add logs
  apps/frontend/lib/notebook/utils-server.ts
Due: none

fix(notebooks): increase timeout for spinner to disappear and add logs (#5483)
  apps/frontend/lib/notebook/utils-server.ts
Due: none

remove skip logic for sqlmesh and downstream
  warehouse/oso_dagster/schedules.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  uv run ruff check --fix --force-exclude: any of: **/*.py
  uv run isort: any of: **/*.py
  pnpm pyright: any of: **/*.py
  uv run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  uv run sqlfluff lint: any of: warehouse/dbt/**/*.sql
