Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): fix churned labels
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/int_pln_developer_lifecycle_monthly.sql
Due: none

[WIP] Update PR to address feedback on churned labels fix (#5659)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/int_pln_developer_lifecycle_monthly.sql
Due: none

Refactor LAG function for current_state
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/int_pln_developer_lifecycle_monthly.sql
Due: none

fix(sqlmesh): fix churned labels (#5658)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/int_pln_developer_lifecycle_monthly.sql
Due: none

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

feat(sqlmesh): create enriched model for lifecycle metrics
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/int_pln_developer_lifecycle_monthly_enriched.sql
Due: none

fix(sqlmesh): first_time to first time
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/int_pln_developer_lifecycle_monthly.sql
Due: none

feat(sqlmesh): create enriched model for lifecycle metrics (#5660)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/int_pln_developer_lifecycle_monthly.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/int_pln_developer_lifecycle_monthly_enriched.sql
Due: none

feat(components): create and register TimedSideEffect component
  apps/frontend/components/widgets/index.ts
  apps/frontend/components/widgets/timed-side-effect.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(components): improve form builder to support date picker
  apps/frontend/components/ui/date-picker.tsx
  apps/frontend/components/widgets/form-builder.tsx
  apps/frontend/stories/widgets/form-builder.stories.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: add new graphql types for user defined models
  apps/frontend/app/api/v1/osograph/schema/graphql/base.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/dataset.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/system.graphql
Due: none

fix: further suggested improvements to the api
  apps/frontend/app/api/v1/osograph/schema/graphql/data-model.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/dataset.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/system.graphql
Due: none

fix: more proposed changes
  apps/frontend/app/api/v1/osograph/schema/graphql/dataset.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/scheduler.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/user.graphql
Due: none

updates
  apps/frontend/app/api/v1/osograph/schema/graphql/dataset.graphql
Due: none

more updates
  apps/frontend/app/api/v1/osograph/schema/graphql/data-connector.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/data-ingestion.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/dataset.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/scheduler.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/system.graphql
Due: none

updates
  apps/frontend/app/api/v1/osograph/schema/graphql/scheduler.graphql
Due: none

updates
  apps/frontend/app/api/v1/osograph/schema/graphql/system.graphql
Due: none

Update apps/frontend/app/api/v1/osograph/schema/graphql/dataset.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/dataset.graphql
Due: none

fixes
  apps/frontend/app/api/v1/osograph/schema/graphql/dataset.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/scheduler.graphql
Due: none

fix: more schema fixes
  apps/frontend/app/api/v1/osograph/schema/graphql/dataset.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/scheduler.graphql
Due: none

fix: remove json from schema
  apps/frontend/app/api/v1/osograph/schema/graphql/data-connector.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/data-ingestion.graphql
Due: none

fix: codegen for new scheduler updates
  apps/frontend/lib/graphql/generated/graphql.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: map system top level object
  apps/frontend/app/api/v1/osograph/schema/graphql/system.graphql
Due: none

fix: more codegen updates
  apps/frontend/lib/graphql/generated/graphql.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: graphql scheduler updates (#5648)
  apps/frontend/app/api/v1/osograph/schema/graphql/base.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/data-connector.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/data-ingestion.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/data-model.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/dataset.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/scheduler.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/system.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/user.graphql
  apps/frontend/lib/graphql/generated/graphql.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: add `type-safe` query builder and where clause parser
  apps/frontend/app/api/v1/osograph/utils/query-builder.ts
  apps/frontend/app/api/v1/osograph/utils/where-parser.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: add `where` parameter support to all list queries with `JSON` scalar
  apps/frontend/app/api/v1/osograph/schema/graphql/base.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/data-model.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/dataset.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/invitation.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/notebook.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/organization.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/user.graphql
Due: none

feat: add where clause validation schemas with `createWhereSchema` factory
  apps/frontend/app/api/v1/osograph/utils/validation.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

refactor: add `FilterableConnectionArgs` type and update resolver helper utilities
  apps/frontend/app/api/v1/osograph/utils/pagination.ts
  apps/frontend/app/api/v1/osograph/utils/resolver-helpers.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: implement filtering support across all `OsoGraph` resolvers
  apps/frontend/app/api/v1/osograph/schema/resolvers/data-model.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/dataset.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/invitation.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/notebook.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/organization.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/user.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/viewer.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: add `graphql-scalars` dependency for JSON scalar support
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

refactor: use `graphql-scalars` for DateTime and JSON scalar resolvers
  apps/frontend/app/api/v1/osograph/schema/resolvers/index.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

docs: add filtering guide with where clause examples for `OsoGraph`
  apps/docs/docs/guides/ops/osograph.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: add `where` argument to `Viewer.runs`
  apps/frontend/app/api/v1/osograph/schema/graphql/user.graphql
Due: none

chore: run `codegen` scripts
  apps/frontend/lib/graphql/generated/graphql.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: use `query-builder` + `where` format
  apps/frontend/app/api/v1/osograph/schema/graphql/data-model.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/dataset.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/invitation.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/scheduler.graphql
  apps/frontend/app/api/v1/osograph/schema/resolvers/data-model.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/dataset.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/invitation.ts
  apps/frontend/app/api/v1/osograph/utils/resolver-helpers.ts
  apps/frontend/app/api/v1/osograph/utils/validation.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: add models and tests for last contributions to artifacts, collections, and projects
  warehouse/oso_sqlmesh/models/intermediate/events/github/first-last/int_last_contribution_to_artifact.sql
  warehouse/oso_sqlmesh/models/intermediate/events/github/first-last/int_last_contribution_to_collection.sql
  warehouse/oso_sqlmesh/models/intermediate/events/github/first-last/int_last_contribution_to_project.sql
  warehouse/oso_sqlmesh/tests/test_int_last_contribution_to_artifact.yml
  warehouse/oso_sqlmesh/tests/test_int_last_contribution_to_collection.yml
  warehouse/oso_sqlmesh/tests/test_int_last_contribution_to_project.yml
Due: none

feat: implement `queryWithPagination` helper
  apps/frontend/app/api/v1/osograph/schema/resolvers/data-model.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/dataset.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/invitation.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/notebook.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/organization.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/viewer.ts
  apps/frontend/app/api/v1/osograph/utils/query-builder.ts
  apps/frontend/app/api/v1/osograph/utils/query-helpers.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Path conditions:
  eslint --flag v10_config_lookup_from_file --fix --max-warnings 0: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --ignore-path .gitignore --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
  prettier --ignore-path .gitignore --log-level warn --check: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
  uv run ruff format: any of: **/*.py
  uv run ruff check --fix --force-exclude: any of: **/*.py
  uv run isort: any of: **/*.py
  pnpm pyright: any of: **/*.py
