Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

feat(sqlmesh): create staging model for coresignal data
  warehouse/docker/trino/etc/catalog/bigquery_oso_dynamic.properties
  warehouse/metrics_tools/seed/schemas/core_signal/company_data.py
  warehouse/metrics_tools/seed/sql.py
  warehouse/oso_sqlmesh/models/staging/core_signal/stg_coresignal__companies.sql
  warehouse/oso_sqlmesh/models/staging/core_signal/stg_coresignal__funding_rounds.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore(firewall): allow kubernetes pods to access the archive nodes
  ops/tf-modules/archive-nodes/main.tf
Due: none

feat(dagster): add ethereum rpc url to dagster env variables
  ops/helm-charts/oso-dagster/Chart.yaml
  ops/helm-charts/oso-dagster/templates/config-map.yaml
  ops/helm-charts/oso-dagster/values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  warehouse/oso_dagster/assets/default/ethereum_blockchain.py
  warehouse/oso_dagster/config.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: rename saved queries as `notebook` functions
  apps/frontend/components/dataprovider/oso-global-context.tsx
  apps/frontend/lib/clients/oso-app/oso-app.ts
Due: none

feat: supabase `migration` to create `notebooks`
  apps/frontend/lib/types/schema-types.ts
  apps/frontend/lib/types/schema.ts
  apps/frontend/lib/types/supabase.ts
  apps/frontend/supabase/migrations/20250911020508_rename_saved_queries_to_notebooks.sql
Due: none

feat: supabase migration to create `notebooks` (#5012)
  apps/frontend/components/dataprovider/oso-global-context.tsx
  apps/frontend/lib/clients/oso-app/oso-app.ts
  apps/frontend/lib/types/schema-types.ts
  apps/frontend/lib/types/schema.ts
  apps/frontend/lib/types/supabase.ts
  apps/frontend/supabase/migrations/20250911020508_rename_saved_queries_to_notebooks.sql
Due: none

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

feat: implement keyset pagination for GraphQL queries
  warehouse/oso_dagster/assets/default/ens.py
  warehouse/oso_dagster/factories/graphql.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Add Ethereum RPC Url to dagster (#5011)
  ops/helm-charts/oso-dagster/Chart.yaml
  ops/helm-charts/oso-dagster/templates/config-map.yaml
  ops/helm-charts/oso-dagster/values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/tf-modules/archive-nodes/main.tf
  warehouse/oso_dagster/assets/default/ethereum_blockchain.py
  warehouse/oso_dagster/config.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: add order direction to keyset pagination configuration
  package.json
  warehouse/oso_dagster/assets/default/ens.py
  warehouse/oso_dagster/factories/graphql.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: add keyset-based pagination configuration to GraphQL API documentation
  apps/docs/docs/contribute-data/graphql-api.md
  apps/docs/docs/contribute-data/setup/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

refactor(sqlmesh): coresignal staging models
  warehouse/metrics_tools/seed/schemas/core_signal/company_data.py
  warehouse/oso_sqlmesh/models/staging/core_signal/stg_coresignal__companies.sql
  warehouse/oso_sqlmesh/models/staging/core_signal/stg_coresignal__funding_rounds.sql
  warehouse/oso_sqlmesh/models/staging/coresignal/stg_coresignal__companies.sql
  warehouse/oso_sqlmesh/models/staging/coresignal/stg_coresignal__funding_rounds.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): fix sqlmesh companies staging model
  warehouse/oso_sqlmesh/models/staging/coresignal/stg_coresignal__companies.sql
Due: none

fix ens graph fetching (#5014)
  apps/docs/docs/contribute-data/graphql-api.md
  apps/docs/docs/contribute-data/setup/index.md
  package.json
  warehouse/oso_dagster/assets/default/ens.py
  warehouse/oso_dagster/factories/graphql.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Create staging model for company data (#5004)
  ops/k8s-apps/production/trino/custom-helm-values.yaml
  warehouse/docker/trino/etc/catalog/bigquery_oso_dynamic.properties
  warehouse/metrics_tools/seed/schemas/core_signal/company_data.py
  warehouse/metrics_tools/seed/sql.py
  warehouse/oso_sqlmesh/models/staging/coresignal/stg_coresignal__companies.sql
  warehouse/oso_sqlmesh/models/staging/coresignal/stg_coresignal__funding_rounds.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(dagster): make cryo asset merge instead of replace
  warehouse/oso_dagster/factories/cryo.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(dagster): add defillama raises API to dagster
  warehouse/oso_dagster/assets/default/defillama.py
  warehouse/oso_dagster/utils/common.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(dagster): make cryo asset merge instead of replace (#5020)
  warehouse/oso_dagster/factories/cryo.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: update cursor rules for seed/staging models
  .cursor/rules/create-seed-and-staging-models.mdc
Due: none

feat(sqlmesh): add seed and staging models for l2beat
  warehouse/metrics_tools/seed/schemas/l2beat/l2beat_activity.py
  warehouse/metrics_tools/seed/schemas/l2beat/l2beat_projects.py
  warehouse/metrics_tools/seed/schemas/l2beat/l2beat_tvs.py
  warehouse/oso_sqlmesh/models/staging/l2beat/stg_l2beat__activity.sql
  warehouse/oso_sqlmesh/models/staging/l2beat/stg_l2beat__projects.sql
  warehouse/oso_sqlmesh/models/staging/l2beat/stg_l2beat__tvs.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Update warehouse/metrics_tools/seed/schemas/l2beat/l2beat_activity.py
  warehouse/metrics_tools/seed/schemas/l2beat/l2beat_activity.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(sqlmesh): add seed data and stg models for l2beat (#5023)
  .cursor/rules/create-seed-and-staging-models.mdc
  warehouse/metrics_tools/seed/schemas/l2beat/l2beat_activity.py
  warehouse/metrics_tools/seed/schemas/l2beat/l2beat_projects.py
  warehouse/metrics_tools/seed/schemas/l2beat/l2beat_tvs.py
  warehouse/oso_sqlmesh/models/staging/l2beat/stg_l2beat__activity.sql
  warehouse/oso_sqlmesh/models/staging/l2beat/stg_l2beat__projects.sql
  warehouse/oso_sqlmesh/models/staging/l2beat/stg_l2beat__tvs.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(dagster): create only a single table for defillama raises
  warehouse/oso_dagster/assets/default/defillama.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(dagster): add defillama raises API to dagster (#5021)
  warehouse/oso_dagster/assets/default/defillama.py
  warehouse/oso_dagster/utils/common.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: Change /start to redirect to /orgName
  apps/frontend/app/start/route.ts
Due: none

feat(sqlmesh): create staging model for defillama raises
  warehouse/metrics_tools/seed/schemas/defillama/raises.py
  warehouse/oso_sqlmesh/models/staging/defillama/stg_defillama__raises.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: create migration for `usernames`, `reserved_names` and `notebooks`
  apps/frontend/supabase/migrations/20250912191518_schema_updates_notebooks_orgs_users.sql
Due: none

fix: add `rls` and rename to `notebook_name`
  apps/frontend/supabase/migrations/20250912191518_schema_updates_notebooks_orgs_users.sql
Due: none

chore: re-run `autogen` scripts
  apps/frontend/lib/types/schema-types.ts
  apps/frontend/lib/types/schema.ts
  apps/frontend/lib/types/supabase.ts
Due: none

fix: use `notebook_name` instead of `display_name`
  apps/frontend/lib/clients/oso-app/oso-app.ts
Due: none

feat: create migration for `usernames`, `reserved_names` and `notebooks` (#5032)
  apps/frontend/lib/clients/oso-app/oso-app.ts
  apps/frontend/lib/types/schema-types.ts
  apps/frontend/lib/types/schema.ts
  apps/frontend/lib/types/supabase.ts
  apps/frontend/supabase/migrations/20250912191518_schema_updates_notebooks_orgs_users.sql
Due: none

feat: Fixing the OSO client
  apps/frontend/components/dataprovider/oso-global-context.tsx
  apps/frontend/lib/clients/oso-app/oso-app.ts
Due: none

fix: use inner joins for organizations
  apps/frontend/lib/clients/oso-app/oso-app.ts
Due: none

feat: Change /start to redirect to /orgName (#5029)
  apps/frontend/app/start/route.ts
Due: none

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  uv run ruff check --fix --force-exclude: any of: **/*.py
  uv run isort: any of: **/*.py
  pnpm pyright: any of: **/*.py
  uv run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  uv run sqlfluff lint: any of: warehouse/dbt/**/*.sql
