Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

add: `npm` ownership intermediate model (#2520)
  warehouse/dbt/macros/models/parse_npm_git_url.sql
  warehouse/dbt/models/intermediate/directory/int_artifact_ownership.sql
  warehouse/dbt/models/npm_sources.yml
  warehouse/dbt/models/staging/npm/stg_npm__downloads.sql
  warehouse/dbt/models/staging/npm/stg_npm__manifests.sql
  warehouse/oso_dagster/assets/npm.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat(docs): new use cases examples (#2522)
  apps/docs/docs/how-oso-works/_category_.json
  apps/docs/docs/references/_category_.json
  apps/docs/docs/subscribe.mdx
  apps/docs/docs/use-cases/collection-view.md
  apps/docs/docs/use-cases/index.md
  apps/docs/docs/use-cases/project-deepdive.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: flatten `npm` manifest structure
  warehouse/oso_dagster/assets/npm.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: update `npm` manifests staging columns
  warehouse/dbt/models/staging/npm/stg_npm__manifests.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: update repository field references `int_artifact_ownership` model
  warehouse/dbt/models/intermediate/directory/int_artifact_ownership.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: flatten `npm` manifest structure (#2524)
  warehouse/dbt/models/intermediate/directory/int_artifact_ownership.sql
  warehouse/dbt/models/staging/npm/stg_npm__manifests.sql
  warehouse/oso_dagster/assets/npm.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: update `parse_npm_git_url` macro for improved URL parsing
  warehouse/dbt/macros/models/parse_npm_git_url.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: update `parse_npm_git_url` macro for improved URL parsing (#2525)
  warehouse/dbt/macros/models/parse_npm_git_url.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: filter intermediate dependency events by `artifacts_v1`
  warehouse/dbt/models/intermediate/events/int_events__dependencies.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: remove `cyclic` dependency
  warehouse/dbt/models/intermediate/events/int_events__dependencies.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: filter intermediate dependency events by `artifacts_v1` (#2526)
  warehouse/dbt/models/intermediate/events/int_events__dependencies.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: npm `git` url parsing cleanup logic
  warehouse/dbt/macros/models/parse_npm_git_url.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: npm `git` url parsing cleanup logic (#2527)
  warehouse/dbt/macros/models/parse_npm_git_url.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: build `remote_url` from source items
  warehouse/dbt/macros/models/parse_npm_git_url.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: build `remote_url` from source items (#2529)
  warehouse/dbt/macros/models/parse_npm_git_url.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: select events where `artifact` was added as dependency
  warehouse/dbt/models/intermediate/events/int_events__dependencies.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: select events where `artifact` was added as dependency (#2537)
  warehouse/dbt/models/intermediate/events/int_events__dependencies.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Update timeseries_events_aux_issues_by_artifact_v0.sql
  warehouse/dbt/models/marts/events/timeseries_events_aux_issues_by_artifact_v0.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Fix timeseries_events_aux_issues_by_artifact_v0.sql to include `comments` column (#2542)
  warehouse/dbt/models/marts/events/timeseries_events_aux_issues_by_artifact_v0.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix(dbt): update case types and lookup remote artifact ids
  warehouse/dbt/macros/models/parse_npm_git_url.sql
  warehouse/dbt/models/intermediate/directory/int_artifact_ownership.sql
  warehouse/dbt/models/intermediate/directory/int_package_ownership.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

add: support for `git://` urls to `parse_npm_git_url` macro
  warehouse/dbt/macros/models/parse_npm_git_url.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Add all artifact fields to package ownership model (#2545)
  warehouse/dbt/macros/models/parse_npm_git_url.sql
  warehouse/dbt/models/intermediate/directory/int_artifact_ownership.sql
  warehouse/dbt/models/intermediate/directory/int_package_ownership.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Add metrics rendering tool
  warehouse/metrics_tools/factory/factory.py
  warehouse/metrics_tools/utils/logging.py
  warehouse/metrics_tools/utils/testing.py
  warehouse/oso_lets_go/cli.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Add some inline docs
  warehouse/oso_lets_go/cli.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Add metrics rendering tool (#2546)
  warehouse/metrics_tools/factory/factory.py
  warehouse/metrics_tools/utils/logging.py
  warehouse/metrics_tools/utils/testing.py
  warehouse/oso_lets_go/cli.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat(dbt): map sboms to known artifacts
  warehouse/dbt/models/intermediate/directory/int_sbom_artifacts.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: update comment
  warehouse/dbt/models/intermediate/directory/int_sbom_artifacts.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat(dbt): map sboms to known artifacts (#2547)
  warehouse/dbt/models/intermediate/directory/int_sbom_artifacts.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

chore: update superchain data soruce
  apps/docs/docs/integrate/overview/index.mdx
  apps/docs/docs/integrate/overview/op.png
Due: none

feat(docs): add retro funding contributing page
  apps/docs/blog/2024-02-28-arbitrum-impact-pools/index.mdx
  apps/docs/blog/2024-07-16-oso-data-portal/index.md
  apps/docs/docs/contribute/connect-data/dagster-config.mdx
  apps/docs/docs/contribute/data-models.md
  apps/docs/docs/contribute/index.mdx
  apps/docs/docs/contribute/join-team.mdx
  apps/docs/docs/contribute/retrofunding.md
  apps/docs/docs/get-started/index.mdx
  apps/docs/docs/how-oso-works/impact-metrics/code.md
  apps/docs/docs/how-oso-works/impact-metrics/dependencies.md
  apps/docs/docs/how-oso-works/impact-metrics/index.mdx
  apps/docs/docs/how-oso-works/impact-metrics/onchain.md
  apps/docs/docs/how-oso-works/impact-metrics/package.md
  apps/docs/docs/integrate/api.md
  apps/docs/docs/integrate/python-notebooks.md
  apps/docs/docs/integrate/query-data.mdx
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: broken link
  apps/docs/docs/integrate/overview/index.mdx
Due: none

docs: rf contribution pathways (#2554)
  apps/docs/blog/2024-02-28-arbitrum-impact-pools/index.mdx
  apps/docs/blog/2024-07-16-oso-data-portal/index.md
  apps/docs/docs/contribute/connect-data/dagster-config.mdx
  apps/docs/docs/contribute/data-models.md
  apps/docs/docs/contribute/index.mdx
  apps/docs/docs/contribute/join-team.mdx
  apps/docs/docs/contribute/retrofunding.md
  apps/docs/docs/get-started/index.mdx
  apps/docs/docs/how-oso-works/impact-metrics/code.md
  apps/docs/docs/how-oso-works/impact-metrics/dependencies.md
  apps/docs/docs/how-oso-works/impact-metrics/index.mdx
  apps/docs/docs/how-oso-works/impact-metrics/onchain.md
  apps/docs/docs/how-oso-works/impact-metrics/package.md
  apps/docs/docs/integrate/api.md
  apps/docs/docs/integrate/overview/index.mdx
  apps/docs/docs/integrate/overview/op.png
  apps/docs/docs/integrate/python-notebooks.md
  apps/docs/docs/integrate/query-data.mdx
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(dbt): explicitly ensure pr merge date > create date
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__time_to_merge_days_average.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix(dbt): explicitly ensure pr merge date > create date (#2555)
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__time_to_merge_days_average.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

add: `libin` diagram first iteration
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_mesh/oso_metrics/libin.sql
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Disable user_retention_classifications for now
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_mesh/oso_metrics/user_retention_classification.sql
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix time to first response
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_mesh/oso_metrics/time_to_first_response.sql
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

contributor classifications working
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_mesh/oso_metrics/contributor_activity_classification.sql
  warehouse/metrics_mesh/oso_metrics/user_retention_classification.sql
  warehouse/metrics_tools/factory/factory.py
  warehouse/metrics_tools/joiner/__init__.py
  warehouse/metrics_tools/runner.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Added lifecycle model
  warehouse/metrics_mesh/models/events_daily_to_artifact_with_lag.sql
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_mesh/oso_metrics/contributor_activity_classification.sql
  warehouse/metrics_mesh/oso_metrics/lifecycle.sql
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

trying to improve query - some problems seem to be upstream
  warehouse/metrics_mesh/oso_metrics/contributor_activity_classification.sql
Due: none

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  poetry run ruff check --fix --force-exclude: any of: **/*.py
  pnpm pyright: any of: **/*.py
  poetry run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  poetry run sqlfluff lint: any of: warehouse/dbt/**/*.sql
