Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

fix
  warehouse/oso_dagster/assets/default/heartbeat.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: add additional heartbeat debugging (#5457)
  warehouse/oso_dagster/assets/default/heartbeat.py
  warehouse/oso_dagster/resources/heartbeat.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

fix: adjust trino worker memory request
  ops/k8s-apps/production/trino/custom-helm-values.yaml
Due: none

fix(dagster): make small jobs run with less pods (#5455)
  warehouse/oso_dagster/assets/sqlmesh/sqlmesh.py
  warehouse/oso_dagster/factories/alerts.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

hotfix(sqlmesh): remove unique values audit
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/builder-funnel/int_collection_performance_clusters.py
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/builder-funnel/int_collection_performance_features.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/builder-funnel/int_collection_segments_analysis.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

hotfix(sqlmesh): remove unique values audit (#5458)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/builder-funnel/int_collection_performance_clusters.py
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/builder-funnel/int_collection_performance_features.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/builder-funnel/int_collection_segments_analysis.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(notebooks): add published notebooks table
  apps/frontend/components/dataprovider/oso-global-context.tsx
  apps/frontend/lib/clients/oso-app/oso-app.ts
  apps/frontend/lib/types/schema-types.ts
  apps/frontend/lib/types/schema.ts
  apps/frontend/lib/types/supabase.ts
  apps/frontend/supabase/migrations/20251003275104_add_published_notebooks.sql
Due: none

feat(notebooks): address PR comments for published notebooks
  apps/frontend/app/api/v1/published_notebooks/route.tsx
  apps/frontend/lib/clients/oso-app/oso-app.ts
  apps/frontend/lib/types/schema-types.ts
  apps/frontend/lib/types/schema.ts
  apps/frontend/lib/types/supabase.ts
  apps/frontend/supabase/migrations/20251003275104_add_published_notebooks.sql
Due: none

chore(frontend): add new dependencies for backend browser parsing
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(notebooks): change published notebooks migration to use data_path
  apps/frontend/lib/types/schema.ts
  apps/frontend/lib/types/supabase.ts
  apps/frontend/supabase/migrations/20251003275104_add_published_notebooks.sql
Due: none

feat(notebooks): implement puppeteer rendering of notebooks in server
  apps/frontend/.env.local.example
  apps/frontend/lib/config.ts
  apps/frontend/lib/notebook/utils-server.ts
Due: none

feat(notebooks): implement routes for handling publishment of notebooks
  apps/frontend/app/api/v1/notebooks/publish/route.tsx
  apps/frontend/app/api/v1/notebooks/publish/test.html
  apps/frontend/app/api/v1/published_notebooks/route.tsx
  apps/frontend/components/widgets/controllable-notebook.tsx
  apps/frontend/lib/clients/oso-app/oso-app.ts
  apps/frontend/lib/notebook/utils.ts
Due: none

fix(notebooks): fix migration timestamp
  apps/frontend/supabase/migrations/20251006153803_add_published_notebooks.sql
Due: none

feat(notebooks): address PR comments
  apps/frontend/app/api/v1/notebooks/publish/route.tsx
  apps/frontend/components/widgets/controllable-notebook.tsx
  apps/frontend/lib/notebook/utils-server.ts
  apps/frontend/lib/notebook/utils.ts
  apps/frontend/supabase/migrations/20251020352321_add_published_notebooks.sql
Due: none

chore(supabase): update supabase types
  apps/frontend/lib/types/schema-types.ts
  apps/frontend/lib/types/schema.ts
  apps/frontend/lib/types/supabase.ts
  apps/frontend/supabase/migrations/20251022124422_add_published_notebooks.sql
Due: none

feat(notebooks): add published notebooks table (#5182)
  apps/frontend/.env.local.example
  apps/frontend/app/api/v1/notebooks/publish/route.tsx
  apps/frontend/app/api/v1/notebooks/publish/test.html
  apps/frontend/components/dataprovider/oso-global-context.tsx
  apps/frontend/components/widgets/controllable-notebook.tsx
  apps/frontend/lib/clients/oso-app/oso-app.ts
  apps/frontend/lib/config.ts
  apps/frontend/lib/notebook/utils-server.ts
  apps/frontend/lib/notebook/utils.ts
  apps/frontend/lib/types/schema-types.ts
  apps/frontend/lib/types/schema.ts
  apps/frontend/lib/types/supabase.ts
  apps/frontend/package.json
  apps/frontend/supabase/migrations/20251022124422_add_published_notebooks.sql
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: prohibit `overlapping` invitations
  apps/frontend/app/api/v1/invitations/create/route.ts
  apps/frontend/supabase/migrations/20251022140753_expired_invitations_double_fix.sql
Due: none

fix(dagster): fix concurrency issues with the heartbeat
  warehouse/oso_dagster/resources/heartbeat.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(dagster): fix concurrency issues with the heartbeat (#5464)
  warehouse/oso_dagster/resources/heartbeat.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: update artifact source and type in int_addresses_by_ens_user model; modify test cases for consistency
  warehouse/oso_sqlmesh/models/intermediate/entities/users/ens/int_addresses_by_ens_user.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/users/int_artifacts_by_user.sql
  warehouse/oso_sqlmesh/models/staging/ens/stg_ens__text_changeds.sql
  warehouse/oso_sqlmesh/tests/test_int_addresses_by_ens_user.yml
  warehouse/oso_sqlmesh/tests/test_stg_ens__text_changeds.yml
Due: none

feat: prohibit `overlapping` invitations (#5463)
  apps/frontend/app/api/v1/invitations/create/route.ts
  apps/frontend/supabase/migrations/20251022140753_expired_invitations_double_fix.sql
Due: none

feat(frontend): migration for private model related tables
  apps/frontend/supabase/migrations/20251022000000_create_models_tables.sql
Due: none

more wip
  apps/frontend/supabase/migrations/20251022000000_create_models_tables.sql
Due: none

rename
  apps/frontend/supabase/migrations/20251023000000_create_models_tables.sql
Due: none

more wip
  apps/frontend/supabase/migrations/20251023000000_create_models_tables_alt.sql
Due: none

Apply suggestions from code review
  apps/frontend/supabase/migrations/20251023000000_create_models_tables.sql
Due: none

Apply suggestions from code review
  apps/frontend/supabase/migrations/20251023000000_create_models_tables_alt.sql
Due: none

Update apps/frontend/supabase/migrations/20251023000000_create_models_tables_alt.sql
  apps/frontend/supabase/migrations/20251023000000_create_models_tables_alt.sql
Due: none

fix(ui): add themeResetClass to dropdown menu to avoid Portal issues
  apps/frontend/components/ui/dropdown-menu.tsx
Due: none

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  uv run ruff check --fix --force-exclude: any of: **/*.py
  uv run isort: any of: **/*.py
  pnpm pyright: any of: **/*.py
  uv run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  uv run sqlfluff lint: any of: warehouse/dbt/**/*.sql
