Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

fully revert
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__transactions.sql
Due: none

fix: apply doubles only to int models
  warehouse/oso_sqlmesh/models/intermediate/events/blockchain/superchain/int_events__superchain_internal_transactions.sql
  warehouse/oso_sqlmesh/models/intermediate/events/blockchain/superchain/int_events__superchain_transactions.sql
Due: none

hotfix(sqlmesh): cast to double before multiplication (#4958)
  warehouse/oso_sqlmesh/models/intermediate/events/blockchain/superchain/int_events__superchain_internal_transactions.sql
  warehouse/oso_sqlmesh/models/intermediate/events/blockchain/superchain/int_events__superchain_transactions.sql
Due: none

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

chore: wasm dev docs (#4941)
  .github/workflows/deploy-marimo-wasm.yml
  apps/docs/docs/guides/wasm.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

hotfix: cast share of transactions parameters to doubles before dividing
  warehouse/oso_sqlmesh/models/intermediate/events/blockchain/superchain/int_events__superchain_internal_transactions.sql
Due: none

feat(oso_dagster): allow disabling dev environment
  warehouse/oso_dagster/assets/sqlmesh/sqlmesh.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: disable dev env by default
  warehouse/oso_dagster/assets/sqlmesh/sqlmesh.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

hotfix: cast share of transactions parameters to doubles before dividing (#4959)
  warehouse/oso_sqlmesh/models/intermediate/events/blockchain/superchain/int_events__superchain_internal_transactions.sql
Due: none

feat(oso_dagster): allow disabling dev environment (#4960)
  warehouse/oso_dagster/assets/sqlmesh/sqlmesh.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: fix wasm docs for macos
  apps/docs/docs/guides/wasm.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

more updates
  apps/docs/docs/guides/wasm.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(dagster): create separate BigQuery destination for dynamic projects
  warehouse/oso_dagster/assets/dynamic/rest_api.py
  warehouse/oso_dagster/config.py
  warehouse/oso_dagster/definitions/resources.py
  warehouse/oso_dagster/factories/dlt.py
  warehouse/oso_dagster/resources/dlt.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: update wasm docs (#4962)
  apps/docs/docs/guides/wasm.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(tutorials/semantic-layer):add api key to semantic tab
  apps/docs/docs/tutorials/collection-view.mdx
Due: none

feat(dagster): create separate BigQuery destination for dynamic projects (#4963)
  warehouse/oso_dagster/assets/dynamic/rest_api.py
  warehouse/oso_dagster/config.py
  warehouse/oso_dagster/definitions/resources.py
  warehouse/oso_dagster/factories/dlt.py
  warehouse/oso_dagster/resources/dlt.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: additional docs on the setting up wasm
  apps/docs/docs/guides/wasm.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: remove extraneous `gitignore`
  warehouse/oso_agent/.gitignore
Due: none

chore: address `pr` feedback for `claude` commands
  warehouse/oso_agent/.claude/commands/bench-workflow.md
  warehouse/oso_agent/.claude/commands/workflow-changelog.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: address `workflow` structure concerns
  warehouse/oso_agent/changelog/18-08-2025.md
  warehouse/oso_agent/changelog/27-08-2025.md
  warehouse/oso_agent/changelog/CHANGELOG.md
  warehouse/oso_agent/oso_agent/workflows/text2sql/semantic.py
  warehouse/oso_agent/oso_agent/workflows/text2sql/semantic_iters/__init__.py
  warehouse/oso_agent/oso_agent/workflows/text2sql/semantic_iters/v18_08_25/workflow.py
  warehouse/oso_agent/oso_agent/workflows/text2sql/semantic_iters/v27_08_25/workflow.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

hotfix: allow destructive change
  warehouse/oso_sqlmesh/models/intermediate/events/blockchain/superchain/int_events__superchain_transactions.sql
Due: none

hotfix: allow destructive change (#4965)
  warehouse/oso_sqlmesh/models/intermediate/events/blockchain/superchain/int_events__superchain_transactions.sql
Due: none

feat: `semantic` workflow re-organization + analysis (#4890)
  warehouse/oso_agent/.claude/commands/bench-workflow.md
  warehouse/oso_agent/.claude/commands/workflow-changelog.md
  warehouse/oso_agent/changelog/18-08-2025.md
  warehouse/oso_agent/changelog/27-08-2025.md
  warehouse/oso_agent/changelog/CHANGELOG.md
  warehouse/oso_agent/oso_agent/eval/text2sql/experiment.py
  warehouse/oso_agent/oso_agent/tool/oso_semantic_query_tool.py
  warehouse/oso_agent/oso_agent/tool/table_selector_tool.py
  warehouse/oso_agent/oso_agent/workflows/default.py
  warehouse/oso_agent/oso_agent/workflows/text2sql/semantic_iters/__init__.py
  warehouse/oso_agent/oso_agent/workflows/text2sql/semantic_iters/v18_08_25/README.md
  warehouse/oso_agent/oso_agent/workflows/text2sql/semantic_iters/v18_08_25/workflow.py
  warehouse/oso_agent/oso_agent/workflows/text2sql/semantic_iters/v27_08_25/README.md
  warehouse/oso_agent/oso_agent/workflows/text2sql/semantic_iters/v27_08_25/workflow.py
  warehouse/oso_agent/oso_agent/workflows/types.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

hotfix: allow destructive change on internal txns
  warehouse/oso_sqlmesh/models/intermediate/events/blockchain/superchain/int_events__superchain_internal_transactions.sql
Due: none

hotfix: allow destructive change on internal txns (#4966)
  warehouse/oso_sqlmesh/models/intermediate/events/blockchain/superchain/int_events__superchain_internal_transactions.sql
Due: none

feat(consumer-trino): fix OPA rules for dynamic catalog
  opa/trino/trino.rego
  opa/trino/trino_test.rego
Due: none

chore(consumer-trino): obfuscate error messages
  ops/k8s-apps/production/consumer-trino/custom-helm-values.yaml
Due: none

feat(dagster): add default processing_step for dynamic rest api asset
  warehouse/oso_dagster/assets/dynamic/rest_api.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Dynamic REST API asset default processing step (#4968)
  warehouse/oso_dagster/assets/dynamic/rest_api.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  uv run ruff check --fix --force-exclude: any of: **/*.py
  uv run isort: any of: **/*.py
  pnpm pyright: any of: **/*.py
  uv run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  uv run sqlfluff lint: any of: warehouse/dbt/**/*.sql
