Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

.lintstagedrc:

{
    "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
        "eslint --ignore-path .gitignore --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ],
    "warehouse/dbt/**/*.sql": [
        "uv run sqlfluff fix -f",
        "uv run sqlfluff lint"
    ]
}

fix: advance `offset` for `continue_on_failure` (#4828)
  warehouse/oso_dagster/factories/graphql.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

fix(frontend): correct asset prefix for dagster sqlmesh
  apps/frontend/lib/dagster/assets.ts
Due: none

fix(dagster): make local secrets the default for dagster config
  warehouse/oso_dagster/config.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: bump `arize-phoenix` to match `prod` (#4825)
  uv.lock
  warehouse/oso_agent/pyproject.toml
Due: none

chore: expose oso_agent on tailscale (#4827)
  ops/k8s-apps/production/agent/custom-helm-values.yaml
Due: none

fix(dagster): make local secrets the default for dagster config (#4838)
  warehouse/oso_dagster/config.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(frontend): correct asset prefix for dagster sqlmesh (#4835)
  apps/frontend/lib/dagster/assets.ts
Due: none

fix: fixes code locations scheduling
  apps/docs/docs/contribute-data/setup/index.md
  ops/k8s-apps/base/dagster/dagster.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  warehouse/oso_dagster/config.py
  warehouse/oso_dagster/definitions/common.py
  warehouse/oso_dagster/definitions/default.py
  warehouse/oso_dagster/definitions/ops.py
  warehouse/oso_dagster/definitions/sqlmesh.py
  warehouse/oso_dagster/factories/loader.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: add GitHub Copilot instructions for data contributions
  .github/copilot-instructions.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add: `description` option to `oso_agent`
  warehouse/oso_agent/oso_agent/cli/commands.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: add generated `sql` to `result` view
  warehouse/oso_agent/oso_agent/eval/experiment_runner.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: rename agent `evals` for clarity and adjust score `range`
  warehouse/oso_agent/oso_agent/eval/text2sql/evals.py
  warehouse/oso_agent/oso_agent/eval/text2sql/experiment.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

add: include `error` chain when `retries` are exhausted
  warehouse/oso_agent/oso_agent/workflows/text2sql/semantic.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: rename `function` to `command`
  warehouse/oso_agent/oso_agent/eval/text2sql/evals.py
  warehouse/oso_agent/oso_agent/eval/text2sql/experiment.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: update `test_evals` function names
  warehouse/oso_agent/oso_agent/tests/test_evals.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: fixes code locations scheduling (#4841)
  apps/docs/docs/contribute-data/setup/index.md
  ops/k8s-apps/base/dagster/dagster.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  warehouse/oso_dagster/config.py
  warehouse/oso_dagster/definitions/common.py
  warehouse/oso_dagster/definitions/default.py
  warehouse/oso_dagster/definitions/ops.py
  warehouse/oso_dagster/definitions/sqlmesh.py
  warehouse/oso_dagster/factories/loader.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: `oso_agent` misc improvements (#4844)
  warehouse/oso_agent/oso_agent/cli/commands.py
  warehouse/oso_agent/oso_agent/eval/experiment_runner.py
  warehouse/oso_agent/oso_agent/eval/text2sql/evals.py
  warehouse/oso_agent/oso_agent/eval/text2sql/experiment.py
  warehouse/oso_agent/oso_agent/tests/test_evals.py
  warehouse/oso_agent/oso_agent/workflows/text2sql/semantic.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

add: duckdb `account` seed data
  warehouse/metrics_tools/seed/schemas/open_collective/accounts.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

add: open collective `stg_open_collective__accounts` model
  warehouse/oso_sqlmesh/models/staging/open-collective/stg_open_collective__accounts.sql
Due: none

refactor: apply JSON_FORMAT to overcome `iceberg` limitation
  warehouse/oso_sqlmesh/models/staging/open-collective/stg_open_collective__accounts.sql
Due: none

fix: address metadata `feedback`
  warehouse/oso_agent/oso_agent/util/metadata.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: update contributor lifecycle metrics and add test cases for monthly data
  warehouse/oso_sqlmesh/oso_metrics/code/lifecycle.sql
  warehouse/oso_sqlmesh/tests/test_contributors_lifecycle_to_artifact_monthly.yml
  warehouse/oso_sqlmesh/tests/test_contributors_lifecycle_to_project_monthly.yml
Due: none

Fix(dagster): typo in variable name
  warehouse/oso_dagster/config.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(ethereum): create ethereum dagster asset for logs, traces, blocks and transactions
  pyproject.toml
  uv.lock
  warehouse/oso_dagster/assets/default/ethereum_blockchain.py
  warehouse/oso_dagster/factories/cryo.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Fix(dagster): typo in variable name (#4854)
  warehouse/oso_dagster/config.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: restructure with `row` type
  warehouse/metrics_tools/seed/schemas/open_collective/accounts.py
  warehouse/oso_sqlmesh/models/staging/open-collective/stg_open_collective__accounts.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: update package seed files
  warehouse/metrics_tools/seed/schemas/deps_dev/PackageVersionToProject.py
  warehouse/metrics_tools/seed/schemas/ossd/sbom.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

refactor(sqlmesh): separate package parsing concerns
  warehouse/oso_sqlmesh/macros/artifact_parsing/packages.py
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/packages/int_packages.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: Remove hardcoded config in oso_mcp
  warehouse/oso_mcp/.env.example
  warehouse/oso_mcp/README.md
  warehouse/oso_mcp/oso_mcp/server/app.py
  warehouse/oso_mcp/oso_mcp/server/config.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(oso_semantic): downgrade pydantic to support pyodide
  warehouse/oso_semantic/pyproject.toml
Due: none

fix(pyoso): downgrade pydantic to support pyodide
  warehouse/pyoso/pyproject.toml
Due: none
