Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

add: process chunked resource `documentation` and `examples`
  warehouse/oso_dagster/utils/dlt.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: hide internal `process` functions for `process_chunked_resource` (#3083)
  warehouse/oso_dagster/dlt_sources/github_repos/__init__.py
  warehouse/oso_dagster/utils/dlt.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat(docs): update docs to include algorithms
  apps/docs/docs/contribute-models/retrofunding/s7-devtooling.md
  apps/docs/docs/contribute-models/retrofunding/s7-onchain-builders.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(docs): include scope of onchain builder impact stats for jan 2025
  apps/docs/docs/contribute-models/retrofunding/s7-onchain-builders.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(docs): add onchain builders doc (#3082)
  apps/docs/docs/contribute-models/retrofunding/s7-devtooling.md
  apps/docs/docs/contribute-models/retrofunding/s7-onchain-builders.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: change order of a question
  apps/docs/docs/contribute-models/retrofunding/s7-devtooling.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: disable sqlmesh `first_time_addresses`, `potential_bots` and downstream
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts_by_user.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_onchain_user_labels.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_s7_onchain_metrics_by_project.sql
  warehouse/metrics_mesh/models/intermediate/users/int_first_time_addresses.sql
  warehouse/metrics_mesh/models/intermediate/users/int_superchain_potential_bots.sql
  warehouse/metrics_mesh/models/marts/directory/artifacts_by_user_v1.sql
  warehouse/metrics_mesh/models/staging/superchain/stg_superchain__first_time_addresses.sql
  warehouse/metrics_mesh/models/staging/superchain/stg_superchain__potential_bots.sql
Due: none

chore: upgrade dagster-sqlmesh dependency
  poetry.lock
  pyproject.toml
Due: none

chore: disable sqlmesh `first_time_addresses`, `potential_bots` (#3091)
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts_by_user.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_onchain_user_labels.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_s7_onchain_metrics_by_project.sql
  warehouse/metrics_mesh/models/intermediate/users/int_first_time_addresses.sql
  warehouse/metrics_mesh/models/intermediate/users/int_superchain_potential_bots.sql
  warehouse/metrics_mesh/models/marts/directory/artifacts_by_user_v1.sql
  warehouse/metrics_mesh/models/staging/superchain/stg_superchain__first_time_addresses.sql
  warehouse/metrics_mesh/models/staging/superchain/stg_superchain__potential_bots.sql
Due: none

chore: upgrade dagster-sqlmesh dependency (#3092)
  poetry.lock
  pyproject.toml
Due: none

chore: migrate monorepo to uv
  .github/workflows/check-duckdb-schema.yml
  .github/workflows/ci-default.yml
  .github/workflows/deploy-dbt-docs.yml
  .github/workflows/deploy-hasura.yml
  .github/workflows/test-deploy/action.yml
  .lintstagedrc
  README.md
  apps/docs/docs/guides/dagster/index.md
  apps/docs/docs/guides/dbt.md
  docker/images/000-oso-base/Dockerfile
  docker/images/oso-debug/build.sh
  docker/images/oso/Dockerfile
  package.json
  poetry.lock
  poetry.toml
  pyproject.toml
  uv.lock
  warehouse/bq2cloudsql/README.md
  warehouse/metrics_mesh/README.md
  warehouse/metrics_tools/compute/types.py
  warehouse/oso_dagster/factories/common.py
  warehouse/oso_dagster/factories/goldsky/assets.py
  warehouse/oso_dagster/factories/sql.py
  warehouse/pyoso/pyoso/__init__.py
  warehouse/pyoso/pyoso/client.py
  warehouse/pyoso/pyproject.toml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright

chore: migrate monorepo to uv (#3090)
  .github/workflows/check-duckdb-schema.yml
  .github/workflows/ci-default.yml
  .github/workflows/deploy-dbt-docs.yml
  .github/workflows/deploy-hasura.yml
  .github/workflows/test-deploy/action.yml
  .lintstagedrc
  README.md
  apps/docs/docs/guides/dagster/index.md
  apps/docs/docs/guides/dbt.md
  docker/images/000-oso-base/Dockerfile
  docker/images/oso-debug/build.sh
  docker/images/oso/Dockerfile
  package.json
  poetry.lock
  poetry.toml
  pyproject.toml
  uv.lock
  warehouse/bq2cloudsql/README.md
  warehouse/metrics_mesh/README.md
  warehouse/metrics_tools/compute/types.py
  warehouse/oso_dagster/factories/common.py
  warehouse/oso_dagster/factories/goldsky/assets.py
  warehouse/oso_dagster/factories/sql.py
  warehouse/pyoso/pyoso/__init__.py
  warehouse/pyoso/pyoso/client.py
  warehouse/pyoso/pyproject.toml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright

chore: bump pyoso version for new import paths
  uv.lock
  warehouse/pyoso/pyproject.toml
  warehouse/pyoso/uv.lock
Due: none

chore: bump pyoso version for new import paths (#3097)
  uv.lock
  warehouse/pyoso/pyproject.toml
  warehouse/pyoso/uv.lock
Due: none

fix: correctly install uv dependencies to system python
  docker/images/oso/Dockerfile
Due: none

fix: correctly install uv dependencies to system python (#3098)
  docker/images/oso/Dockerfile
Due: none

add: dynamically generated `metadata` models
  warehouse/metrics_tools/factory/factory.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add: sqlmesh `metadata` proxy functions
  warehouse/metrics_tools/factory/proxy/proxies.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: import `functools` inside sqlmesh proxy
  warehouse/metrics_tools/factory/proxy/proxies.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add: `display_name` and `description` to `metrics_v0` (#3076)
  warehouse/metrics_mesh/models/marts/metrics/metrics_v0.sql
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_tools/definition.py
  warehouse/metrics_tools/factory/constants.py
  warehouse/metrics_tools/factory/factory.py
  warehouse/metrics_tools/factory/proxy/proxies.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

hotfix: remove broken dagster.ExperimentalWarning reference
  warehouse/oso_dagster/definitions.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix(docs): minor copy edits to s7 docs
  apps/docs/docs/contribute-models/retrofunding/s7-devtooling.md
  apps/docs/docs/contribute-models/retrofunding/s7-onchain-builders.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: re-upgrade dagster-sqlmesh dependency
  pyproject.toml
  uv.lock
Due: none

chore: re-upgrade dagster-sqlmesh dependency (#3099)
  pyproject.toml
  uv.lock
Due: none

chore: create node pools for consumer trino
  .gitignore
  ops/tf-modules/warehouse-cluster/main.tf
Due: none

chore: create node pools for consumer trino (#3100)
  .gitignore
  ops/tf-modules/warehouse-cluster/main.tf
Due: none

chore: upgrade dagster daemon `helm` chart version
  ops/helm-charts/oso-dagster/Chart.yaml
Due: none

chore: upgrade dagster daemon `helm` chart version (#3102)
  ops/helm-charts/oso-dagster/Chart.yaml
Due: none

bumps dagster-sqlmesh to 0.5.0
  pyproject.toml
  uv.lock
Due: none

bumps dagster-sqlmesh to 0.5.0 (#3103)
  pyproject.toml
  uv.lock
Due: none

chore: update helm `chart` lock file
  ops/helm-charts/oso-dagster/Chart.lock
Due: none

chore: update helm `chart` lock file (#3105)
  ops/helm-charts/oso-dagster/Chart.lock
Due: none

chore: bump `dagster` helm chart version
  ops/helm-charts/oso-dagster/Chart.yaml
Due: none

chore: bump `dagster` helm chart version (#3106)
  ops/helm-charts/oso-dagster/Chart.yaml
Due: none

fix(warehouse-cluster): rename consumer-trino nodes to cons-trino because of str length limit
  ops/tf-modules/warehouse-cluster/main.tf
Due: none

fix(warehouse-cluster): rename consumer-trino nodes to cons-trino because of str length limit (#3108)
  ops/tf-modules/warehouse-cluster/main.tf
Due: none

chore: adds a sqlmesh migration tool
  ops/opsscripts/utils/k8stools.py
  warehouse/oso_lets_go/cli.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

chore: run migrate on updates to main
  .github/workflows/warehouse-publish-docker-containers.yml
Due: none

chore: bump dagster-sqlmesh version
  pyproject.toml
  uv.lock
Due: none

feat: add command line tool for triggering sqlmesh migrate in the k8s cluster (#3104)
  .github/workflows/warehouse-publish-docker-containers.yml
  ops/opsscripts/utils/k8stools.py
  warehouse/oso_lets_go/cli.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  poetry run ruff check --fix --force-exclude: any of: **/*.py
  pnpm pyright: any of: **/*.py
  poetry run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  poetry run sqlfluff lint: any of: warehouse/dbt/**/*.sql
