Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: add longer test timeout for pyodide
  lib/pyodide-node-toolkit/src/build.test.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

fix: revert some unneeded changes
  apps/frontend/tsconfig.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: update readme
  lib/pyodide-node-toolkit/README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: add pyodide node toolkit (#5693)
  apps/frontend/tsconfig.json
  lib/pyodide-node-toolkit/README.md
  lib/pyodide-node-toolkit/package.json
  lib/pyodide-node-toolkit/sample_uv_workspace/README.md
  lib/pyodide-node-toolkit/sample_uv_workspace/pyproject.toml
  lib/pyodide-node-toolkit/sample_uv_workspace/sample-project/README.md
  lib/pyodide-node-toolkit/sample_uv_workspace/sample-project/pyproject.toml
  lib/pyodide-node-toolkit/sample_uv_workspace/sample-project/sampleproject/__init__.py
  lib/pyodide-node-toolkit/sample_uv_workspace/src/sample/__init__.py
  lib/pyodide-node-toolkit/sample_uv_workspace/uv.lock
  lib/pyodide-node-toolkit/src/build.test.ts
  lib/pyodide-node-toolkit/src/build.ts
  lib/pyodide-node-toolkit/src/cli.ts
  lib/pyodide-node-toolkit/src/index.ts
  lib/pyodide-node-toolkit/src/utils.ts
  lib/pyodide-node-toolkit/tsconfig.json
  lib/pyodide-node-toolkit/vitest.config.ts
  lib/tsconfig.base.json
  lib/utils/package.json
  lib/utils/src/common.ts
  lib/utils/src/context.ts
  lib/utils/src/index.ts
  lib/utils/src/logger.ts
  lib/utils/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(run): add runs in the data-model resolver in graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/data-model.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/scheduler.graphql
  apps/frontend/app/api/v1/osograph/schema/resolvers/data-model.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/index.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/scheduler.ts
  apps/frontend/app/api/v1/osograph/utils/query-builder.ts
  apps/frontend/app/api/v1/osograph/utils/query-helpers.ts
  apps/frontend/app/api/v1/osograph/utils/validation.ts
  apps/frontend/lib/graphql/generated/graphql.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore(dependencies): upgrade kr8s dependency
  pyproject.toml
  uv.lock
  warehouse/metrics-service/pyproject.toml
Due: none

feat(run): add runs in the data-model resolver in graphql (#5698)
  apps/frontend/app/api/v1/osograph/schema/graphql/data-model.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/scheduler.graphql
  apps/frontend/app/api/v1/osograph/schema/resolvers/data-model.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/index.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/scheduler.ts
  apps/frontend/app/api/v1/osograph/utils/query-builder.ts
  apps/frontend/app/api/v1/osograph/utils/query-helpers.ts
  apps/frontend/app/api/v1/osograph/utils/validation.ts
  apps/frontend/lib/graphql/generated/graphql.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore(dependencies): upgrade kr8s dependency (#5699)
  pyproject.toml
  uv.lock
  warehouse/metrics-service/pyproject.toml
Due: none

feat(dagster): create asset for open dev data
  warehouse/oso_dagster/assets/default/opendevdata.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(dagster): implements review suggestions
  warehouse/oso_dagster/assets/default/opendevdata.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(dagster): correct subprocess error handling and parquet processing in opendevdata asset (#5706)
  warehouse/oso_dagster/assets/default/opendevdata.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

refactor: use pyarrow batch reading for parquet processing (#5707)
  warehouse/oso_dagster/assets/default/opendevdata.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

[WIP] Create Dagster asset for Open Dev Data (#5708)
  warehouse/oso_dagster/assets/default/opendevdata.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(dagster): create asset for opendevdata (#5705)
  warehouse/oso_dagster/assets/default/opendevdata.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(semver): add semver_extract macro for improved version parsing
  warehouse/oso_sqlmesh/macros/semver.py
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/packages/deps-dev/int_packages_from_deps_dev.sql
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(sbom): add model and tests for tracking dependency lifecycle events
  warehouse/oso_sqlmesh/models/intermediate/events/packages/int_sbom_package_state_change_events.sql
  warehouse/oso_sqlmesh/tests/test_int_sbom_package_state_change_events.yml
Due: none

feat(dependencies): add networkx to project dependencies
  pyproject.toml
  uv.lock
Due: none

feat: extend `archive2bq` to accept `multiple` source URLs
  warehouse/oso_dagster/factories/archive2bq.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: use `archive2bq` factory for `opendevdata` asset
  warehouse/oso_dagster/assets/default/opendevdata.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: `opendevdata` refactor (#5712)
  warehouse/oso_dagster/assets/default/opendevdata.py
  warehouse/oso_dagster/factories/archive2bq.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: do not load into `memory` the whole response
  warehouse/oso_dagster/factories/archive2bq.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: do not load into `memory` the whole response (#5713)
  warehouse/oso_dagster/factories/archive2bq.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: create `opendevdata` seed files
  warehouse/metrics_tools/seed/schemas/opendevdata/canonical_developer_locations.py
  warehouse/metrics_tools/seed/schemas/opendevdata/canonical_developers.py
  warehouse/metrics_tools/seed/schemas/opendevdata/commits.py
  warehouse/metrics_tools/seed/schemas/opendevdata/developer_activities.py
  warehouse/metrics_tools/seed/schemas/opendevdata/eco_developer_28d_activities.py
  warehouse/metrics_tools/seed/schemas/opendevdata/eco_developer_activities.py
  warehouse/metrics_tools/seed/schemas/opendevdata/eco_developer_contribution_ranks.py
  warehouse/metrics_tools/seed/schemas/opendevdata/eco_developer_tenures.py
  warehouse/metrics_tools/seed/schemas/opendevdata/eco_mads.py
  warehouse/metrics_tools/seed/schemas/opendevdata/ecosystems.py
  warehouse/metrics_tools/seed/schemas/opendevdata/ecosystems_child_ecosystems.py
  warehouse/metrics_tools/seed/schemas/opendevdata/ecosystems_child_ecosystems_recursive.py
  warehouse/metrics_tools/seed/schemas/opendevdata/ecosystems_organizations.py
  warehouse/metrics_tools/seed/schemas/opendevdata/ecosystems_repos.py
  warehouse/metrics_tools/seed/schemas/opendevdata/ecosystems_repos_recursive.py
  warehouse/metrics_tools/seed/schemas/opendevdata/organizations.py
  warehouse/metrics_tools/seed/schemas/opendevdata/repo_developer_28d_activities.py
  warehouse/metrics_tools/seed/schemas/opendevdata/repo_developer_activities.py
  warehouse/metrics_tools/seed/schemas/opendevdata/repos.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: create `opendevdata` staging models
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__canonical_developer_locations.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__canonical_developers.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__commits.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__developer_activities.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__eco_developer_28d_activities.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__eco_developer_activities.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__eco_developer_contribution_ranks.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__eco_developer_tenures.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__eco_mads.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__ecosystems.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__ecosystems_child_ecosystems.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__ecosystems_child_ecosystems_recursive.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__ecosystems_organizations.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__ecosystems_repos.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__ecosystems_repos_recursive.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__organizations.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__repo_developer_28d_activities.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__repo_developer_activities.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__repos.sql
Due: none

chore: add `staging` models and `seed` data for `opendevdata` (#5714)
  warehouse/metrics_tools/seed/schemas/opendevdata/canonical_developer_locations.py
  warehouse/metrics_tools/seed/schemas/opendevdata/canonical_developers.py
  warehouse/metrics_tools/seed/schemas/opendevdata/commits.py
  warehouse/metrics_tools/seed/schemas/opendevdata/developer_activities.py
  warehouse/metrics_tools/seed/schemas/opendevdata/eco_developer_28d_activities.py
  warehouse/metrics_tools/seed/schemas/opendevdata/eco_developer_activities.py
  warehouse/metrics_tools/seed/schemas/opendevdata/eco_developer_contribution_ranks.py
  warehouse/metrics_tools/seed/schemas/opendevdata/eco_developer_tenures.py
  warehouse/metrics_tools/seed/schemas/opendevdata/eco_mads.py
  warehouse/metrics_tools/seed/schemas/opendevdata/ecosystems.py
  warehouse/metrics_tools/seed/schemas/opendevdata/ecosystems_child_ecosystems.py
  warehouse/metrics_tools/seed/schemas/opendevdata/ecosystems_child_ecosystems_recursive.py
  warehouse/metrics_tools/seed/schemas/opendevdata/ecosystems_organizations.py
  warehouse/metrics_tools/seed/schemas/opendevdata/ecosystems_repos.py
  warehouse/metrics_tools/seed/schemas/opendevdata/ecosystems_repos_recursive.py
  warehouse/metrics_tools/seed/schemas/opendevdata/organizations.py
  warehouse/metrics_tools/seed/schemas/opendevdata/repo_developer_28d_activities.py
  warehouse/metrics_tools/seed/schemas/opendevdata/repo_developer_activities.py
  warehouse/metrics_tools/seed/schemas/opendevdata/repos.py
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__canonical_developer_locations.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__canonical_developers.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__commits.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__developer_activities.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__eco_developer_28d_activities.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__eco_developer_activities.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__eco_developer_contribution_ranks.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__eco_developer_tenures.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__eco_mads.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__ecosystems.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__ecosystems_child_ecosystems.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__ecosystems_child_ecosystems_recursive.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__ecosystems_organizations.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__ecosystems_repos.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__ecosystems_repos_recursive.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__organizations.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__repo_developer_28d_activities.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__repo_developer_activities.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__repos.sql
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: use `row`/`array` types in `opendevdata` staging models and `seed` data
  warehouse/metrics_tools/seed/schemas/opendevdata/eco_developer_28d_activities.py
  warehouse/metrics_tools/seed/schemas/opendevdata/eco_developer_activities.py
  warehouse/metrics_tools/seed/schemas/opendevdata/ecosystems_child_ecosystems_recursive.py
  warehouse/metrics_tools/seed/schemas/opendevdata/ecosystems_repos_recursive.py
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__eco_developer_28d_activities.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__eco_developer_activities.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__ecosystems_child_ecosystems_recursive.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__ecosystems_repos_recursive.sql
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: use `row`/`array` types instead of `text` in `cursor` rules
  .cursor/rules/create-seed-and-staging-models.mdc
Due: none

add: `autodiscover-bigquery-schema` cursor rule
  .cursor/rules/autodiscover-bigquery-schema.mdc
Due: none

fix: `opendevdata` staging models and seed data (#5716)
  .cursor/rules/autodiscover-bigquery-schema.mdc
  .cursor/rules/create-seed-and-staging-models.mdc
  warehouse/metrics_tools/seed/schemas/opendevdata/eco_developer_28d_activities.py
  warehouse/metrics_tools/seed/schemas/opendevdata/eco_developer_activities.py
  warehouse/metrics_tools/seed/schemas/opendevdata/ecosystems_child_ecosystems_recursive.py
  warehouse/metrics_tools/seed/schemas/opendevdata/ecosystems_repos_recursive.py
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__eco_developer_28d_activities.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__eco_developer_activities.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__ecosystems_child_ecosystems_recursive.sql
  warehouse/oso_sqlmesh/models/staging/opendevdata/stg_opendevdata__ecosystems_repos_recursive.sql
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(data-model): implement update data-model resolver
  apps/frontend/app/api/v1/osograph/schema/graphql/data-model.graphql
  apps/frontend/app/api/v1/osograph/schema/resolvers/data-model.ts
  apps/frontend/app/api/v1/osograph/utils/validation.ts
  apps/frontend/lib/graphql/generated/graphql.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Path conditions:
  eslint --flag v10_config_lookup_from_file --fix --max-warnings 0: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --ignore-path .gitignore --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
  prettier --ignore-path .gitignore --log-level warn --check: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
  uv run ruff format: any of: **/*.py
  uv run ruff check --fix --force-exclude: any of: **/*.py
  uv run isort: any of: **/*.py
  pnpm pyright: any of: **/*.py
