Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

chore: bump `githubkit` to latest version
  poetry.lock
  pyproject.toml
Due: none

fix: `sbom` data retrieval format
  warehouse/oso_dagster/dlt_sources/github_repos/__init__.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: `sbom` data retrieval format (#2746)
  poetry.lock
  pyproject.toml
  warehouse/oso_dagster/dlt_sources/github_repos/__init__.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat(dbt): create devtool to builder graph
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__developer_relationships.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__devtool_to_onchain_project_registry.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__trusted_developers.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix(dbt): regex
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__trusted_developers.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix(dbt): metric for total dependents
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_metric__total_dependents.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat(dbt): add downstream devs
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__devtool_to_onchain_project_registry.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_metric__downstream_developers.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Adds metrics_tools and oso_dagster loggers to dagster logs on the UI
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

feat(dbt): superchain bot and txn models
  warehouse/dbt/models/marts/metrics/optimism/int_superchain_potential_bots.sql
  warehouse/dbt/models/marts/metrics/optimism/int_superchain_transactions.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

add optimism foundation dataset
  .gitignore
  warehouse/oso_dagster/assets/defillama.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat(dbt): metric for downstream transactions
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_metric__downstream_transactions.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix(dbt): linting error
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__developer_relationships.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix(dbt): bring time to transaction model
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_metric__downstream_transactions.sql
  warehouse/dbt/models/marts/metrics/optimism/int_superchain_transactions.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat(dbt): add v1 of downstream MAUs
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_metric__downstream_monthly_active_users.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Update .gitignore
  .gitignore
Due: none

Adds metrics_tools and oso_dagster loggers to dagster logs on the UI (#2747)
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

added the optimism foundation asset
  warehouse/oso_dagster/assets/defillama.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fix import problems for bq to sqlmesh
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fix import problems for bq to sqlmesh (#2755)
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add: `key` metrics to factory
  warehouse/metrics_mesh/models/metrics_factories.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: remove `unit` column on key metrics
  warehouse/metrics_mesh/oso_metrics/key_commit_count.sql
  warehouse/metrics_mesh/oso_metrics/key_developer_count.sql
  warehouse/metrics_mesh/oso_metrics/key_first_commit.sql
  warehouse/metrics_mesh/oso_metrics/key_fork_count.sql
  warehouse/metrics_mesh/oso_metrics/key_last_commit.sql
  warehouse/metrics_mesh/oso_metrics/key_star_count.sql
Due: none

add: sqlmesh `key` metrics
  warehouse/metrics_mesh/oso_metrics/key_active_address_count.sql
  warehouse/metrics_mesh/oso_metrics/key_active_contract_count.sql
  warehouse/metrics_mesh/oso_metrics/key_active_developer_count.sql
  warehouse/metrics_mesh/oso_metrics/key_comment_count.sql
  warehouse/metrics_mesh/oso_metrics/key_contributor_active_day_count.sql
  warehouse/metrics_mesh/oso_metrics/key_contributor_count.sql
  warehouse/metrics_mesh/oso_metrics/key_dependencies_count.sql
  warehouse/metrics_mesh/oso_metrics/key_developer_active_day_count.sql
  warehouse/metrics_mesh/oso_metrics/key_funding_received.sql
  warehouse/metrics_mesh/oso_metrics/key_gas_fees.sql
  warehouse/metrics_mesh/oso_metrics/key_issue_count_closed.sql
  warehouse/metrics_mesh/oso_metrics/key_issue_count_opened.sql
  warehouse/metrics_mesh/oso_metrics/key_pr_count_merged.sql
  warehouse/metrics_mesh/oso_metrics/key_pr_count_opened.sql
  warehouse/metrics_mesh/oso_metrics/key_pr_time_to_merge.sql
  warehouse/metrics_mesh/oso_metrics/key_release_count.sql
  warehouse/metrics_mesh/oso_metrics/key_repository_count.sql
  warehouse/metrics_mesh/oso_metrics/key_time_to_first_response.sql
  warehouse/metrics_mesh/oso_metrics/key_transaction_count.sql
Due: none

feat: int_events_to_project and int_events_to_collection
  warehouse/metrics_mesh/models/intermediate/events/int_events_to_collection.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_to_project.sql
Due: none

feat: int_events_to_project and int_events_to_collection (#2759)
  warehouse/metrics_mesh/models/intermediate/events/int_events_to_collection.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_to_project.sql
Due: none

add: sqlmesh `key_metrics` model (#2584)
  warehouse/metrics_mesh/macros/oso_union.py
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_mesh/oso_metrics/key_active_address_count.sql
  warehouse/metrics_mesh/oso_metrics/key_active_contract_count.sql
  warehouse/metrics_mesh/oso_metrics/key_active_developer_count.sql
  warehouse/metrics_mesh/oso_metrics/key_comment_count.sql
  warehouse/metrics_mesh/oso_metrics/key_commit_count.sql
  warehouse/metrics_mesh/oso_metrics/key_contributor_active_day_count.sql
  warehouse/metrics_mesh/oso_metrics/key_contributor_count.sql
  warehouse/metrics_mesh/oso_metrics/key_dependencies_count.sql
  warehouse/metrics_mesh/oso_metrics/key_developer_active_day_count.sql
  warehouse/metrics_mesh/oso_metrics/key_developer_count.sql
  warehouse/metrics_mesh/oso_metrics/key_first_commit.sql
  warehouse/metrics_mesh/oso_metrics/key_fork_count.sql
  warehouse/metrics_mesh/oso_metrics/key_funding_received.sql
  warehouse/metrics_mesh/oso_metrics/key_gas_fees.sql
  warehouse/metrics_mesh/oso_metrics/key_issue_count_closed.sql
  warehouse/metrics_mesh/oso_metrics/key_issue_count_opened.sql
  warehouse/metrics_mesh/oso_metrics/key_last_commit.sql
  warehouse/metrics_mesh/oso_metrics/key_pr_count_merged.sql
  warehouse/metrics_mesh/oso_metrics/key_pr_count_opened.sql
  warehouse/metrics_mesh/oso_metrics/key_pr_time_to_merge.sql
  warehouse/metrics_mesh/oso_metrics/key_release_count.sql
  warehouse/metrics_mesh/oso_metrics/key_repository_count.sql
  warehouse/metrics_mesh/oso_metrics/key_star_count.sql
  warehouse/metrics_mesh/oso_metrics/key_time_to_first_response.sql
  warehouse/metrics_mesh/oso_metrics/key_transaction_count.sql
  warehouse/metrics_tools/definition.py
  warehouse/metrics_tools/factory/factory.py
  warehouse/metrics_tools/factory/proxy/proxies.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat: pre-requisite intermediate models for DevRank
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_daily_to_project.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_monthly_to_project.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_to_collection.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_to_project.sql
Due: none

feat: pre-requisite intermediate models for DevRank (#2763)
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_daily_to_project.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_monthly_to_project.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_to_collection.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_to_project.sql
Due: none

fix: remove defillama invalid `slugs`
  warehouse/oso_dagster/assets/defillama.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: remove defillama invalid `slugs` (#2765)
  warehouse/oso_dagster/assets/defillama.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat(docs): include package usage example
  apps/docs/docs/tutorials/dependencies.mdx
Due: none

feat: openrank reputation model for developers
  poetry.lock
  pyproject.toml
  warehouse/metrics_mesh/models/intermediate/openrank/int_openrank_developer.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat: openrank reputation model for developers (#2768)
  poetry.lock
  pyproject.toml
  warehouse/metrics_mesh/models/intermediate/openrank/int_openrank_developer.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat(docs): include package usage example (#2767)
  apps/docs/docs/tutorials/dependencies.mdx
Due: none

refactor: devtool models
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__code_dependencies.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__developer_relationships.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__devtool_artifact_filter.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__metrics_by_project.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__onchain_developers.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__onchain_project_filter.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_metric__downstream_developers.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_metric__downstream_monthly_active_users.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_metric__downstream_transactions.sql
  warehouse/dbt/models/marts/metrics/optimism/int_superchain_filtered_events.sql
  warehouse/dbt/models/marts/metrics/optimism/int_superchain_onchain_builder_filter.sql
  warehouse/dbt/models/marts/metrics/optimism/int_superchain_transactions.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: remove onchain repo artifact ids
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__developer_relationships.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__devtool_to_onchain_project_registry.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat(dbt): metrics models for devtooling projects (#2745)
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__code_dependencies.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__developer_relationships.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__devtool_artifact_filter.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__devtool_to_onchain_project_registry.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__metrics_by_project.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__onchain_developers.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_metric__total_dependents.sql
  warehouse/dbt/models/marts/metrics/optimism/int_superchain_filtered_events.sql
  warehouse/dbt/models/marts/metrics/optimism/int_superchain_onchain_builder_filter.sql
  warehouse/dbt/models/marts/metrics/optimism/int_superchain_potential_bots.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat(dbt): simple onchain builder metrics
  warehouse/dbt/models/marts/metrics/optimism/int_superchain_filtered_events.sql
  warehouse/dbt/models/marts/metrics/optimism/int_superchain_onchain_builder_project_metrics.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: linting
  warehouse/dbt/models/marts/metrics/optimism/int_superchain_onchain_builder_project_metrics.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix(dbt): gas units
  warehouse/dbt/models/marts/metrics/optimism/int_superchain_onchain_builder_project_metrics.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

chore: add todo
  warehouse/dbt/models/marts/metrics/optimism/int_superchain_onchain_builder_project_metrics.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  poetry run ruff check --fix --force-exclude: any of: **/*.py
  pnpm pyright: any of: **/*.py
  poetry run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  poetry run sqlfluff lint: any of: warehouse/dbt/**/*.sql
