Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

.lintstagedrc:

{
  "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --max-warnings 0",
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "**/*.{md,json}": [
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "**/*.py": [
    "poetry run ruff check --fix --force-exclude",
    "pnpm pyright"
  ],
  "warehouse/dbt/**/*.sql": [
    "poetry run sqlfluff fix -f",
    "poetry run sqlfluff lint"
  ]
}

More sqlmesh deployment issues (#2052)
  warehouse/metrics_mesh/config.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

bump dagster-sqlmesh
  poetry.lock
  pyproject.toml
Due: none

bump dagster-sqlmesh to 0.2.0.dev2 (#2054)
  poetry.lock
  pyproject.toml
Due: none

Fixes lock for dagster-sqlmesh
  poetry.lock
Due: none

Fixes lock for dagster-sqlmesh (#2055)
  poetry.lock
Due: none

Rewrites bucket_day for clickhouse
  warehouse/metrics_mesh/config.py
  warehouse/metrics_mesh/lib/factories/factory.py
  warehouse/metrics_mesh/models/measures_factories.py
  warehouse/metrics_mesh/oso_metrics/active_days.sql
  warehouse/metrics_mesh/oso_metrics/contributor_activity_classification.sql
  warehouse/metrics_mesh/oso_metrics/developer_activity_classification.sql
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Rewrites bucket_day for clickhouse (#2056)
  warehouse/metrics_mesh/config.py
  warehouse/metrics_mesh/lib/factories/factory.py
  warehouse/metrics_mesh/models/measures_factories.py
  warehouse/metrics_mesh/oso_metrics/active_days.sql
  warehouse/metrics_mesh/oso_metrics/contributor_activity_classification.sql
  warehouse/metrics_mesh/oso_metrics/developer_activity_classification.sql
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Adds stars metric
  warehouse/metrics_mesh/oso_metrics/stars.sql
Due: none

Adds stars metric (#2058)
  warehouse/metrics_mesh/oso_metrics/stars.sql
Due: none

docs: reduce space between heading and post list
  apps/docs/src/components/BlogTagsPostsPage.tsx
Due: none

docs: reduce space between heading and post list (#2059)
  apps/docs/src/components/BlogTagsPostsPage.tsx
Due: none

Testing chdb
  warehouse/metrics_mesh/config.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

update poetry lock
  poetry.lock
Due: none

update poetry lock (#2060)
  poetry.lock
Due: none

Force casting during the union for clickhouse
  warehouse/metrics_mesh/lib/factories/factory.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Force casting during the union for clickhouse (#2061)
  warehouse/metrics_mesh/lib/factories/factory.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Removes many timeseries code metrics
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric_artifact__active_developers.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric_artifact__commits_prs_issues.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric_artifact__contributors.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric_artifact__fulltime_developers_average.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric_artifact__new_contributors.sql
  warehouse/dbt/models/intermediate/metrics/int_code_metrics_by_artifact.sql
  warehouse/dbt/models/intermediate/metrics/int_metrics.sql
  warehouse/dbt/models/intermediate/metrics/int_timeseries_metrics_by_artifact.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/int_timeseries_code_metrics_by_artifact__developers.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/int_timeseries_code_metrics_by_artifact_developer_days.sql
  warehouse/dbt/models/marts/metrics/code_metrics_by_artifact_v0.sql
  warehouse/dbt/models/marts/metrics/timeseries_metrics_by_artifact_v0.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Removes many timeseries code metrics (#2063)
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric_artifact__active_developers.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric_artifact__commits_prs_issues.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric_artifact__contributors.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric_artifact__fulltime_developers_average.sql
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric_artifact__new_contributors.sql
  warehouse/dbt/models/intermediate/metrics/int_code_metrics_by_artifact.sql
  warehouse/dbt/models/intermediate/metrics/int_metrics.sql
  warehouse/dbt/models/intermediate/metrics/int_timeseries_metrics_by_artifact.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/int_timeseries_code_metrics_by_artifact__developers.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/int_timeseries_code_metrics_by_artifact_developer_days.sql
  warehouse/dbt/models/marts/metrics/code_metrics_by_artifact_v0.sql
  warehouse/dbt/models/marts/metrics/timeseries_metrics_by_artifact_v0.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Makes dbt asset jobs
  warehouse/oso_dagster/assets/dbt.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

change name
  warehouse/oso_dagster/assets/dbt.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Makes dbt asset jobs (#2065)
  warehouse/oso_dagster/assets/dbt.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Forces limits on dagster job resources
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

fix
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

Forces limits on dagster job resources (#2067)
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

Yaml fix for runK8sConfig
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

Yaml fix for runK8sConfig (#2068)
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

Run dagster on spot instances
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

Run dagster on spot instances (#2070)
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

fix: use impersonated service accounts for BigQuery Data Transfer Service
  poetry.lock
  pyproject.toml
  warehouse/oso_dagster/constants.py
  warehouse/oso_dagster/resources/bq_dts.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: use impersonated service accounts for BigQuery Data Transfer (#2073)
  poetry.lock
  pyproject.toml
  warehouse/oso_dagster/constants.py
  warehouse/oso_dagster/resources/bq_dts.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Disable metrics entirely in dbt
  warehouse/dbt/models/intermediate/metrics/int_metrics.sql
  warehouse/dbt/models/marts/directory/metrics_v0.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Just remove the metrics files
  warehouse/dbt/models/intermediate/metrics/int_metrics.sql
  warehouse/dbt/models/marts/directory/metrics_v0.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Disable dbt metrics models (#2076)
  warehouse/dbt/models/intermediate/metrics/int_metrics.sql
  warehouse/dbt/models/marts/directory/metrics_v0.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

add: enable bigquery `resources` on open collective
  warehouse/oso_dagster/assets/open_collective.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat: social media artifacts
  warehouse/dbt/models/intermediate/directory/int_artifacts_in_ossd_by_project.sql
  warehouse/dbt/models/staging/oss-directory/stg_ossd__current_projects.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

add: enable bigquery `resources` on open collective (#2077)
  warehouse/oso_dagster/assets/open_collective.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat: social media artifacts (#2078)
  warehouse/dbt/models/intermediate/directory/int_artifacts_in_ossd_by_project.sql
  warehouse/dbt/models/staging/oss-directory/stg_ossd__current_projects.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

test: please delete me
  warehouse/oso_dagster/assets/deleteme.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: attempting another fix at impersonating service account
  warehouse/oso_dagster/resources/bq_dts.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: attempting another fix at impersonating service account (#2081)
  warehouse/oso_dagster/resources/bq_dts.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright
