Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

.lintstagedrc:

{
  "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --max-warnings 0",
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "**/*.{md,json}": [
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "**/*.py": [
    "poetry run ruff check --fix --force-exclude",
    "pnpm pyright"
  ],
  "warehouse/dbt/**/*.sql": [
    "poetry run sqlfluff fix -f",
    "poetry run sqlfluff lint"
  ]
}

fix random cp error
  ops/helm-charts/metrics-calculation-service/templates/app.yaml
Due: none

Attempt to fix an issue with trino max partitions errors
  warehouse/metrics_mesh/models/first_of_event_from_artifact.sql
  warehouse/metrics_mesh/models/last_of_event_from_artifact.sql
Due: none

Attempt to fix an issue with trino max partitions errors (#2649)
  warehouse/metrics_mesh/models/first_of_event_from_artifact.sql
  warehouse/metrics_mesh/models/last_of_event_from_artifact.sql
Due: none

Allows various container configs with the mcs (#2648)
  ops/helm-charts/metrics-calculation-service/Chart.yaml
  ops/helm-charts/metrics-calculation-service/templates/app.yaml
  ops/helm-charts/metrics-calculation-service/templates/service.yaml
  ops/helm-charts/metrics-calculation-service/values.yaml
  ops/k8s-apps/production/metrics-calculation-service/custom-helm-values.yaml
  warehouse/metrics_tools/factory/factory.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Helm is great
  ops/helm-charts/metrics-calculation-service/templates/app.yaml
Due: none

Bump mcs chart version
  ops/helm-charts/metrics-calculation-service/Chart.yaml
Due: none

Fix small deployment typo
  ops/helm-charts/metrics-calculation-service/Chart.yaml
  ops/helm-charts/metrics-calculation-service/templates/app.yaml
Due: none

Yaml is great
  ops/helm-charts/metrics-calculation-service/Chart.yaml
  ops/helm-charts/metrics-calculation-service/templates/app.yaml
Due: none

fix(dbt): include artifact_id
  warehouse/dbt/models/intermediate/directory/int_repositories.sql
  warehouse/dbt/models/marts/directory/repositories_v0.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix(dbt): add artifact_id to model (#2650)
  warehouse/dbt/models/intermediate/directory/int_repositories.sql
  warehouse/dbt/models/marts/directory/repositories_v0.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Test setting variable cluster size
  warehouse/metrics_tools/factory/factory.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix
  warehouse/metrics_tools/factory/factory.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Split rolling window work into 1 year at a time
  warehouse/metrics_tools/factory/factory.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Use websockets for job status and ensure retries
  poetry.lock
  pyproject.toml
  warehouse/metrics_tools/compute/client.py
  warehouse/metrics_tools/compute/cluster.py
  warehouse/metrics_tools/compute/constants.py
  warehouse/metrics_tools/compute/manual_testing_utils.py
  warehouse/metrics_tools/compute/server.py
  warehouse/metrics_tools/compute/service.py
  warehouse/metrics_tools/compute/test_server.py
  warehouse/metrics_tools/compute/test_service.py
  warehouse/metrics_tools/compute/types.py
  warehouse/metrics_tools/factory/factory.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Update mcs worker deployment
  ops/tf-modules/warehouse-cluster/main.tf
Due: none

more tf updates
  ops/tf-modules/warehouse-cluster/main.tf
Due: none

fix tests
  warehouse/metrics_tools/compute/test_server.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

bump blog date
  apps/docs/blog/2024-01-03-fund-your-dependencies/index.mdx
  apps/docs/blog/2024-12-16-rf6-ballot-box/01-voter-composition.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/02-round-size.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/03-rf5-distro.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/03-rf6-distro.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/04-rf4-distro.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/05-rf3-distro.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/08-cv-voters-all.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/08-cv-voters-grouped.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/09-sim-citizens.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/09-sim-guests.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/10-divisive-std.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/10-divisive-strip.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/10-stdev-groups.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/11-infra-curve.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/11-infra-distro.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/11-infra-votes-all.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/11-infra-votes-grouped.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/12-lship-curve.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/12-lship-distro.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/12-lship-votes-all.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/12-lship-votes-grouped.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/13-analytics-curve.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/13-analytics-distro.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/13-analytics-votes-all.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/13-analytics-votes-grouped.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/ballot-box-rf5.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/ballot-box-rf6.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Move some things around
  warehouse/metrics_tools/compute/app.py
  warehouse/metrics_tools/compute/server.py
  warehouse/metrics_tools/compute/test_app.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

chore: bump blog date (#2653)
  apps/docs/blog/2024-01-03-fund-your-dependencies/index.mdx
  apps/docs/blog/2024-12-16-rf6-ballot-box/01-voter-composition.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/02-round-size.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/03-rf5-distro.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/03-rf6-distro.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/04-rf4-distro.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/05-rf3-distro.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/08-cv-voters-all.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/08-cv-voters-grouped.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/09-sim-citizens.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/09-sim-guests.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/10-divisive-std.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/10-divisive-strip.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/10-stdev-groups.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/11-infra-curve.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/11-infra-distro.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/11-infra-votes-all.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/11-infra-votes-grouped.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/12-lship-curve.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/12-lship-distro.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/12-lship-votes-all.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/12-lship-votes-grouped.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/13-analytics-curve.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/13-analytics-distro.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/13-analytics-votes-all.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/13-analytics-votes-grouped.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/ballot-box-rf5.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/ballot-box-rf6.png
  apps/docs/blog/2024-12-16-rf6-ballot-box/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix debug
  warehouse/metrics_tools/compute/debug.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fix issues with SQLMesh run (#2651)
  ops/tf-modules/warehouse-cluster/main.tf
  poetry.lock
  pyproject.toml
  warehouse/metrics_tools/compute/app.py
  warehouse/metrics_tools/compute/client.py
  warehouse/metrics_tools/compute/cluster.py
  warehouse/metrics_tools/compute/constants.py
  warehouse/metrics_tools/compute/debug.py
  warehouse/metrics_tools/compute/manual_testing_utils.py
  warehouse/metrics_tools/compute/server.py
  warehouse/metrics_tools/compute/service.py
  warehouse/metrics_tools/compute/test_app.py
  warehouse/metrics_tools/compute/test_service.py
  warehouse/metrics_tools/compute/types.py
  warehouse/metrics_tools/factory/factory.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat(dbt): include additional columns in int_funding_events model
  warehouse/dbt/models/intermediate/funding/int_oss_funding_grants_to_project.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat(dbt): oss funding mart model
  warehouse/dbt/models/marts/events/oss_funding_v0.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat(docs): list most popular versioned models
  apps/docs/docs/integrate/datasets/index.mdx
Due: none

feat: oss_funding_v0 model (#2655)
  apps/docs/docs/integrate/datasets/index.mdx
  warehouse/dbt/models/intermediate/funding/int_oss_funding_grants_to_project.sql
  warehouse/dbt/models/marts/events/oss_funding_v0.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

allow job retries to be configurable
  warehouse/metrics_tools/factory/factory.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

set flux to this branch
  ops/clusters/warehouse/flux-system/gotk-sync.yaml
Due: none

temp uninstall
  ops/k8s-apps/production/kustomization.yaml
Due: none

reinstall
  ops/k8s-apps/production/kustomization.yaml
Due: none

ensure that we use scopes to resolve table deps
  warehouse/metrics_tools/utils/tables.py
  warehouse/metrics_tools/utils/test_tables.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

go spot or go home
  ops/tf-modules/warehouse-cluster/main.tf
Due: none

more tests
  warehouse/metrics_tools/utils/test_tables.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Improve progress reporting and error logging
  warehouse/metrics_tools/compute/client.py
  warehouse/metrics_tools/compute/service.py
  warehouse/metrics_tools/compute/test_app.py
  warehouse/metrics_tools/compute/types.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

restore main
  ops/clusters/warehouse/flux-system/gotk-sync.yaml
Due: none

More sqlmesh run tweaks (#2657)
  ops/tf-modules/warehouse-cluster/main.tf
  warehouse/metrics_tools/compute/client.py
  warehouse/metrics_tools/compute/service.py
  warehouse/metrics_tools/compute/test_app.py
  warehouse/metrics_tools/compute/types.py
  warehouse/metrics_tools/factory/factory.py
  warehouse/metrics_tools/utils/tables.py
  warehouse/metrics_tools/utils/test_tables.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Hopefully increase performance for metrics model
  warehouse/metrics_mesh/models/code/first_contribution_to_artifact.sql
  warehouse/metrics_mesh/models/code/first_contribution_to_collection.sql
  warehouse/metrics_mesh/models/code/first_contribution_to_project.sql
  warehouse/metrics_tools/factory/factory.py
  warehouse/metrics_tools/macros/macros.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

sqlmesh format
  warehouse/metrics_mesh/models/artifacts_by_project_v1.sql
  warehouse/metrics_mesh/models/code/issue_event_time_deltas.sql
  warehouse/metrics_mesh/models/events_daily_to_artifact.sql
  warehouse/metrics_mesh/models/events_daily_to_artifact_with_lag.sql
  warehouse/metrics_mesh/models/first_of_event_from_artifact.sql
  warehouse/metrics_mesh/models/last_of_event_from_artifact.sql
  warehouse/metrics_mesh/models/metrics_v0.sql
  warehouse/metrics_mesh/models/projects_by_collection_v1.sql
  warehouse/metrics_mesh/models/timeseries_metrics_by_artifact_v0.sql
  warehouse/metrics_mesh/models/timeseries_metrics_by_collection_v0.sql
  warehouse/metrics_mesh/models/timeseries_metrics_by_project_v0.sql
  warehouse/metrics_mesh/oso_metrics/contributor_activity_classification.sql
Due: none

Metrics model performance tweaks (#2658)
  warehouse/metrics_mesh/models/artifacts_by_project_v1.sql
  warehouse/metrics_mesh/models/code/first_contribution_to_artifact.sql
  warehouse/metrics_mesh/models/code/first_contribution_to_collection.sql
  warehouse/metrics_mesh/models/code/first_contribution_to_project.sql
  warehouse/metrics_mesh/models/code/issue_event_time_deltas.sql
  warehouse/metrics_mesh/models/events_daily_to_artifact.sql
  warehouse/metrics_mesh/models/events_daily_to_artifact_with_lag.sql
  warehouse/metrics_mesh/models/first_of_event_from_artifact.sql
  warehouse/metrics_mesh/models/last_of_event_from_artifact.sql
  warehouse/metrics_mesh/models/metrics_v0.sql
  warehouse/metrics_mesh/models/projects_by_collection_v1.sql
  warehouse/metrics_mesh/models/timeseries_metrics_by_artifact_v0.sql
  warehouse/metrics_mesh/models/timeseries_metrics_by_collection_v0.sql
  warehouse/metrics_mesh/models/timeseries_metrics_by_project_v0.sql
  warehouse/metrics_mesh/oso_metrics/contributor_activity_classification.sql
  warehouse/metrics_tools/factory/factory.py
  warehouse/metrics_tools/macros/macros.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Table dependencies resolution now fixed
  warehouse/metrics_tools/utils/tables.py
  warehouse/metrics_tools/utils/test_tables.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright
