Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

.lintstagedrc:

{
  "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --max-warnings 0",
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "**/*.{md,json}": [
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "**/*.py": [
    "poetry run ruff check --fix --force-exclude",
    "pnpm pyright"
  ],
  "warehouse/dbt/**/*.sql": [
    "poetry run sqlfluff fix -f",
    "poetry run sqlfluff lint"
  ]
}

set correct start date
  warehouse/metrics_mesh/models/staging/superchain/stg_superchain__deployers.sql
Due: none

fix handling of null or empty string in deployers
  warehouse/metrics_mesh/macros/onchain/deployers.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix typo
  warehouse/metrics_mesh/models/metrics_factories.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: removing hasura2 from root package.json
  package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix pnpm-lock
  pnpm-lock.yaml
Due: none

wip
  warehouse/metrics_mesh/macros/onchain/factory_deployments.py
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_contracts_factory_deployed.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_contracts_first_deployment.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_contracts_root_deployers.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_factories.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_factory_root_deployers.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_old_root_deployers.sql.bak
  warehouse/metrics_mesh/models/staging/superchain/stg_superchain__factories.sql
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: run Hasura schema
  apps/hasura-clickhouse/.env.example
  apps/hasura-clickhouse/oso_subgraph/connector/oso_clickhouse/configuration.json
  apps/hasura-clickhouse/oso_subgraph/metadata/ArtifactsByCollectionV1.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/ArtifactsByUserV1.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/ArtifactsV1.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/CodeMetricsByArtifactV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/CodeMetricsByProjectV1.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/CollectionsV1.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/ContractsV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/EventIndexingStatusByProjectV1.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/EventTypesV1.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/FundingMetricsByProjectV1.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/MetricsV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/OnchainMetricsByProjectV1.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/PackageOwnersV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/PointInTimeV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/ProjectsByCollectionV1.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/ProjectsV1.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/RepositoriesV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/SbomsV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/TimeseriesEventsAuxIssuesByArtifactV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/TimeseriesEventsByArtifactV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/TimeseriesMetricsByArtifactV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/TimeseriesMetricsByCollectionV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/TimeseriesMetricsByProjectV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/UsersV1.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/oso_clickhouse-types.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/oso_clickhouse.hml
  manual-work-log.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: run Hasura schema (#3005)
  apps/hasura-clickhouse/.env.example
  apps/hasura-clickhouse/oso_subgraph/connector/oso_clickhouse/configuration.json
  apps/hasura-clickhouse/oso_subgraph/metadata/ArtifactsByCollectionV1.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/ArtifactsByUserV1.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/ArtifactsV1.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/CodeMetricsByArtifactV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/CodeMetricsByProjectV1.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/CollectionsV1.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/ContractsV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/EventIndexingStatusByProjectV1.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/EventTypesV1.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/FundingMetricsByProjectV1.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/MetricsV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/OnchainMetricsByProjectV1.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/PackageOwnersV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/PointInTimeV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/ProjectsByCollectionV1.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/ProjectsV1.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/RepositoriesV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/SbomsV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/TimeseriesEventsAuxIssuesByArtifactV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/TimeseriesEventsByArtifactV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/TimeseriesMetricsByArtifactV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/TimeseriesMetricsByCollectionV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/TimeseriesMetricsByProjectV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/UsersV1.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/oso_clickhouse-types.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/oso_clickhouse.hml
  manual-work-log.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

more wip
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_contracts_deployment.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_contracts_factory_deployed.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_contracts_overview.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_contracts_root_deployers.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_derived_contracts.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_factories.sql
  warehouse/metrics_mesh/models/marts/directory/contracts_v0.sql
Due: none

Fix start time
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_contracts_root_deployers.sql
Due: none

Hide all environment files
  .gitignore
Due: none

Update index.md
  apps/docs/blog/2024-07-15-impact-of-retro-funding/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

remove prints
  warehouse/oso_dagster/assets/clickhouse_dbt_marts.py
  warehouse/oso_dagster/assets/dbt.py
  warehouse/oso_dagster/cbt/bq.py
  warehouse/oso_dagster/cbt/cbt.py
  warehouse/oso_dagster/cbt/context.py
  warehouse/oso_dagster/factories/dlt.py
  warehouse/oso_dagster/factories/gcs.py
  warehouse/oso_dagster/factories/goldsky/additional.py
  warehouse/oso_dagster/factories/goldsky/assets.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix asyncio issues
  warehouse/oso_dagster/config.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/resources/kube.py
  warehouse/oso_dagster/resources/mcs.py
  warehouse/oso_dagster/resources/sqlmesh.py
  warehouse/oso_dagster/resources/trino.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

improve doc for the hack
  warehouse/metrics_tools/transfer/clickhouse.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Change to deployment_date
  warehouse/metrics_mesh/models/marts/directory/contracts_v0.sql
Due: none

Cast deployment_date to date
  warehouse/metrics_mesh/models/marts/directory/contracts_v0.sql
Due: none

Fix contracts v0 bugs (#3008)
  ops/tf-modules/warehouse-cluster/main.tf
  warehouse/metrics_mesh/macros/onchain/deployers.py
  warehouse/metrics_mesh/macros/onchain/factory_deployments.py
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_contracts_deployment.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_contracts_overview.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_contracts_root_deployers.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_contracts_transactions_weekly.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_deployers.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_derived_contracts.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_derived_contracts_sort_weights.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_factories.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_factory_root_deployers.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_old_root_deployers.sql.bak
  warehouse/metrics_mesh/models/marts/directory/contracts_v0.sql
  warehouse/metrics_mesh/models/staging/superchain/stg_superchain__deployers.sql
  warehouse/metrics_mesh/models/staging/superchain/stg_superchain__factories.sql
  warehouse/metrics_mesh/models/staging/superchain/stg_superchain__proxies.sql
  warehouse/metrics_mesh/models/staging/superchain/stg_superchain__traces.sql
  warehouse/metrics_mesh/models/staging/superchain/stg_superchain__transactions.sql
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fix clickhouse export (#3009)
  .gitignore
  warehouse/metrics_tools/transfer/clickhouse.py
  warehouse/oso_dagster/assets/clickhouse_dbt_marts.py
  warehouse/oso_dagster/assets/dbt.py
  warehouse/oso_dagster/cbt/bq.py
  warehouse/oso_dagster/cbt/cbt.py
  warehouse/oso_dagster/cbt/context.py
  warehouse/oso_dagster/config.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/factories/dlt.py
  warehouse/oso_dagster/factories/gcs.py
  warehouse/oso_dagster/factories/goldsky/additional.py
  warehouse/oso_dagster/factories/goldsky/assets.py
  warehouse/oso_dagster/resources/kube.py
  warehouse/oso_dagster/resources/mcs.py
  warehouse/oso_dagster/resources/sqlmesh.py
  warehouse/oso_dagster/resources/trino.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: typos in documentation files (#3007)
  apps/docs/blog/2024-07-15-impact-of-retro-funding/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

improve first/last event performance by using aggregated data
  warehouse/metrics_mesh/models/intermediate/events/code/int_first_contribution_to_artifact.sql
  warehouse/metrics_mesh/models/intermediate/events/code/int_first_contribution_to_collection.sql
  warehouse/metrics_mesh/models/intermediate/events/code/int_first_contribution_to_project.sql
  warehouse/metrics_mesh/models/intermediate/events/code/int_issue_event_time_deltas.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_monthly_to_artifact.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_weekly_to_artifact.sql
  warehouse/metrics_mesh/models/intermediate/events/int_first_contribution_to_project.sql
  warehouse/metrics_mesh/models/intermediate/events/int_first_of_event_from_artifact.sql
  warehouse/metrics_mesh/models/intermediate/events/int_last_of_event_from_artifact.sql
Due: none

try to fix mcs
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_tools/utils/tables.py
  warehouse/metrics_tools/utils/testing.py
  warehouse/oso_lets_go/cli.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add optional arg to docker publishing
  .github/scripts/publish-docker-containers.sh
Due: none

Fix cache
  warehouse/metrics_tools/compute/cache.py
  warehouse/metrics_tools/compute/test_cache.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

change deployment
  ops/k8s-apps/production/metrics-calculation-service/custom-helm-values.yaml
Due: none

Fix issues with mcs websockets and caching
  docker/images/oso/Dockerfile
  warehouse/metrics_tools/compute/app.py
  warehouse/metrics_tools/compute/cache.py
  warehouse/metrics_tools/compute/service.py
  warehouse/metrics_tools/compute/types.py
  warehouse/metrics_tools/factory/generated.py
  warehouse/metrics_tools/runner.py
  warehouse/oso_lets_go/cli.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Ignore mcs during testing
  warehouse/metrics_tools/factory/generated.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

change auto shutdown logic
  ops/k8s-apps/production/metrics-calculation-service/custom-helm-values.yaml
  warehouse/metrics_tools/compute/app.py
  warehouse/metrics_tools/compute/cluster.py
  warehouse/metrics_tools/compute/service.py
  warehouse/metrics_tools/compute/types.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix tests
  warehouse/metrics_tools/compute/test_service.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

chore: add logs to GKE cluster
  ops/tf-modules/warehouse-cluster/main.tf
Due: none

feat: add freshness alert sensor and job for assets to dagster
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/factories/alerts.py
  warehouse/oso_dagster/utils/alerts.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

chore: reuse the same k8s config for both alerting jobs
  warehouse/oso_dagster/factories/alerts.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

chore: add logs to GKE cluster (#3017)
  ops/tf-modules/warehouse-cluster/main.tf
Due: none

feat: add freshness alert sensor and job for assets to dagster (#2994)
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/factories/alerts.py
  warehouse/oso_dagster/utils/alerts.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fix testing
  warehouse/metrics_tools/compute/cache.py
  warehouse/metrics_tools/compute/test_cache.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright
