Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

.lintstagedrc:

{
    "**/*.{js,jsx,ts,tsx,sol}": [
        "eslint --flag v10_config_lookup_from_file --fix --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff format",
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ]
}

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
  ops/k8s-apps/production/scheduler/custom-helm-values.yaml
Due: none

chore(frontend): remove unused dependencies (#6031)
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(osoprotobufs): create static model proto
  lib/osoprotobufs/definitions/static-model.proto
  lib/osoprotobufs/python/osoprotobufs/query_pb2.pyi
  lib/osoprotobufs/python/osoprotobufs/static_model_pb2.py
  lib/osoprotobufs/python/osoprotobufs/static_model_pb2.pyi
  lib/osoprotobufs/typescript/src/static-model.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(static-model): implement createStaticModelRunRequest
  apps/frontend/app/api/v1/osograph/schema/resolvers/scheduler.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/static-model.ts
  apps/frontend/app/api/v1/osograph/utils/validation.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: add support for dlt filesystem using r2
  warehouse/scheduler/scheduler/config.py
  warehouse/scheduler/scheduler/mq/handlers/static_model.py
  warehouse/scheduler/scheduler/resources.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

WIP
  warehouse/scheduler/scheduler/mq/handlers/static_model.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: use system bucket_url
  warehouse/scheduler/scheduler/mq/handlers/static_model.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(static-model): finish implementing static model consumer
  apps/frontend/app/api/v1/osograph/schema/resolvers/system.ts
  warehouse/scheduler/scheduler/dlt_destination.py
  warehouse/scheduler/scheduler/mq/handlers/static_model.py
  warehouse/scheduler/scheduler/resources.py
  warehouse/scheduler/scheduler/utils.py
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(static-model): include static model in the scheduler deployment
  ops/k8s-apps/production/scheduler/custom-helm-values.yaml
Due: none

File upload handler (#6028)
  apps/frontend/app/api/v1/osograph/schema/resolvers/scheduler.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/static-model.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/system.ts
  apps/frontend/app/api/v1/osograph/utils/validation.ts
  lib/osoprotobufs/definitions/static-model.proto
  lib/osoprotobufs/python/osoprotobufs/query_pb2.pyi
  lib/osoprotobufs/python/osoprotobufs/static_model_pb2.py
  lib/osoprotobufs/python/osoprotobufs/static_model_pb2.pyi
  lib/osoprotobufs/typescript/src/static-model.ts
  ops/k8s-apps/production/scheduler/custom-helm-values.yaml
  warehouse/scheduler/scheduler/config.py
  warehouse/scheduler/scheduler/dlt_destination.py
  warehouse/scheduler/scheduler/mq/handlers/static_model.py
  warehouse/scheduler/scheduler/resources.py
  warehouse/scheduler/scheduler/utils.py
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: add required env for sync to pubsub
  .github/workflows/sync-protobuf-pubsub-schema.yml
Due: none

fix: add new options for scheduler
  ops/k8s-apps/base/scheduler/scheduler.yaml
  warehouse/scheduler/scheduler/config.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: static files deployment (#6034)
  .github/workflows/sync-protobuf-pubsub-schema.yml
  ops/k8s-apps/base/scheduler/scheduler.yaml
  warehouse/scheduler/scheduler/config.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(static-model): run dlt in a different thread
  warehouse/scheduler/scheduler/mq/handlers/static_model.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(static-model): run dlt in a different thread (#6048)
  warehouse/scheduler/scheduler/mq/handlers/static_model.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: never scale down trino resource
  warehouse/oso_dagster/oso_dagster/resources/kube.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: breaks down large int_artifacts_by_project_all_sources model
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/int_artifacts_by_project_all_sources.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/int_artifacts_by_project_all_unioned_not_distinct.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/int_artifacts_by_project_discovered.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/openlabelsinitiative/int_artifacts_by_project_in_openlabelsinitiative_with_artifact_types.sql
Due: none

no star
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/int_artifacts_by_project_all_sources.sql
Due: none

fix: cr fix
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/openlabelsinitiative/int_artifacts_by_project_in_openlabelsinitiative_with_artifact_types.sql
Due: none

fix: bad partition_by
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/int_artifacts_by_project_all_unioned_not_distinct.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/int_artifacts_by_project_discovered.sql
Due: none

fix: breaks down large int_artifacts_by_project_all_sources model (#6058)
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/int_artifacts_by_project_all_sources.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/int_artifacts_by_project_all_unioned_not_distinct.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/int_artifacts_by_project_discovered.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/openlabelsinitiative/int_artifacts_by_project_in_openlabelsinitiative_with_artifact_types.sql
Due: none

fix(ops): adds more trino metrics
  ops/k8s-apps/production/consumer-trino/pod-monitoring.yaml
  ops/k8s-apps/production/trino/pod-monitoring.yaml
Due: none

fix: attempt to speed up join with better partitioning
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/openlabelsinitiative/int_artifacts_by_project_in_openlabelsinitiative_with_artifact_types.sql
Due: none

fix: attempt to speed up join with better partitioning (#6061)
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/openlabelsinitiative/int_artifacts_by_project_in_openlabelsinitiative_with_artifact_types.sql
Due: none

fix(query-rewriter): fixes to rewrite.
  lib/query-rewriter/queryrewriter/rewrite.py
  lib/query-rewriter/queryrewriter/test_rewrite.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(query-rewriter): fixes to rewrite. (#6063)
  lib/query-rewriter/queryrewriter/rewrite.py
  lib/query-rewriter/queryrewriter/test_rewrite.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): update artifact join condition
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/openlabelsinitiative/int_artifacts_by_project_in_openlabelsinitiative_with_artifact_types.sql
Due: none

use inner instead of left
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/openlabelsinitiative/int_artifacts_by_project_in_openlabelsinitiative_with_artifact_types.sql
Due: none

fix(sqlmesh): partition artifacts mainly by artifact_id
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/int_artifacts.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/openlabelsinitiative/int_artifacts_by_project_in_openlabelsinitiative_with_artifact_types.sql
Due: none

fix(sqlmesh): update artifact join condition (#6064)
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/int_artifacts.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/openlabelsinitiative/int_artifacts_by_project_in_openlabelsinitiative_with_artifact_types.sql
Due: none

fix: only heartbeat resource scales down trino (#6052)
  warehouse/oso_dagster/oso_dagster/resources/kube.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright
