Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

.lintstagedrc:

{
  "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --max-warnings 0",
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "**/*.{md,json}": [
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "**/*.py": [
    "poetry run ruff check --fix --force-exclude",
    "pnpm pyright"
  ],
  "warehouse/dbt/**/*.sql": [
    "poetry run sqlfluff fix -f",
    "poetry run sqlfluff lint"
  ]
}

Fix yet another typo
  warehouse/dbt/models/intermediate/metrics/timeseries/int_timeseries_code_metrics_by_artifact_developer_days.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Fix yet another typo (#1960)
  warehouse/dbt/models/intermediate/metrics/timeseries/int_timeseries_code_metrics_by_artifact_developer_days.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: enumerate all columns before union
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/int_timeseries_superchain_metrics__all.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Attempt to use partitioning for developer days
  warehouse/dbt/models/intermediate/metrics/timeseries/int_timeseries_code_metrics_by_artifact_developer_days.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Attempt to use partitioning for developer days (#1961)
  warehouse/dbt/models/intermediate/metrics/timeseries/int_timeseries_code_metrics_by_artifact_developer_days.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Fix dlt factory to handle duckdb
  warehouse/oso_dagster/factories/dlt.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

remove empty handling - for now
  warehouse/oso_dagster/factories/dlt.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fix dlt factory (#1962)
  warehouse/oso_dagster/factories/dlt.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

docs: update data challenge page
  apps/docs/docs/contribute/challenges/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

docs: update data challenge page (#1963)
  apps/docs/docs/contribute/challenges/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: use different `dlt`resource names and make fields `optional`
  warehouse/oso_dagster/assets/open_collective.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: `open_collective` scraper pipeline (#1952)
  warehouse/oso_dagster/assets/open_collective.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add int
  warehouse/dbt/models/intermediate/users/int_addresses_usage.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Update deps
  poetry.lock
  pyproject.toml
Due: none

Adds initial sqlmesh skeleton
  .gitignore
  warehouse/clickhouse-mesh/audits/.gitkeep
  warehouse/clickhouse-mesh/config.yaml
  warehouse/clickhouse-mesh/macros/.gitkeep
  warehouse/clickhouse-mesh/macros/__init__.py
  warehouse/clickhouse-mesh/models/.gitkeep
  warehouse/clickhouse-mesh/models/incremental_model.sql
  warehouse/clickhouse-mesh/seeds/.gitkeep
  warehouse/clickhouse-mesh/tests/.gitkeep
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Add SQLMesh (#1967)
  .gitignore
  poetry.lock
  pyproject.toml
  warehouse/clickhouse-mesh/audits/.gitkeep
  warehouse/clickhouse-mesh/config.yaml
  warehouse/clickhouse-mesh/macros/.gitkeep
  warehouse/clickhouse-mesh/macros/__init__.py
  warehouse/clickhouse-mesh/models/.gitkeep
  warehouse/clickhouse-mesh/models/incremental_model.sql
  warehouse/clickhouse-mesh/seeds/.gitkeep
  warehouse/clickhouse-mesh/tests/.gitkeep
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Copy int_events to clickhouse
  warehouse/dbt/models/intermediate/events/int_events.sql
  warehouse/oso_dagster/assets/clickhouse_dbt_marts.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

Copy int_events to clickhouse (#1968)
  warehouse/dbt/models/intermediate/events/int_events.sql
  warehouse/oso_dagster/assets/clickhouse_dbt_marts.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat: MetricsDataProvider
  apps/frontend/.env.local.example
  apps/frontend/components/dataprovider/metrics-data-provider.tsx
  apps/frontend/lib/config.ts
  apps/frontend/lib/graphql/queries.ts
  apps/frontend/lib/parsing.ts
  apps/frontend/lib/types/db.ts
Due: none

feat: MetricsDataProvider (#1932)
  apps/frontend/.env.local.example
  apps/frontend/components/dataprovider/metrics-data-provider.tsx
  apps/frontend/lib/config.ts
  apps/frontend/lib/graphql/queries.ts
  apps/frontend/lib/parsing.ts
  apps/frontend/lib/types/db.ts
Due: none

feat: add event table mart
  warehouse/dbt/models/intermediate/events/int_events.sql
  warehouse/dbt/models/intermediate/events/int_events_to_project.sql
  warehouse/dbt/models/intermediate/events/int_events_with_artifact_id.sql
  warehouse/dbt/models/intermediate/metrics/int_metrics.sql
  warehouse/dbt/models/marts/events/timeseries_events_by_artifact_v0.sql
  warehouse/oso_dagster/assets/clickhouse_dbt_marts.py
  warehouse/oso_dagster/factories/bq2clickhouse.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat: add event table mart (#1976)
  warehouse/dbt/models/intermediate/events/int_events.sql
  warehouse/dbt/models/intermediate/events/int_events_to_project.sql
  warehouse/dbt/models/intermediate/events/int_events_with_artifact_id.sql
  warehouse/dbt/models/intermediate/metrics/int_metrics.sql
  warehouse/dbt/models/marts/events/timeseries_events_by_artifact_v0.sql
  warehouse/oso_dagster/assets/clickhouse_dbt_marts.py
  warehouse/oso_dagster/factories/bq2clickhouse.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: rename AlgoliaSearchModal
  apps/frontend/components/widgets/algolia.tsx
  apps/frontend/plasmic-init-client.tsx
Due: none

fix: rename AlgoliaSearchModal (#1980)
  apps/frontend/components/widgets/algolia.tsx
  apps/frontend/plasmic-init-client.tsx
Due: none

Testing cube dev
  .gitignore
  model/cubes/artifacts_by_project_v1.yml
  model/cubes/artifacts_v1.yml
  model/cubes/timeseries_events_by_artifact_v0.yml
  model/views/example_view.yml
  warehouse/cube/compose.yml
  warehouse/cube/model/cubes/artifacts_by_project_v1.yml
  warehouse/cube/model/cubes/artifacts_v1.yml
  warehouse/cube/model/cubes/collections_v1.yml
  warehouse/cube/model/cubes/event_types_v1.yml
  warehouse/cube/model/cubes/from_artifacts.yml
  warehouse/cube/model/cubes/projects_by_collection_v1.yml
  warehouse/cube/model/cubes/projects_v1.yml
  warehouse/cube/model/cubes/timeseries_events_by_artifact_v0.yml
  warehouse/cube/model/cubes/to_artifacts.yml
  warehouse/cube/model/views/example_view.yml
Due: none

feat: Adding AlgoliaSearchList
  apps/frontend/components/widgets/algolia.tsx
  apps/frontend/plasmic-init-client.tsx
Due: none

feat: Adding AlgoliaSearchList (#1983)
  apps/frontend/components/widgets/algolia.tsx
  apps/frontend/plasmic-init-client.tsx
Due: none

feat: Algolia infinite scroll
  apps/frontend/components/widgets/algolia.tsx
  apps/frontend/plasmic-init-client.tsx
Due: none

feat: Algolia infinite scroll (#1984)
  apps/frontend/components/widgets/algolia.tsx
  apps/frontend/plasmic-init-client.tsx
Due: none

feat: algolia looking good!
  .github/workflows/ci-default.yml
  .github/workflows/refresh-test-credentials.yml
  apps/frontend/app/artifacts/[source]/[...name]/page.tsx
  apps/frontend/app/projects/[...name]/page.tsx
  apps/frontend/app/projects/page.tsx
Due: none

feat: algolia looking good! (#1985)
  .github/workflows/ci-default.yml
  .github/workflows/refresh-test-credentials.yml
  apps/frontend/app/artifacts/[source]/[...name]/page.tsx
  apps/frontend/app/projects/[...name]/page.tsx
  apps/frontend/app/projects/page.tsx
Due: none

add: three more metric models
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__daily_active_addresses_avg_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__monthly_active_addresses_avg_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__transactions_sum_6_months.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

add: int_artifacts_by_collection model
  warehouse/dbt/models/intermediate/directory/int_artifacts_by_collection.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

add: artifacts_by_collection_v1 model
  warehouse/dbt/models/marts/directory/artifacts_by_collection_v1.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Updates
  pnpm-lock.yaml
  pnpm-workspace.yaml
  warehouse/cube/model/cubes/artifacts_by_project_v1.yml
  warehouse/cube/model/cubes/artifacts_v1.yml
  warehouse/cube/model/cubes/collections_v1.yml
  warehouse/cube/model/cubes/from_artifacts.yml
  warehouse/cube/model/cubes/projects_by_collection_v1.yml
  warehouse/cube/model/cubes/projects_v1.yml
  warehouse/cube/model/cubes/timeseries_events_by_artifact_v0.yml
  warehouse/cube/model/cubes/to_artifacts.yml
  warehouse/cube/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

remove breaking code
  warehouse/cube/model/cubes/timeseries_events_by_artifact_v0.yml
Due: none

Update gitignore
  .gitignore
Due: none

Update readme
  warehouse/cube/README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

typo fix
  warehouse/cube/README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Testing cube dev (#1982)
  .gitignore
  model/cubes/artifacts_by_project_v1.yml
  model/cubes/artifacts_v1.yml
  model/cubes/timeseries_events_by_artifact_v0.yml
  model/views/example_view.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  warehouse/cube/README.md
  warehouse/cube/compose.yml
  warehouse/cube/model/cubes/artifacts_by_project_v1.yml
  warehouse/cube/model/cubes/artifacts_v1.yml
  warehouse/cube/model/cubes/collections_v1.yml
  warehouse/cube/model/cubes/event_types_v1.yml
  warehouse/cube/model/cubes/from_artifacts.yml
  warehouse/cube/model/cubes/projects_by_collection_v1.yml
  warehouse/cube/model/cubes/projects_v1.yml
  warehouse/cube/model/cubes/timeseries_events_by_artifact_v0.yml
  warehouse/cube/model/cubes/to_artifacts.yml
  warehouse/cube/model/views/example_view.yml
  warehouse/cube/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check
