Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

go
  ops/helm-charts/hive-metastore/Chart.yaml
  ops/helm-charts/hive-metastore/templates/deployment.yaml
Due: none

see if we can dynamically access hive
  ops/k8s-apps/local/trino/custom-helm-values.yaml
Due: none

go
  ops/k8s-apps/local/trino/custom-helm-values.yaml
Due: none

refactor(sqlmesh): clean up and renaming for core int models
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_events.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_traces_txs_joined.sql
Due: none

feat(sqlmesh): joins qualifying onchain events by project and user
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_events_by_project_and_user.sql
Due: none

feat(sqlmesh): implements latest eligibility model on top of new models
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_s7_onchain_builder_eligibility.sql
Due: none

fix(sqlmesh): points to latest builder eligibility model
  warehouse/metrics_mesh/models/intermediate/superchain/devtools/int_superchain_code_dependencies.sql
Due: none

chore(sqlmesh): cleanup old models
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain__traces_joined.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_filtered_events.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_filtered_trace_events.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_onchain_builder_activity_metrics.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_onchain_builder_filter.sql
Due: none

feat(sqlmesh): latest onchain builder eligibility checks (#2859)
  warehouse/metrics_mesh/models/intermediate/superchain/devtools/int_superchain_code_dependencies.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_events.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_events_by_project_and_user.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_filtered_events.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_onchain_builder_activity_metrics.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_onchain_builder_filter.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_s7_onchain_builder_eligibility.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_traces_txs_joined.sql
Due: none

test
  ops/k8s-infrastructure/kind/local-registry.yaml
  ops/kind/cluster.yaml
  ops/opsscripts/cli.py
  ops/opsscripts/utils/__init__.py
  ops/opsscripts/utils/dockertools.py
  poetry.lock
  pyproject.toml
  warehouse/metrics_mesh/config.py
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add dask
  ops/k8s-operators/common/dask/dask-operator.yaml
  ops/k8s-operators/common/dask/kustomization.yaml
  ops/k8s-operators/kind/kustomization.yaml
Due: none

fix
  ops/opsscripts/utils/dockertools.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add local registry
  ops/k8s-infrastructure/kind/kustomization.yaml
Due: none

fix
  ops/k8s-operators/common/dask/kustomization.yaml
  ops/k8s-operators/kind/kustomization.yaml
Due: none

fix
  ops/k8s-operators/common/dask/dask-operator.yaml
Due: none

postgres copy is working
  warehouse/metrics_mesh/config.py
  warehouse/metrics_mesh/macros/oso_source.py
  warehouse/metrics_tools/local/config.py
  warehouse/metrics_tools/local/loader.py
  warehouse/metrics_tools/local/utils.py
  warehouse/metrics_tools/source/__init__.py
  warehouse/metrics_tools/source/rewrite.py
  warehouse/oso_lets_go/cli.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Update ops/k8s-apps/local/minio/minio.yaml
  ops/k8s-apps/local/minio/minio.yaml
Due: none

fix reference
  warehouse/metrics_mesh/models/staging/defi_llama/stg__defi_llama.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

dlt configuration for op-atlas (#2843)
  warehouse/oso_dagster/assets/op_atlas.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix(docs): change documentation link to the correct one
  CONTRIBUTING.md
  README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Fixes some duckdb running issues
  warehouse/metrics_mesh/macros/oso_source.py
  warehouse/metrics_tools/local/utils.py
  warehouse/metrics_tools/source/rewrite.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

small update to readme
  warehouse/metrics_mesh/README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Fixes some duckdb running issues (#2863)
  warehouse/metrics_mesh/macros/oso_source.py
  warehouse/metrics_tools/local/utils.py
  warehouse/metrics_tools/source/rewrite.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

refactor(sqlmesh): bring more info into the code dependency model
  warehouse/metrics_mesh/models/intermediate/directory/int_latest_release_by_repo.sql
  warehouse/metrics_mesh/models/intermediate/superchain/devtools/int_superchain_code_dependencies.sql
  warehouse/metrics_mesh/models/intermediate/superchain/devtools/int_superchain_devtool_artifact_filter.sql
Due: none

feat(sqlmesh): create dev to project graph
  warehouse/metrics_mesh/models/code/int_developers_by_project.sql
Due: none

fix(frontend): redirect paths to the correct urls
  apps/frontend/next.config.js
Due: none

Fix docs url redirect (#2867)
  CONTRIBUTING.md
  README.md
  apps/frontend/next.config.js
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(sqlmesh): use events_daily instead of bq table
  warehouse/metrics_mesh/models/intermediate/directory/int_latest_release_by_repo.sql
Due: none

fix(sqlmesh): change project id field
  warehouse/metrics_mesh/models/intermediate/superchain/devtools/int_superchain_code_dependencies.sql
Due: none

refactor(sqlmesh): bring more info into the code dependency model (#2864)
  warehouse/metrics_mesh/models/intermediate/directory/int_latest_release_by_repo.sql
  warehouse/metrics_mesh/models/intermediate/superchain/devtools/int_superchain_code_dependencies.sql
  warehouse/metrics_mesh/models/intermediate/superchain/devtools/int_superchain_devtool_artifact_filter.sql
Due: none

fix(dbt): add sbom staging model
  warehouse/dbt/models/staging/oss-directory/stg_ossd__current_sbom.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

refactor(dbt): update sbom/package logic
  warehouse/dbt/models/intermediate/directory/int_packages.sql
  warehouse/dbt/models/intermediate/directory/int_sbom_artifacts.sql
  warehouse/dbt/models/staging/oss-directory/stg_ossd__current_sbom.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

chore(docs): update tutorial example
  apps/docs/docs/tutorials/dependencies.mdx
Due: none

fix(dbt): add playground sources
  warehouse/dbt/models/base_playground_sources.yml
  warehouse/dbt/models/playground_sources.yml
Due: none

chore: create cronjob for uploading duckdb schema to R2
  .github/scripts/run-duckdb-local.sh
  .github/scripts/write-s3.sh
  .github/workflows/check-duckdb-schema.yml
Due: none

trigger action on push to branch for testing porpuses
  .github/workflows/check-duckdb-schema.yml
Due: none

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  poetry run ruff check --fix --force-exclude: any of: **/*.py
  pnpm pyright: any of: **/*.py
  poetry run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  poetry run sqlfluff lint: any of: warehouse/dbt/**/*.sql
