Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

.lintstagedrc:

{
  "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --max-warnings 0",
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "**/*.{md,json}": [
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "**/*.py": [
    "poetry run ruff check --fix --force-exclude",
    "pnpm pyright"
  ],
  "warehouse/dbt/**/*.sql": [
    "poetry run sqlfluff fix -f",
    "poetry run sqlfluff lint"
  ]
}

Metrics Calculation Service to deploy
  warehouse/metrics_tools/compute/cache.py
  warehouse/metrics_tools/compute/cluster.py
  warehouse/metrics_tools/compute/flight.py
  warehouse/metrics_tools/compute/run_get.py
  warehouse/metrics_tools/compute/server.py
  warehouse/metrics_tools/compute/service.py
  warehouse/metrics_tools/compute/types.py
  warehouse/metrics_tools/compute/worker.py
  warehouse/metrics_tools/definition.py
  warehouse/metrics_tools/evaluator.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

renaming
  warehouse/metrics_tools/compute/run_get.py
  warehouse/metrics_tools/compute/server.py
  warehouse/metrics_tools/compute/service.py
  warehouse/metrics_tools/compute/types.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: remove rounds dagster asset
  warehouse/oso_dagster/assets/gitcoin.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: round naming
  warehouse/dbt/models/intermediate/funding/int_gitcoin_funding_events.sql
  warehouse/dbt/models/marts/gitcoin/gitcoin_funding_events_by_project_v0.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix(dbt): gitcoin round namings (#2600)
  warehouse/dbt/models/intermediate/funding/int_gitcoin_funding_events.sql
  warehouse/dbt/models/marts/gitcoin/gitcoin_funding_events_by_project_v0.sql
  warehouse/oso_dagster/assets/gitcoin.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

docs: update gtc datasets
  apps/docs/docs/integrate/overview/index.mdx
Due: none

Working wip
  poetry.lock
  pyproject.toml
  warehouse/metrics_tools/compute/__init__.py
  warehouse/metrics_tools/compute/cache.py
  warehouse/metrics_tools/compute/cluster.py
  warehouse/metrics_tools/compute/run_get.py
  warehouse/metrics_tools/compute/server.py
  warehouse/metrics_tools/compute/service.py
  warehouse/metrics_tools/compute/types.py
  warehouse/metrics_tools/compute/worker.py
  warehouse/metrics_tools/utils/env.py
  warehouse/metrics_tools/utils/logging.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

rename fields
  warehouse/metrics_tools/compute/types.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

updates
  warehouse/metrics_tools/compute/cluster.py
  warehouse/metrics_tools/compute/server.py
  warehouse/metrics_tools/compute/service.py
  warehouse/metrics_tools/compute/types.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

docs
  warehouse/metrics_tools/compute/cache.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

wip: use thread based management
  ops/k8s-apps/base/metrics-calc-service/metrics-calc-service.yaml
  warehouse/metrics_tools/builder/server.graphql
  warehouse/metrics_tools/compute/cache.py
  warehouse/metrics_tools/compute/cluster.py
  warehouse/metrics_tools/compute/service.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat(dbt): add pypi source and deps_dev distribution metadata source
  warehouse/dbt/models/deps_dev_sources.yml
  warehouse/dbt/models/pypi_sources.yml
Due: none

feat(dbt): add pypi source and deps_dev distribution metadata source (#2602)
  warehouse/dbt/models/deps_dev_sources.yml
  warehouse/dbt/models/pypi_sources.yml
Due: none

docs: update gtc datasets (#2601)
  apps/docs/docs/integrate/overview/index.mdx
Due: none

Add Flux v2.4.0 component manifests
  ops/clusters/kind/flux-system/gotk-components.yaml
Due: none

Add Flux v2.4.0 component manifests
  ops/clusters/kind/what/flux-system/gotk-components.yaml
Due: none

Add Flux sync manifests
  ops/clusters/kind/flux-system/gotk-sync.yaml
  ops/clusters/kind/flux-system/kustomization.yaml
Due: none

fix
  ops/clusters/kind/what/flux-system/gotk-components.yaml
Due: none

remove need for flux-system secret
  ops/clusters/kind/flux-system/gotk-sync.yaml
Due: none

use public repo
  ops/clusters/kind/flux-system/gotk-sync.yaml
Due: none

adds urls to the pyproject.toml
  pyproject.toml
Due: none

adds urls to the pyproject.toml (#2610)
  pyproject.toml
Due: none

remove
  ops/clusters/kind/flux-system/gotk-components.yaml
  ops/clusters/kind/flux-system/gotk-sync.yaml
  ops/clusters/kind/flux-system/kustomization.yaml
Due: none

Setup kind infrastructure base
  ops/clusters/kind/README.md
  ops/clusters/kind/infrastructure.yaml
  ops/clusters/kind/local/cluster.yaml
  ops/k8s-infrastructure/common/cert-manager.yaml
  ops/k8s-infrastructure/gke/cloudsql-proxy-operator.yaml
  ops/k8s-infrastructure/gke/ingress-internal-cloudflare.yaml
  ops/k8s-infrastructure/gke/kube-secrets-init.yaml
  ops/k8s-infrastructure/gke/kustomization.yaml
  ops/k8s-infrastructure/kind/kustomization.yaml
  ops/scripts/setup-kind.sh
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Fix
  ops/clusters/local/README.md
  ops/clusters/local/infrastructure.yaml
  ops/clusters/local/kind/cluster.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

move kind cluster config out of flux area
  ops/kind/cluster.yaml
  ops/scripts/setup-kind.sh
Due: none

fix
  ops/clusters/local/infrastructure.yaml
Due: none

Test redis deployment
  ops/k8s-apps/local/kustomization.yaml
  ops/k8s-apps/local/redis/kustomization.yaml
  ops/k8s-apps/local/redis/redis-deployment.yaml
  ops/k8s-apps/local/trino/custom-helm-values.yaml
  ops/k8s-apps/local/trino/kustomization.yaml
Due: none

connect apps
  ops/clusters/local/apps.yaml
Due: none

fix
  ops/k8s-apps/local/redis/kustomization.yaml
Due: none

add minio
  ops/k8s-apps/local/minio/kustomization.yaml
  ops/k8s-apps/local/minio/minio.yaml
  ops/k8s-infrastructure/kind/minio-operator.yaml
Due: none

connect minio
  ops/k8s-apps/local/kustomization.yaml
Due: none

connect minio in apps
  warehouse/metrics_tools/Dockerfile
  warehouse/metrics_tools/Dockerfile.test
Due: none

fix minio
  ops/k8s-infrastructure/kind/kustomization.yaml
Due: none

fix
  ops/k8s-infrastructure/kind/minio-operator.yaml
Due: none

use updated docs for minio
  ops/k8s-apps/local/minio/minio.yaml
Due: none

fix
  ops/k8s-apps/local/minio/minio.yaml
Due: none

fix cluster issuance
  ops/k8s-infrastructure/common/cert-manager.yaml
Due: none
