Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

make into a deployment
  ops/k8s-apps/local/minio/minio.yaml
  ops/k8s-apps/local/test/pod.yaml
  ops/kind/cluster.yaml
  ops/opsscripts/__init__.py
  ops/opsscripts/cli.py
  ops/scripts/setup-kind.sh
  poetry.lock
  pyproject.toml
  warehouse/oso_lets_go/cli.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

remove unnecessary files
  warehouse/metrics_tools/Dockerfile
  warehouse/metrics_tools/Dockerfile.test
Due: none

centralize log handler setup
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Local Kind (#2801)
  ops/clusters/local/README.md
  ops/clusters/local/apps.yaml
  ops/clusters/local/infrastructure.yaml
  ops/k8s-apps/local/kustomization.yaml
  ops/k8s-apps/local/minio/kustomization.yaml
  ops/k8s-apps/local/minio/minio.yaml
  ops/k8s-apps/local/redis/kustomization.yaml
  ops/k8s-apps/local/redis/redis-deployment.yaml
  ops/k8s-apps/local/test/README.md
  ops/k8s-apps/local/test/kustomization.yaml
  ops/k8s-apps/local/test/pod.yaml
  ops/k8s-apps/local/trino/custom-helm-values.yaml
  ops/k8s-apps/local/trino/kustomization.yaml
  ops/k8s-infrastructure/common/cert-manager.yaml
  ops/k8s-infrastructure/common/self-signed-certs.yaml
  ops/k8s-infrastructure/gke/cloudsql-proxy-operator.yaml
  ops/k8s-infrastructure/gke/ingress-internal-cloudflare.yaml
  ops/k8s-infrastructure/gke/kube-secrets-init.yaml
  ops/k8s-infrastructure/gke/kustomization.yaml
  ops/k8s-infrastructure/kind/kustomization.yaml
  ops/k8s-infrastructure/kind/minio-operator.yaml
  ops/kind/cluster.yaml
  ops/opsscripts/__init__.py
  ops/opsscripts/cli.py
  poetry.lock
  pyproject.toml
  warehouse/metrics_tools/local/utils.py
  warehouse/oso_lets_go/cli.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright

fix docker build for oso
  docker/images/oso/Dockerfile
Due: none

fix: add `sbom` progress logging
  warehouse/oso_dagster/dlt_sources/github_repos/__init__.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fix docker build for oso (#2802)
  docker/images/oso/Dockerfile
Due: none

fix: add `sbom` progress logging (#2803)
  warehouse/oso_dagster/dlt_sources/github_repos/__init__.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

data: materialize int_proxies as a table in dbt
  warehouse/dbt/models/intermediate/blockchain_artifacts/int_proxies.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

data: materialize int_proxies as a table in dbt (#2804)
  warehouse/dbt/models/intermediate/blockchain_artifacts/int_proxies.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat: migrate most marts/directory models to sqlmesh
  warehouse/metrics_mesh/models/artifacts_by_project_v1.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_derived_contracts.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_all_artifacts.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts_by_collection.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts_by_project.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts_in_ossd_by_project.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_collections.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_contracts_by_project.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_packages.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_projects.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_projects_by_collection.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_sbom_artifacts.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_to_collection.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_to_project.sql
  warehouse/metrics_mesh/models/intermediate/superchain/devtools/int_superchain_code_dependencies.sql
  warehouse/metrics_mesh/models/intermediate/superchain/devtools/int_superchain_devtool_artifact_filter.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_filtered_events.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_onchain_builder_activity_metrics.sql
  warehouse/metrics_mesh/models/marts/directory/artifacts_by_collection_v1.sql
  warehouse/metrics_mesh/models/marts/directory/artifacts_by_project_v1.sql
  warehouse/metrics_mesh/models/marts/directory/artifacts_v1.sql
  warehouse/metrics_mesh/models/marts/directory/collections_v1.sql
  warehouse/metrics_mesh/models/marts/directory/contracts_v0.sql
  warehouse/metrics_mesh/models/marts/directory/package_owners_v0.sql
  warehouse/metrics_mesh/models/marts/directory/projects_by_collection_v1.sql
  warehouse/metrics_mesh/models/marts/directory/projects_v1.sql
  warehouse/metrics_mesh/models/marts/directory/sboms_v0.sql
  warehouse/metrics_mesh/models/projects_by_collection_v1.sql
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fixes deployment problems caused by kind changes
  ops/clusters/local/apps.yaml
  ops/clusters/local/certificates.yaml
  ops/clusters/local/operators.yaml
  ops/clusters/warehouse/certificates.yaml
  ops/clusters/warehouse/operators.yaml
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/base/trino/trino.yaml
  ops/k8s-apps/local/metrics-calculation-service/custom-helm-values.yaml
  ops/k8s-apps/local/metrics-calculation-service/kustomization.yaml
  ops/k8s-apps/production/trino/custom-helm-values.yaml
  ops/k8s-certificates/common/self-signed-certs.yaml
  ops/k8s-certificates/gke/kustomization.yaml
  ops/k8s-certificates/kind/kustomization.yaml
  ops/k8s-infrastructure/common/cert-manager.yaml
  ops/k8s-infrastructure/gke/kustomization.yaml
  ops/k8s-infrastructure/kind/kustomization.yaml
  ops/k8s-operators/gke/kustomization.yaml
  ops/k8s-operators/kind/kustomization.yaml
  ops/k8s-operators/kind/minio-operator.yaml
  ops/opsscripts/cli.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fixes deployment problems caused by kind changes (#2807)
  ops/clusters/local/apps.yaml
  ops/clusters/local/certificates.yaml
  ops/clusters/local/operators.yaml
  ops/clusters/warehouse/certificates.yaml
  ops/clusters/warehouse/operators.yaml
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/base/trino/trino.yaml
  ops/k8s-apps/local/metrics-calculation-service/custom-helm-values.yaml
  ops/k8s-apps/local/metrics-calculation-service/kustomization.yaml
  ops/k8s-apps/production/trino/custom-helm-values.yaml
  ops/k8s-certificates/common/self-signed-certs.yaml
  ops/k8s-certificates/gke/kustomization.yaml
  ops/k8s-certificates/kind/kustomization.yaml
  ops/k8s-infrastructure/common/cert-manager.yaml
  ops/k8s-infrastructure/gke/kustomization.yaml
  ops/k8s-infrastructure/kind/kustomization.yaml
  ops/k8s-operators/gke/kustomization.yaml
  ops/k8s-operators/kind/kustomization.yaml
  ops/k8s-operators/kind/minio-operator.yaml
  ops/opsscripts/cli.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Hotfix: yaml using wrong whitespace
  ops/k8s-apps/production/trino/custom-helm-values.yaml
Due: none

add: superchain txns source
  warehouse/dbt/models/superchain_sources.yml
Due: none

add chain summary events
  warehouse/dbt/models/intermediate/blockchain_events/int_superchain_transactions_chain_summary.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

add transaction sandbox
  warehouse/dbt/models/intermediate/blockchain_events/int_superchain_transactions_sandbox.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

include oli data from gcs
  warehouse/oso_dagster/assets/growthepie.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

include oli data from gcs (#2819)
  warehouse/oso_dagster/assets/growthepie.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Add sandbox for growth grants queries (#2818)
  warehouse/dbt/models/intermediate/blockchain_events/int_superchain_transactions_chain_summary.sql
  warehouse/dbt/models/intermediate/blockchain_events/int_superchain_transactions_sandbox.sql
  warehouse/dbt/models/superchain_sources.yml
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: move oli datato its own source
  warehouse/oso_dagster/assets/growthepie.py
  warehouse/oso_dagster/assets/openlabelsinitiative.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: move oli data to its own source (#2820)
  warehouse/oso_dagster/assets/growthepie.py
  warehouse/oso_dagster/assets/openlabelsinitiative.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat(docs): featured datasets table
  apps/docs/docs/integrate/datasets/index.mdx
Due: none

feat(docs): featured datasets table (#2822)
  apps/docs/docs/integrate/datasets/index.mdx
Due: none

add staging model for OLI
  warehouse/dbt/models/oli_sources.yml
  warehouse/dbt/models/staging/oli/stg_oli__tag_mapping.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

add staging model for OLI (#2823)
  warehouse/dbt/models/oli_sources.yml
  warehouse/dbt/models/staging/oli/stg_oli__tag_mapping.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: update models and utils.py to treat records as JSON
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts_in_ossd_by_project.sql
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat: migrate most marts/directory models to sqlmesh (#2806)
  warehouse/metrics_mesh/models/artifacts_by_project_v1.sql
  warehouse/metrics_mesh/models/intermediate/blockchain_artifacts/int_derived_contracts.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_all_artifacts.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts_by_collection.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts_by_project.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts_in_ossd_by_project.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_collections.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_contracts_by_project.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_packages.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_projects.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_projects_by_collection.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_sbom_artifacts.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_to_collection.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_to_project.sql
  warehouse/metrics_mesh/models/intermediate/superchain/devtools/int_superchain_code_dependencies.sql
  warehouse/metrics_mesh/models/intermediate/superchain/devtools/int_superchain_devtool_artifact_filter.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_filtered_events.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_onchain_builder_activity_metrics.sql
  warehouse/metrics_mesh/models/marts/directory/artifacts_by_collection_v1.sql
  warehouse/metrics_mesh/models/marts/directory/artifacts_by_project_v1.sql
  warehouse/metrics_mesh/models/marts/directory/artifacts_v1.sql
  warehouse/metrics_mesh/models/marts/directory/collections_v1.sql
  warehouse/metrics_mesh/models/marts/directory/contracts_v0.sql
  warehouse/metrics_mesh/models/marts/directory/package_owners_v0.sql
  warehouse/metrics_mesh/models/marts/directory/projects_by_collection_v1.sql
  warehouse/metrics_mesh/models/marts/directory/projects_v1.sql
  warehouse/metrics_mesh/models/marts/directory/sboms_v0.sql
  warehouse/metrics_mesh/models/projects_by_collection_v1.sql
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

data: move some of the previously unnamed models in sqlmesh
  warehouse/metrics_mesh/models/intermediate/metrics/int_metric_names_from_artifact.sql
  warehouse/metrics_mesh/models/intermediate/metrics/int_metric_names_from_collection.sql
  warehouse/metrics_mesh/models/intermediate/metrics/int_metric_names_from_project.sql
  warehouse/metrics_mesh/models/marts/metrics/metrics_v0.sql
  warehouse/metrics_mesh/models/marts/metrics/timeseries_metrics_by_artifact_v0.sql
  warehouse/metrics_mesh/models/marts/metrics/timeseries_metrics_by_collection_v0.sql
  warehouse/metrics_mesh/models/marts/metrics/timeseries_metrics_by_project_v0.sql
Due: none

data: move some of the previously unnamed models in sqlmesh (#2824)
  warehouse/metrics_mesh/models/intermediate/metrics/int_metric_names_from_artifact.sql
  warehouse/metrics_mesh/models/intermediate/metrics/int_metric_names_from_collection.sql
  warehouse/metrics_mesh/models/intermediate/metrics/int_metric_names_from_project.sql
  warehouse/metrics_mesh/models/marts/metrics/metrics_v0.sql
  warehouse/metrics_mesh/models/marts/metrics/timeseries_metrics_by_artifact_v0.sql
  warehouse/metrics_mesh/models/marts/metrics/timeseries_metrics_by_collection_v0.sql
  warehouse/metrics_mesh/models/marts/metrics/timeseries_metrics_by_project_v0.sql
Due: none

data: materialize int_events__* as tables
  warehouse/dbt/models/intermediate/events/int_events__dependencies.sql
  warehouse/dbt/models/intermediate/events/int_events__open_collective.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

data: materialize int_events__* as tables (#2825)
  warehouse/dbt/models/intermediate/events/int_events__dependencies.sql
  warehouse/dbt/models/intermediate/events/int_events__open_collective.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat: int_events in sqlmesh
  warehouse/metrics_mesh/models/events_daily_to_artifact.sql
  warehouse/metrics_mesh/models/first_of_event_from_artifact.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_daily_to_project.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_monthly_to_project.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_to_collection.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_to_project.sql
  warehouse/metrics_mesh/models/intermediate/superchain/devtools/int_superchain_devtool_artifact_filter.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_filtered_events.sql
  warehouse/metrics_mesh/models/last_of_event_from_artifact.sql
  warehouse/metrics_mesh/models/marts/directory/artifacts_by_user_v1.sql
  warehouse/metrics_mesh/models/marts/directory/repositories_v0.sql
  warehouse/metrics_mesh/models/marts/directory/users_v1.sql
  warehouse/metrics_mesh/models/marts/events/event_types_v1.sql
  warehouse/metrics_mesh/models/marts/events/timeseries_events_by_artifact_v0.sql
  warehouse/metrics_mesh/tests/test_events_daily_to_artifact.yml
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat: int_events in sqlmesh (#2826)
  warehouse/metrics_mesh/models/events_daily_to_artifact.sql
  warehouse/metrics_mesh/models/first_of_event_from_artifact.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_daily_to_project.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_monthly_to_project.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_to_collection.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_to_project.sql
  warehouse/metrics_mesh/models/intermediate/superchain/devtools/int_superchain_devtool_artifact_filter.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_filtered_events.sql
  warehouse/metrics_mesh/models/last_of_event_from_artifact.sql
  warehouse/metrics_mesh/models/marts/directory/artifacts_by_user_v1.sql
  warehouse/metrics_mesh/models/marts/directory/repositories_v0.sql
  warehouse/metrics_mesh/models/marts/directory/users_v1.sql
  warehouse/metrics_mesh/models/marts/events/event_types_v1.sql
  warehouse/metrics_mesh/models/marts/events/timeseries_events_by_artifact_v0.sql
  warehouse/metrics_mesh/tests/test_events_daily_to_artifact.yml
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

data: materialize more staging models around users
  warehouse/dbt/models/intermediate/users/int_first_time_addresses.sql
  warehouse/dbt/models/staging/farcaster/stg_farcaster__addresses.sql
  warehouse/dbt/models/staging/farcaster/stg_farcaster__profiles.sql
  warehouse/dbt/models/staging/lens/stg_lens__owners.sql
  warehouse/dbt/models/staging/lens/stg_lens__profiles.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

data: materialize more staging models around users (#2827)
  warehouse/dbt/models/intermediate/users/int_first_time_addresses.sql
  warehouse/dbt/models/staging/farcaster/stg_farcaster__addresses.sql
  warehouse/dbt/models/staging/farcaster/stg_farcaster__profiles.sql
  warehouse/dbt/models/staging/lens/stg_lens__owners.sql
  warehouse/dbt/models/staging/lens/stg_lens__profiles.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

data: remaining directory mart models to sqlmesh
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts_by_user.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts_history.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_repositories.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_users.sql
  warehouse/metrics_mesh/models/marts/directory/artifacts_by_user_v1.sql
  warehouse/metrics_mesh/models/marts/directory/repositories_v0.sql
  warehouse/metrics_mesh/models/marts/directory/users_v1.sql
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

data: remaining directory mart models to sqlmesh (#2828)
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts_by_user.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts_history.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_repositories.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_users.sql
  warehouse/metrics_mesh/models/marts/directory/artifacts_by_user_v1.sql
  warehouse/metrics_mesh/models/marts/directory/repositories_v0.sql
  warehouse/metrics_mesh/models/marts/directory/users_v1.sql
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: @oso_id should take in columns, not strings
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts_by_user.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts_in_ossd_by_project.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_contracts_by_project.sql
  warehouse/metrics_mesh/models/marts/events/event_types_v1.sql
Due: none

fix: @oso_id should take in columns, not strings (#2829)
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts_by_user.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts_in_ossd_by_project.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_contracts_by_project.sql
  warehouse/metrics_mesh/models/marts/events/event_types_v1.sql
Due: none

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  poetry run ruff check --fix --force-exclude: any of: **/*.py
  pnpm pyright: any of: **/*.py
  poetry run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  poetry run sqlfluff lint: any of: warehouse/dbt/**/*.sql
