Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

chore: remove definitely unused code (#3762)
  .github/workflows/warehouse-meltano-ecosystems-ost.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  warehouse/ansible-collection/integration/README.md
  warehouse/ansible-collection/integration/galaxy.yml
  warehouse/ansible-collection/integration/meta/runtime.yml
  warehouse/ansible-collection/integration/playbooks/setup_postgres_replication.yml
  warehouse/ansible-collection/integration/plugins/README.md
  warehouse/ansible-collection/integration/roles/postgres/README.md
  warehouse/ansible-collection/integration/roles/postgres/defaults/main.yml
  warehouse/ansible-collection/integration/roles/postgres/handlers/main.yml
  warehouse/ansible-collection/integration/roles/postgres/meta/main.yml
  warehouse/ansible-collection/integration/roles/postgres/tasks/main.yml
  warehouse/ansible-collection/integration/roles/postgres/tests/inventory
  warehouse/ansible-collection/integration/roles/postgres/tests/test.yml
  warehouse/ansible-collection/integration/roles/postgres/vars/main.yml
  warehouse/ansible-collection/integration/setup_postgres_replication.yml
  warehouse/cube/.cubecloud
  warehouse/cube/README.md
  warehouse/cube/compose.yml
  warehouse/cube/model/cubes/artifacts_by_project_v1.yml
  warehouse/cube/model/cubes/artifacts_v1.yml
  warehouse/cube/model/cubes/collections_v1.yml
  warehouse/cube/model/cubes/event_types_v1.yml
  warehouse/cube/model/cubes/from_artifacts.yml
  warehouse/cube/model/cubes/projects_by_collection_v1.yml
  warehouse/cube/model/cubes/projects_v1.yml
  warehouse/cube/model/cubes/timeseries_events_by_artifact_v0.yml
  warehouse/cube/model/cubes/to_artifacts.yml
  warehouse/cube/model/views/example_view.yml
  warehouse/cube/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore!: more deletions
  docker/images/oso/Dockerfile
  warehouse/oso_dagster/assets/clickhouse_dbt_marts.py
  warehouse/oso_dagster/assets/dbt.py
  warehouse/oso_dagster/compile.py
  warehouse/oso_dagster/config.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/utils/__init__.py
  warehouse/oso_dagster/utils/dbt.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: rename dbt reference that is not dbt related
  ops/helm-charts/oso-dagster/Chart.yaml
  ops/helm-charts/oso-dagster/templates/config-map.yaml
  warehouse/oso_dagster/config.py
  warehouse/oso_dagster/factories/bq_dts.py
  warehouse/oso_dagster/resources/bq_dts.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore!(flux): set flux to use production instead of main
  ops/clusters/warehouse/flux-system/gotk-sync.yaml
Due: none

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-calculation-service/custom-helm-values.yaml
Due: none

chore!(flux): set flux to use production instead of main (#3764)
  ops/clusters/warehouse/flux-system/gotk-sync.yaml
Due: none

chore: sets up a post production sync action
  .github/workflows/post-production-sync.yml
  .github/workflows/warehouse-publish-docker-containers.yml
Due: none

chore: sets up a post production sync action (#3765)
  .github/workflows/post-production-sync.yml
  .github/workflows/warehouse-publish-docker-containers.yml
Due: none

chore: allow audits to pass in testing
  warehouse/oso_lets_go/cli.py
  warehouse/oso_sqlmesh/audits/no_gaps.sql
  warehouse/oso_sqlmesh/config.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: update constants
  warehouse/metrics_tools/models/constants.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: fix ensure testing is enabled
  warehouse/oso_lets_go/cli.py
  warehouse/oso_sqlmesh/models/staging/github/stg_github__events.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: add new linter
  warehouse/metrics_tools/factory/factory.py
  warehouse/oso_sqlmesh/config.py
  warehouse/oso_sqlmesh/linter/incremental.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: remove print
  warehouse/oso_sqlmesh/linter/incremental.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(sqlmesh): gitcoin artifacts by project
  warehouse/oso_sqlmesh/macros/onchain/chain_name.py
  warehouse/oso_sqlmesh/models/intermediate/directory/int_artifacts_by_project_in_gitcoin_grants.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(sqlmesh): add repos all
  warehouse/oso_sqlmesh/models/intermediate/code_artifacts/int_repositories_all.sql
Due: none

fix: implement batch processing for `BigQuery` transfers to handle large datasets
  warehouse/oso_dagster/resources/sqlmesh.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: implement batch processing for `BigQuery` transfers to handle large datasets (#3772)
  warehouse/oso_dagster/resources/sqlmesh.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): use all_repos instead of ossd_current_repos
  warehouse/oso_sqlmesh/models/staging/op_atlas/stg_op_atlas_project_repository.sql
  warehouse/oso_sqlmesh/tests/test_stg_op_atlas_project_repository.yml
Due: none

fix: batch `BigQuery` load jobs at `transfer` level
  warehouse/metrics_tools/transfer/bq.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: batch `BigQuery` load jobs at `transfer` level (#3777)
  warehouse/metrics_tools/transfer/bq.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: replace datetrunc for no_gaps
  warehouse/metrics_tools/factory/factory.py
  warehouse/oso_sqlmesh/audits/no_gaps.sql
  warehouse/oso_sqlmesh/macros/time_aggregation_bucket.py
  warehouse/oso_sqlmesh/models/staging/deps-dev/stg_deps_dev__packages.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix
  warehouse/oso_sqlmesh/audits/no_gaps.sql
Due: none

chore: enable for biannually
  warehouse/metrics_tools/factory/factory.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: fix audit factory
  warehouse/oso_sqlmesh/models/metrics_factories.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: fixes date_spine generation
  warehouse/oso_sqlmesh/audits/no_gaps.sql
  warehouse/oso_sqlmesh/macros/extended_date_spine.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: interval conversion
  warehouse/oso_sqlmesh/macros/extended_date_spine.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: another attempt
  warehouse/oso_sqlmesh/macros/extended_date_spine.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  uv run ruff check --fix --force-exclude: any of: **/*.py
  uv run isort: any of: **/*.py
  pnpm pyright: any of: **/*.py
  uv run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  uv run sqlfluff lint: any of: warehouse/dbt/**/*.sql
