Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

.lintstagedrc:

{
  "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --max-warnings 0",
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "**/*.{md,json}": [
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "**/*.py": [
    "poetry run ruff check --fix --force-exclude",
    "pnpm pyright"
  ],
  "warehouse/dbt/**/*.sql": [
    "poetry run sqlfluff fix -f",
    "poetry run sqlfluff lint"
  ]
}

join artifacts_by_address on trusted_user_model
  warehouse/dbt/models/intermediate/users/int_superchain_trusted_users.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: simplify user model joins
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__trusted_daily_active_users_avg_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__trusted_monthly_active_users_avg_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__trusted_transactions_sum_6_months.sql
  warehouse/dbt/models/intermediate/users/int_superchain_trusted_users.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: filter out events before first of the month
  warehouse/dbt/macros/models/timeseries.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__monthly_active_addresses_avg_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__trusted_monthly_active_users_avg_6_months.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat: update Hasura3 configs
  apps/hasura3/oso_subgraph/connector/oso_clickhouse/configuration.json
  apps/hasura3/oso_subgraph/metadata/CodeMetricsByArtifactV0.hml
  apps/hasura3/oso_subgraph/metadata/MetricsV0.hml
  apps/hasura3/oso_subgraph/metadata/TimeseriesMetricsByArtifactV0.hml
  apps/hasura3/oso_subgraph/metadata/TimeseriesMetricsByProjectV0.hml
  apps/hasura3/oso_subgraph/metadata/oso_clickhouse.hml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: rename metrics tables
  apps/hasura3/oso_subgraph/metadata/CodeMetricsByArtifactV0.hml
  apps/hasura3/oso_subgraph/metadata/MetricsV0.hml
  apps/hasura3/oso_subgraph/metadata/TimeseriesMetricsByArtifactV0.hml
  apps/hasura3/oso_subgraph/metadata/TimeseriesMetricsByProjectV0.hml
Due: none

fix: rename metrics tables (#1921)
  apps/hasura3/oso_subgraph/metadata/CodeMetricsByArtifactV0.hml
  apps/hasura3/oso_subgraph/metadata/MetricsV0.hml
  apps/hasura3/oso_subgraph/metadata/TimeseriesMetricsByArtifactV0.hml
  apps/hasura3/oso_subgraph/metadata/TimeseriesMetricsByProjectV0.hml
Due: none

fix: update transaction sources and use new OP source (#1919)
  warehouse/dbt/macros/models/first_time_addresses.sql
  warehouse/dbt/macros/models/potential_bots.sql
  warehouse/dbt/models/marts/superchain/verification/rf4_network_share.sql
  warehouse/dbt/models/marts/superchain/verification/rf4_transactions_window.sql
  warehouse/dbt/models/optimism_sources.yml
  warehouse/dbt/models/staging/optimism/stg_optimism__addresses_gas_and_usage.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Allows overriding the k8s config
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

Update dbt to use persistent nodes
  warehouse/oso_dagster/assets/dbt.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Allow overriding k8s config (#1922)
  ops/k8s-apps/base/dagster/dagster.yaml
  warehouse/oso_dagster/assets/dbt.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fixes schedules for missing block numbers
  warehouse/oso_dagster/factories/goldsky/additional.py
  warehouse/oso_dagster/schedules.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

refactor: add windowing macro
  warehouse/dbt/macros/models/timeseries.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__daily_active_addresses_avg_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__gas_fees_sum_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__monthly_active_addresses_avg_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__transactions_sum_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__trusted_daily_active_users_avg_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__trusted_monthly_active_users_avg_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__trusted_transactions_sum_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__trusted_users_onboarded_sum_6_months.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Fixes schedules for missing block numbers (#1923)
  warehouse/oso_dagster/factories/goldsky/additional.py
  warehouse/oso_dagster/schedules.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

refactor: add project join to macro
  warehouse/dbt/macros/models/timeseries.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__daily_active_addresses_avg_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__gas_fees_sum_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__monthly_active_addresses_avg_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__transactions_sum_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__trusted_daily_active_users_avg_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__trusted_monthly_active_users_avg_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__trusted_transactions_sum_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__trusted_users_onboarded_sum_6_months.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Fix more op tags
  warehouse/oso_dagster/factories/goldsky/additional.py
  warehouse/oso_dagster/factories/goldsky/assets.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fix more op tags (#1924)
  warehouse/oso_dagster/factories/goldsky/additional.py
  warehouse/oso_dagster/factories/goldsky/assets.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fixes more references for optimism sources
  warehouse/dbt/models/base_playground_sources.yml
  warehouse/dbt/models/intermediate/blockchain_events/int_optimism_traces.sql
  warehouse/dbt/models/intermediate/blockchain_events/int_optimism_transactions.sql
  warehouse/dbt/models/playground_sources.yml
  warehouse/dbt/models/staging/optimism/stg_optimism__factories.sql
  warehouse/dbt/models/staging/optimism/stg_optimism__proxies.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Fixes more references for optimism sources (#1925)
  warehouse/dbt/models/base_playground_sources.yml
  warehouse/dbt/models/intermediate/blockchain_events/int_optimism_traces.sql
  warehouse/dbt/models/intermediate/blockchain_events/int_optimism_transactions.sql
  warehouse/dbt/models/playground_sources.yml
  warehouse/dbt/models/staging/optimism/stg_optimism__factories.sql
  warehouse/dbt/models/staging/optimism/stg_optimism__proxies.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Upgrade all dagster components (and other python)
  ops/helm-charts/oso-dagster/Chart.lock
  ops/helm-charts/oso-dagster/Chart.yaml
  poetry.lock
  pyproject.toml
Due: none

Upgrade all dagster components (and other python) (#1926)
  ops/helm-charts/oso-dagster/Chart.lock
  ops/helm-charts/oso-dagster/Chart.yaml
  poetry.lock
  pyproject.toml
Due: none

docs: job page
  apps/docs/docs/contribute/join-team.mdx
Due: none

docs: job page (#1927)
  apps/docs/docs/contribute/join-team.mdx
Due: none

Testing deployment options
  warehouse/oso_dagster/assets/dbt.py
  warehouse/oso_dagster/factories/common.py
  warehouse/oso_dagster/factories/goldsky/additional.py
  warehouse/oso_dagster/factories/goldsky/config.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Testing deployment options (#1928)
  warehouse/oso_dagster/assets/dbt.py
  warehouse/oso_dagster/factories/common.py
  warehouse/oso_dagster/factories/goldsky/additional.py
  warehouse/oso_dagster/factories/goldsky/config.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Testing a repeatable element
  apps/frontend/components/repeat/repeat.tsx
  apps/frontend/lib/plasmic-register.ts
Due: none

register component
  apps/frontend/plasmic-init-client.tsx
Due: none

add column size to ui
  apps/frontend/components/repeat/repeat.tsx
Due: none

integrate test data
  apps/frontend/components/repeat/repeat.tsx
Due: none

Use correct data provider
  apps/frontend/components/repeat/repeat.tsx
Due: none

test
  apps/frontend/components/repeat/repeat.tsx
  apps/frontend/package.json
  apps/frontend/plasmic-init.ts
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: delete outdated graphql API calls
  apps/frontend/components/dataprovider/event-data-provider.tsx
  apps/frontend/components/dataprovider/table-data-provider.tsx
  apps/frontend/lib/graphql/cached-queries.ts
  apps/frontend/lib/graphql/queries.ts
  apps/frontend/plasmic-init-client.tsx
Due: none

fix: delete outdated graphql API calls (#1929)
  apps/frontend/components/dataprovider/event-data-provider.tsx
  apps/frontend/components/dataprovider/table-data-provider.tsx
  apps/frontend/lib/graphql/cached-queries.ts
  apps/frontend/lib/graphql/queries.ts
  apps/frontend/plasmic-init-client.tsx
Due: none

Use persistent nodes for running jobs
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

Use persistent nodes for running jobs (#1930)
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

make metrics ephemeral and unify into single model
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/int_timeseries_superchain_metrics__all.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__daily_active_addresses_avg_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__gas_fees_sum_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__monthly_active_addresses_avg_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__transactions_sum_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__trusted_daily_active_users_avg_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__trusted_monthly_active_users_avg_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__trusted_transactions_sum_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__trusted_users_onboarded_sum_6_months.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat: oss-funding source and event model
  warehouse/dbt/models/intermediate/funding/int_oss_funding_grants_to_project.sql
  warehouse/dbt/models/static_data_sources.yml
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

add: wire up downstream metrics
  warehouse/dbt/models/intermediate/metrics/funding/int_funding_metric__grants_received_usd.sql
  warehouse/dbt/models/intermediate/metrics/int_metrics.sql
  warehouse/dbt/models/intermediate/metrics/int_timeseries_metrics_by_project.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: to_project_id
  warehouse/dbt/models/intermediate/metrics/funding/int_funding_metric__grants_received_usd.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat: oss-funding metrics (#1931)
  warehouse/dbt/models/intermediate/funding/int_oss_funding_grants_to_project.sql
  warehouse/dbt/models/intermediate/metrics/funding/int_funding_metric__grants_received_usd.sql
  warehouse/dbt/models/intermediate/metrics/int_metrics.sql
  warehouse/dbt/models/intermediate/metrics/int_timeseries_metrics_by_project.sql
  warehouse/dbt/models/static_data_sources.yml
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: linting error
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/int_timeseries_superchain_metrics__all.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint
