Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

.lintstagedrc:

{
    "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
        "eslint --ignore-path .gitignore --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ],
    "warehouse/dbt/**/*.sql": [
        "uv run sqlfluff fix -f",
        "uv run sqlfluff lint"
    ]
}

rename files
  warehouse/oso_agent/oso_agent/eval/experiment_runner.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

more renaming
  warehouse/oso_agent/oso_agent/eval/text2sql/experiment.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: fixes issues with experiments not reporting desired data on UI (#4224)
  uv.lock
  warehouse/oso_agent/oso_agent/eval/experiment_registry.py
  warehouse/oso_agent/oso_agent/eval/experiment_runner.py
  warehouse/oso_agent/oso_agent/eval/text2sql.py
  warehouse/oso_agent/oso_agent/eval/text2sql/__init__.py
  warehouse/oso_agent/oso_agent/eval/text2sql/evals.py
  warehouse/oso_agent/oso_agent/eval/text2sql/experiment.py
  warehouse/oso_agent/oso_agent/eval/text2sql/workflow.py
  warehouse/oso_agent/oso_agent/server/app.py
  warehouse/oso_agent/oso_agent/tests/test_evals.py
  warehouse/oso_agent/oso_agent/tool/query_engine_tool.py
  warehouse/oso_agent/oso_agent/types/__init__.py
  warehouse/oso_agent/oso_agent/types/eval.py
  warehouse/oso_agent/oso_agent/types/response.py
  warehouse/oso_agent/oso_agent/util/query.py
  warehouse/oso_agent/oso_agent/workflows/__init__.py
  warehouse/oso_agent/oso_agent/workflows/base.py
  warehouse/oso_agent/oso_agent/workflows/eval.py
  warehouse/oso_agent/oso_agent/workflows/mixins.py
  warehouse/oso_agent/oso_agent/workflows/test_base.py
  warehouse/oso_agent/oso_agent/workflows/text2sql/basic.py
  warehouse/oso_agent/oso_agent/workflows/types.py
  warehouse/oso_agent/pyproject.toml
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: add remark-gfm to Markdown renderer
  apps/frontend/components/widgets/markdown.tsx
  apps/frontend/package.json
  apps/frontend/plasmic-init-client.tsx
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: add remark-gfm to Markdown renderer (#4226)
  apps/frontend/components/widgets/markdown.tsx
  apps/frontend/package.json
  apps/frontend/plasmic-init-client.tsx
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(docs): use __ for sheets conntectors
  apps/docs/docs/guides/google-sheets.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(docs): use __ for sheets conntectors (#4227)
  apps/docs/docs/guides/google-sheets.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore(nessie): tweak GC jobs config
  ops/k8s-apps/production/nessie/nessie-gc.yaml
  ops/k8s-apps/production/nessie/pynessie-gc.yaml
Due: none

chore(nessie): tweak GC jobs config (#4228)
  ops/k8s-apps/production/nessie/nessie-gc.yaml
  ops/k8s-apps/production/nessie/pynessie-gc.yaml
Due: none

fix: use tailwindcss/typography as a hack to fix markdown rendering issues
  apps/frontend/components/widgets/markdown.tsx
  apps/frontend/package.json
  apps/frontend/tailwind.config.js
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: use tailwindcss/typography as a hack to fix markdown rendering issues (#4229)
  apps/frontend/components/widgets/markdown.tsx
  apps/frontend/package.json
  apps/frontend/tailwind.config.js
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: encode new lines in the chat interface
  warehouse/oso_agent/oso_agent/datasets/uploader.py
  warehouse/oso_agent/oso_agent/server/app.py
  warehouse/oso_agent/oso_agent/util/config.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: use contracts_v0 endpoint for addr verification
  lib/oss-artifact-validators/jest.config.ts
  lib/oss-artifact-validators/package.json
  lib/oss-artifact-validators/src/onchain/contracts.test.ts
  lib/oss-artifact-validators/src/onchain/contracts.ts
  lib/oss-artifact-validators/src/onchain/evm.test.ts
  lib/oss-artifact-validators/src/onchain/evm.ts
  lib/oss-artifact-validators/src/web/defillama.test.ts
  lib/oss-artifact-validators/tsconfig.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: encode new lines in the chat interface (#4230)
  warehouse/oso_agent/oso_agent/datasets/uploader.py
  warehouse/oso_agent/oso_agent/server/app.py
  warehouse/oso_agent/oso_agent/util/config.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: fix dataset upload issues with agent experiment on prod
  ops/helm-charts/generic/Chart.yaml
  ops/helm-charts/generic/templates/app.yaml
  ops/helm-charts/generic/values.yaml
  ops/k8s-apps/base/agent/agent.yaml
  warehouse/oso_agent/oso_agent/datasets/uploader.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: remove 'appended' var
  warehouse/oso_agent/oso_agent/datasets/uploader.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: fix dataset upload issues with agent experiment on prod (#4232)
  ops/helm-charts/generic/Chart.yaml
  ops/helm-charts/generic/templates/app.yaml
  ops/helm-charts/generic/values.yaml
  ops/k8s-apps/base/agent/agent.yaml
  warehouse/oso_agent/oso_agent/datasets/uploader.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

refactor(semantic): move semantic code to a new package
  pyproject.toml
  uv.lock
  warehouse/metrics_tools/semantic/__init__.py
  warehouse/metrics_tools/semantic/utils.py
  warehouse/oso_semantic/README.md
  warehouse/oso_semantic/oso_semantic/__init__.py
  warehouse/oso_semantic/oso_semantic/conftest.py
  warehouse/oso_semantic/oso_semantic/definition.py
  warehouse/oso_semantic/oso_semantic/errors.py
  warehouse/oso_semantic/oso_semantic/fixtures/artifacts_by_project_v1.csv
  warehouse/oso_semantic/oso_semantic/fixtures/artifacts_v1.csv
  warehouse/oso_semantic/oso_semantic/fixtures/collections_v1.csv
  warehouse/oso_semantic/oso_semantic/fixtures/int_events__github.csv
  warehouse/oso_semantic/oso_semantic/fixtures/projects_by_collection_v1.csv
  warehouse/oso_semantic/oso_semantic/fixtures/projects_v1.csv
  warehouse/oso_semantic/oso_semantic/query.py
  warehouse/oso_semantic/oso_semantic/test_definition.py
  warehouse/oso_semantic/oso_semantic/test_query.py
  warehouse/oso_semantic/oso_semantic/testing.py
  warehouse/oso_semantic/oso_semantic/utils.py
  warehouse/oso_semantic/pyproject.toml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(oso_agent): include oso_semantic in the oso_agent dependency
  uv.lock
  warehouse/oso_agent/oso_agent/agent/semantic_agent.py
  warehouse/oso_agent/oso_agent/types/response.py
  warehouse/oso_agent/pyproject.toml
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: make agent liveness less aggressive
  ops/k8s-apps/base/agent/agent.yaml
Due: none

fix(sqlmesh): implement same contract discovery for both project sources
  pnpm-lock.yaml
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/op-atlas/int_artifacts_by_project_in_op_atlas_downstream.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/ossd/int_artifacts_by_project_in_ossd_downstream.sql
Due: none

fix: lockfile
  pnpm-lock.yaml
Due: none

fix(sqlmesh): implement same contract discovery for both project sources (#4235)
  pnpm-lock.yaml
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/op-atlas/int_artifacts_by_project_in_op_atlas_downstream.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/ossd/int_artifacts_by_project_in_ossd_downstream.sql
Due: none

updates
  apps/docs/docs/_common/semantic-layer/_anatomy-of-semantic-layer.mdx
  apps/docs/docs/contribute-models/semantic-layer-definition.md
  apps/docs/docs/contribute-models/semantic-layer-definition.mdx
  apps/docs/docs/get-started/semantic-layer.mdx
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

more wip
  apps/docs/docs/contribute-models/semantic-layer-definition.mdx
  apps/docs/docs/get-started/semantic-layer.mdx
Due: none

more wip
  apps/docs/docs/get-started/semantic-layer.mdx
  warehouse/oso_agent/oso_agent/datasets/text2sql.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

refactor(sqlmesh): unify package models
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/int_artifacts.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/packages/int_packages.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/ossd/int_artifacts_by_project_in_ossd.sql
  warehouse/oso_sqlmesh/models/staging/deps-dev/stg_deps_dev__packages.sql
Due: none

refactor(sqlmesh): unify package models (#4236)
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/int_artifacts.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/packages/int_packages.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/ossd/int_artifacts_by_project_in_ossd.sql
  warehouse/oso_sqlmesh/models/staging/deps-dev/stg_deps_dev__packages.sql
Due: none

feat(contracts_v0):refactor evm.ts and update test logic
  lib/oss-artifact-validators/package.json
  lib/oss-artifact-validators/src/onchain/contracts.ts
  lib/oss-artifact-validators/src/onchain/evm.test.ts
  lib/oss-artifact-validators/src/onchain/evm.ts
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check
