Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(query-rewriter): allow sending metadata
  apps/frontend/app/api/v1/osograph/schema/resolvers/system.ts
  apps/frontend/lib/query/resolver.ts
  apps/frontend/lib/query/resolvers/legacy-infer.ts
  apps/frontend/lib/query/resolvers/metadata-infer.ts
  apps/frontend/lib/query/resolvers/supabase.ts
  apps/frontend/lib/query/rewrite.ts
  apps/frontend/lib/query/utils.ts
  apps/frontend/lib/supabase/admin.ts
  apps/frontend/lib/types/query-metadata.ts
  apps/frontend/lib/types/schema-types.ts
  apps/frontend/lib/types/schema.ts
  apps/frontend/lib/types/supabase.ts
  apps/frontend/lib/types/table.ts
  lib/query-rewriter/queryrewriter/resolvers/fake.py
  lib/query-rewriter/queryrewriter/resolvers/fqn.py
  lib/query-rewriter/queryrewriter/resolvers/js.py
  lib/query-rewriter/queryrewriter/resolvers/legacy.py
  lib/query-rewriter/queryrewriter/rewrite.py
  lib/query-rewriter/queryrewriter/types.py
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(frontend): make table lookups migration
  apps/frontend/supabase/migrations/20251125212246_make_table_lookups_easier.sql
Due: none

chore: update supabase types
  apps/frontend/lib/types/schema-types.ts
  apps/frontend/lib/types/schema.ts
  apps/frontend/lib/types/supabase.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: update tsconfig (again)
  lib/pyodide-node-toolkit/package.json
  lib/pyodide-node-toolkit/src/build-and-load.test.ts
  lib/pyodide-node-toolkit/src/build.ts
  lib/pyodide-node-toolkit/src/cli.ts
  lib/pyodide-node-toolkit/src/index.ts
  lib/pyodide-node-toolkit/src/load.ts
  lib/query-rewriter/pyproject.toml
  lib/tsconfig.base.json
  lib/utils/package.json
  lib/utils/src/common.ts
  lib/utils/src/index.ts
  lib/utils/tsconfig.json
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(frontend): add query rewriting tools
  apps/frontend/lib/query/defaults.ts
  apps/frontend/lib/query/resolver.ts
  apps/frontend/lib/query/resolvers/db-table-resolver.test.ts
  apps/frontend/lib/query/resolvers/db-table-resolver.ts
  apps/frontend/lib/query/resolvers/legacy-table-resolver.ts
  apps/frontend/lib/query/resolvers/metadata-table-resolver.ts
  apps/frontend/lib/query/resolvers/supabase.ts
  apps/frontend/lib/query/rewrite.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(frontend): add sql rewriter to `/api/v1/sql`
  apps/frontend/app/api/v1/sql/route.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(query-rewriter): update metadata usage
  lib/query-rewriter/queryrewriter/defaults.py
  lib/query-rewriter/queryrewriter/resolvers/js.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore(frontend): update config
  apps/frontend/.gitignore
  apps/frontend/next.config.js
  apps/frontend/package.json
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(frontend): fix imports
  apps/frontend/lib/query/defaults.ts
  apps/frontend/lib/query/rewrite.ts
  apps/frontend/lib/query/utils.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(frontend): tests
  apps/frontend/lib/query/resolvers/db-table-resolver.test.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: update uv lock
  uv.lock
Due: none

fix build issues
  apps/frontend/app/api/v1/osograph/schema/resolvers/system.ts
  apps/frontend/lib/query/rewrite.ts
  apps/frontend/package.json
  apps/frontend/tsconfig.json
  lib/pyodide-node-toolkit/package.json
  lib/query-rewriter/queryrewriter/rewrite.py
  lib/tsconfig.base.json
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(frontend): address build issues
  apps/frontend/app/api/v1/osograph/schema/graphql/scheduler.graphql
  apps/frontend/app/api/v1/osograph/schema/resolvers/data-model.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/scheduler.ts
  apps/frontend/app/api/v1/osograph/utils/validation.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: lint
  apps/frontend/lib/types/query-metadata.ts
  apps/frontend/lib/types/table.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(frontend): add more resolver tests
  apps/frontend/lib/query/resolvers/db-table-resolver.test.ts
  apps/frontend/lib/query/resolvers/legacy-table-resolver.test.ts
  apps/frontend/lib/query/resolvers/metadata-table-resolver.test.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(frontend): improve metadata typechecking for query rewriting
  apps/frontend/app/api/v1/sql/route.ts
  apps/frontend/lib/query/defaults.ts
  apps/frontend/lib/query/resolvers/legacy-table-resolver.test.ts
  apps/frontend/lib/query/resolvers/metadata-table-resolver.test.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(frontend): make resolveTables api more consistent
  apps/frontend/app/api/v1/osograph/schema/graphql/system.graphql
Due: none

chore(frontend): graphql codegen
  apps/frontend/lib/graphql/generated/graphql.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(frontend): remove schema from run
  apps/frontend/app/api/v1/osograph/schema/graphql/scheduler.graphql
Due: none

chore: graphql codegen
  apps/frontend/lib/graphql/generated/graphql.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

small fix
  lib/query-rewriter/queryrewriter/rewrite.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(query-rewriter): remove duplicate logic in python
  lib/query-rewriter/queryrewriter/defaults.py
  lib/query-rewriter/queryrewriter/resolvers/fake.py
  lib/query-rewriter/queryrewriter/resolvers/fqn.py
  lib/query-rewriter/queryrewriter/resolvers/legacy.py
  lib/query-rewriter/queryrewriter/test_rewrite.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(frontend): fail safely on rewriter
  apps/frontend/app/api/v1/sql/route.ts
  apps/frontend/lib/types/posthog.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(frontend): add some indices
  apps/frontend/supabase/migrations/20251125212246_make_table_lookups_easier.sql
Due: none

chore: adds db migrations to ci/cd
  .github/workflows/db-migration.yml
Due: none

Potential fix for code scanning alert no. 21: Workflow does not contain permissions
  .github/workflows/db-migration.yml
Due: none

fix: fix usage of cli
  .github/workflows/db-migration.yml
Due: none

more fixes
  .github/workflows/db-migration.yml
Due: none

fix: ensure proper conditions for running on merge_group only
  .github/workflows/db-migration.yml
Due: none

fix: add automatic backup before migrations run
  .github/scripts/check-migrations-and-backup.sh
  .github/workflows/db-migration.yml
Due: none

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

feat(sqlmesh): add erc721 activity on unichain
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/unichain/staging/stg_unichain_logs__erc721.sql
Due: none

chore(supabase): generate supabase types
  apps/frontend/lib/types/schema-types.ts
  apps/frontend/lib/types/schema.ts
  apps/frontend/lib/types/supabase.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(utils): add msg to assertNever
  lib/utils/src/common.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(data-model): fix DataModel in graphql to use Materialization
  apps/frontend/app/api/v1/osograph/schema/graphql/data-model.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/scheduler.graphql
  apps/frontend/app/api/v1/osograph/schema/resolvers/data-model.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/dataset.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/index.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/scheduler.ts
  apps/frontend/app/api/v1/osograph/utils/validation.ts
  apps/frontend/lib/graphql/generated/graphql.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(sqlmesh): add erc721 activity on unichain (#5747)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/unichain/staging/stg_unichain_logs__erc721.sql
Due: none

Graphql changes to include Materializations (#5748)
  apps/frontend/app/api/v1/osograph/schema/graphql/data-model.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/scheduler.graphql
  apps/frontend/app/api/v1/osograph/schema/resolvers/data-model.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/dataset.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/index.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/scheduler.ts
  apps/frontend/app/api/v1/osograph/utils/validation.ts
  apps/frontend/lib/graphql/generated/graphql.ts
  apps/frontend/lib/types/schema-types.ts
  apps/frontend/lib/types/schema.ts
  apps/frontend/lib/types/supabase.ts
  lib/utils/src/common.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: adds db migrations to ci/cd (#5563)
  .github/scripts/check-migrations-and-backup.sh
  .github/workflows/db-migration.yml
Due: none

Path conditions:
  eslint --flag v10_config_lookup_from_file --fix --max-warnings 0: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --ignore-path .gitignore --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
  prettier --ignore-path .gitignore --log-level warn --check: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
  uv run ruff format: any of: **/*.py
  uv run ruff check --fix --force-exclude: any of: **/*.py
  uv run isort: any of: **/*.py
  pnpm pyright: any of: **/*.py
