Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

.lintstagedrc:

{
  "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --max-warnings 0",
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "**/*.{md,json}": [
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "**/*.py": [
    "poetry run ruff check --fix --force-exclude",
    "pnpm pyright"
  ],
  "warehouse/dbt/**/*.sql": [
    "poetry run sqlfluff fix -f",
    "poetry run sqlfluff lint"
  ]
}

Reorder metrics queries
  warehouse/metrics_mesh/models/metrics_factories.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

wip
  warehouse/metrics_mesh/fixtures/README.md
  warehouse/metrics_tools/compute/cluster.py
  warehouse/metrics_tools/compute/flight.py
  warehouse/metrics_tools/compute/worker.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright

more wip
  warehouse/metrics_tools/compute/cluster.py
  warehouse/metrics_tools/compute/flight.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

test
  warehouse/metrics_tools/compute/flight.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fixes
  warehouse/metrics_tools/compute/flight.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix
  warehouse/metrics_tools/compute/flight.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

tester
  warehouse/metrics_tools/compute/worker.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

test
  warehouse/metrics_tools/compute/worker.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

More fixes
  warehouse/metrics_tools/compute/cluster.py
  warehouse/metrics_tools/compute/flight.py
  warehouse/metrics_tools/compute/test_setup.sh
  warehouse/metrics_tools/compute/worker.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

test
  warehouse/metrics_tools/compute/flight.py
  warehouse/metrics_tools/compute/worker.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

more testing
  warehouse/metrics_tools/compute/flight.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fixes
  .dockerignore
  warehouse/metrics_tools/compute/flight.py
  warehouse/metrics_tools/compute/worker.py
  warehouse/metrics_tools/utils/logging.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add connectorx
  poetry.lock
  pyproject.toml
  warehouse/metrics_tools/compute/connectorx_test.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

big rewrite, try using trino as part of the export mechanism
  ops/tf-modules/warehouse-cluster/main.tf
  warehouse/metrics_tools/compute/cluster.py
  warehouse/metrics_tools/compute/connectorx_test.py
  warehouse/metrics_tools/compute/flight.py
  warehouse/metrics_tools/compute/run_get.py
  warehouse/metrics_tools/compute/worker.py
  warehouse/metrics_tools/transformer/tables.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add bokeh
  poetry.lock
  pyproject.toml
Due: none

test
  warehouse/metrics_tools/compute/flight.py
  warehouse/metrics_tools/compute/run_get.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Update dockerfile
  docker/images/dagster-dask/Dockerfile
Due: none

Clean up some in progress work
  warehouse/metrics_tools/compute/flight.py
  warehouse/metrics_tools/compute/worker.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Prototyping: Duckdb based metrics calculation (#2469)
  .dockerignore
  docker/images/dagster-dask/Dockerfile
  ops/tf-modules/warehouse-cluster/main.tf
  poetry.lock
  pyproject.toml
  warehouse/metrics_mesh/fixtures/README.md
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_tools/compute/cluster.py
  warehouse/metrics_tools/compute/flight.py
  warehouse/metrics_tools/compute/run_get.py
  warehouse/metrics_tools/compute/test_setup.sh
  warehouse/metrics_tools/compute/worker.py
  warehouse/metrics_tools/transformer/tables.py
  warehouse/metrics_tools/utils/logging.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright

fix: improved `error` handling and `total` downloads calculation
  warehouse/oso_dagster/assets/npm.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat: add `npm` downloads dlt collector (#2435)
  warehouse/oso_dagster/assets/npm.py
  warehouse/oso_dagster/cbt/cbt.py
  warehouse/oso_dagster/factories/dlt.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: use `oso` production source
  warehouse/oso_dagster/assets/npm.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: use `oso` production source (#2476)
  warehouse/oso_dagster/assets/npm.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add: ethglobal sf 2024 auto retro funding blog post
  apps/docs/blog/2024-11-19-auto-retro-funding/AutoRF-final-funding.png
  apps/docs/blog/2024-11-19-auto-retro-funding/Oso-X-Polygon.png
  apps/docs/blog/2024-11-19-auto-retro-funding/Split-overview.png
  apps/docs/blog/2024-11-19-auto-retro-funding/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Work in progress
  poetry.lock
  pyproject.toml
  warehouse/metrics_tools/compute/cluster.py
  warehouse/metrics_tools/compute/server.py
  warehouse/metrics_tools/compute/worker.py
  warehouse/metrics_tools/docs/compute.mmd
  warehouse/metrics_tools/docs/compute.svg
  warehouse/metrics_tools/utils/env.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Improve metrics macros docs
  warehouse/metrics_mesh/README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Improve metrics macros docs (#2480)
  warehouse/metrics_mesh/README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add: `terraform` gitignore file
  ops/tf-modules/.gitignore
Due: none

add: `gce` vm terraform module
  ops/tf-modules/gce-dev-vm/main.tf
  ops/tf-modules/gce-dev-vm/outputs.tf
  ops/tf-modules/gce-dev-vm/variables.tf
Due: none

add: convenience `scripts`
  ops/tf-modules/gce-dev-vm/scripts/connect.sh
  ops/tf-modules/gce-dev-vm/scripts/startup.sh
Due: none

add: `readme` with instructions
  ops/tf-modules/gce-dev-vm/README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(dbt): add comments and releases dbt models
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__commits_prs_issues.sql
  warehouse/dbt/models/intermediate/metrics/int_code_metrics_by_project.sql
  warehouse/dbt/models/marts/metrics/code_metrics_by_project_v1.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat(dbt): create event model for numbered prs and issues
  warehouse/dbt/models/intermediate/analyses/int_github_pr_issue_threads.sql
  warehouse/dbt/models/staging/github/stg_github__pull_request_merge_events.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat(dbt): time to pr merge code metric
  warehouse/dbt/models/intermediate/metrics/code/int_code_metric__time_to_pr_merge.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint
