Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

wip
  warehouse/oso_mcp/oso_mcp/server/graphql/generator.py
  warehouse/oso_mcp/oso_mcp/server/graphql/mutations.py
  warehouse/oso_mcp/oso_mcp/server/graphql/pydantic_generator.py
  warehouse/oso_mcp/oso_mcp/server/graphql/schema_visitor.py
  warehouse/oso_mcp/oso_mcp/server/graphql/test_integration.py
  warehouse/oso_mcp/oso_mcp/server/graphql/types.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fixes
  warehouse/oso_mcp/oso_mcp/server/graphql/mutations.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: add tests for deleteItem
  warehouse/oso_mcp/oso_mcp/server/graphql/test_integration.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: use proper payload model
  warehouse/oso_mcp/oso_mcp/server/graphql/mutations.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: more tests and clean up
  warehouse/oso_mcp/oso_mcp/server/graphql/pydantic_generator.py
  warehouse/oso_mcp/oso_mcp/server/graphql/queries.py
  warehouse/oso_mcp/oso_mcp/server/graphql/test_integration.py
  warehouse/oso_mcp/oso_mcp/server/graphql/test_queries/items.graphql
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

small test fix
  apps/frontend/app/api/v1/osograph/schema/graphql/dataset.graphql
Due: none

small test context fix
  apps/frontend/app/api/v1/osograph/schema/graphql/dataset.graphql
Due: none

query fix
  apps/frontend/app/api/v1/osograph/schema/graphql/scheduler.graphql
  warehouse/oso_mcp/oso_mcp/server/graphql/queries/mcp.graphql
Due: none

fix: graphql client
  warehouse/oso_mcp/oso_mcp/server/graphql/generator.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Update warehouse/oso_mcp/oso_mcp/server/graphql/test_schema/schema.graphql
  warehouse/oso_mcp/oso_mcp/server/graphql/test_schema/schema.graphql
Due: none

fix: more clean up
  lib/oso-core/oso_core/pydantictools/__init__.py
  lib/oso-core/oso_core/pydantictools/utils.py
  lib/oso-core/pyproject.toml
  uv.lock
  warehouse/oso_mcp/oso_mcp/server/graphql/mutations.py
  warehouse/oso_mcp/oso_mcp/server/graphql/pydantic_generator.py
  warehouse/oso_mcp/oso_mcp/server/graphql/queries.py
  warehouse/oso_mcp/oso_mcp/server/graphql/schema_visitor.py
  warehouse/oso_mcp/oso_mcp/server/graphql/test_integration.py
  warehouse/oso_mcp/oso_mcp/server/graphql/test_schema/schema.graphql
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Update warehouse/oso_mcp/oso_mcp/server/graphql/generator.py
  warehouse/oso_mcp/oso_mcp/server/graphql/generator.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: some additional context
  apps/frontend/app/api/v1/osograph/schema/graphql/scheduler.graphql
  warehouse/oso_mcp/oso_mcp/server/graphql/queries/mcp.graphql
Due: none

fix
  warehouse/oso_mcp/oso_mcp/server/graphql/queries/mcp.graphql
Due: none

fix: more DRY-ing of field generation
  warehouse/oso_mcp/oso_mcp/server/graphql/pydantic_generator.py
  warehouse/oso_mcp/oso_mcp/server/graphql/queries.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: CR fixes
  warehouse/oso_mcp/oso_mcp/server/graphql/pydantic_generator.py
  warehouse/oso_mcp/oso_mcp/server/graphql/schema_visitor.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

refactor(preview-tab): back to using typename for type safety
  apps/frontend/components/widgets/preview-tab.tsx
  apps/frontend/lib/graphql/generated/gql.ts
  apps/frontend/lib/graphql/generated/graphql.ts
  apps/frontend/stories/widgets/preview-tab.stories.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: mcp autogen refactor and query context support (#6558)
  apps/frontend/app/api/v1/osograph/schema/graphql/dataset.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/scheduler.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/static-model.graphql
  lib/oso-core/oso_core/pydantictools/__init__.py
  lib/oso-core/oso_core/pydantictools/utils.py
  lib/oso-core/pyproject.toml
  uv.lock
  warehouse/oso_mcp/oso_mcp/server/graphql/generator.py
  warehouse/oso_mcp/oso_mcp/server/graphql/mutations.py
  warehouse/oso_mcp/oso_mcp/server/graphql/pydantic_generator.py
  warehouse/oso_mcp/oso_mcp/server/graphql/queries.py
  warehouse/oso_mcp/oso_mcp/server/graphql/queries/mcp.graphql
  warehouse/oso_mcp/oso_mcp/server/graphql/schema_visitor.py
  warehouse/oso_mcp/oso_mcp/server/graphql/test_integration.py
  warehouse/oso_mcp/oso_mcp/server/graphql/test_queries/items.graphql
  warehouse/oso_mcp/oso_mcp/server/graphql/test_schema/schema.graphql
  warehouse/oso_mcp/oso_mcp/server/graphql/tool_generator.py
  warehouse/oso_mcp/oso_mcp/server/graphql/types.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
  ops/k8s-apps/production/scheduler/custom-helm-values.yaml
Due: none

fix(preview-tab): correctly check which type of dataset is being queried (#6574)
  apps/frontend/components/widgets/preview-tab.tsx
  apps/frontend/lib/graphql/generated/gql.ts
  apps/frontend/lib/graphql/generated/graphql.ts
  apps/frontend/stories/widgets/preview-tab.stories.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: ensure table permissions are checked during query rewrite
  apps/frontend/app/api/v1/osograph/schema/resolvers/system.ts
  apps/frontend/app/api/v1/osograph/utils/validation.ts
  apps/frontend/lib/query/common.ts
  apps/frontend/lib/query/resolvers/db-table-resolver.ts
  apps/frontend/lib/query/resolvers/permissions-resolver.test.ts
  apps/frontend/lib/query/resolvers/permissions-resolver.ts
  apps/frontend/lib/types/errors.ts
  apps/frontend/lib/types/table.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: imports
  apps/frontend/lib/query/defaults.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

refactor(data-connection): change naming convention for data connections
  apps/frontend/app/api/v1/osograph/schema/resolvers/data-connection.ts
  apps/frontend/lib/dynamic-connectors.ts
  opa/trino/trino.rego
  opa/trino/trino_test.rego
  warehouse/scheduler/scheduler/mq/handlers/sync_connection.py
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(data-connections): fix new resolvers as well
  apps/frontend/app/api/v1/osograph/schema/resolvers/organization/data-connection/mutations.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: ensure orgId is not required
  apps/frontend/app/api/v1/osograph/utils/validation.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: ensure query handler sends orgName
  warehouse/scheduler/scheduler/mq/handlers/query.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

add more metadata
  warehouse/scheduler/scheduler/mq/handlers/query.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

refactor(data-connection): change naming convention for data connections (#6576)
  apps/frontend/app/api/v1/osograph/schema/resolvers/data-connection.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/organization/data-connection/mutations.ts
  apps/frontend/lib/dynamic-connectors.ts
  opa/trino/trino.rego
  opa/trino/trino_test.rego
  warehouse/scheduler/scheduler/mq/handlers/sync_connection.py
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(organization): filter by organization id on children resolvers
  apps/frontend/app/api/v1/osograph/schema/resolvers/organization/organization/type-resolvers.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: ensure table permissions are checked during query rewrite (#6577)
  apps/frontend/app/api/v1/osograph/schema/resolvers/system.ts
  apps/frontend/app/api/v1/osograph/utils/validation.ts
  apps/frontend/lib/query/common.ts
  apps/frontend/lib/query/defaults.ts
  apps/frontend/lib/query/resolvers/db-table-resolver.ts
  apps/frontend/lib/query/resolvers/permissions-resolver.test.ts
  apps/frontend/lib/query/resolvers/permissions-resolver.ts
  apps/frontend/lib/types/errors.ts
  apps/frontend/lib/types/table.ts
  warehouse/scheduler/scheduler/mq/handlers/query.py
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(organization): filter by organization id on children resolvers (#6578)
  apps/frontend/app/api/v1/osograph/schema/resolvers/organization/organization/type-resolvers.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(graphql): add logs to validation errors in graphql endpoint
  apps/frontend/app/api/v1/osograph/utils/validation.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(data-connections): add missing implementation on new resolver
  apps/frontend/app/api/v1/osograph/schema/resolvers/dataset.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/resource/dataset/type-resolvers.ts
  apps/frontend/app/api/v1/osograph/utils/validation.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(graphql): add logs to validation errors in graphql endpoint (#6579)
  apps/frontend/app/api/v1/osograph/utils/validation.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Path conditions:
  eslint --flag v10_config_lookup_from_file --fix --max-warnings 0: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --ignore-path .gitignore --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
  prettier --ignore-path .gitignore --log-level warn --check: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
  uv run ruff format: any of: **/*.py
  uv run ruff check --fix --force-exclude: any of: **/*.py
  uv run isort: any of: **/*.py
  pnpm pyright: any of: **/*.py
