Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

Remove more json references
  warehouse/dbt/models/intermediate/directory/int_artifacts_in_ossd_by_project.sql
  warehouse/dbt/models/intermediate/directory/int_projects.sql
  warehouse/dbt/models/marts/superchain/verification/rf4_oso_contract_discovery.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

more fixes
  warehouse/dbt/models/base_playground/base_playground__ossd_collections.sql
  warehouse/dbt/models/base_playground/base_playground__ossd_projects.sql
  warehouse/dbt/models/base_playground/base_playground__ossd_repositories.sql
  warehouse/dbt/models/staging/oss-directory/stg_ossd__current_collections.sql
  warehouse/dbt/models/staging/oss-directory/stg_ossd__current_projects.sql
  warehouse/dbt/models/staging/oss-directory/stg_ossd__current_repositories.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

more fixes
  warehouse/dbt/macros/models/first_time_addresses.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

more fixes for incremental
  warehouse/dbt/macros/models/first_time_addresses.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Clean up
  warehouse/dbt/models/oss_directory_source.yml
Due: none

Wire the new ossd source from dagster (#1815)
  warehouse/dbt/macros/models/first_time_addresses.sql
  warehouse/dbt/models/base_playground/base_playground__ossd_collections.sql
  warehouse/dbt/models/base_playground/base_playground__ossd_projects.sql
  warehouse/dbt/models/base_playground/base_playground__ossd_repositories.sql
  warehouse/dbt/models/intermediate/directory/int_artifacts_in_ossd_by_project.sql
  warehouse/dbt/models/intermediate/directory/int_projects.sql
  warehouse/dbt/models/marts/superchain/verification/rf4_oso_contract_discovery.sql
  warehouse/dbt/models/oss_directory_source.yml
  warehouse/dbt/models/staging/oss-directory/stg_ossd__current_collections.sql
  warehouse/dbt/models/staging/oss-directory/stg_ossd__current_projects.sql
  warehouse/dbt/models/staging/oss-directory/stg_ossd__current_repositories.sql
  warehouse/dbt/models/staging/oss-directory/stg_ossd__schema.yml
  warehouse/oso_dagster/dlt_sources/github_repos/__init__.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

docs: OSO Data Portal
  apps/docs/blog/2024-07-16-oso-data-portal/index.md
  apps/docs/blog/2024-07-16-oso-data-portal/landing-page.png
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

docs: OSO Data Portal (#1820)
  apps/docs/blog/2024-07-16-oso-data-portal/index.md
  apps/docs/blog/2024-07-16-oso-data-portal/landing-page.png
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

docs: Update oss-directory python package directions
  apps/docs/docs/integrate/oss-directory.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

docs: Update oss-directory python package directions (#1821)
  apps/docs/docs/integrate/oss-directory.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

wip
  warehouse/oso_dagster/assets/ossd.py
  warehouse/oso_dagster/assets/schedules.py
  warehouse/oso_dagster/constants.py
  warehouse/oso_dagster/factories/dlt.py
  warehouse/oso_dagster/factories/goldsky/assets.py
  warehouse/oso_dagster/utils/__init__.py
  warehouse/oso_dagster/utils/scheduling.py
  warehouse/oso_dagster/utils/types.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Setup all assets to materialize daily
  warehouse/oso_dagster/schedules.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Enable automatic retries
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  warehouse/oso_dagster/assets/schedules.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Remove unnecessary file
  warehouse/oso_dagster/assets/schedules.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

rename
  warehouse/oso_dagster/schedules.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

remove change
  warehouse/oso_dagster/factories/goldsky/assets.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fix tests
  warehouse/oso_dagster/constants.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

ci fix
  .github/workflows/ci-default.yml
Due: none

More fixes
  .github/workflows/ci-default.yml
  warehouse/oso_dagster/utils/scheduling.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Materialize all assets daily (#1819)
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  warehouse/oso_dagster/assets/ossd.py
  warehouse/oso_dagster/constants.py
  warehouse/oso_dagster/factories/dlt.py
  warehouse/oso_dagster/factories/goldsky/assets.py
  warehouse/oso_dagster/schedules.py
  warehouse/oso_dagster/utils/__init__.py
  warehouse/oso_dagster/utils/scheduling.py
  warehouse/oso_dagster/utils/types.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: duping of repo stats
  warehouse/dbt/models/intermediate/metrics/int_repo_metrics_by_project.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: dedupe repos in staging
  warehouse/dbt/models/staging/oss-directory/stg_ossd__current_repositories.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

chore: add all columns
  warehouse/dbt/models/staging/oss-directory/stg_ossd__current_repositories.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: duping of repo stats (#1825)
  warehouse/dbt/models/intermediate/metrics/int_repo_metrics_by_project.sql
  warehouse/dbt/models/staging/oss-directory/stg_ossd__current_repositories.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

chore: update docs to include gitcoin data
  apps/docs/blog/2024-07-16-oso-data-portal/index.md
  apps/docs/docs/integrate/overview/index.mdx
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: update docs to include gitcoin data (#1826)
  apps/docs/blog/2024-07-16-oso-data-portal/index.md
  apps/docs/docs/integrate/overview/index.mdx
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

docs: feedback from partners on data portal
  apps/docs/docs/integrate/overview/index.mdx
  apps/docs/docs/integrate/query-data.mdx
Due: none

docs: feedback from partners on data portal (#1828)
  apps/docs/docs/integrate/overview/index.mdx
  apps/docs/docs/integrate/query-data.mdx
Due: none

add: blog on rf4 ballot box
  apps/docs/blog/2024-07-23-rf4-ballot-box/ballot-box-rf4.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/index.md
  apps/docs/blog/2024-07-23-rf4-ballot-box/midwit.jpg
  apps/docs/blog/2024-07-23-rf4-ballot-box/output_10_1.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/output_11_0.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/output_13_1.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/output_17_1.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/output_25_1.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/output_26_0.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/output_29_0.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/output_29_1.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/output_30_0.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/output_30_1.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/output_31_0.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/output_31_1.png
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add: meme
  apps/docs/blog/2024-07-23-rf4-ballot-box/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: jpg
  apps/docs/blog/2024-07-23-rf4-ballot-box/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add: blog on rf4 ballot box (#1829)
  apps/docs/blog/2024-07-23-rf4-ballot-box/ballot-box-rf4.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/index.md
  apps/docs/blog/2024-07-23-rf4-ballot-box/midwit.jpg
  apps/docs/blog/2024-07-23-rf4-ballot-box/output_10_1.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/output_11_0.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/output_13_1.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/output_17_1.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/output_25_1.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/output_26_0.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/output_29_0.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/output_29_1.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/output_30_0.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/output_30_1.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/output_31_0.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/output_31_1.png
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

blog: copy edits and smol fixes
  apps/docs/blog/2024-07-23-rf4-ballot-box/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

blog: copy edits and smol fixes (#1831)
  apps/docs/blog/2024-07-23-rf4-ballot-box/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: upgrade apollo client to latest
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: upgrade apollo client to latest (#1833)
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add: correlations by metric
  apps/docs/blog/2024-07-23-rf4-ballot-box/correlation.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/index.md
  apps/docs/blog/2024-07-23-rf4-ballot-box/midwit.jpg
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add: correlations by metric (#1834)
  apps/docs/blog/2024-07-23-rf4-ballot-box/correlation.png
  apps/docs/blog/2024-07-23-rf4-ballot-box/index.md
  apps/docs/blog/2024-07-23-rf4-ballot-box/midwit.jpg
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

pull clickhouse creds from secret_resolver
  .env.example
  warehouse/oso_dagster/constants.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/resources/clickhouse.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Make LocalSecretResolver init less confusing
  warehouse/oso_dagster/definitions.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  poetry run ruff check --fix --force-exclude: any of: **/*.py
  pnpm pyright: any of: **/*.py
  poetry run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  poetry run sqlfluff lint: any of: warehouse/dbt/**/*.sql
