Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

fix: docs dependencies updated (#4494)
  apps/docs/package.json
  apps/docs/plasmic.json
  apps/docs/plasmic.lock
  apps/docs/src/components/plasmic/LinkCard.tsx
  apps/docs/src/components/plasmic/plasmic-tokens.theo.json
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

docs: reconnect Plasmic
  apps/docs/docs/index.mdx
  apps/docs/plasmic.lock
  apps/docs/src/pages/index.mdx
Due: none

docs: reconnect Plasmic (#4495)
  apps/docs/docs/index.mdx
  apps/docs/plasmic.lock
  apps/docs/src/pages/index.mdx
Due: none

fix: update frontend deps
  apps/frontend/lib/auth/keys.ts
  apps/frontend/lib/clients/stripe.ts
  apps/frontend/lib/metrics-utils.ts
  apps/frontend/lib/types/schema-types.ts
  apps/frontend/lib/types/schema.ts
  apps/frontend/lib/types/supabase.ts
  apps/frontend/package.json
  apps/frontend/plasmic-init-client.tsx
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: check Plasmic components in to the repo
  .github/workflows/ci-default.yml
  apps/docs/.gitignore
  apps/docs/README.md
  apps/docs/package.json
  apps/docs/src/components/plasmic/generated/antd_5_hostless/PlasmicGlobalContextsProvider.tsx
  apps/docs/src/components/plasmic/generated/antd_5_hostless/plasmic.module.css
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicButton.module.css
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicButton.tsx
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicCard.module.css
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicCard.tsx
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicDocsCard.module.css
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicDocsCard.tsx
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicGlobalVariant__Screen.tsx
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicLinkCard.module.css
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicLinkCard.tsx
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicOverview.module.css
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicOverview.tsx
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/icons/PlasmicIcon__CheckSvg.tsx
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/icons/PlasmicIcon__Icon.tsx
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/icons/PlasmicIcon__IdeaSvgrepoComSvg.tsx
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/plasmic.module.css
  apps/docs/src/components/plasmic/generated/plasmic__default_style.module.css
  apps/docs/src/components/plasmic/generated/plasmic_basic_components/plasmic.module.css
  apps/docs/static/plasmic/plasmic/docs_opensource_observer/images/blueIconSvg.svg
  apps/docs/static/plasmic/plasmic/docs_opensource_observer/images/docsIconSvg.svg
  apps/docs/static/plasmic/plasmic/docs_opensource_observer/images/osoIconSvg.svg
  apps/docs/static/plasmic/plasmic/docs_opensource_observer/images/osoIconSvg2.svg
  apps/docs/static/plasmic/plasmic/docs_opensource_observer/images/osoKeyVisual.svg
  apps/docs/static/plasmic/plasmic/docs_opensource_observer/images/redIconSvg.svg
  apps/docs/static/plasmic/plasmic/docs_opensource_observer/images/tealIconSvg.svg
  package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: check Plasmic components in to the repo (#4498)
  .github/workflows/ci-default.yml
  apps/docs/.gitignore
  apps/docs/README.md
  apps/docs/package.json
  apps/docs/src/components/plasmic/generated/antd_5_hostless/PlasmicGlobalContextsProvider.tsx
  apps/docs/src/components/plasmic/generated/antd_5_hostless/plasmic.module.css
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicButton.module.css
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicButton.tsx
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicCard.module.css
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicCard.tsx
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicDocsCard.module.css
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicDocsCard.tsx
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicGlobalVariant__Screen.tsx
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicLinkCard.module.css
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicLinkCard.tsx
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicOverview.module.css
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicOverview.tsx
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/icons/PlasmicIcon__CheckSvg.tsx
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/icons/PlasmicIcon__Icon.tsx
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/icons/PlasmicIcon__IdeaSvgrepoComSvg.tsx
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/plasmic.module.css
  apps/docs/src/components/plasmic/generated/plasmic__default_style.module.css
  apps/docs/src/components/plasmic/generated/plasmic_basic_components/plasmic.module.css
  apps/docs/static/plasmic/plasmic/docs_opensource_observer/images/blueIconSvg.svg
  apps/docs/static/plasmic/plasmic/docs_opensource_observer/images/docsIconSvg.svg
  apps/docs/static/plasmic/plasmic/docs_opensource_observer/images/osoIconSvg.svg
  apps/docs/static/plasmic/plasmic/docs_opensource_observer/images/osoIconSvg2.svg
  apps/docs/static/plasmic/plasmic/docs_opensource_observer/images/osoKeyVisual.svg
  apps/docs/static/plasmic/plasmic/docs_opensource_observer/images/redIconSvg.svg
  apps/docs/static/plasmic/plasmic/docs_opensource_observer/images/tealIconSvg.svg
  package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: update frontend deps (#4497)
  apps/frontend/lib/auth/keys.ts
  apps/frontend/lib/clients/stripe.ts
  apps/frontend/lib/metrics-utils.ts
  apps/frontend/lib/types/schema-types.ts
  apps/frontend/lib/types/schema.ts
  apps/frontend/lib/types/supabase.ts
  apps/frontend/package.json
  apps/frontend/plasmic-init-client.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: make Plasmic components resistent to CSS re-ordering
  apps/docs/docs/index.mdx
  apps/docs/docusaurus.config.ts
  apps/docs/plasmic.lock
  apps/docs/src/components/plasmic/Overview.tsx
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicCard.tsx
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicLinkCard.module.css
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicLinkCard.tsx
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicOverview.module.css
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicOverview.tsx
  apps/docs/src/pages/index.mdx
Due: none

fix: comment out console.log
  apps/docs/src/components/plasmic/Overview.tsx
Due: none

fix: make Plasmic components resistent to CSS re-ordering (#4500)
  apps/docs/docs/index.mdx
  apps/docs/docusaurus.config.ts
  apps/docs/plasmic.lock
  apps/docs/src/components/plasmic/Overview.tsx
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicCard.tsx
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicLinkCard.module.css
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicLinkCard.tsx
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicOverview.module.css
  apps/docs/src/components/plasmic/generated/docs_opensource_observer/PlasmicOverview.tsx
  apps/docs/src/pages/index.mdx
Due: none

feat: Add shadcn to frontend build
  apps/frontend/app/globals.css
  apps/frontend/components.json
  apps/frontend/components/project-browser/css/browser.module.css
  apps/frontend/components/project-browser/css/data-table.module.css
  apps/frontend/components/project-browser/data-table/expandable.tsx
  apps/frontend/components/project-browser/data-table/field-default.tsx
  apps/frontend/components/project-browser/data-table/field-growth.tsx
  apps/frontend/components/project-browser/data-table/field-label.tsx
  apps/frontend/components/project-browser/data-table/field-project.tsx
  apps/frontend/components/project-browser/data-table/field-status.tsx
  apps/frontend/components/project-browser/data-table/generic-data-table.tsx
  apps/frontend/components/project-browser/expanded-project-data-table.tsx
  apps/frontend/components/project-browser/project-browser.tsx
  apps/frontend/components/project-browser/project-client-provider.tsx
  apps/frontend/components/project-browser/project-contexts.tsx
  apps/frontend/components/project-browser/project-data-table.tsx
  apps/frontend/components/ui/alert.tsx
  apps/frontend/components/ui/button.tsx
  apps/frontend/components/ui/input.tsx
  apps/frontend/components/ui/separator.tsx
  apps/frontend/components/ui/sheet.tsx
  apps/frontend/components/ui/sidebar.tsx
  apps/frontend/components/ui/skeleton.tsx
  apps/frontend/components/ui/sonner.tsx
  apps/frontend/components/ui/tooltip.tsx
  apps/frontend/hooks/use-mobile.tsx
  apps/frontend/lib/utils.ts
  apps/frontend/package.json
  apps/frontend/tailwind.config.js
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: reconcile `registry` with prod
  warehouse/oso_semantic/oso_semantic/register/entities.py
  warehouse/oso_semantic/oso_semantic/register/events.py
  warehouse/oso_semantic/oso_semantic/register/metrics.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: improve `semantic` tool examples
  warehouse/oso_agent/oso_agent/tool/oso_semantic_query_tool.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: Add shadcn to frontend build (#4501)
  apps/frontend/app/globals.css
  apps/frontend/components.json
  apps/frontend/components/project-browser/css/browser.module.css
  apps/frontend/components/project-browser/css/data-table.module.css
  apps/frontend/components/project-browser/data-table/expandable.tsx
  apps/frontend/components/project-browser/data-table/field-default.tsx
  apps/frontend/components/project-browser/data-table/field-growth.tsx
  apps/frontend/components/project-browser/data-table/field-label.tsx
  apps/frontend/components/project-browser/data-table/field-project.tsx
  apps/frontend/components/project-browser/data-table/field-status.tsx
  apps/frontend/components/project-browser/data-table/generic-data-table.tsx
  apps/frontend/components/project-browser/expanded-project-data-table.tsx
  apps/frontend/components/project-browser/project-browser.tsx
  apps/frontend/components/project-browser/project-client-provider.tsx
  apps/frontend/components/project-browser/project-contexts.tsx
  apps/frontend/components/project-browser/project-data-table.tsx
  apps/frontend/components/ui/alert.tsx
  apps/frontend/components/ui/button.tsx
  apps/frontend/components/ui/input.tsx
  apps/frontend/components/ui/separator.tsx
  apps/frontend/components/ui/sheet.tsx
  apps/frontend/components/ui/sidebar.tsx
  apps/frontend/components/ui/skeleton.tsx
  apps/frontend/components/ui/sonner.tsx
  apps/frontend/components/ui/tooltip.tsx
  apps/frontend/hooks/use-mobile.tsx
  apps/frontend/lib/utils.ts
  apps/frontend/package.json
  apps/frontend/tailwind.config.js
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: add regexp_like macro and model_activity_daily_v0 with tests
  warehouse/oso_sqlmesh/macros/regexp_like.py
  warehouse/oso_sqlmesh/models/marts/sqlmesh/model_activity_daily_v0.sql
  warehouse/oso_sqlmesh/tests/test_model_activity_daily_v0.yml
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(docs): contract activity tutorial
  apps/docs/docs/tutorials/20250603_EligibleProjects.mdx
  apps/docs/docs/tutorials/contract-activity.mdx
  apps/docs/docs/tutorials/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(docs): small fixes
  apps/docs/docs/tutorials/contract-activity.mdx
Due: none

Add MDX tutorial(s) - run 15419124317 (#4006)
  apps/docs/docs/tutorials/contract-activity.mdx
  apps/docs/docs/tutorials/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: set up dockerfile for mcp server
  warehouse/oso_mcp/.dockerignore
  warehouse/oso_mcp/Dockerfile
  warehouse/oso_mcp/oso_mcp/server/app.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: added copilot instructions
  .github/copilot-instructions.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: add chat_history and saved_queries migrations
  apps/frontend/supabase/migrations/20250716191236_chat_history_and_saved_queries.sql.sql
Due: none

feat(chat): add JWT auth for chat and sql routes
  apps/frontend/.env.local.example
  apps/frontend/app/api/v1/chat/route.ts
  apps/frontend/app/api/v1/sql/route.ts
  apps/frontend/components/dataprovider/oso-chat-provider.tsx
  apps/frontend/lib/auth/auth.ts
  apps/frontend/lib/config.ts
Due: none

fix(auth): change from jsonwebtoken to jose to support edge runtime
  apps/frontend/app/api/v1/chat/route.ts
  apps/frontend/app/api/v1/sql/route.ts
  apps/frontend/lib/auth/auth.ts
  apps/frontend/lib/config.ts
  apps/frontend/lib/types/user.ts
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(tests): parse jose ESM to CJS
  apps/frontend/babel.config.testing.js
  apps/frontend/jest.config.ts
Due: none

[OSO-492] Add JWT auth method to use with the frontend chat (#4499)
  apps/frontend/.env.local.example
  apps/frontend/app/api/v1/chat/route.ts
  apps/frontend/app/api/v1/sql/route.ts
  apps/frontend/babel.config.testing.js
  apps/frontend/components/dataprovider/oso-chat-provider.tsx
  apps/frontend/jest.config.ts
  apps/frontend/lib/auth/auth.ts
  apps/frontend/lib/config.ts
  apps/frontend/lib/types/user.ts
  apps/frontend/package.json
  apps/frontend/supabase/migrations/20250716191236_chat_history_and_saved_queries.sql.sql
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(docs): add dagster restate guide and clean up bigquery page
  apps/docs/docs/guides/dagster.md
  apps/docs/docs/integrate/datasets/index.mdx
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

refactor(plasmic): refactor dataprovider registrations for organization
  apps/frontend/components/dataprovider/auth-router.tsx
  apps/frontend/components/dataprovider/index.ts
  apps/frontend/components/dataprovider/metrics-data-provider.tsx
  apps/frontend/components/dataprovider/oso-chat-provider.tsx
  apps/frontend/components/dataprovider/oso-data-provider.tsx
  apps/frontend/components/dataprovider/oso-global-context.tsx
  apps/frontend/components/dataprovider/supabase-query.tsx
  apps/frontend/plasmic-init-client.tsx
Due: none

chore(plasmic): upgrade loader package
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: use `contracts_v0` for artifact validation
  lib/oss-artifact-validators/package.json
  lib/oss-artifact-validators/src/index.ts
  lib/oss-artifact-validators/src/onchain/artifact-validator.ts
  lib/oss-artifact-validators/src/onchain/contracts-v0.ts
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: use `contracts_v0` validators
  ops/external-prs/src/ossd/index.ts
Due: none

fix(trino): move query stage count to production producer trino only
  ops/k8s-apps/base/trino/trino.yaml
  ops/k8s-apps/production/trino/custom-helm-values.yaml
Due: none

fix(trino): move query stage count to production producer trino only (#4514)
  ops/k8s-apps/base/trino/trino.yaml
  ops/k8s-apps/production/trino/custom-helm-values.yaml
Due: none

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  uv run ruff check --fix --force-exclude: any of: **/*.py
  uv run isort: any of: **/*.py
  pnpm pyright: any of: **/*.py
  uv run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  uv run sqlfluff lint: any of: warehouse/dbt/**/*.sql
