Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

add: dynamic `object` in form builder (#6289)
  apps/frontend/components/widgets/form-builder.tsx
  apps/frontend/stories/widgets/form-builder.stories.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
  ops/k8s-apps/production/scheduler/custom-helm-values.yaml
Due: none

refactor(scheduler): reuse compare function from oso-core
  lib/oso-core/oso_core/sql/compare.py
  warehouse/scheduler/scheduler/test_types.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(scheduler): use dialect when parsing with sqlglot (#6291)
  lib/oso-core/oso_core/sql/compare.py
  warehouse/scheduler/scheduler/test_types.py
  warehouse/scheduler/scheduler/types.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(plasmic): add function to do server side routing
  apps/frontend/app/[...catchall]/page.tsx
  apps/frontend/lib/plasmic/component-route.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(components): create FileInputButton component
  apps/frontend/components/ui/file-input.tsx
  apps/frontend/components/ui/index.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(components): create FileInputButton component (#6295)
  apps/frontend/components/ui/file-input.tsx
  apps/frontend/components/ui/index.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: allow `union` config
  apps/frontend/components/widgets/form-builder.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: add `union` form stories
  apps/frontend/stories/widgets/form-builder.stories.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(scheduler): use fixed screen and viewport sizes in published notebook
  warehouse/scheduler/scheduler/mq/handlers/publish_notebook.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(notebooks): use new graphql routes for publish notebooks
  apps/frontend/app/api/v1/osograph/schema/graphql/notebook.graphql
  apps/frontend/app/api/v1/osograph/schema/resolvers/notebook.ts
  apps/frontend/lib/clients/oso-app/oso-app.ts
  apps/frontend/lib/graphql/generated/gql.ts
  apps/frontend/lib/graphql/generated/graphql.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: allow `union` config in form (#6297)
  apps/frontend/components/widgets/form-builder.tsx
  apps/frontend/stories/widgets/form-builder.stories.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(plasmic): add function to do server side routing (#6296)
  apps/frontend/app/[...catchall]/page.tsx
  apps/frontend/lib/plasmic/component-route.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(components): allow ignore error on data providers
  apps/frontend/components/dataprovider/graphql-fetcher.tsx
  apps/frontend/components/dataprovider/oso-data-provider.tsx
  apps/frontend/components/dataprovider/provider-view.tsx
  apps/frontend/lib/plasmic/component-route.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Use new async python flow for published notebooks (#6299)
  apps/frontend/app/api/v1/osograph/schema/graphql/notebook.graphql
  apps/frontend/app/api/v1/osograph/schema/resolvers/notebook.ts
  apps/frontend/lib/clients/oso-app/oso-app.ts
  apps/frontend/lib/graphql/generated/gql.ts
  apps/frontend/lib/graphql/generated/graphql.ts
  warehouse/scheduler/scheduler/mq/handlers/publish_notebook.py
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: increase batch size for incremental processing in deduplication models
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/commits/int_ddp__commits_deduped.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/commits/int_ddp__commits_unified.sql
Due: none

feat(components): allow ignore error on data providers (#6300)
  apps/frontend/components/dataprovider/graphql-fetcher.tsx
  apps/frontend/components/dataprovider/oso-data-provider.tsx
  apps/frontend/components/dataprovider/provider-view.tsx
  apps/frontend/lib/plasmic/component-route.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: add `gcs_bucket` config
  warehouse/scheduler/scheduler/config.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

add: `GCSLogBufferProcessor` and `BufferedBoundLogger` loggers
  warehouse/scheduler/scheduler/logging.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: upload run logs to `gcs`
  warehouse/scheduler/scheduler/mq/common.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: populate `default` dynamic objects
  apps/frontend/components/widgets/form-builder.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: add populated form builder `stories`
  apps/frontend/stories/widgets/form-builder.stories.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(sidebar): change onChange to onClick
  apps/frontend/components/ui/sidebar.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(sidebar): change onChange to onClick (#6306)
  apps/frontend/components/ui/sidebar.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(sqlmesh): increase batch size to avoid iceberg issue
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/events/int_github__events_enriched_with_opendevdata_commits.sql
Due: none

[OSO-1620] increase batch size to avoid iceberg issue (#6308)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/events/int_github__events_enriched_with_opendevdata_commits.sql
Due: none

chore: register `log` viewer component
  apps/frontend/components/widgets/index.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: create `log` viewer component
  apps/frontend/components/widgets/log-viewer.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: create `log` viewer component stories
  apps/frontend/stories/widgets/log-viewer.stories.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Increase batch size for commit deduplication models (#6301)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/commits/int_ddp__commits_deduped.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/commits/int_ddp__commits_unified.sql
Due: none

Path conditions:
  eslint --flag v10_config_lookup_from_file --fix --max-warnings 0: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --ignore-path .gitignore --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
  prettier --ignore-path .gitignore --log-level warn --check: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
  uv run ruff format: any of: **/*.py
  uv run ruff check --fix --force-exclude: any of: **/*.py
  uv run isort: any of: **/*.py
  pnpm pyright: any of: **/*.py
