Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: disable tables endpoint
  apps/frontend/app/api/v1/osograph/schema/resolvers/dataset.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: sync uv lock
  uv.lock
Due: none

fix: temporarily disable tables endpoint (#6221)
  apps/frontend/app/api/v1/osograph/schema/resolvers/dataset.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: sync uv lock (#6222)
  uv.lock
Due: none

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
  ops/k8s-apps/production/scheduler/custom-helm-values.yaml
Due: none

fix(scheduler): properly handle table resolution errors
  lib/query-rewriter/queryrewriter/errors.py
  lib/query-rewriter/queryrewriter/rewrite.py
  warehouse/scheduler/scheduler/mq/handlers/query.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: docs
  warehouse/scheduler/scheduler/mq/handlers/query.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(scheduler): properly handle table resolution errors (#6224)
  lib/query-rewriter/queryrewriter/errors.py
  lib/query-rewriter/queryrewriter/rewrite.py
  warehouse/scheduler/scheduler/mq/handlers/query.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: expose organization on Run type
  apps/frontend/app/api/v1/osograph/schema/graphql/scheduler.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/user.graphql
  apps/frontend/app/api/v1/osograph/schema/resolvers/scheduler.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/system.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/user.ts
  apps/frontend/lib/query/defaults.ts
  apps/frontend/lib/query/resolvers/metadata-table-resolver.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: update codegen
  warehouse/scheduler/scheduler/graphql_client/__init__.py
  warehouse/scheduler/scheduler/graphql_client/client.py
  warehouse/scheduler/scheduler/graphql_client/fragments.py
  warehouse/scheduler/scheduler/graphql_client/get_data_ingestion_config.py
  warehouse/scheduler/scheduler/graphql_client/get_run.py
  warehouse/scheduler/scheduler/mq/common.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: update
  warehouse/scheduler/scheduler/client.graphql
  warehouse/scheduler/scheduler/types.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: work in progress improve resolveTable error granularity
  apps/frontend/app/api/v1/osograph/schema/graphql/system.graphql
  apps/frontend/app/api/v1/osograph/schema/resolvers/system.ts
  apps/frontend/lib/graphql/generated/graphql.ts
  apps/frontend/lib/query/defaults.ts
  apps/frontend/lib/query/resolver.ts
  apps/frontend/lib/query/resolvers/db-table-resolver.test.ts
  apps/frontend/lib/query/resolvers/db-table-resolver.ts
  apps/frontend/lib/query/resolvers/legacy-table-resolver.test.ts
  apps/frontend/lib/query/resolvers/legacy-table-resolver.ts
  apps/frontend/lib/query/resolvers/metadata-table-resolver.test.ts
  apps/frontend/lib/query/resolvers/metadata-table-resolver.ts
  apps/frontend/lib/query/rewrite.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(frontend): db table resolver should omit unresolvable tables
  apps/frontend/lib/query/resolvers/db-table-resolver.test.ts
  apps/frontend/lib/query/resolvers/db-table-resolver.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(frontend): db table resolver should omit unresolvable tables (#6226)
  apps/frontend/lib/query/resolvers/db-table-resolver.test.ts
  apps/frontend/lib/query/resolvers/db-table-resolver.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: hotfix docker build issues by switching to debian
  docker/images/000-oso-base/Dockerfile
  docker/images/oso/Dockerfile
Due: none

fix: hotfix docker build issues by switching to debian (#6227)
  docker/images/000-oso-base/Dockerfile
  docker/images/oso/Dockerfile
Due: none

fix: adds tests for rewriter to ensure error propagation
  lib/query-rewriter/queryrewriter/resolvers/fake.py
  lib/query-rewriter/queryrewriter/test_rewrite.py
  warehouse/scheduler/scheduler/test_evaluator.py
  warehouse/scheduler/scheduler/test_utils.py
  warehouse/scheduler/scheduler/utils.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Enhance GitHub Node ID decoding and repository mapping
  warehouse/oso_sqlmesh/macros/decode_github_node_id.py
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers_with_dev_id.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/repositories/int_opendevdata__repositories_with_repo_id.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/github/int_github__node_id_map.sql
  warehouse/oso_sqlmesh/tests/test_int_opendevdata__developers.yml
  warehouse/oso_sqlmesh/tests/test_int_opendevdata__repositories_with_repo_id.yml
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

perf(sqlmesh): optimize GitHub ID matching with pre-computed mapping table (#6229)
  warehouse/oso_sqlmesh/macros/decode_github_node_id.py
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers_with_dev_id.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/repositories/int_opendevdata__repositories_with_repo_id.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/github/int_github__node_id_map.sql
  warehouse/oso_sqlmesh/tests/test_int_opendevdata__developers.yml
  warehouse/oso_sqlmesh/tests/test_int_opendevdata__repositories_with_repo_id.yml
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

test: add comprehensive test cases for GitHub Node ID mapping
  warehouse/oso_sqlmesh/tests/test_int_github__node_id_map.yml
Due: none

feat(graphql): allow graphql query to return all the responses
  apps/frontend/app/api/v1/osograph/schema/resolvers/organization.ts
  apps/frontend/app/api/v1/osograph/utils/query-helpers.ts
  apps/frontend/app/api/v1/osograph/utils/resolver-helpers.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: consolidate `materialization` under `dataset`
  apps/frontend/app/api/v1/osograph/schema/graphql/data-model.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/dataset.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/static-model.graphql
  apps/frontend/app/api/v1/osograph/schema/resolvers/data-ingestion.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/data-model.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/dataset.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/static-model.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: run `codegen` scripts
  apps/frontend/lib/graphql/generated/graphql.ts
  apps/frontend/lib/types/schema.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add: `materializations` to `data_ingest` (#6218)
  apps/frontend/app/api/v1/osograph/schema/graphql/data-model.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/dataset.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/static-model.graphql
  apps/frontend/app/api/v1/osograph/schema/resolvers/data-model.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/dataset.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/static-model.ts
  apps/frontend/lib/graphql/generated/graphql.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

refactor(graphql): refactor pagination calculation
  apps/frontend/app/api/v1/osograph/schema/resolvers/organization.ts
  apps/frontend/app/api/v1/osograph/utils/query-helpers.ts
  apps/frontend/app/api/v1/osograph/utils/resolver-helpers.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: adds tests for rewriter to ensure error propagation (#6228)
  lib/query-rewriter/queryrewriter/resolvers/fake.py
  lib/query-rewriter/queryrewriter/test_rewrite.py
  warehouse/scheduler/scheduler/test_evaluator.py
  warehouse/scheduler/scheduler/test_utils.py
  warehouse/scheduler/scheduler/utils.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: run `codegen` scripts on `data_ingestion`
  warehouse/scheduler/scheduler/client.graphql
  warehouse/scheduler/scheduler/graphql_client/__init__.py
  warehouse/scheduler/scheduler/graphql_client/client.py
  warehouse/scheduler/scheduler/graphql_client/get_data_ingestion_config.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(forms): fix isDirty not cleaning after submission
  apps/frontend/components/widgets/form-saver.tsx
  apps/frontend/package.json
  pnpm-lock.yaml
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(oso_sqlmesh): split int_opendevdata__developers_with_dev_id into many parts
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_gharchive__developers.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers_with_dev_id.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers_with_dev_id__actor_id_matches.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers_with_dev_id__combined.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers_with_dev_id__deduplicated.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers_with_dev_id__name_email_matches.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers_with_dev_id__unmatched_gharchive.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers_with_dev_id__unmatched_opendevdata.sql
Due: none

fix(forms): fix isDirty not cleaning after submission (#6234)
  apps/frontend/components/widgets/form-saver.tsx
  apps/frontend/package.json
  pnpm-lock.yaml
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

temporary disable tests
  warehouse/oso_sqlmesh/tests/test_int_opendevdata__developers_with_dev_id.yml.bak
Due: none

fix: model name
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers_with_dev_id__deduplicated.sql
Due: none

fix(oso_sqlmesh): split int_opendevdata__developers_with_dev_id into many parts (#6235)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_gharchive__developers.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers_with_dev_id.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers_with_dev_id__actor_id_matches.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers_with_dev_id__combined.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers_with_dev_id__deduplicated.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers_with_dev_id__name_email_matches.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers_with_dev_id__unmatched_gharchive.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers_with_dev_id__unmatched_opendevdata.sql
  warehouse/oso_sqlmesh/tests/test_int_opendevdata__developers_with_dev_id.yml.bak
Due: none

Path conditions:
  eslint --flag v10_config_lookup_from_file --fix --max-warnings 0: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --ignore-path .gitignore --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
  prettier --ignore-path .gitignore --log-level warn --check: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
  uv run ruff format: any of: **/*.py
  uv run ruff check --fix --force-exclude: any of: **/*.py
  uv run isort: any of: **/*.py
  pnpm pyright: any of: **/*.py
