Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

Revert "Reverting project page (#1903)"
  apps/frontend/app/project/[...name]/page.tsx
Due: none

Fix query usage
  apps/frontend/lib/clickhouse/cached-queries.ts
  apps/frontend/lib/clickhouse/queries.ts
Due: none

Seems to be working now
  apps/frontend/lib/clickhouse/cached-queries.ts
  apps/frontend/lib/clickhouse/queries.ts
  apps/frontend/lib/clients/clickhouse.ts
Due: none

More cloudquery clean up (#1905)
  .github/workflows/warehouse-run-data-pipeline-cloudquery.yml
  .github/workflows/warehouse-run-data-pipeline.yml
  docker/images/dagster-dask/Dockerfile
  ops/tf-modules/warehouse/main.tf
  warehouse/dbt/models/staging/oss-directory/stg_ossd__current_collections.sql
  warehouse/dbt/models/staging/oss-directory/stg_ossd__current_projects.sql
  warehouse/dbt/models/staging/oss-directory/stg_ossd__current_repositories.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Clickhouse Fix (#1906)
  apps/frontend/app/project/[...name]/page.tsx
  apps/frontend/lib/clickhouse/cached-queries.ts
  apps/frontend/lib/clickhouse/queries.ts
  apps/frontend/lib/clients/clickhouse.ts
Due: none

Fixes issues with next apollo subgraph and next
  apps/frontend/next.config.js
  apps/frontend/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

No need for "resolutions"
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Fixes issues with next apollo subgraph and next (#1909)
  apps/frontend/next.config.js
  apps/frontend/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add: pre-macro metrics for gas fees and transactions
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__gas_fees_sum_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__transactions_count_6_months.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Wires the queries for the artifact page
  apps/frontend/app/artifact/[source]/[...name]/page.tsx
  apps/frontend/lib/clickhouse/cached-queries.ts
  apps/frontend/lib/clickhouse/queries.ts
Due: none

Wires the queries for the artifact page (#1912)
  apps/frontend/app/artifact/[source]/[...name]/page.tsx
  apps/frontend/lib/clickhouse/cached-queries.ts
  apps/frontend/lib/clickhouse/queries.ts
Due: none

add: preprocessing macro
  warehouse/dbt/macros/models/timeseries.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__gas_fees_sum_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__transactions_count_6_months.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

add: DAAs model
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__daily_active_addresses_avg_6_months.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

add: MAAs model
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__monthly_active_addresses_avg_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__transactions_sum_6_months.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat: apply bot filter to addresses on OP mainnet
  warehouse/dbt/macros/models/potential_bots.sql
  warehouse/dbt/models/intermediate/users/int_artifacts_by_user.sql
  warehouse/dbt/models/intermediate/users/int_potential_bots.sql
  warehouse/dbt/models/intermediate/users/int_users.sql
  warehouse/dbt/models/staging/optimism/stg_optimism__potential_bots.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

refactor: first_time_addresses macro to include OP mainnet
  warehouse/dbt/macros/models/first_time_addresses.sql
  warehouse/dbt/models/staging/optimism/stg_optimism__first_time_addresses.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

chore: rename fields
  warehouse/dbt/macros/models/first_time_addresses.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat: consolidate first_time_addresses model
  warehouse/dbt/models/intermediate/users/int_first_time_addresses.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat: addresses_by_user model
  warehouse/dbt/models/intermediate/users/int_addresses_by_user.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

chore: remove deprecated user models
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__trusted_transactions.sql
  warehouse/dbt/models/intermediate/users/int_artifacts_by_user.sql
  warehouse/dbt/models/intermediate/users/int_user_addresses.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat: add bot filter and trusted user models to production (#1913)
  warehouse/dbt/macros/models/first_time_addresses.sql
  warehouse/dbt/macros/models/potential_bots.sql
  warehouse/dbt/models/intermediate/directory/int_artifacts_by_user.sql
  warehouse/dbt/models/intermediate/metrics/onchain/int_onchain_metric__trusted_transactions.sql
  warehouse/dbt/models/intermediate/users/int_addresses_by_user.sql
  warehouse/dbt/models/intermediate/users/int_first_time_addresses.sql
  warehouse/dbt/models/intermediate/users/int_potential_bots.sql
  warehouse/dbt/models/intermediate/users/int_user_addresses.sql
  warehouse/dbt/models/intermediate/users/int_users.sql
  warehouse/dbt/models/staging/optimism/stg_optimism__first_time_addresses.sql
  warehouse/dbt/models/staging/optimism/stg_optimism__potential_bots.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Fix duplicate rows in first time addresses (#1890)
  warehouse/dbt/macros/models/addresses_daily_gas_and_usage.sql
  warehouse/dbt/models/staging/base/stg_base__first_time_addresses.sql
  warehouse/dbt/models/staging/frax/stg_frax__first_time_addresses.sql
  warehouse/dbt/models/staging/metal/stg_metal__first_time_addresses.sql
  warehouse/dbt/models/staging/mode/stg_mode__first_time_addresses.sql
  warehouse/dbt/models/staging/pgn/stg_pgn__first_time_addresses.sql
  warehouse/dbt/models/staging/zora/stg_zora__first_time_addresses.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat: artifacts_by_address model
  warehouse/dbt/models/intermediate/users/int_artifacts_by_address.sql
  warehouse/dbt/models/staging/optimism/stg_optimism__first_time_addresses.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: remove ethereum bots model
  warehouse/dbt/models/staging/ethereum/stg_ethereum__potential_bots.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: linting error
  warehouse/dbt/models/intermediate/users/int_artifacts_by_address.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat: artifacts_by_address model (#1915)
  warehouse/dbt/models/intermediate/users/int_artifacts_by_address.sql
  warehouse/dbt/models/staging/ethereum/stg_ethereum__potential_bots.sql
  warehouse/dbt/models/staging/optimism/stg_optimism__first_time_addresses.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat: add trusted user model
  warehouse/dbt/models/intermediate/users/int_superchain_trusted_users.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

add: trusted transactions
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__trusted_transactions_sum_6_months.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: windowing on monthly metrics
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__daily_active_addresses_avg_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__trusted_daily_active_users_avg_6_months.sql
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__trusted_monthly_active_users_avg_6_months.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: remove ethereum from network names
  warehouse/dbt/models/intermediate/users/int_first_time_addresses.sql
  warehouse/dbt/models/intermediate/users/int_potential_bots.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: remove ethereum from network names (#1917)
  warehouse/dbt/models/intermediate/users/int_first_time_addresses.sql
  warehouse/dbt/models/intermediate/users/int_potential_bots.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: address reference
  warehouse/dbt/models/intermediate/metrics/timeseries/superchain/superchain_metric__trusted_daily_active_users_avg_6_months.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: update transaction sources and use new OP source
  warehouse/dbt/models/staging/optimism/stg_optimism__deployers.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: revert sources for first_time_addresses and potential_bots
  warehouse/dbt/macros/models/first_time_addresses.sql
  warehouse/dbt/macros/models/potential_bots.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: point source to superchain instead of google
  warehouse/dbt/models/optimism_sources.yml
Due: none

add: optimism addresses_gas_and_usage model
  warehouse/dbt/models/staging/optimism/stg_optimism__addresses_gas_and_usage.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

chore: remove references to op receipts
  warehouse/dbt/models/marts/superchain/verification/rf4_network_share.sql
  warehouse/dbt/models/marts/superchain/verification/rf4_transactions_window.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: Copy metrics to Clickhouse
  warehouse/dbt/models/intermediate/metrics/int_metrics.sql
  warehouse/dbt/models/marts/metrics/timeseries_metrics_by_artifact_v0.sql
  warehouse/dbt/models/marts/metrics/timeseries_metrics_by_project_v0.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: add op mainnet to networks
  warehouse/dbt/models/marts/superchain/verification/rf4_transactions_window.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: Copy metrics to Clickhouse (#1920)
  warehouse/dbt/models/intermediate/metrics/int_metrics.sql
  warehouse/dbt/models/marts/metrics/timeseries_metrics_by_artifact_v0.sql
  warehouse/dbt/models/marts/metrics/timeseries_metrics_by_project_v0.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  poetry run ruff check --fix --force-exclude: any of: **/*.py
  pnpm pyright: any of: **/*.py
  poetry run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  poetry run sqlfluff lint: any of: warehouse/dbt/**/*.sql
