Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

refactor(sqlmesh): move eoa-related and OLI related labels into separate directory
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/addresses/int_addresses__4337_operators.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/addresses/int_addresses__bridges.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/addresses/int_addresses__labeled_eoas.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/addresses/int_addresses__openlabelsinitiative.sql
Due: none

refactor(sqlmesh): use int_artifacts__blockchain to union all upstream artifact models
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/contracts/int_contracts_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/int_artifacts__blockchain.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/int_all_artifacts.sql
Due: none

refactor(sqlmesh): deletes old models
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/4337-operators/int_4337_address_labels.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/bridges/int_addresses__eoa_bridges.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/bridges/int_bridges_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/deployers/int_deployers.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/deployers/int_deployers_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/openlabelsinitiative/int_addresses__4337_operators.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/openlabelsinitiative/int_addresses__openlabelsinitiative.sql
Due: none

feat(dagster): add defillama protocol metadata
  warehouse/oso_dagster/assets/defillama.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(dagster): add defillama protocol metadata (#4181)
  warehouse/oso_dagster/assets/defillama.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

chore(sqlmesh): add seed and staging models
  warehouse/metrics_tools/seed/schemas/defillama/protocol_metadata.py
  warehouse/oso_sqlmesh/models/staging/defillama/stg_defillama__protocol_metadata.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(dagster): grab all slugs not just valid ones
  warehouse/oso_dagster/assets/defillama.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

refactor(sqlmesh): use protocol metadata model
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/defillama/int_defillama_protocol_mapping.sql
Due: none

chore(sqlmesh): add seed and staging models for defillama protocol metadata (plus some smol fixes) (#4183)
  warehouse/metrics_tools/seed/schemas/defillama/protocol_metadata.py
  warehouse/oso_dagster/assets/defillama.py
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/defillama/int_defillama_protocol_mapping.sql
  warehouse/oso_sqlmesh/models/staging/defillama/stg_defillama__protocol_metadata.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): include all defillama protocols as potential artifact ids
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/defillama/int_defillama_protocols.sql
Due: none

refactor(sqlmesh): move OSSD-specific contract discovery to separate model
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/ossd/int_artifacts_by_project_in_ossd_downstream.sql
Due: none

fix(sqlmesh): reconnect other artifacts by project models
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/int_artifacts__blockchain.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/defillama/int_defillama_protocol_mapping.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/int_all_artifacts.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/int_artifacts.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/packages/int_sbom_artifacts.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/collections/int_artifacts_by_collection.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/int_artifacts_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/int_artifacts_by_project_all_sources.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/op-atlas/int_artifacts_by_project_in_op_atlas.sql
Due: none

refactor(sqlmesh): remove circular dependencies for blockchain artifacts (#4180)
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/4337-operators/int_4337_address_labels.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/addresses/int_addresses__4337_operators.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/addresses/int_addresses__bridges.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/addresses/int_addresses__labeled_eoas.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/addresses/int_addresses__openlabelsinitiative.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/bridges/int_bridges_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/contracts/int_contracts_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/deployers/int_deployers.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/deployers/int_deployers_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/blockchain/int_artifacts__blockchain.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/defillama/int_defillama_protocol_mapping.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/defillama/int_defillama_protocols.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/int_all_artifacts.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/int_artifacts.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/artifacts/packages/int_sbom_artifacts.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/collections/int_artifacts_by_collection.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/int_artifacts_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/int_artifacts_by_project_all_sources.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/op-atlas/int_artifacts_by_project_in_op_atlas.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/ossd/int_artifacts_by_project_in_ossd_downstream.sql
  warehouse/oso_sqlmesh/models/seed/seed_known_eoa_bridges.sql
  warehouse/oso_sqlmesh/seeds/chain_id_to_chain_name.csv
  warehouse/oso_sqlmesh/seeds/known_eoa_bridges.csv
Due: none

feat(sqlmesh): Add author_association to pull requests model and test for the model
  warehouse/oso_sqlmesh/models/staging/github/stg_github__pull_requests.sql
  warehouse/oso_sqlmesh/tests/test_stg_github__pull_requests.yml
Due: none

fix(docs): update contribute-data examples (#4151)
  apps/docs/docs/contribute-data/gcs.md
  apps/docs/docs/contribute-data/rest-api.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(sqlmesh): Add author_association field to int_events_aux_prs and related test cases
  warehouse/oso_sqlmesh/models/intermediate/events/github/prs/int_events_aux_prs.sql
  warehouse/oso_sqlmesh/tests/test_int_events_aux_prs.yml
Due: none

feat(metrics): Add new_contributors metric and corresponding tests
  warehouse/oso_sqlmesh/models/metrics_factories.py
  warehouse/oso_sqlmesh/oso_metrics/code/new_contributors.sql
  warehouse/oso_sqlmesh/tests/test_new_contributors_to_project_daily.yml
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: use workflows to allow for an event driven agent pipeline
  pyproject.toml
  uv.lock
  warehouse/oso_agent/oso_agent/agent/base.py
  warehouse/oso_agent/oso_agent/agent/decorator.py
  warehouse/oso_agent/oso_agent/types/response.py
  warehouse/oso_agent/oso_agent/workflows/__init__.py
  warehouse/oso_agent/oso_agent/workflows/base.py
  warehouse/oso_agent/oso_agent/workflows/mixins.py
  warehouse/oso_agent/oso_agent/workflows/registry.py
  warehouse/oso_agent/oso_agent/workflows/text2sql/__init__.py
  warehouse/oso_agent/oso_agent/workflows/text2sql/basic.py
  warehouse/oso_agent/oso_agent/workflows/types.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: fixes and test
  warehouse/oso_agent/oso_agent/agent/semantic_agent.py
  warehouse/oso_agent/oso_agent/server/bot.py
  warehouse/oso_agent/oso_agent/types/response.py
  warehouse/oso_agent/oso_agent/workflows/test_base.py
  warehouse/oso_agent/oso_agent/workflows/types.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: remove prints
  warehouse/oso_agent/oso_agent/workflows/test_base.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: adds tools for composable and introspectable workflows (#4191)
  pyproject.toml
  uv.lock
  warehouse/oso_agent/oso_agent/agent/base.py
  warehouse/oso_agent/oso_agent/agent/decorator.py
  warehouse/oso_agent/oso_agent/agent/semantic_agent.py
  warehouse/oso_agent/oso_agent/server/bot.py
  warehouse/oso_agent/oso_agent/types/response.py
  warehouse/oso_agent/oso_agent/workflows/__init__.py
  warehouse/oso_agent/oso_agent/workflows/base.py
  warehouse/oso_agent/oso_agent/workflows/mixins.py
  warehouse/oso_agent/oso_agent/workflows/registry.py
  warehouse/oso_agent/oso_agent/workflows/test_base.py
  warehouse/oso_agent/oso_agent/workflows/text2sql/__init__.py
  warehouse/oso_agent/oso_agent/workflows/text2sql/basic.py
  warehouse/oso_agent/oso_agent/workflows/types.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: added sql exact match to evals
  warehouse/oso_agent/oso_agent/datasets/uploader.py
  warehouse/oso_agent/oso_agent/eval/query_similarity/__init__.py
  warehouse/oso_agent/oso_agent/eval/query_similarity/naive_exact_set_match.py
  warehouse/oso_agent/oso_agent/eval/query_similarity/naive_result_exact_match.py
  warehouse/oso_agent/oso_agent/eval/query_similarity/result_exact_match.py
  warehouse/oso_agent/oso_agent/eval/text2sql.py
  warehouse/oso_agent/oso_agent/util/parse.py
  warehouse/oso_agent/oso_agent/util/query.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

refactor: disambiguate function names
  warehouse/oso_agent/oso_agent/eval/query_similarity/result_exact_match.py
  warehouse/oso_agent/oso_agent/eval/text2sql.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: refactored evals workflow + added fuzzy match on sql result + adding testing
  warehouse/oso_agent/oso_agent/datasets/uploader.py
  warehouse/oso_agent/oso_agent/eval/query_similarity/naive_exact_set_match.py
  warehouse/oso_agent/oso_agent/eval/query_similarity/naive_result_exact_match.py
  warehouse/oso_agent/oso_agent/eval/query_similarity/result_exact_match.py
  warehouse/oso_agent/oso_agent/eval/text2sql.py
  warehouse/oso_agent/oso_agent/tests/__init__.py
  warehouse/oso_agent/oso_agent/tests/evals.py
  warehouse/oso_agent/oso_agent/types/datasets.py
  warehouse/oso_agent/oso_agent/types/eval.py
  warehouse/oso_agent/oso_agent/util/jaccard.py
  warehouse/oso_agent/oso_agent/util/parse.py
  warehouse/oso_agent/oso_agent/util/query.py
  warehouse/oso_agent/oso_agent/util/query_sim.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: refactored evals workflow
  warehouse/oso_agent/oso_agent/eval/text2sql.py
  warehouse/oso_agent/oso_agent/tests/test_evals.py
  warehouse/oso_agent/oso_agent/types/eval.py
  warehouse/oso_agent/oso_agent/util/query_sim.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: small fixes
  warehouse/oso_agent/oso_agent/tests/test_evals.py
  warehouse/oso_agent/oso_agent/types/eval.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(oso-app): disallow relationships that link the same table
  apps/frontend/lib/clients/oso-app/oso-app.ts
Due: none

fix(oso-app): disallow relationships that link the same table (#4196)
  apps/frontend/lib/clients/oso-app/oso-app.ts
Due: none

fix: add forceError and forceLoading into DataProviderView
  apps/frontend/components/dataprovider/auth-router.tsx
  apps/frontend/components/dataprovider/oso-chat-provider.tsx
  apps/frontend/components/dataprovider/oso-data-provider.tsx
  apps/frontend/components/dataprovider/provider-view.tsx
  apps/frontend/components/dataprovider/supabase-query.tsx
Due: none

fix: add forceError and forceLoading into DataProviderView (#4197)
  apps/frontend/components/dataprovider/auth-router.tsx
  apps/frontend/components/dataprovider/oso-chat-provider.tsx
  apps/frontend/components/dataprovider/oso-data-provider.tsx
  apps/frontend/components/dataprovider/provider-view.tsx
  apps/frontend/components/dataprovider/supabase-query.tsx
Due: none

feat: Add an ADT to represent SupabaseState
  apps/frontend/components/hooks/supabase.tsx
  apps/frontend/lib/types/schema-types.ts
  apps/frontend/lib/types/schema.ts
  apps/frontend/lib/types/supabase.ts
Due: none

feat: use the new SupabaseState ADT downstream
  apps/frontend/app/billing/page.tsx
  apps/frontend/components/dataprovider/apollo-wrapper.tsx
  apps/frontend/components/dataprovider/auth-router.tsx
  apps/frontend/components/dataprovider/oso-chat-provider.tsx
  apps/frontend/components/dataprovider/supabase-query.tsx
  apps/frontend/components/hooks/supabase.tsx
  apps/frontend/components/widgets/apollo-sandbox.tsx
  apps/frontend/components/widgets/auth-actions.tsx
  apps/frontend/components/widgets/auth-form.tsx
  apps/frontend/components/widgets/oso-chat.tsx
Due: none

feat: AuthRouter shows the loading state properly (#4198)
  apps/frontend/app/billing/page.tsx
  apps/frontend/components/dataprovider/apollo-wrapper.tsx
  apps/frontend/components/dataprovider/auth-router.tsx
  apps/frontend/components/dataprovider/oso-chat-provider.tsx
  apps/frontend/components/dataprovider/supabase-query.tsx
  apps/frontend/components/hooks/supabase.tsx
  apps/frontend/components/widgets/apollo-sandbox.tsx
  apps/frontend/components/widgets/auth-actions.tsx
  apps/frontend/components/widgets/auth-form.tsx
  apps/frontend/components/widgets/oso-chat.tsx
  apps/frontend/lib/types/schema-types.ts
  apps/frontend/lib/types/schema.ts
  apps/frontend/lib/types/supabase.ts
Due: none

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  uv run ruff check --fix --force-exclude: any of: **/*.py
  uv run isort: any of: **/*.py
  pnpm pyright: any of: **/*.py
  uv run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  uv run sqlfluff lint: any of: warehouse/dbt/**/*.sql
