Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

chore: disables arbitrum ingest for now (#3178)
  warehouse/oso_dagster/assets/arbitrum.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: bump oss-directory dependency
  pyproject.toml
  uv.lock
Due: none

chore: bump oss-directory dependency (#3185)
  pyproject.toml
  uv.lock
Due: none

fix(sqlmesh): fixes the chain_name macro to use correct sql
  warehouse/oso_sqlmesh/macros/onchain/chain_name.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): local-trino dataset handling
  warehouse/oso_sqlmesh/macros/oso_source.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(sqlmesh): new int_events__blockchain
  warehouse/oso_sqlmesh/models/intermediate/events/int_events.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__blockchain.sql
Due: none

fix(metrics_tools): remove int_events__blockchain from local initialize
  warehouse/metrics_tools/local/utils.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: fixes to the int_events__blockchain model compiles
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__blockchain.sql
Due: none

fix: differentiate trace/txn event types
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__blockchain.sql
Due: none

fix: pass both gas_used and gas_price_tx as aux columns
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__blockchain.sql
Due: none

fix: wire updated events blockchain to metrics
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__blockchain.sql
  warehouse/oso_sqlmesh/models/metrics_factories.py
  warehouse/oso_sqlmesh/oso_metrics/blockchain/active_addresses.sql
  warehouse/oso_sqlmesh/oso_metrics/blockchain/active_contracts.sql
  warehouse/oso_sqlmesh/oso_metrics/blockchain/gas_fees.sql
  warehouse/oso_sqlmesh/oso_metrics/blockchain/transactions.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: metrics_factories mapping
  warehouse/oso_sqlmesh/models/metrics_factories.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: wire updated int_events__blockchain (#3176)
  warehouse/metrics_tools/local/utils.py
  warehouse/oso_sqlmesh/macros/onchain/chain_name.py
  warehouse/oso_sqlmesh/macros/oso_source.py
  warehouse/oso_sqlmesh/models/intermediate/events/int_events.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__blockchain.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__blockchain.sql
  warehouse/oso_sqlmesh/models/metrics_factories.py
  warehouse/oso_sqlmesh/oso_metrics/blockchain/active_addresses.sql
  warehouse/oso_sqlmesh/oso_metrics/blockchain/active_contracts.sql
  warehouse/oso_sqlmesh/oso_metrics/blockchain/gas_fees.sql
  warehouse/oso_sqlmesh/oso_metrics/blockchain/transactions.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: skip `invalid` defillama slugs
  warehouse/oso_dagster/assets/defillama.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: use all defillama `protocols` in downstream sqlmesh assets
  warehouse/metrics_tools/local/utils.py
  warehouse/oso_sqlmesh/macros/defillama/unioned_defillama_tvl_events.py
  warehouse/oso_sqlmesh/models/staging/defillama/stg_defillama.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: add `disabled` defillama protocols
  warehouse/oso_dagster/assets/defillama.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: bump dagster sqlmesh to 0.7.0
  pyproject.toml
  uv.lock
Due: none

chore: bump dagster sqlmesh to 0.7.0 (#3190)
  pyproject.toml
  uv.lock
Due: none

feat(api): track api calls for analytics
  apps/frontend/components/dataprovider/auth-router.tsx
  apps/frontend/components/widgets/analytics.tsx
  apps/frontend/lib/auth/auth.ts
  apps/frontend/lib/clients/segment.ts
  apps/frontend/middleware.ts
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: wip start oso-operator
  ops/oso-operator/package.json
  ops/oso-operator/src/index.ts
  ops/oso-operator/src/operator.ts
  ops/oso-operator/src/resources/application-db.ts
  ops/oso-operator/src/resources/definition.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: configure updated iceberg (regional)
  ops/k8s-apps/production/consumer-trino/custom-helm-values.yaml
  ops/k8s-apps/production/nessie/custom-helm-values.yaml
Due: none

chore: configure nessie on production trino
  ops/k8s-apps/production/kustomization.yaml
  ops/k8s-apps/production/nessie/custom-helm-values.yaml
  ops/k8s-apps/production/sqlmesh-cloudsql-proxy/custom-helm-values.yaml
  ops/k8s-apps/production/sqlmesh-cloudsql-proxy/kustomization.yaml
  ops/k8s-apps/production/trino/custom-helm-values.yaml
Due: none

chore: deploy updated iceberg (#3194)
  ops/k8s-apps/production/consumer-trino/custom-helm-values.yaml
  ops/k8s-apps/production/kustomization.yaml
  ops/k8s-apps/production/nessie/custom-helm-values.yaml
  ops/k8s-apps/production/sqlmesh-cloudsql-proxy/custom-helm-values.yaml
  ops/k8s-apps/production/sqlmesh-cloudsql-proxy/kustomization.yaml
  ops/k8s-apps/production/trino/custom-helm-values.yaml
Due: none

fix: updated iceberg connector references
  ops/helm-charts/metrics-calculation-service/values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
Due: none

fix: fixes automatic sqlmesh migration
  warehouse/oso_lets_go/cli.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: sqlmesh prefix
  warehouse/oso_dagster/definitions.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): fixes hex conversion in trino
  warehouse/oso_sqlmesh/macros/hex_to_int.py
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__4337_traces.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(ops): use correct exchange bucket
  ops/k8s-apps/production/trino/custom-helm-values.yaml
Due: none

fix(sqlmesh): fix running tests in local-trino
  warehouse/oso_sqlmesh/tests/test_stg_op_atlas_project_contract.yml
  warehouse/oso_sqlmesh/tests/test_stg_op_atlas_project_farcaster.yml
  warehouse/oso_sqlmesh/tests/test_stg_op_atlas_project_repository.yml
Due: none

fix(sqlmesh): fixes hex_to_int macro
  warehouse/oso_sqlmesh/macros/hex_to_int.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: sqlmesh + trino fixes (#3195)
  ops/k8s-apps/production/trino/custom-helm-values.yaml
  warehouse/oso_sqlmesh/macros/hex_to_int.py
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__4337_traces.sql
  warehouse/oso_sqlmesh/tests/test_stg_op_atlas_project_contract.yml
  warehouse/oso_sqlmesh/tests/test_stg_op_atlas_project_farcaster.yml
  warehouse/oso_sqlmesh/tests/test_stg_op_atlas_project_repository.yml
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): ensure 4337 value conversion is safe
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__4337_traces.sql
Due: none

fix(sqlmesh): ensure 4337 value conversion is safe (#3198)
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__4337_traces.sql
Due: none

feat(sqlmesh): add 4337 event models
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__4337.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__4337.sql
Due: none

fix: change trino scaling behavior
  ops/k8s-apps/production/trino/custom-helm-values.yaml
Due: none

feat(sqlmesh): unioned superchain events by project
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_events_by_project.sql
Due: none

fix: change trino scaling behavior (#3199)
  ops/k8s-apps/production/trino/custom-helm-values.yaml
Due: none

fix: local compilation errors
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__4337.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__4337.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__blockchain.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_events_by_project.sql
Due: none

fix(ops): upgrade trino
  ops/k8s-apps/base/trino/trino.yaml
Due: none

fix(ops): stop-gap support defillama tables
  ops/k8s-apps/production/trino/custom-helm-values.yaml
Due: none

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  uv run ruff check --fix --force-exclude: any of: **/*.py
  uv run isort: any of: **/*.py
  pnpm pyright: any of: **/*.py
  uv run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  uv run sqlfluff lint: any of: warehouse/dbt/**/*.sql
