Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

.lintstagedrc:

{
    "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
        "eslint --ignore-path .gitignore --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ],
    "warehouse/dbt/**/*.sql": [
        "uv run sqlfluff fix -f",
        "uv run sqlfluff lint"
    ]
}

feat(keda): add keda deployment to production
  ops/k8s-apps/production/kustomization.yaml
  ops/k8s-infrastructure/gke/keda.yaml
  ops/k8s-infrastructure/gke/kustomization.yaml
Due: none

feat(keda): include http add-on
  ops/k8s-infrastructure/gke/keda.yaml
Due: none

test
  ops/clusters/warehouse/flux-system/gotk-sync.yaml
Due: none

add namespace
  ops/k8s-infrastructure/gke/keda.yaml
Due: none

reorder
  ops/k8s-apps/production/keda/keda-auth.yaml
  ops/k8s-apps/production/keda/kustomization.yaml
  ops/k8s-apps/production/kustomization.yaml
  ops/k8s-infrastructure/gke/keda.yaml
Due: none

feat(sqlmesh): add worldchain verified user address book
  warehouse/metrics_tools/seed/schemas/optimism_superchain_raw_onchain_data/logs.py
  warehouse/oso_sqlmesh/models/staging/superchain/stg_worldchain__verified_users.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: bump dagster-sqlmesh 0.13.1
  pyproject.toml
  uv.lock
Due: none

fix: fixes upgrade issues
  warehouse/metrics_tools/models/tools.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: more fixes
  warehouse/metrics_tools/models/tools.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): handling of hex dates
  warehouse/metrics_tools/seed/schemas/optimism_superchain_raw_onchain_data/logs.py
  warehouse/oso_sqlmesh/models/staging/superchain/stg_worldchain__verified_users.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): hex casting
  warehouse/oso_sqlmesh/models/staging/superchain/stg_worldchain__verified_users.sql
Due: none

fix: local trino cannot do concurrent tasks
  warehouse/oso_sqlmesh/config.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: test using postgres in docker compose
  warehouse/docker-compose.yml
  warehouse/oso_sqlmesh/config.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: ensure postgres is running
  warehouse/docker-compose.yml
Due: none

chore: bump to dagster-sqlmesh 0.13.1 (#3586)
  pyproject.toml
  uv.lock
  warehouse/docker-compose.yml
  warehouse/metrics_tools/models/tools.py
  warehouse/oso_sqlmesh/config.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: set up sqlmesh linter
  .github/workflows/ci-default.yml
  warehouse/oso_sqlmesh/config.py
  warehouse/oso_sqlmesh/linter/incremental.py
  warehouse/oso_sqlmesh/linter/time_partitions.py
  warehouse/oso_sqlmesh/macros/semantic.py
  warehouse/oso_sqlmesh/models/marts/metrics/key_metrics_by_artifact_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/key_metrics_by_collection_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/key_metrics_by_project_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/timeseries_metrics_by_artifact_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/timeseries_metrics_by_collection_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/timeseries_metrics_by_project_v0.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: force audits
  warehouse/oso_sqlmesh/config.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: adds audits to all models
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_deps_to_projects_graph.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_devs_to_projects_graph.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_graph.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_onchain_builder_nodes.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_repositories.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_trusted_developers.sql
  warehouse/oso_sqlmesh/models/metrics_factories.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: set up sqlmesh linter (#3587)
  .github/workflows/ci-default.yml
  warehouse/oso_sqlmesh/config.py
  warehouse/oso_sqlmesh/linter/incremental.py
  warehouse/oso_sqlmesh/linter/time_partitions.py
  warehouse/oso_sqlmesh/macros/semantic.py
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_deps_to_projects_graph.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_devs_to_projects_graph.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_graph.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_onchain_builder_nodes.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_repositories.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_trusted_developers.sql
  warehouse/oso_sqlmesh/models/marts/metrics/key_metrics_by_artifact_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/key_metrics_by_collection_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/key_metrics_by_project_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/timeseries_metrics_by_artifact_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/timeseries_metrics_by_collection_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/timeseries_metrics_by_project_v0.sql
  warehouse/oso_sqlmesh/models/metrics_factories.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): use hex_to_int macro
  warehouse/oso_sqlmesh/models/staging/superchain/stg_worldchain__verified_users.sql
Due: none

fix: include sqlmesh linter
  .github/workflows/ci-default.yml
Due: none

chore: update ci workflow (#3572)
  .github/workflows/ci-default.yml
Due: none

fix(ci): spacing
  .github/workflows/ci-default.yml
Due: none

feat(sqlmesh): add worldchain verified user address book (#3585)
  warehouse/metrics_tools/seed/schemas/optimism_superchain_raw_onchain_data/logs.py
  warehouse/oso_sqlmesh/models/staging/superchain/stg_worldchain__verified_users.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: upgrade dagster-sqlmesh to 0.14.0
  pyproject.toml
  uv.lock
Due: none

feat: enable setting restate_models option
  warehouse/oso_dagster/assets/sqlmesh.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: disable jobs that aren't all of the sqlmesh assets
  warehouse/oso_dagster/assets/sqlmesh.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: allow restating specific models and any downstream models through dagster-sqlmesh (#3592)
  pyproject.toml
  uv.lock
  warehouse/oso_dagster/assets/sqlmesh.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: adds video guides from loom
  apps/docs/docs/guides/ops/index.md
  apps/docs/docs/guides/ops/video-guides.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: adds video guides from loom (#3593)
  apps/docs/docs/guides/ops/index.md
  apps/docs/docs/guides/ops/video-guides.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: actually enable model restatement correctly
  warehouse/oso_dagster/assets/sqlmesh.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: update video-guides.md
  apps/docs/docs/guides/ops/video-guides.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: fixes lint on docs
  apps/docs/docs/guides/ops/video-guides.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: add sqlmesh restatement to video guides (#3595)
  apps/docs/docs/guides/ops/video-guides.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore(sqlmesh): add tags to projects and collection models
  warehouse/oso_sqlmesh/models/intermediate/defillama/int_events_daily_to_project__defillama_tvl.sql
  warehouse/oso_sqlmesh/models/intermediate/directory/int_artifacts_by_collection.sql
  warehouse/oso_sqlmesh/models/intermediate/directory/int_artifacts_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/directory/int_projects.sql
  warehouse/oso_sqlmesh/models/intermediate/directory/int_projects_by_collection.sql
  warehouse/oso_sqlmesh/models/intermediate/directory/int_projects_to_projects.sql
  warehouse/oso_sqlmesh/models/intermediate/events/code/int_first_contribution_to_collection.sql
  warehouse/oso_sqlmesh/models/intermediate/events/code/int_first_contribution_to_project.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_to_collection.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_to_project__github.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_events_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_graph.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_onchain_builder_nodes.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_repositories.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_onchain_builder_eligibility.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/rewards/int_superchain_s7_m1_rewards.sql
  warehouse/oso_sqlmesh/models/marts/directory/artifacts_by_project_v1.sql
  warehouse/oso_sqlmesh/models/marts/directory/projects_by_collection_v1.sql
  warehouse/oso_sqlmesh/models/marts/directory/projects_v1.sql
  warehouse/oso_sqlmesh/models/marts/metrics/key_metrics_by_collection_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/key_metrics_by_project_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/timeseries_metrics_by_collection_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/timeseries_metrics_by_project_v0.sql
Due: none

feat(sqlmesh): add entity tags to linter
  warehouse/oso_sqlmesh/config.py
  warehouse/oso_sqlmesh/linter/entity_category_tags.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(dagster): add job for restating all project and collection assets
  warehouse/oso_dagster/assets/sqlmesh.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(sqlmesh): add worldchain trusted uses to metrics models
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_onchain_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/users/int_worldchain_verified_addresses.sql
Due: none

feat(sqlmesh): add worldchain trusted users to metrics models (#3598)
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_onchain_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/users/int_worldchain_verified_addresses.sql
Due: none

fix(dagster): asset job configs
  warehouse/oso_dagster/assets/sqlmesh.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright
