Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

Deploys a small redis cache
  ops/k8s-apps/production/kustomization.yaml
Due: none

Deploys a small redis cache (#1789)
  ops/k8s-apps/production/kustomization.yaml
Due: none

blog: rf impact 6 months later
  apps/docs/blog/2024-07-15-impact-of-retro-funding/index.md
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_10_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_11_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_13_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_14_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_15_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_16_0.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_19_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_20_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_21_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_22_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_23_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_24_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_27_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_28_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_30_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_5_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_9_1.png
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: broken link
  apps/docs/blog/2024-07-15-impact-of-retro-funding/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

blog: rf impact 6 months later (#1791)
  apps/docs/blog/2024-07-15-impact-of-retro-funding/index.md
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_10_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_11_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_13_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_14_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_15_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_16_0.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_19_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_20_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_21_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_22_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_23_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_24_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_27_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_28_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_30_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_5_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_9_1.png
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Fixes the github resolver and allows a configurable http cache
  warehouse/oso_dagster/assets/ossd.py
  warehouse/oso_dagster/constants.py
  warehouse/oso_dagster/dlt_sources/github_repos/__init__.py
  warehouse/oso_dagster/utils/__init__.py
  warehouse/oso_dagster/utils/http.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Connect redis cache
  ops/helm-charts/oso-dagster/Chart.yaml
  ops/helm-charts/oso-dagster/templates/config-map.yaml
  ops/helm-charts/oso-dagster/values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  warehouse/oso_dagster/dlt_sources/github_repos/__init__.py
  warehouse/oso_dagster/utils/http.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat: python common utils
  warehouse/oso_dagster/utils/common.py
  warehouse/oso_dagster/utils/errors.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat: python common utils (#1794)
  warehouse/oso_dagster/utils/common.py
  warehouse/oso_dagster/utils/errors.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat: add a ClickhouseResource in Dagster
  warehouse/oso_dagster/constants.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/resources/__init__.py
  warehouse/oso_dagster/resources/clickhouse.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat: add a ClickhouseResource in Dagster (#1796)
  warehouse/oso_dagster/constants.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/resources/__init__.py
  warehouse/oso_dagster/resources/clickhouse.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat: Update Dagster utils to support bq2clickhouse copy
  warehouse/oso_dagster/utils/bq.py
  warehouse/oso_dagster/utils/clickhouse.py
  warehouse/oso_dagster/utils/common.py
  warehouse/oso_dagster/utils/dbt.py
  warehouse/oso_dagster/utils/gcs.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat: Update Dagster utils to support bq2clickhouse copy (#1797)
  warehouse/oso_dagster/utils/bq.py
  warehouse/oso_dagster/utils/clickhouse.py
  warehouse/oso_dagster/utils/common.py
  warehouse/oso_dagster/utils/dbt.py
  warehouse/oso_dagster/utils/gcs.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: update BQ DTS Dagster assets
  warehouse/oso_dagster/assets/dbt.py
  warehouse/oso_dagster/assets/farcaster.py
  warehouse/oso_dagster/assets/lens.py
  warehouse/oso_dagster/factories/bq_dts.py
  warehouse/oso_dagster/utils/bq_dts.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: update BQ DTS Dagster assets (#1798)
  warehouse/oso_dagster/assets/dbt.py
  warehouse/oso_dagster/assets/farcaster.py
  warehouse/oso_dagster/assets/lens.py
  warehouse/oso_dagster/factories/bq_dts.py
  warehouse/oso_dagster/utils/bq_dts.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat: Dagster assets for copying marts from BigQuery to Clickhouse
  warehouse/oso_dagster/assets/clickhouse_dbt_marts.py
  warehouse/oso_dagster/factories/__init__.py
  warehouse/oso_dagster/factories/bq2clickhouse.py
  warehouse/oso_dagster/utils/clickhouse.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: small updates to charts and copy
  apps/docs/blog/2024-07-15-impact-of-retro-funding/index.md
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_10_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_11_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_13_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_14_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_15_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_16_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_19_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_20_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_21_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_22_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_23_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_24_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_27_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_28_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_30_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_9_1.png
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: Dagster assets for copying marts from BigQuery to Clickhouse (#1799)
  warehouse/oso_dagster/assets/clickhouse_dbt_marts.py
  warehouse/oso_dagster/factories/__init__.py
  warehouse/oso_dagster/factories/bq2clickhouse.py
  warehouse/oso_dagster/utils/clickhouse.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: small updates to charts and copy (#1800)
  apps/docs/blog/2024-07-15-impact-of-retro-funding/index.md
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_10_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_11_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_13_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_14_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_15_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_16_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_19_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_20_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_21_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_22_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_23_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_24_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_27_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_28_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_30_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_9_1.png
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Fixes the github resolver and allows a configurable http cache (#1793)
  ops/helm-charts/oso-dagster/Chart.yaml
  ops/helm-charts/oso-dagster/templates/config-map.yaml
  ops/helm-charts/oso-dagster/values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  warehouse/oso_dagster/assets/ossd.py
  warehouse/oso_dagster/constants.py
  warehouse/oso_dagster/dlt_sources/github_repos/__init__.py
  warehouse/oso_dagster/utils/__init__.py
  warehouse/oso_dagster/utils/http.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: color on histograms
  apps/docs/blog/2024-07-15-impact-of-retro-funding/index.md
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_13_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_14_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_15_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_16_0.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_16_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_28_1.png
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: add comment on protocols that didn't apply for rf3
  apps/docs/blog/2024-07-15-impact-of-retro-funding/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: color on histograms (#1805)
  apps/docs/blog/2024-07-15-impact-of-retro-funding/index.md
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_13_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_14_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_15_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_16_0.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_16_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_28_1.png
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: non-rf project numbers
  apps/docs/blog/2024-07-15-impact-of-retro-funding/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: non-rf project numbers (#1806)
  apps/docs/blog/2024-07-15-impact-of-retro-funding/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: only show top 200 projects in heatmap
  apps/docs/blog/2024-07-15-impact-of-retro-funding/index.md
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_10_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_11_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_13_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_14_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_15_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_16_0.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_16_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_19_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_20_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_21_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_22_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_23_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_24_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_27_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_28_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_30_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_5_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_9_1.png
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: only show top 200 projects in heatmap (#1813)
  apps/docs/blog/2024-07-15-impact-of-retro-funding/index.md
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_10_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_11_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_13_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_14_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_15_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_16_0.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_16_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_19_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_20_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_21_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_22_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_23_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_24_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_27_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_28_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_30_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_5_1.png
  apps/docs/blog/2024-07-15-impact-of-retro-funding/output_9_1.png
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Create detailed api crawling docs
  apps/docs/docs/contribute/connect-data/api.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Remove cloudquery
  apps/docs/docs/contribute/connect-data/cloudquery.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Improve UX for defining dlt assets
  warehouse/oso_dagster/assets/ossd.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/dlt_sources/github_repos/__init__.py
  warehouse/oso_dagster/factories/__init__.py
  warehouse/oso_dagster/factories/common.py
  warehouse/oso_dagster/factories/dlt.py
  warehouse/oso_dagster/factories/loader.py
  warehouse/oso_dagster/factories/sql.py
  warehouse/oso_dagster/schedules.py
  warehouse/oso_dagster/utils/secrets.py
  warehouse/oso_dagster/utils/test_secrets.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Improve docs
  apps/docs/docs/contribute/connect-data/api.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

remove references to cloudquery in docs
  apps/docs/docs/contribute/connect-data/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Add dlt api crawling docs (#1814)
  apps/docs/docs/contribute/connect-data/api.md
  apps/docs/docs/contribute/connect-data/cloudquery.md
  apps/docs/docs/contribute/connect-data/index.md
  warehouse/oso_dagster/assets/ossd.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/dlt_sources/github_repos/__init__.py
  warehouse/oso_dagster/factories/__init__.py
  warehouse/oso_dagster/factories/common.py
  warehouse/oso_dagster/factories/dlt.py
  warehouse/oso_dagster/factories/loader.py
  warehouse/oso_dagster/factories/sql.py
  warehouse/oso_dagster/schedules.py
  warehouse/oso_dagster/utils/secrets.py
  warehouse/oso_dagster/utils/test_secrets.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright

feat: add regendata asset
  warehouse/oso_dagster/assets/gitcoin.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix key and group name
  warehouse/oso_dagster/assets/gitcoin.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat: add regendata asset (#1817)
  warehouse/oso_dagster/assets/gitcoin.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add: additional regendata tables
  warehouse/oso_dagster/assets/gitcoin.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat: additional regendata tables (#1818)
  warehouse/oso_dagster/assets/gitcoin.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Wire the new ossd source from dagster
  warehouse/dbt/models/base_playground/base_playground__ossd_collections.sql
  warehouse/dbt/models/base_playground/base_playground__ossd_projects.sql
  warehouse/dbt/models/base_playground/base_playground__ossd_repositories.sql
  warehouse/dbt/models/oss_directory_source.yml
  warehouse/dbt/models/staging/oss-directory/stg_ossd__current_collections.sql
  warehouse/dbt/models/staging/oss-directory/stg_ossd__current_projects.sql
  warehouse/dbt/models/staging/oss-directory/stg_ossd__current_repositories.sql
  warehouse/dbt/models/staging/oss-directory/stg_ossd__schema.yml
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

Fix repositories
  warehouse/oso_dagster/dlt_sources/github_repos/__init__.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  poetry run ruff check --fix --force-exclude: any of: **/*.py
  pnpm pyright: any of: **/*.py
  poetry run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  poetry run sqlfluff lint: any of: warehouse/dbt/**/*.sql
