Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

.lintstagedrc:

{
  "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --max-warnings 0",
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "**/*.{md,json}": [
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "**/*.py": [
    "poetry run ruff check --fix --force-exclude",
    "pnpm pyright"
  ],
  "warehouse/dbt/**/*.sql": [
    "poetry run sqlfluff fix -f",
    "poetry run sqlfluff lint"
  ]
}

Clean up configurations for dagster (#2696)
  ops/helm-charts/metrics-calculation-service/Chart.yaml
  ops/helm-charts/metrics-calculation-service/templates/service.yaml
  ops/helm-charts/oso-dagster/Chart.yaml
  ops/helm-charts/oso-dagster/templates/config-map.yaml
  ops/helm-charts/oso-dagster/values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  warehouse/oso_dagster/assets/clickhouse_dbt_marts.py
  warehouse/oso_dagster/assets/crates.py
  warehouse/oso_dagster/assets/dbt.py
  warehouse/oso_dagster/assets/defillama.py
  warehouse/oso_dagster/assets/fake.py
  warehouse/oso_dagster/assets/open_collective.py
  warehouse/oso_dagster/assets/ossd.py
  warehouse/oso_dagster/config.py
  warehouse/oso_dagster/constants.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/dlt_sources/github_repos/__init__.py
  warehouse/oso_dagster/factories/bq_dts.py
  warehouse/oso_dagster/factories/common.py
  warehouse/oso_dagster/factories/dlt.py
  warehouse/oso_dagster/resources/bq_dts.py
  warehouse/oso_dagster/resources/dlt.py
  warehouse/oso_dagster/resources/io_manager.py
  warehouse/oso_dagster/resources/kube.py
  warehouse/oso_dagster/utils/__init__.py
  warehouse/oso_dagster/utils/dbt.py
  warehouse/oso_dagster/utils/scheduling.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Exporting asset for clickhouse
  ops/helm-charts/oso-dagster/Chart.yaml
  ops/helm-charts/oso-dagster/templates/config-map.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  warehouse/oso_dagster/assets/sqlmesh.py
  warehouse/oso_dagster/assets/trino_export.py
  warehouse/oso_dagster/config.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/resources/__init__.py
  warehouse/oso_dagster/resources/sqlmesh.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fixes
  warehouse/oso_dagster/assets/trino_export.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/factories/alerts.py
  warehouse/oso_dagster/resources/sqlmesh.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Exporting asset for clickhouse (#2697)
  ops/helm-charts/oso-dagster/Chart.yaml
  ops/helm-charts/oso-dagster/templates/config-map.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  warehouse/oso_dagster/assets/sqlmesh.py
  warehouse/oso_dagster/assets/trino_export.py
  warehouse/oso_dagster/config.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/factories/alerts.py
  warehouse/oso_dagster/resources/__init__.py
  warehouse/oso_dagster/resources/sqlmesh.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fix dlt asset factory resource usage
  warehouse/oso_dagster/config.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/factories/dlt.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix
  warehouse/oso_dagster/factories/dlt.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fix dlt asset factory resource usage (#2698)
  warehouse/oso_dagster/config.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/factories/dlt.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fixes for clickhouse copy
  warehouse/oso_dagster/resources/sqlmesh.py
  warehouse/oso_dagster/resources/trino.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Scale up dagster pods resource requests
  ops/k8s-apps/base/dagster/dagster.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
Due: none

remove tabs
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
Due: none

Scale up dagster pods resource requests (#2700)
  ops/k8s-apps/base/dagster/dagster.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
Due: none

Fixes for clickhouse copy (#2701)
  warehouse/oso_dagster/resources/sqlmesh.py
  warehouse/oso_dagster/resources/trino.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Adds read-only privileges for k8s services to dagster
  ops/helm-charts/oso-dagster/Chart.yaml
  ops/helm-charts/oso-dagster/templates/rbac.yaml
Due: none

Adds read-only privileges for k8s services to dagster (#2702)
  ops/helm-charts/oso-dagster/Chart.yaml
  ops/helm-charts/oso-dagster/templates/rbac.yaml
Due: none

Fix clickhouse copy interface to trino
  warehouse/oso_dagster/config.py
  warehouse/oso_dagster/resources/trino.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: use `replace` disposition for `growthepie`
  warehouse/oso_dagster/assets/growthepie.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: use `merge` disposition for `defillama`
  warehouse/oso_dagster/assets/defillama.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: dedupe `rest` resources (#2704)
  warehouse/oso_dagster/assets/defillama.py
  warehouse/oso_dagster/assets/growthepie.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add: `rest` factory documentation
  apps/docs/docs/contribute-data/api.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Use the correct trino health check endpoint
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/resources/trino.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Add some clarity to the changes
  warehouse/oso_dagster/resources/trino.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Use the correct trino health check endpoint (#2706)
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/resources/trino.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Another trino resource fix
  warehouse/oso_dagster/resources/trino.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

more fixes
  warehouse/oso_dagster/resources/trino.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fix trino resource (#2709)
  warehouse/oso_dagster/resources/trino.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fix trino user
  warehouse/oso_dagster/resources/trino.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fix trino create table for clickhouse
  warehouse/oso_dagster/resources/sqlmesh.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Trino clickhouse call fix (#2710)
  warehouse/oso_dagster/resources/sqlmesh.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix some clickhouse inconsistencies
  ops/k8s-apps/base/trino/trino.yaml
Due: none

Fix problems with trino + clickhouse
  warehouse/oso_dagster/resources/sqlmesh.py
  warehouse/oso_dagster/resources/trino.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fix problems with trino + clickhouse (#2711)
  warehouse/oso_dagster/resources/sqlmesh.py
  warehouse/oso_dagster/resources/trino.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fix bad print statement 🫣
  warehouse/oso_dagster/utils/asynctools.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fix insert query
  warehouse/oso_dagster/resources/sqlmesh.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fix insert query (#2713)
  warehouse/oso_dagster/resources/sqlmesh.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fix unnecessary print statements (#2712)
  warehouse/oso_dagster/utils/asynctools.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fixes clickhouse view creation query
  warehouse/oso_dagster/resources/sqlmesh.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fixes clickhouse view creation query (#2714)
  warehouse/oso_dagster/resources/sqlmesh.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix(docs): swap out plasmic
  apps/docs/docs/contribute-data/_category_.json
  apps/docs/docs/contribute-models/_category_.json
  apps/docs/docs/index.mdx
  apps/docs/docs/tutorials/_category_.json
  apps/docs/src/pages/index.mdx
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(docs): slightly styling tweaks
  apps/docs/docs/contribute-data/_category_.json
  apps/docs/docs/contribute-models/_category_.json
  apps/docs/docs/index.mdx
  apps/docs/docs/tutorials/_category_.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(docs): swap out plasmic (#2715)
  apps/docs/docs/index.mdx
  apps/docs/docs/tutorials/_category_.json
  apps/docs/src/pages/index.mdx
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check
