Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

hotfix(sqlmesh): prefilter project ranking model due to memory limits
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/builder-funnel/int_ranked_projects_by_collection.sql
Due: none

fix: filter
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/builder-funnel/int_ranked_projects_by_collection.sql
Due: none

hotfix(sqlmesh): prefilter project ranking model due to memory limits (#5690)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/builder-funnel/int_ranked_projects_by_collection.sql
Due: none

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

chore: use `rest` factory approach with canonical `table_name` usage
  warehouse/oso_dagster/assets/default/growthepie.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

hotfix(sqlmesh): ensure no NaN or inf values can ever be pivoted on
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/builder-funnel/int_onchain_project_performance_clusters.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

hotfix(sqlmesh): remove current month from performance model
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/builder-funnel/int_onchain_project_performance_clusters.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

hotfix(sqlmesh): remove current month from performance model (#5692)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/builder-funnel/int_onchain_project_performance_clusters.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore(dagster): update growthepie asset (#5687)
  warehouse/oso_dagster/assets/default/growthepie.py
  warehouse/oso_sqlmesh/models/staging/l2beat/stg_l2beat__projects.sql
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(sqlmesh): create aggregated version of lifecycle metrics by project
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/crypto-ecosystems/int_crypto_ecosystems_developer_lifecycle_monthly.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/crypto-ecosystems/int_crypto_ecosystems_developer_lifecycle_monthly_aggregated.sql
Due: none

feat(sqlmesh): create aggregated version of lifecycle metrics by project (#5694)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/crypto-ecosystems/int_crypto_ecosystems_developer_lifecycle_monthly.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/crypto-ecosystems/int_crypto_ecosystems_developer_lifecycle_monthly_aggregated.sql
Due: none

feat(form): create form-saver component for form state manipulation
  apps/frontend/components/widgets/form-builder.tsx
  apps/frontend/components/widgets/form-saver.tsx
  apps/frontend/components/widgets/index.ts
  apps/frontend/components/widgets/timed-side-effect.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(oso-global-context): allow to skip successful toast on global action
  apps/frontend/components/dataprovider/oso-global-context.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: update gh pipelines to node 22.x
  .github/workflows/ci-default.yml
  .github/workflows/deploy-dbt-docs.yml
  .github/workflows/deploy-docusaurus-docs.yml
  .github/workflows/deploy-hasura.yml
  .github/workflows/setup-external-pr-tools/action.yml
Due: none

chore: disable apollo telemetry
  .github/workflows/ci-default.yml
  .github/workflows/test-deploy-owners.yml
Due: none

chore: update gh pipelines to node 22.x (#5696)
  .github/workflows/ci-default.yml
  .github/workflows/deploy-dbt-docs.yml
  .github/workflows/deploy-docusaurus-docs.yml
  .github/workflows/deploy-hasura.yml
  .github/workflows/setup-external-pr-tools/action.yml
  .github/workflows/test-deploy-owners.yml
Due: none

[OSO-1299] Form saver for craete data model revision (#5695)
  apps/frontend/components/dataprovider/oso-global-context.tsx
  apps/frontend/components/widgets/form-builder.tsx
  apps/frontend/components/widgets/form-saver.tsx
  apps/frontend/components/widgets/index.ts
  apps/frontend/components/widgets/timed-side-effect.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: adds pyodide-node-toolkit
  lib/pyodide-node-toolkit/README.md
  lib/pyodide-node-toolkit/package.json
  lib/pyodide-node-toolkit/src/build.ts
  lib/pyodide-node-toolkit/src/cli.ts
  lib/pyodide-node-toolkit/src/index.ts
  lib/pyodide-node-toolkit/tsconfig.json
  lib/utils/src/index.ts
  pnpm-workspace.yaml
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix
  lib/pyodide-node-toolkit/src/build.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: build/run working
  lib/pyodide-node-toolkit/src/build.ts
  lib/pyodide-node-toolkit/src/cli.ts
  lib/pyodide-node-toolkit/tsconfig.json
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: add logger to utils
  lib/pyodide-node-toolkit/jest.config.ts
  lib/pyodide-node-toolkit/package.json
  lib/pyodide-node-toolkit/sample_uv_workspace/README.md
  lib/pyodide-node-toolkit/sample_uv_workspace/pyproject.toml
  lib/pyodide-node-toolkit/sample_uv_workspace/sample-project/README.md
  lib/pyodide-node-toolkit/sample_uv_workspace/sample-project/pyproject.toml
  lib/pyodide-node-toolkit/sample_uv_workspace/sample-project/sampleproject/__init__.py
  lib/pyodide-node-toolkit/src/build.test.ts
  lib/pyodide-node-toolkit/src/build.ts
  lib/pyodide-node-toolkit/src/cli.ts
  lib/pyodide-node-toolkit/src/index.ts
  lib/pyodide-node-toolkit/src/utils.ts
  lib/pyodide-node-toolkit/tsconfig.json
  lib/utils/src/context.ts
  lib/utils/src/index.ts
  lib/utils/src/logger.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: fix testing (thanks cline)
  lib/pyodide-node-toolkit/package.json
  lib/pyodide-node-toolkit/sample_uv_workspace/pyproject.toml
  lib/pyodide-node-toolkit/sample_uv_workspace/sample-project/sampleproject/__init__.py
  lib/pyodide-node-toolkit/sample_uv_workspace/src/sample/__init__.py
  lib/pyodide-node-toolkit/sample_uv_workspace/uv.lock
  lib/pyodide-node-toolkit/src/build.test.ts
  lib/pyodide-node-toolkit/src/build.ts
  lib/pyodide-node-toolkit/src/cli.ts
  lib/pyodide-node-toolkit/tsconfig.json
  lib/pyodide-node-toolkit/vitest.config.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: update lock file
  pnpm-lock.yaml
Due: none

chore: update loc
  pnpm-lock.yaml
Due: none

Delete lib/pyodide-node-toolkit/jest.config.ts
  lib/pyodide-node-toolkit/jest.config.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

remove unneeded copy/pasta
  lib/pyodide-node-toolkit/src/cli.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

test fix
  lib/pyodide-node-toolkit/src/build.ts
  lib/utils/src/index.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

build fix
  lib/pyodide-node-toolkit/src/cli.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: clean up
  lib/pyodide-node-toolkit/package.json
  lib/pyodide-node-toolkit/src/build.ts
  lib/pyodide-node-toolkit/src/index.ts
  lib/utils/tsconfig.json
  pnpm-lock.yaml
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: change tsconfig
  lib/utils/package.json
  lib/utils/tsconfig.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: more build fixes
  lib/pyodide-node-toolkit/package.json
  lib/pyodide-node-toolkit/src/build.test.ts
  lib/pyodide-node-toolkit/src/build.ts
  lib/pyodide-node-toolkit/src/cli.ts
  lib/pyodide-node-toolkit/tsconfig.json
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: update lock
  pnpm-lock.yaml
Due: none

fix: tsconfig now unified for libraries
  apps/frontend/tsconfig.json
  lib/pyodide-node-toolkit/tsconfig.json
  lib/tsconfig.base.json
  lib/utils/package.json
  lib/utils/src/common.ts
  lib/utils/src/index.ts
  lib/utils/tsconfig.json
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: cr updates
  lib/pyodide-node-toolkit/src/build.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: lint fixes
  lib/pyodide-node-toolkit/sample_uv_workspace/README.md
  lib/pyodide-node-toolkit/sample_uv_workspace/sample-project/README.md
  lib/pyodide-node-toolkit/src/utils.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: ops tsconfig
  ops/external-prs/tsconfig.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Path conditions:
  eslint --flag v10_config_lookup_from_file --fix --max-warnings 0: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --ignore-path .gitignore --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
  prettier --ignore-path .gitignore --log-level warn --check: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
  uv run ruff format: any of: **/*.py
  uv run ruff check --fix --force-exclude: any of: **/*.py
  uv run isort: any of: **/*.py
  pnpm pyright: any of: **/*.py
