Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

.lintstagedrc:

{
    "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
        "eslint --ignore-path .gitignore --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ],
    "warehouse/dbt/**/*.sql": [
        "uv run sqlfluff fix -f",
        "uv run sqlfluff lint"
    ]
}

fix(sqlmesh): project_id cant appear in a metrics factory daily event model (#3447)
  warehouse/oso_sqlmesh/models/intermediate/defillama/int_events_daily__defillama_tvl.sql
  warehouse/oso_sqlmesh/models/intermediate/defillama/int_events_daily_to_project__defillama_tvl.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_onchain_metrics_by_project.sql
Due: none

feat: refresh Hasura Clickhouse
  apps/hasura-clickhouse/README.md
  apps/hasura-clickhouse/oso_subgraph/connector/oso_clickhouse/configuration.json
  apps/hasura-clickhouse/oso_subgraph/metadata/ModelsV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/oso_clickhouse-types.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/oso_clickhouse.hml
  apps/hasura-clickhouse/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: refresh Hasura Clickhouse (#3448)
  apps/hasura-clickhouse/README.md
  apps/hasura-clickhouse/oso_subgraph/connector/oso_clickhouse/configuration.json
  apps/hasura-clickhouse/oso_subgraph/metadata/ModelsV0.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/oso_clickhouse-types.hml
  apps/hasura-clickhouse/oso_subgraph/metadata/oso_clickhouse.hml
  apps/hasura-clickhouse/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Init Giveth
  warehouse/oso_dagster/assets/giveth.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: change first measurement dates to 2025-02-28
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_onchain_builder_nodes.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_onchain_builder_eligibility.sql
Due: none

feat(utils): script for creating SQL literals
  scripts/csv_to_sql_literal.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(sqlmesh): include test data for first rewards period
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/rewards/int_superchain_s7_m1_rewards.sql
Due: none

fix(sqlmesh): temp solution to union S7 key metrics
  warehouse/oso_sqlmesh/models/marts/metrics/metrics_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/timeseries_metrics_by_project_v0.sql
Due: none

fix(sqlmesh): revert back join condition
  warehouse/oso_sqlmesh/models/marts/metrics/metrics_v0.sql
Due: none

fix(sqlmesh): revert partitioning back to date
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_onchain_metrics_by_project.sql
Due: none

fix(sqlmesh): add package count back in devtooling metrics model
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_metrics_by_project.sql
Due: none

fix(sqlmesh): coalesce zeros
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_metrics_by_project.sql
Due: none

fix(sqlmesh): go back to old column names
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_metrics_by_project.sql
Due: none

fix(sqlmesh): revert partitioning back to date (#3450)
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_onchain_metrics_by_project.sql
Due: none

feat: updating deploy-hasura GitHub action
  .github/workflows/deploy-hasura.yml
  apps/hasura-clickhouse/README.md
  apps/hasura-clickhouse/package.json
  package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: updating deploy-hasura GitHub action (#3451)
  .github/workflows/deploy-hasura.yml
  apps/hasura-clickhouse/README.md
  apps/hasura-clickhouse/package.json
  package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: reorder hasura workflow
  .github/workflows/deploy-hasura.yml
Due: none

fix: reorder hasura workflow (#3452)
  .github/workflows/deploy-hasura.yml
Due: none

fix: add turbo sync command for hasura
  turbo.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: add turbo sync command for hasura (#3453)
  turbo.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(sqlmesh): turn s7 metrics model back to incremental
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_onchain_metrics_by_project.sql
Due: none

fix(sqlmesh): turn s7 metrics model back to incremental (#3454)
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_onchain_metrics_by_project.sql
Due: none

fix: manually create a .env file in deploy-hasura
  .github/workflows/deploy-hasura.yml
Due: none

fix: manually create a .env file in deploy-hasura (#3455)
  .github/workflows/deploy-hasura.yml
Due: none

fix: create both .env and .env.cloud for deploy-hasura
  .github/workflows/deploy-hasura.yml
Due: none

fix(sqlmesh): reduce batch size to 60
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_events_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_onchain_metrics_by_project.sql
Due: none

fix: create both .env and .env.cloud for deploy-hasura (#3457)
  .github/workflows/deploy-hasura.yml
Due: none

fix: different authorization headers for local and cloud for deploy-hasura
  .github/workflows/deploy-hasura.yml
Due: none

fix: different authorization headers for local and cloud for (#3458)
  .github/workflows/deploy-hasura.yml
Due: none

feat: hasura script typo
  apps/hasura-clickhouse/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: hasura script typo (#3459)
  apps/hasura-clickhouse/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(sqlmesh): reduce batch size to 60 (#3456)
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_events_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_onchain_metrics_by_project.sql
Due: none

chore: update latest rewards
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/rewards/int_superchain_s7_m1_rewards.sql
Due: none

feat(sqlmesh): include S7 results in metrics by project (#3449)
  scripts/csv_to_sql_literal.py
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_onchain_builder_nodes.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_onchain_builder_eligibility.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/rewards/int_superchain_s7_m1_rewards.sql
  warehouse/oso_sqlmesh/models/marts/metrics/metrics_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/timeseries_metrics_by_project_v0.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore(docs): update S7 docs to include metric IDs for rewards
  apps/docs/docs/contribute-models/retrofunding/s7-api-examples.mdx
Due: none

chore(docs): update S7 docs to include metric IDs for rewards (#3463)
  apps/docs/docs/contribute-models/retrofunding/s7-api-examples.mdx
Due: none

fix(sqlmesh): use address as url for blockchain artifacts in op_atlas
  warehouse/oso_sqlmesh/models/intermediate/directory/int_artifacts_by_project.sql
  warehouse/oso_sqlmesh/models/staging/op_atlas/stg_op_atlas_project_contract.sql
  warehouse/oso_sqlmesh/models/staging/op_atlas/stg_op_atlas_project_deployer.sql
Due: none

fix(sqlmesh): use address as url for blockchain artifacts in op_atlas (#3465)
  warehouse/oso_sqlmesh/models/intermediate/directory/int_artifacts_by_project.sql
  warehouse/oso_sqlmesh/models/staging/op_atlas/stg_op_atlas_project_contract.sql
  warehouse/oso_sqlmesh/models/staging/op_atlas/stg_op_atlas_project_deployer.sql
Due: none

fix(docs): update queries for collection view
  apps/docs/docs/tutorials/collection-view.mdx
Due: none

fix(sqlmesh): tvl values should sum divide by days instead of using avg to handle zeros
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_onchain_metrics_by_project.sql
Due: none
