Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

Remove more timeseries metrics (#2128)
  warehouse/dbt/models/intermediate/metrics/int_timeseries_metrics_by_project.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: order `sidebar` position
  apps/docs/docs/contribute/connect-data/api.md
  apps/docs/docs/contribute/connect-data/dagster.md
  apps/docs/docs/contribute/connect-data/database.md
  apps/docs/docs/contribute/connect-data/gcs.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add: dagster `local` setup quickstart
  apps/docs/docs/contribute/connect-data/quickstart.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add filecoin dbt sources
  warehouse/dbt/models/filecoin_sources.yml
Due: none

Testing different factory
  warehouse/metrics_mesh/lib/factories/factory.py
  warehouse/metrics_mesh/macros/source.py
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_mesh/models/metrics_v0.sql
  warehouse/metrics_mesh/models/timeseries_metrics_by_artifact_v0.sql
  warehouse/metrics_mesh/oso_metrics/active_days.sql
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

nasty work in progress
  warehouse/metrics_mesh/lib/factories/factory.py
  warehouse/metrics_mesh/macros/daily_bucket.py
  warehouse/metrics_mesh/macros/monthly_bucket.py
  warehouse/metrics_mesh/macros/time.py
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_mesh/oso_metrics/stars.sql
  warehouse/metrics_tools/README.md
  warehouse/metrics_tools/__init__.py
  warehouse/metrics_tools/dialect/__init__.py
  warehouse/metrics_tools/dialect/context.py
  warehouse/metrics_tools/dialect/translate.py
  warehouse/metrics_tools/evaluator.py
  warehouse/metrics_tools/lib/__init__.py
  warehouse/metrics_tools/lib/factories/__init__.py
  warehouse/metrics_tools/lib/factories/definition.py
  warehouse/metrics_tools/lib/factories/factory.py
  warehouse/metrics_tools/lib/factories/macros.py
  warehouse/metrics_tools/lib/local/__init__.py
  warehouse/metrics_tools/lib/local/boop.py
  warehouse/metrics_tools/lib/local/utils.py
  warehouse/metrics_tools/models.py
  warehouse/metrics_tools/tester.py
  warehouse/oso_lets_go/cli.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright

project aggregation working
  warehouse/metrics_tools/lib/factories/definition.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Remove test file
  warehouse/metrics_tools/lib/local/boop.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

collections working
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_tools/lib/factories/definition.py
  warehouse/metrics_tools/lib/factories/factory.py
  warehouse/metrics_tools/lib/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Collections and joining views
  warehouse/metrics_mesh/oso_metrics/stars.sql
  warehouse/metrics_tools/lib/factories/definition.py
  warehouse/metrics_tools/lib/factories/factory.py
  warehouse/metrics_tools/models.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

rename rollup
  warehouse/metrics_mesh/macros/monthly_bucket.py
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_mesh/oso_metrics/stars.sql
  warehouse/metrics_tools/lib/factories/definition.py
  warehouse/metrics_tools/lib/factories/factory.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

clean up
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_tools/lib/factories/definition.py
  warehouse/metrics_tools/lib/factories/factory.py
  warehouse/metrics_tools/models.py
  warehouse/metrics_tools/tester.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

getting the active days in there
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_mesh/oso_metrics/active_days.sql
  warehouse/metrics_tools/lib/factories/definition.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

updated current models
  warehouse/metrics_mesh/macros/oso_id.py
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_mesh/oso_metrics/active_days.sql
  warehouse/metrics_mesh/oso_metrics/contributor_activity_classification.sql
  warehouse/metrics_mesh/oso_metrics/developer_activity_classification.sql
  warehouse/metrics_mesh/oso_metrics/stars.sql
  warehouse/metrics_tools/lib/factories/definition.py
  warehouse/metrics_tools/lib/factories/factory.py
  warehouse/metrics_tools/lib/factories/macros.py
  warehouse/metrics_tools/models.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

reenable downstream models
  warehouse/metrics_mesh/macros/oso_id.py
  warehouse/metrics_mesh/models/metrics_v0.sql
  warehouse/metrics_mesh/models/timeseries_metrics_by_collection_v0.sql
  warehouse/metrics_mesh/models/timeseries_metrics_by_project_v0.sql
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

some fixes
  warehouse/metrics_mesh/oso_metrics/active_addresses.sql
  warehouse/metrics_mesh/oso_metrics/commits.sql
  warehouse/metrics_mesh/oso_metrics/forks.sql
  warehouse/metrics_mesh/oso_metrics/gas_fees.sql
  warehouse/metrics_mesh/oso_metrics/issues_closed.sql
  warehouse/metrics_mesh/oso_metrics/issues_opened.sql
  warehouse/metrics_mesh/oso_metrics/prs_merged.sql
  warehouse/metrics_mesh/oso_metrics/prs_opened.sql
  warehouse/metrics_mesh/oso_metrics/transactions.sql
  warehouse/metrics_tools/lib/factories/factory.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fixes
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_mesh/oso_metrics/commits.sql
  warehouse/metrics_mesh/oso_metrics/transactions.sql
  warehouse/metrics_tools/models.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Metrics By Project / Collection and different aggregations (#2125)
  warehouse/metrics_mesh/lib/factories/factory.py
  warehouse/metrics_mesh/macros/daily_bucket.py
  warehouse/metrics_mesh/macros/monthly_bucket.py
  warehouse/metrics_mesh/macros/oso_id.py
  warehouse/metrics_mesh/macros/source.py
  warehouse/metrics_mesh/macros/time.py
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_mesh/models/metrics_v0.sql
  warehouse/metrics_mesh/models/timeseries_metrics_by_collection_v0.sql
  warehouse/metrics_mesh/models/timeseries_metrics_by_project_v0.sql
  warehouse/metrics_mesh/oso_metrics/active_addresses.sql
  warehouse/metrics_mesh/oso_metrics/active_days.sql
  warehouse/metrics_mesh/oso_metrics/commits.sql
  warehouse/metrics_mesh/oso_metrics/contributor_activity_classification.sql
  warehouse/metrics_mesh/oso_metrics/developer_activity_classification.sql
  warehouse/metrics_mesh/oso_metrics/forks.sql
  warehouse/metrics_mesh/oso_metrics/gas_fees.sql
  warehouse/metrics_mesh/oso_metrics/issues_closed.sql
  warehouse/metrics_mesh/oso_metrics/issues_opened.sql
  warehouse/metrics_mesh/oso_metrics/prs_merged.sql
  warehouse/metrics_mesh/oso_metrics/prs_opened.sql
  warehouse/metrics_mesh/oso_metrics/stars.sql
  warehouse/metrics_mesh/oso_metrics/transactions.sql
  warehouse/metrics_tools/README.md
  warehouse/metrics_tools/__init__.py
  warehouse/metrics_tools/dialect/__init__.py
  warehouse/metrics_tools/dialect/context.py
  warehouse/metrics_tools/dialect/translate.py
  warehouse/metrics_tools/evaluator.py
  warehouse/metrics_tools/lib/__init__.py
  warehouse/metrics_tools/lib/factories/__init__.py
  warehouse/metrics_tools/lib/factories/definition.py
  warehouse/metrics_tools/lib/factories/factory.py
  warehouse/metrics_tools/lib/factories/macros.py
  warehouse/metrics_tools/lib/local/__init__.py
  warehouse/metrics_tools/lib/local/utils.py
  warehouse/metrics_tools/models.py
  warehouse/oso_lets_go/cli.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright

add: dagster `quickstart` setup to docs (#2129)
  apps/docs/docs/contribute/connect-data/api.md
  apps/docs/docs/contribute/connect-data/dagster.md
  apps/docs/docs/contribute/connect-data/database.md
  apps/docs/docs/contribute/connect-data/gcs.md
  apps/docs/docs/contribute/connect-data/quickstart.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Add filecoin dbt sources (#2130)
  warehouse/dbt/models/filecoin_sources.yml
Due: none

feat: ArtifactPage props updated
  apps/frontend/app/artifacts/[source]/[...name]/page.tsx
  apps/frontend/components/dataprovider/metrics-data-provider.tsx
Due: none

feat: ArtifactPage props updated (#2132)
  apps/frontend/app/artifacts/[source]/[...name]/page.tsx
  apps/frontend/components/dataprovider/metrics-data-provider.tsx
Due: none

Improves metrics macros
  warehouse/metrics_mesh/config.py
  warehouse/metrics_mesh/macros/time_aggregation_bucket.py
  warehouse/metrics_mesh/oso_metrics/active_addresses.sql
  warehouse/metrics_mesh/oso_metrics/active_days.sql
  warehouse/metrics_mesh/oso_metrics/commits.sql
  warehouse/metrics_mesh/oso_metrics/contributor_activity_classification.sql
  warehouse/metrics_mesh/oso_metrics/developer_activity_classification.sql
  warehouse/metrics_mesh/oso_metrics/forks.sql
  warehouse/metrics_mesh/oso_metrics/gas_fees.sql
  warehouse/metrics_mesh/oso_metrics/issues_closed.sql
  warehouse/metrics_mesh/oso_metrics/issues_opened.sql
  warehouse/metrics_mesh/oso_metrics/prs_merged.sql
  warehouse/metrics_mesh/oso_metrics/prs_opened.sql
  warehouse/metrics_mesh/oso_metrics/stars.sql
  warehouse/metrics_mesh/oso_metrics/transactions.sql
  warehouse/metrics_tools/lib/factories/definition.py
  warehouse/metrics_tools/lib/factories/factory.py
  warehouse/metrics_tools/lib/factories/macros.py
  warehouse/metrics_tools/models.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

set concurrent tasks
  warehouse/metrics_mesh/config.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Improve metrics macros (#2133)
  warehouse/metrics_mesh/config.py
  warehouse/metrics_mesh/macros/time_aggregation_bucket.py
  warehouse/metrics_mesh/oso_metrics/active_addresses.sql
  warehouse/metrics_mesh/oso_metrics/active_days.sql
  warehouse/metrics_mesh/oso_metrics/commits.sql
  warehouse/metrics_mesh/oso_metrics/contributor_activity_classification.sql
  warehouse/metrics_mesh/oso_metrics/developer_activity_classification.sql
  warehouse/metrics_mesh/oso_metrics/forks.sql
  warehouse/metrics_mesh/oso_metrics/gas_fees.sql
  warehouse/metrics_mesh/oso_metrics/issues_closed.sql
  warehouse/metrics_mesh/oso_metrics/issues_opened.sql
  warehouse/metrics_mesh/oso_metrics/prs_merged.sql
  warehouse/metrics_mesh/oso_metrics/prs_opened.sql
  warehouse/metrics_mesh/oso_metrics/stars.sql
  warehouse/metrics_mesh/oso_metrics/transactions.sql
  warehouse/metrics_tools/lib/factories/definition.py
  warehouse/metrics_tools/lib/factories/factory.py
  warehouse/metrics_tools/lib/factories/macros.py
  warehouse/metrics_tools/models.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

bump schema
  apps/docs/docs/contribute/project-data.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

bump schema (#2135)
  apps/docs/docs/contribute/project-data.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add: `find_by_job_name` member method to `AssetFactoryResponse` class
  warehouse/oso_dagster/factories/common.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add: automatic asset `job` creation functionality for `partitioned` assets to `dlt_factory`
  warehouse/oso_dagster/factories/dlt.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add: `generated` job schedules for `partitioned` assets
  warehouse/oso_dagster/definitions.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat: automatically create `schedules` to materialize `partitioned` assets dynamically
  warehouse/oso_dagster/schedules.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

upgrades dagster-sqlmesh
  poetry.lock
  pyproject.toml
Due: none

feat: automatically create `schedules` to materialise `partitioned` assets dynamically (#2136)
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/factories/common.py
  warehouse/oso_dagster/factories/dlt.py
  warehouse/oso_dagster/schedules.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

upgrades dagster-sqlmesh (#2139)
  poetry.lock
  pyproject.toml
Due: none

fix: add `extra` fields
  warehouse/oso_dagster/assets/eas_optimism.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

eas on optimism dagster asset (#2110)
  warehouse/oso_dagster/assets/eas_optimism.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Skip any missing table in asset configuration
  warehouse/oso_dagster/factories/sql.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Skip any missing table in asset configuration (#2141)
  warehouse/oso_dagster/factories/sql.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Always replace gitcoin.all_donations
  warehouse/oso_dagster/assets/gitcoin.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Always replace gitcoin.all_donations (#2142)
  warehouse/oso_dagster/assets/gitcoin.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  poetry run ruff check --fix --force-exclude: any of: **/*.py
  pnpm pyright: any of: **/*.py
  poetry run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  poetry run sqlfluff lint: any of: warehouse/dbt/**/*.sql
