Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

.lintstagedrc:

{
    "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
        "eslint --ignore-path .gitignore --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ],
    "warehouse/dbt/**/*.sql": [
        "uv run sqlfluff fix -f",
        "uv run sqlfluff lint"
    ]
}

fix(ops): fix configuration of exchange file size
  ops/k8s-apps/production/trino/custom-helm-values.yaml
Due: none

fix(ops): another config hotfix for exchange file size
  ops/k8s-apps/production/trino/custom-helm-values.yaml
Due: none

fix(sqlmesh): bigints to doubles
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__4337.sql
Due: none

fix(sqlmesh): count distinct tx hashes
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__4337.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__blockchain.sql
Due: none

refactor: defillama tvl events
  warehouse/oso_sqlmesh/models/intermediate/defillama/int_defillama_tvl_events.sql
  warehouse/oso_sqlmesh/models/intermediate/defillama/int_events_daily__defillama_tvl.sql
Due: none

chore(ops): change trino scaling params
  ops/k8s-apps/production/trino/custom-helm-values.yaml
Due: none

fix(sqlmesh): change size of trino queries
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__4337_traces.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__factories.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__proxies.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__traces.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__transactions.sql
Due: none

fix: various sqlmesh run fixes (#3201)
  ops/k8s-apps/production/trino/custom-helm-values.yaml
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__4337_traces.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__factories.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__proxies.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__traces.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__transactions.sql
Due: none

fix(dagster): fix requester pays handling
  warehouse/oso_dagster/factories/archive2bq.py
  warehouse/oso_dagster/factories/bq2clickhouse.py
  warehouse/oso_dagster/factories/gcs.py
  warehouse/oso_dagster/factories/goldsky/assets.py
  warehouse/oso_dagster/utils/gcs.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(ops): hotfix trino options
  ops/k8s-apps/production/trino/custom-helm-values.yaml
Due: none

fix(dagster): fix requester pays handling (#3202)
  warehouse/oso_dagster/factories/archive2bq.py
  warehouse/oso_dagster/factories/bq2clickhouse.py
  warehouse/oso_dagster/factories/gcs.py
  warehouse/oso_dagster/factories/goldsky/assets.py
  warehouse/oso_dagster/utils/gcs.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(metrics): tvl and contract invocations to timeseries metrics
  warehouse/oso_sqlmesh/oso_metrics/blockchain/contract_invocations.sql
  warehouse/oso_sqlmesh/oso_metrics/defillama/defillama_tvl.sql
Due: none

chore(metrics): update factory definitions
  warehouse/oso_sqlmesh/models/metrics_factories.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): set event source to chain name for defillama
  warehouse/oso_sqlmesh/models/intermediate/defillama/int_events_daily__defillama_tvl.sql
Due: none

fix(sqlmesh): add timeseries source to factory
  warehouse/oso_sqlmesh/models/intermediate/defillama/int_events_daily__defillama_tvl.sql
  warehouse/oso_sqlmesh/models/metrics_factories.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(sqlmesh): wire up onchain builder metrics
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_events_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_s7_onchain_metrics_by_project.sql
Due: none

fix(sqlmesh): rename 4337 events
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__4337.sql
Due: none

fix(sqlmesh): include userop_hash in 4337 event model
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__4337.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__4337.sql
Due: none

fix(sqlmesh): gas fee logic
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_s7_onchain_metrics_by_project.sql
Due: none

fix: remove collection filtering
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_s7_onchain_metrics_by_project.sql
Due: none

feat(sqlmesh): onchain builder eligibility checks
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_s7_onchain_builder_eligibility.sql
Due: none

fix(sqlmesh): compilation errors
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_s7_onchain_builder_eligibility.sql
Due: none

fix(ops): fix retry-policy
  ops/k8s-apps/production/trino/custom-helm-values.yaml
Due: none

fix(dagster): blob listing for gcs import factory
  warehouse/oso_dagster/factories/gcs.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(dagster): blob listing for gcs import factory (#3203)
  warehouse/oso_dagster/factories/gcs.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

test bazel
  .bazelignore
  .bazelrc
  .gitignore
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  lib/utils/BUILD.bazel
  ops/external-prs/BUILD.bazel
Due: none

making sure random installs work
  apps/docs/.eslintrc.json
  apps/docs/package.json
  apps/docs/plasmic.json
  apps/docs/plasmic.lock
  apps/docs/src/components/plasmic/DocsCard.tsx
  apps/docs/src/components/plasmic/plasmic-tokens.theo.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

more fixes to build
  apps/frontend/package.json
  ops/external-prs/src/checks.ts
  ops/external-prs/src/oso/index.ts
  ops/github-app-utils/src/checks.ts
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Add some bazel build files
  .aspect/cli/config.yaml
  .bazelignore
  REPO.bazel
  apps/docs/BUILD.bazel
  lib/oss-artifact-validators/BUILD.bazel
  package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

More bazeling
  apps/frontend/BUILD.bazel
Due: none

feat(sqlmesh): add op_atlas.application source
  warehouse/metrics_tools/local/utils.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(sqlmesh): add op_atlas.application source (#3204)
  warehouse/metrics_tools/local/utils.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

update pnpm deps
  apps/docs/package.json
  apps/docs/plasmic.lock
  ops/external-prs/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(sqlmesh): add staging model for applications
  warehouse/oso_sqlmesh/models/staging/op_atlas/stg_op_atlas_application.sql
Due: none

fix(sqlmesh): fix out-of-bounds bigint sums
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__blockchain.sql
Due: none

fix(sqlmesh): small fix to applications staging model
  warehouse/oso_sqlmesh/models/staging/op_atlas/stg_op_atlas_application.sql
Due: none

feat(sqlmesh): create collections from op_atlas applications
  warehouse/oso_sqlmesh/models/intermediate/directory/int_collections.sql
  warehouse/oso_sqlmesh/models/intermediate/directory/int_projects_by_collection.sql
  warehouse/oso_sqlmesh/models/intermediate/directory/int_projects_by_collection_in_op_atlas.sql
  warehouse/oso_sqlmesh/models/intermediate/directory/int_projects_by_collection_in_ossd.sql
Due: none

fix: take into account `remote` defillama assets for `SQLMesh`
  warehouse/oso_dagster/assets/defillama.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: raise error if no upstream `defillama` protocols exist
  warehouse/oso_sqlmesh/macros/defillama/unioned_defillama_tvl_events.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(sqlmesh): model to map ossd to external project definitions
  warehouse/oso_sqlmesh/models/intermediate/directory/int_projects_to_projects.sql
Due: none
