Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

.lintstagedrc:

{
    "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
        "eslint --ignore-path .gitignore --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ],
    "warehouse/dbt/**/*.sql": [
        "uv run sqlfluff fix -f",
        "uv run sqlfluff lint"
    ]
}

docs: update frontend build to exclude codegen (#4045)
  apps/frontend/.gitignore
  apps/frontend/README.md
  apps/frontend/lib/graphql/codegen.ts
  apps/frontend/lib/graphql/generated/fragment-masking.ts
  apps/frontend/lib/graphql/generated/gql.ts
  apps/frontend/lib/graphql/generated/graphql.ts
  apps/frontend/lib/graphql/generated/index.ts
  apps/frontend/lib/graphql/queries.ts
  apps/frontend/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

feat: added TVL volume and LP fees assets (#4042)
  warehouse/metrics_tools/seed/schemas/defillama/lp_fee_events.py
  warehouse/metrics_tools/seed/schemas/defillama/trading_volume_events.py
  warehouse/oso_dagster/assets/defillama.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(metrics): add bot activity metric and SQL query (#4033)
  warehouse/oso_sqlmesh/models/metrics_factories.py
  warehouse/oso_sqlmesh/oso_metrics/code/bot_activity.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: added staging models
  warehouse/oso_sqlmesh/models/staging/defillama/stg_defillama__lp_fee_events.sql
  warehouse/oso_sqlmesh/models/staging/defillama/stg_defillama__trading_volume_events.sql
Due: none

Adding new defillama assets (#4049)
  warehouse/oso_sqlmesh/models/staging/defillama/stg_defillama__lp_fee_events.sql
  warehouse/oso_sqlmesh/models/staging/defillama/stg_defillama__trading_volume_events.sql
Due: none

test: add bot activity aggregation tests for daily, weekly, monthly, quarterly, and yearly periods
  warehouse/oso_sqlmesh/tests/test_bot_activity_to_project_biannually.yml
  warehouse/oso_sqlmesh/tests/test_bot_activity_to_project_daily.yml
  warehouse/oso_sqlmesh/tests/test_bot_activity_to_project_monthly.yml
  warehouse/oso_sqlmesh/tests/test_bot_activity_to_project_quarterly.yml
  warehouse/oso_sqlmesh/tests/test_bot_activity_to_project_weekly.yml
  warehouse/oso_sqlmesh/tests/test_bot_activity_to_project_yearly.yml
Due: none

feat(docs): new funding tutorial
  apps/docs/docs/tutorials/funding-data.mdx
Due: none

fix(docs): oss-funding guide
  apps/docs/docs/guides/oss-funding/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore(docs): updates to index and sidebars
  apps/docs/docs/tutorials/dependencies.mdx
  apps/docs/docs/tutorials/index.md
  apps/docs/docs/tutorials/network-graph.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(docs): add oss-funding and funding metrics tutorial (#4050)
  apps/docs/docs/guides/oss-funding/index.md
  apps/docs/docs/tutorials/dependencies.mdx
  apps/docs/docs/tutorials/funding-data.mdx
  apps/docs/docs/tutorials/index.md
  apps/docs/docs/tutorials/network-graph.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(sqlmesh): use amount col
  warehouse/metrics_tools/seed/schemas/defillama/lp_fee_events.py
  warehouse/metrics_tools/seed/schemas/defillama/trading_volume_events.py
  warehouse/oso_sqlmesh/models/staging/defillama/stg_defillama__lp_fee_events.sql
  warehouse/oso_sqlmesh/models/staging/defillama/stg_defillama__trading_volume_events.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): defillama staging and seed values (#4051)
  warehouse/metrics_tools/seed/schemas/defillama/lp_fee_events.py
  warehouse/metrics_tools/seed/schemas/defillama/trading_volume_events.py
  warehouse/oso_sqlmesh/models/staging/defillama/stg_defillama__lp_fee_events.sql
  warehouse/oso_sqlmesh/models/staging/defillama/stg_defillama__trading_volume_events.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: Setup pull_request_target authorization
  .github/workflows/ci-default.yml
Due: none

fix: update ci-default to use `public` environment
  .github/workflows/ci-default.yml
Due: none

add more vars to environment
  .github/workflows/ci-default.yml
Due: none

fix: update ci-default to use `public` environment (#4048)
  .github/workflows/ci-default.yml
Due: none

fix: all stages of ci-default need correct environment
  .github/workflows/ci-default.yml
Due: none

fix: all stages of ci-default need correct environment (#4058)
  .github/workflows/ci-default.yml
Due: none

feat: setup frontend `stripe` integration
  apps/frontend/.env.local.example
  apps/frontend/app/api/v1/stripe/checkout/route.ts
  apps/frontend/app/api/v1/stripe/webhook/route.ts
  apps/frontend/app/billing/page.tsx
  apps/frontend/lib/clients/oso-app/oso-app.ts
  apps/frontend/lib/clients/stripe.ts
  apps/frontend/lib/config.ts
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add: `stripe` tracking event
  apps/frontend/lib/types/posthog.ts
Due: none

add: purchase `intent` supabase migration
  apps/frontend/lib/clients/supabase.ts
  apps/frontend/lib/types/supabase.ts
  apps/frontend/supabase/migrations/20250526171300_purschase_intents.sql
Due: none

fix: revert supabase client singleton pattern
  apps/frontend/lib/clients/supabase.ts
Due: none

chore: generate `supabase` types
  apps/frontend/lib/types/supabase.ts
Due: none

fix: wrap content in `suspense` boundary
  apps/frontend/app/billing/page.tsx
Due: none

fix: ensure `orgId` is present
  apps/frontend/lib/clients/oso-app/oso-app.ts
Due: none

upgrade Supabase, squash migration
  apps/frontend/package.json
  apps/frontend/supabase/migrations/20250530202554_add_name_constraints.sql
  apps/frontend/supabase/migrations/20250605200826_diff.sql
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

update types from Supabase
  apps/docs/package.json
  apps/docs/plasmic.json
  apps/docs/plasmic.lock
  apps/frontend/lib/clients/oso-app/oso-app.ts
  apps/frontend/lib/types/schema-types.ts
  apps/frontend/lib/types/schema.ts
  apps/frontend/lib/types/supabase.ts
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: squash supabase migrations
  apps/frontend/supabase/migrations/20250516010748_unique_api_key.sql
  apps/frontend/supabase/migrations/20250516185358_create_dynamic_connectors.sql
  apps/frontend/supabase/migrations/20250519175627_individual_to_organization.sql
  apps/frontend/supabase/migrations/20250520201628_credit_system.sql
  apps/frontend/supabase/migrations/20250521181338_auto_create_organization.sql
  apps/frontend/supabase/migrations/20250529202523_fix_dynamic_connectors.sql
  apps/frontend/supabase/migrations/20250530161641_fix_policies.sql
  apps/frontend/supabase/migrations/20250530202554_add_name_constraints.sql
  apps/frontend/supabase/migrations/20250605200826_diff.sql
Due: none

chore(sqlmesh): update atlas collection defs
  warehouse/oso_sqlmesh/models/intermediate/entities/collections/op-atlas/int_projects_by_collection_in_op_atlas.sql
Due: none

fix: include better errors when ending queries with semicolons in pyoso
  uv.lock
  warehouse/pyoso/pyoso/client.py
  warehouse/pyoso/pyproject.toml
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

formatting fixes
  warehouse/pyoso/pyoso/client.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore(sqlmesh): update atlas collection defs (#4059)
  warehouse/oso_sqlmesh/models/intermediate/entities/collections/op-atlas/int_projects_by_collection_in_op_atlas.sql
Due: none
