Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

add: analytics hub link
  apps/docs/docs/integrate/overview/index.mdx
Due: none

feat: public open collective dataset (#2319)
  apps/docs/blog/2024-10-08-open-collective-transactions-datasets/donation_amount_vs_contribution_frequency.png
  apps/docs/blog/2024-10-08-open-collective-transactions-datasets/index.md
  apps/docs/blog/2024-10-08-open-collective-transactions-datasets/total_amount_donated_babel.png
  apps/docs/blog/2024-10-08-open-collective-transactions-datasets/total_amount_donated_oc.png
  apps/docs/blog/2024-10-08-open-collective-transactions-datasets/total_amount_donated_pandas.png
  apps/docs/blog/authors.yml
  apps/docs/docs/integrate/overview/index.mdx
  apps/docs/docs/integrate/overview/open-collective.png
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add: `created_at` and `updated_at` properties
  warehouse/oso_dagster/dlt_sources/github_repos/__init__.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: place `placeholder` in the correct spot
  warehouse/dbt/models/intermediate/metrics/int_funding_metrics_by_project.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat: create `funding_metrics_by_project_v1` mart (#2331)
  warehouse/dbt/models/intermediate/metrics/int_funding_metrics_by_project.sql
  warehouse/dbt/models/marts/metrics/funding_metrics_by_project_v1.sql
  warehouse/dbt/models/marts/metrics/metrics_v1__schema.yml
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

add: `created_at` and `updated_at` properties to repository
  warehouse/oso_dagster/dlt_sources/github_repos/__init__.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add: `created_at` and `updated_at` properties to repository (#2333)
  warehouse/oso_dagster/dlt_sources/github_repos/__init__.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Create events.md
  apps/docs/docs/references/events.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Update events.md
  apps/docs/docs/references/events.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: use updated `k8s` config
  warehouse/oso_dagster/assets/clickhouse_dbt_marts.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: use updated `k8s` config (#2336)
  warehouse/oso_dagster/assets/clickhouse_dbt_marts.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

hotfix: disable trino entirely
  ops/k8s-apps/base/trino/trino.yaml
  ops/k8s-apps/production/kustomization.yaml
Due: none

fix: typo in container_config for clickhouse copies
  warehouse/oso_dagster/assets/clickhouse_dbt_marts.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: typo in container_config for clickhouse copies (#2337)
  warehouse/oso_dagster/assets/clickhouse_dbt_marts.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  poetry run ruff check --fix --force-exclude: any of: **/*.py
  pnpm pyright: any of: **/*.py
  poetry run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  poetry run sqlfluff lint: any of: warehouse/dbt/**/*.sql
