Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

.lintstagedrc:

{
    "**/*.{js,jsx,ts,tsx,sol}": [
        "eslint --flag v10_config_lookup_from_file --fix --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff format",
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ]
}

Revert "fix: revert user changes (#6421)"
  apps/frontend/lib/auth/auth.ts
  apps/frontend/lib/query/async.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
  ops/k8s-apps/production/scheduler/custom-helm-values.yaml
Due: none

fix(opa): make opa rule backwards compatible for easier migration
  opa/trino/trino.rego
Due: none

fix(opa): make opa rule backwards compatible for easier migration (#6425)
  opa/trino/trino.rego
Due: none

fix(consumer-trino): allow jwt users to query user_shared catalog
  opa/trino/trino.rego
Due: none

fix(consumer-trino): allow jwt users to query user_shared catalog (#6426)
  opa/trino/trino.rego
Due: none

Revert "fix: revert user changes (#6421)" (#6423)
  apps/frontend/lib/auth/auth.ts
  apps/frontend/lib/query/async.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(consumer-trino): add rules for write as rw-.* user
  opa/README.md
  opa/trino/trino.rego
  opa/trino/trino_test.rego
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(commits): include ODD-only commits in unified model
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/commits/int_ddp__commits_deduped.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/commits/int_ddp__commits_unified.sql
  warehouse/oso_sqlmesh/tests/test_int_ddp__commits_unified.yml
Due: none

fix(commits): include ODD-only commits in unified model (#6428)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/commits/int_ddp__commits_deduped.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/commits/int_ddp__commits_unified.sql
  warehouse/oso_sqlmesh/tests/test_int_ddp__commits_unified.yml
Due: none

feat(data-model): change trino instance to consumer trino
  warehouse/oso_dagster/oso_dagster/resources/udm_engine_adapter.py
  warehouse/scheduler/scheduler/mq/handlers/data_model.py
  warehouse/scheduler/scheduler/resources.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(graphql): add DataConnection and DataConnectionAlias to graphql (#6412)
  apps/frontend/app/api/v1/osograph/schema/graphql/base.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/data-connection.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/data-ingestion.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/data-model.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/dataset.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/organization.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/static-model.graphql
  apps/frontend/lib/graphql/generated/graphql.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

[OSO-1707] add rules for write as rw-.* user (#6427)
  opa/README.md
  opa/trino/trino.rego
  opa/trino/trino_test.rego
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(consumer-trino): add more read only operations in rego
  opa/trino/trino.rego
Due: none

fix(consumer-trino): add more read only operations in rego (#6432)
  opa/trino/trino.rego
Due: none

feat(data-model): change trino instance to consumer trino (#6430)
  warehouse/oso_dagster/oso_dagster/resources/udm_engine_adapter.py
  warehouse/scheduler/scheduler/mq/handlers/data_model.py
  warehouse/scheduler/scheduler/resources.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Revert "feat(data-model): change trino instance to consumer trino (#6430)"
  warehouse/oso_dagster/oso_dagster/resources/udm_engine_adapter.py
  warehouse/scheduler/scheduler/mq/handlers/data_model.py
  warehouse/scheduler/scheduler/resources.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Revert "feat(data-model): change trino instance to consumer trino (#6… (#6436)
  warehouse/oso_dagster/oso_dagster/resources/udm_engine_adapter.py
  warehouse/scheduler/scheduler/mq/handlers/data_model.py
  warehouse/scheduler/scheduler/resources.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

add: `claude` review bot action (#6404)
  .github/workflows/claude-code-review.yml
Due: none

fix(data-model): remove random sleep
  warehouse/scheduler/scheduler/mq/handlers/data_model.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(data-model): remove random sleep (#6437)
  warehouse/scheduler/scheduler/mq/handlers/data_model.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(consumer-trino): allow write users to read system schema
  opa/trino/trino.rego
  ops/k8s-apps/production/consumer-trino/trino-access-control.yaml
Due: none

fix(consumer-trino): allow write users to read system schema (#6438)
  opa/trino/trino.rego
  ops/k8s-apps/production/consumer-trino/trino-access-control.yaml
Due: none

fix: don't rely on trino transactions
  warehouse/scheduler/scheduler/mq/common.py
  warehouse/scheduler/scheduler/mq/handlers/data_model.py
  warehouse/scheduler/scheduler/types.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: add `missing` cloud env variable
  .github/workflows/claude-code-review.yml
Due: none

fix: build issues
  warehouse/scheduler/scheduler/evaluator.py
  warehouse/scheduler/scheduler/resources.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright
