Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

chore(dependencies): change isort dep to only dev
  pyproject.toml
  uv.lock
  warehouse/metrics-service/pyproject.toml
Due: none

fix(graphql): add missing single option for queries
  apps/frontend/app/api/v1/osograph/schema/graphql/notebook.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/organization.graphql
  apps/frontend/lib/graphql/generated/graphql.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore(dependencies): change isort dep to only dev (#5673)
  pyproject.toml
  uv.lock
  warehouse/metrics-service/pyproject.toml
Due: none

fix(graphql): add missing single option for queries (#5674)
  apps/frontend/app/api/v1/osograph/schema/graphql/notebook.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/organization.graphql
  apps/frontend/lib/graphql/generated/graphql.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(data-model): changes to make model revision and release creation work
  apps/frontend/app/api/v1/osograph/schema/resolvers/data-model.ts
  apps/frontend/app/api/v1/osograph/utils/validation.ts
  apps/frontend/lib/clients/oso-app/oso-app.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(form-builder): make date input convert strings to avoid errors
  apps/frontend/components/widgets/form-builder.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(graphql): add missing single option
  apps/frontend/app/api/v1/osograph/utils/resolver-helpers.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(monaco-editor): make monaco editor have the correct initial state
  apps/frontend/components/widgets/monaco-editor.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(sqlmesh): create ddp shortlist repos
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_repo_discovery_v0_shortlist.sql
Due: none

chore: update dependencies
  apps/frontend/lib/graphql/generated/graphql.ts
  apps/frontend/package.json
  pnpm-lock.yaml
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix url
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_repo_discovery_v0_shortlist.sql
Due: none

feat(sqlmesh): create ddp shortlist repos (#5682)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_repo_discovery_v0_shortlist.sql
Due: none

hotfix(sqlmesh): cleaner case logic
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_repo_discovery_v0_shortlist.sql
Due: none

hotfix(sqlmesh): cleaner case logic (#5684)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_repo_discovery_v0_shortlist.sql
Due: none

feat: vendor sqlmesh dialect
  lib/query-rewriter/pyproject.toml
  lib/query-rewriter/queryrewriter/__init__.py
  lib/query-rewriter/queryrewriter/dialect.py
  lib/query-rewriter/queryrewriter/errors.py
  lib/query-rewriter/queryrewriter/pandasutils.py
  lib/query-rewriter/queryrewriter/rewrite.py
  lib/query-rewriter/queryrewriter/test_rewrite.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: update lock
  pyproject.toml
  uv.lock
Due: none

chore: remove unneeded hatch config
  lib/query-rewriter/pyproject.toml
Due: none

Fix lifecycle contributor state accounting and add extra QA for sqlmesh metrics pipeline (#5177)
  warehouse/metrics_tools/factory/factory.py
  warehouse/oso_sqlmesh/models/intermediate/events/github/first-last/int_last_contribution_to_artifact.sql
  warehouse/oso_sqlmesh/models/intermediate/events/github/first-last/int_last_contribution_to_collection.sql
  warehouse/oso_sqlmesh/models/intermediate/events/github/first-last/int_last_contribution_to_project.sql
  warehouse/oso_sqlmesh/models/metrics_factories.py
  warehouse/oso_sqlmesh/oso_metrics/code/contributor_activity_classification.sql
  warehouse/oso_sqlmesh/oso_metrics/code/first_time_contributor.sql
  warehouse/oso_sqlmesh/oso_metrics/code/lifecycle.sql
  warehouse/oso_sqlmesh/oso_metrics/code/new_contributors.sql
  warehouse/oso_sqlmesh/tests/test_bot_activity_to_project_monthly.yml
  warehouse/oso_sqlmesh/tests/test_contributor_classifications_to_artifact_monthly.yml
  warehouse/oso_sqlmesh/tests/test_contributor_classifications_to_artifact_yearly.yml
  warehouse/oso_sqlmesh/tests/test_contributor_classifications_to_collection_monthly.yml
  warehouse/oso_sqlmesh/tests/test_contributor_classifications_to_collection_yearly.yml
  warehouse/oso_sqlmesh/tests/test_contributor_classifications_to_project_monthly.yml
  warehouse/oso_sqlmesh/tests/test_contributor_classifications_to_project_yearly.yml
  warehouse/oso_sqlmesh/tests/test_contributors_lifecycle_to_artifact_monthly.yml
  warehouse/oso_sqlmesh/tests/test_contributors_lifecycle_to_project_monthly.yml
  warehouse/oso_sqlmesh/tests/test_first_time_contributor_to_project_daily.yml
  warehouse/oso_sqlmesh/tests/test_first_time_contributor_to_project_monthly.yml
  warehouse/oso_sqlmesh/tests/test_int_last_contribution_to_artifact.yml
  warehouse/oso_sqlmesh/tests/test_int_last_contribution_to_collection.yml
  warehouse/oso_sqlmesh/tests/test_int_last_contribution_to_project.yml
  warehouse/oso_sqlmesh/tests/test_new_contributors_to_project_daily.yml
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

[OSO-1167] Final changes for Data model creation (#5679)
  apps/frontend/app/api/v1/osograph/schema/resolvers/data-model.ts
  apps/frontend/app/api/v1/osograph/utils/resolver-helpers.ts
  apps/frontend/app/api/v1/osograph/utils/validation.ts
  apps/frontend/components/widgets/form-builder.tsx
  apps/frontend/components/widgets/monaco-editor.tsx
  apps/frontend/lib/clients/oso-app/oso-app.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix
  lib/query-rewriter/queryrewriter/__init__.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: update growthepie asset
  warehouse/oso_dagster/assets/default/growthepie.py
  warehouse/oso_sqlmesh/models/staging/l2beat/stg_l2beat__projects.sql
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore(sqlmesh): include `providers` field
  warehouse/oso_sqlmesh/models/staging/l2beat/stg_l2beat__projects.sql
Due: none

fix: safely extend sqlglot as needed
  lib/query-rewriter/queryrewriter/__init__.py
  lib/query-rewriter/queryrewriter/rewrite.py
  lib/query-rewriter/queryrewriter/test_rewrite.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: vendor sqlmesh dialect (#5685)
  lib/query-rewriter/pyproject.toml
  lib/query-rewriter/queryrewriter/dialect.py
  lib/query-rewriter/queryrewriter/errors.py
  lib/query-rewriter/queryrewriter/pandasutils.py
  lib/query-rewriter/queryrewriter/rewrite.py
  lib/query-rewriter/queryrewriter/test_rewrite.py
  pyproject.toml
  uv.lock
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(sqlmesh): apply lifecycle metrics models to crypto ecosystems
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/crypto-ecosystems/int_crypto_ecosystems_developer_activity_monthly.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/crypto-ecosystems/int_crypto_ecosystems_developer_lifecycle_monthly.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/crypto-ecosystems/int_crypto_ecosystems_developer_lifecycle_monthly_enriched.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/pln/int_pln_developer_activity_monthly.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/pln/int_pln_developer_lifecycle_monthly.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/pln/int_pln_developer_lifecycle_monthly_enriched.sql
Due: none

fix(sqlmesh): l2beat provider var
  warehouse/oso_sqlmesh/models/staging/l2beat/stg_l2beat__projects.sql
Due: none

fix(dagster): update growthepie resource
  warehouse/oso_dagster/assets/default/growthepie.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): fix model name
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/crypto-ecosystems/int_crypto_ecosystems_developer_activity_monthly.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/crypto-ecosystems/int_crypto_ecosystems_developer_lifecycle_monthly_enriched.sql
Due: none

feat(sqlmesh): apply lifecycle metrics models to crypto ecosystems (#5689)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/crypto-ecosystems/int_crypto_ecosystems_developer_activity_monthly.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/crypto-ecosystems/int_crypto_ecosystems_developer_lifecycle_monthly.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/crypto-ecosystems/int_crypto_ecosystems_developer_lifecycle_monthly_enriched.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/pln/int_pln_developer_activity_monthly.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/pln/int_pln_developer_lifecycle_monthly.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/pln/int_pln_developer_lifecycle_monthly_enriched.sql
Due: none

Path conditions:
  eslint --flag v10_config_lookup_from_file --fix --max-warnings 0: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --ignore-path .gitignore --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
  prettier --ignore-path .gitignore --log-level warn --check: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
  uv run ruff format: any of: **/*.py
  uv run ruff check --fix --force-exclude: any of: **/*.py
  uv run isort: any of: **/*.py
  pnpm pyright: any of: **/*.py
