Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

feat: add oso_agent to uv workspace
  pyproject.toml
  uv.lock
Due: none

fix: typo in oso_mcp description
  warehouse/oso_mcp/pyproject.toml
Due: none

feat: add oso_agent package
  warehouse/oso_agent/.python-version
  warehouse/oso_agent/pyproject.toml
Due: none

feat: add boilerplate llamaindex agent
  warehouse/oso_agent/main.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

docs: add oso_agent README
  warehouse/oso_agent/README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: new docs for time series deep dive
  apps/docs/docs/contribute-models/data-models.md
  apps/docs/docs/contribute-models/index.mdx
  apps/docs/docs/contribute-models/time-series-factory.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: rename some classes to be more readable
  warehouse/metrics_tools/compute/client.py
  warehouse/metrics_tools/compute/manual_testing_utils.py
  warehouse/metrics_tools/compute/test_app.py
  warehouse/metrics_tools/compute/test_service.py
  warehouse/metrics_tools/compute/types.py
  warehouse/metrics_tools/definition.py
  warehouse/metrics_tools/factory/factory.py
  warehouse/metrics_tools/factory/generated.py
  warehouse/metrics_tools/factory/proxy/proxies.py
  warehouse/metrics_tools/factory/utils.py
  warehouse/metrics_tools/macros/macros.py
  warehouse/metrics_tools/runner.py
  warehouse/metrics_tools/test_runner.py
  warehouse/oso_lets_go/cli.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore(dagster): increase memory request to avoid node overload
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
Due: none

chore(dagster): increase memory request to avoid node overload (#3535)
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
Due: none

fix(docs): relative links
  apps/docs/docs/contribute-models/challenges/2024-04-05-data-challenge-01.md
  apps/docs/docs/contribute-models/challenges/2024-07-02-rf4-metrics-audit.md
  apps/docs/docs/contribute-models/challenges/bounties.md
  apps/docs/docs/contribute-models/retrofunding/index.md
  apps/docs/docs/contribute-models/retrofunding/s7-onchain-builders.md
  apps/docs/docs/references/ecosystems/pln.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(docs): try again
  apps/docs/docs/contribute-models/challenges/2024-07-02-rf4-metrics-audit.md
  apps/docs/docs/contribute-models/challenges/index.md
  apps/docs/docs/references/ecosystems/pln.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: links again
  apps/docs/docs/contribute-models/challenges/2024-07-02-rf4-metrics-audit.md
  apps/docs/docs/contribute-models/challenges/index.md
  apps/docs/docs/references/ecosystems/pln.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(docs): blog issues
  apps/docs/docs/contribute-models/challenges/2024-07-02-rf4-metrics-audit.md
  apps/docs/docs/contribute-models/challenges/index.md
  apps/docs/docs/references/ecosystems/pln.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(docs): relative links (#3536)
  apps/docs/docs/contribute-models/challenges/2024-04-05-data-challenge-01.md
  apps/docs/docs/contribute-models/challenges/2024-07-02-rf4-metrics-audit.md
  apps/docs/docs/contribute-models/challenges/bounties.md
  apps/docs/docs/contribute-models/challenges/index.md
  apps/docs/docs/contribute-models/retrofunding/index.md
  apps/docs/docs/contribute-models/retrofunding/s7-onchain-builders.md
  apps/docs/docs/references/ecosystems/pln.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add .env.example to oso_mcp
  .gitignore
  warehouse/oso_mcp/.env.example
Due: none

root `uv sync` needs --all-packages
  README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

update uv.lock
  uv.lock
Due: none

feat: add build system to oso_mcp
  warehouse/oso_mcp/pyproject.toml
Due: none

feat: allow running MCP server in SSE mode
  warehouse/oso_mcp/main.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: update oso_agent README
  warehouse/oso_agent/README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: working agent talking to MCP server
  warehouse/oso_agent/main.py
  warehouse/oso_agent/pyproject.toml
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: remove hatching build from oso_mcp
  uv.lock
  warehouse/oso_mcp/pyproject.toml
Due: none

feat: agent starter (#3531)
  .gitignore
  README.md
  pyproject.toml
  uv.lock
  warehouse/oso_agent/.python-version
  warehouse/oso_agent/README.md
  warehouse/oso_agent/main.py
  warehouse/oso_agent/pyproject.toml
  warehouse/oso_mcp/.env.example
  warehouse/oso_mcp/main.py
  warehouse/oso_mcp/pyproject.toml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

models: add stg_deps_dev__packages to sqlmesh
  warehouse/oso_sqlmesh/models/staging/deps-dev/stg_deps_dev__packages.sql
Due: none

models: Add a start date constant for deps.dev
  warehouse/metrics_tools/models/constants.py
  warehouse/oso_sqlmesh/config.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

data: remove last reference to a dbt model from sqlmesh (yay!)
  warehouse/metrics_tools/local/utils.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: add seed data for deps_dev
  warehouse/metrics_tools/seed/schemas/deps_dev/PackageVersionToProject.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

update staging model for deps_dev
  warehouse/oso_sqlmesh/models/staging/deps-dev/stg_deps_dev__packages.sql
Due: none

update int_packages to use new staging model
  warehouse/oso_sqlmesh/models/intermediate/code_artifacts/int_packages.sql
Due: none

fix: cleanup comments
  warehouse/metrics_tools/seed/schemas/deps_dev/PackageVersionToProject.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

remove redundant where clause
  warehouse/oso_sqlmesh/models/intermediate/code_artifacts/int_packages.sql
  warehouse/oso_sqlmesh/models/staging/deps-dev/stg_deps_dev__packages.sql
Due: none

chore: prettier fix
  apps/docs/docs/contribute-models/time-series-factory.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add bigquery_public_data to trino catalog
  warehouse/docker/trino/catalog/bigquery_public_data.properties
Due: none

data: move stg_deps_dev__packages to sqlmesh (#3513)
  warehouse/docker/trino/catalog/bigquery_public_data.properties
  warehouse/metrics_tools/local/utils.py
  warehouse/metrics_tools/models/constants.py
  warehouse/metrics_tools/seed/schemas/deps_dev/PackageVersionToProject.py
  warehouse/oso_sqlmesh/config.py
  warehouse/oso_sqlmesh/models/intermediate/code_artifacts/int_packages.sql
  warehouse/oso_sqlmesh/models/staging/deps-dev/stg_deps_dev__packages.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): enforce lower case project and collection OSO names
  warehouse/oso_sqlmesh/models/intermediate/directory/int_artifacts_by_project_in_op_atlas.sql
  warehouse/oso_sqlmesh/models/staging/oss-directory/stg_ossd__current_collections.sql
  warehouse/oso_sqlmesh/models/staging/oss-directory/stg_ossd__current_projects.sql
Due: none

fix(slqmesh): bug in ossd artifact urls for github (#3519)
  warehouse/oso_sqlmesh/models/intermediate/directory/int_artifacts_by_project_in_op_atlas.sql
  warehouse/oso_sqlmesh/models/intermediate/directory/int_artifacts_by_project_in_ossd.sql
  warehouse/oso_sqlmesh/models/staging/oss-directory/stg_ossd__current_collections.sql
  warehouse/oso_sqlmesh/models/staging/oss-directory/stg_ossd__current_projects.sql
Due: none

docs-v2-5
  apps/docs/docs/projects/get-project-metrics.mdx
  apps/docs/docs/projects/index.md
  apps/docs/docs/projects/troubleshoot.md
  apps/docs/docs/projects/update-artifacts.md
  apps/docs/docs/projects/view-artifacts.mdx
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Time Series Metrics Docs (#3532)
  apps/docs/docs/contribute-models/data-models.md
  apps/docs/docs/contribute-models/index.mdx
  apps/docs/docs/contribute-models/time-series-factory.md
  warehouse/metrics_tools/compute/client.py
  warehouse/metrics_tools/compute/manual_testing_utils.py
  warehouse/metrics_tools/compute/test_app.py
  warehouse/metrics_tools/compute/test_service.py
  warehouse/metrics_tools/compute/types.py
  warehouse/metrics_tools/definition.py
  warehouse/metrics_tools/factory/factory.py
  warehouse/metrics_tools/factory/generated.py
  warehouse/metrics_tools/factory/proxy/proxies.py
  warehouse/metrics_tools/factory/utils.py
  warehouse/metrics_tools/macros/macros.py
  warehouse/metrics_tools/runner.py
  warehouse/metrics_tools/test_runner.py
  warehouse/oso_lets_go/cli.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(docs): pyoso release updates
  apps/docs/docs/guides/notebooks/colab-secret.png
  apps/docs/docs/guides/notebooks/colab.md
  apps/docs/docs/guides/notebooks/hex.md
  apps/docs/docs/guides/notebooks/index.mdx
  apps/docs/docs/guides/notebooks/jupyter.md
  apps/docs/docs/guides/visualization-tools/_category_.json
  apps/docs/docs/guides/visualization-tools/gcp_service_account_create.png
  apps/docs/docs/guides/visualization-tools/gcp_service_account_key.png
  apps/docs/docs/guides/visualization-tools/gcp_service_account_perm.png
  apps/docs/docs/guides/visualization-tools/hex_add_connection.png
  apps/docs/docs/guides/visualization-tools/hex_connections.png
  apps/docs/docs/guides/visualization-tools/hex_query.png
  apps/docs/docs/guides/visualization-tools/index.mdx
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(docs): old links
  apps/docs/docs/get-started/bigquery.mdx
  apps/docs/docs/get-started/python.md
  apps/docs/docs/guides/index.mdx
  apps/docs/docs/integrate/datasets/index.mdx
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  uv run ruff check --fix --force-exclude: any of: **/*.py
  uv run isort: any of: **/*.py
  pnpm pyright: any of: **/*.py
  uv run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  uv run sqlfluff lint: any of: warehouse/dbt/**/*.sql
