Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

fix docs
  warehouse/oso_dagster/factories/loader.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

more docs fixes
  warehouse/oso_dagster/factories/common.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(dagster): instrument resource loading times (#4658)
  lib/oso-core/oso_core/logging/decorators.py
  ops/helm-charts/oso-dagster/Chart.yaml
  ops/helm-charts/oso-dagster/values.yaml
  ops/k8s-apps/base/dagster/dagster.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  warehouse/oso_dagster/assets/ecosystems.py
  warehouse/oso_dagster/assets/sqlmesh.py
  warehouse/oso_dagster/config.py
  warehouse/oso_dagster/definitions.py
  warehouse/oso_dagster/definitions/__init__.py
  warehouse/oso_dagster/definitions/common.py
  warehouse/oso_dagster/definitions/resources.py
  warehouse/oso_dagster/factories/common.py
  warehouse/oso_dagster/factories/dlt.py
  warehouse/oso_dagster/factories/goldsky/network.py
  warehouse/oso_dagster/factories/loader.py
  warehouse/oso_dagster/factories/sql.py
  warehouse/oso_dagster/resources/__init__.py
  warehouse/oso_dagster/utils/alerts.py
  warehouse/oso_dagster/utils/dagsterinternals.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

fix: `qol` improvements for `graphql` factory
  warehouse/oso_dagster/factories/graphql.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

add: example `dependency` asset usage
  warehouse/oso_dagster/assets/example.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

add: `giveth` crawler with `graphql` factory
  warehouse/oso_dagster/assets/qf_example.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

update deps
  pyproject.toml
  uv.lock
Due: none

chore: update oso_core deps
  lib/oso-core/pyproject.toml
  uv.lock
Due: none

feat(oso_core): use structured logging from structlog
  lib/oso-core/oso_core/logging/__init__.py
  lib/oso-core/oso_core/logging/decorators.py
  lib/oso-core/oso_core/logging/defaults.py
  lib/oso-core/oso_core/logging/utils.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix oso_core logging
  lib/oso-core/oso_core/logging/decorators.py
  lib/oso-core/oso_core/logging/defaults.py
  lib/oso-core/oso_core/logging/utils.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: allow for legacy definition import timing
  warehouse/oso_dagster/definitions/__init__.py
  warehouse/oso_dagster/definitions/common.py
  warehouse/oso_dagster/definitions/legacy.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(oso_dagster): allow early asset factories to provide useful metadata
  warehouse/oso_dagster/factories/common.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(oso_dagster): asset loading
  warehouse/oso_dagster/factories/loader.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(oso_dagster): decorated functions should use functools.wraps
  warehouse/oso_dagster/factories/dlt.py
  warehouse/oso_dagster/factories/graphql.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore(ops): use legacy definitions file
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

fix env vars
  ops/helm-charts/oso-dagster/Chart.yaml
  ops/helm-charts/oso-dagster/templates/config-map.yaml
Due: none

improve docs
  lib/oso-core/oso_core/logging/defaults.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix some old references
  lib/oso-core/oso_core/logging/__init__.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(oso_dagster): add some logging when using deferred table loading
  warehouse/oso_dagster/factories/sql.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

add some docs
  warehouse/oso_dagster/definitions/legacy.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

small clean up
  lib/oso-core/oso_core/logging/defaults.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

doc fix
  lib/oso-core/oso_core/logging/defaults.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

doc fix
  lib/oso-core/oso_core/logging/utils.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Time dagster asset loading (#4669)
  lib/oso-core/oso_core/logging/__init__.py
  lib/oso-core/oso_core/logging/decorators.py
  lib/oso-core/oso_core/logging/defaults.py
  lib/oso-core/oso_core/logging/utils.py
  lib/oso-core/pyproject.toml
  ops/helm-charts/oso-dagster/Chart.yaml
  ops/helm-charts/oso-dagster/templates/config-map.yaml
  ops/k8s-apps/base/dagster/dagster.yaml
  pyproject.toml
  uv.lock
  warehouse/oso_dagster/definitions/__init__.py
  warehouse/oso_dagster/definitions/common.py
  warehouse/oso_dagster/definitions/legacy.py
  warehouse/oso_dagster/factories/common.py
  warehouse/oso_dagster/factories/dlt.py
  warehouse/oso_dagster/factories/graphql.py
  warehouse/oso_dagster/factories/loader.py
  warehouse/oso_dagster/factories/sql.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): make handling for duplicated deployers more explicit
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/op-atlas/int_artifacts_by_project_in_op_atlas.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/op-atlas/int_op_atlas_deduped_deployers.sql
Due: none

chore(slqmesh): bump M6 models (#4665)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/s7/int_superchain_s7_defillama_adapter_checks.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/s7/int_superchain_s7_devtooling_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/s7/int_superchain_s7_summary_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/collections/op-atlas/int_projects_by_collection_in_op_atlas.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/op-atlas/int_artifacts_by_project_in_op_atlas.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/op-atlas/int_artifacts_by_project_in_op_atlas_downstream.sql
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/op-atlas/int_op_atlas_deduped_deployers.sql
  warehouse/oso_sqlmesh/seeds/op_atlas_registry_updates.csv
Due: none

fix(ops): hotfix dagster definitions setup
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
Due: none

fix(ops): hotfix dagster definitions setup (#4670)
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
Due: none

fix(oso_dagster): hotfix asset loading due to incorrect annotations
  warehouse/oso_dagster/factories/common.py
  warehouse/oso_dagster/factories/dlt.py
  warehouse/oso_dagster/factories/loader.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(oso_dagster): hotfix asset loading due to incorrect annotations (#4671)
  warehouse/oso_dagster/factories/common.py
  warehouse/oso_dagster/factories/dlt.py
  warehouse/oso_dagster/factories/loader.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(oso_dagster): hotfix polars io manager with bq
  pyproject.toml
  uv.lock
  warehouse/oso_dagster/definitions/resources.py
  warehouse/oso_dagster/resources/io_manager.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(oso_dagster): hotfix polars io manager with bq (#4672)
  pyproject.toml
  uv.lock
  warehouse/oso_dagster/definitions/resources.py
  warehouse/oso_dagster/resources/io_manager.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: rewrite docs for new `graphql` factory config
  apps/docs/docs/contribute-data/crawl-api-example-opencollective.png
  apps/docs/docs/contribute-data/crawl-api-graphql-pipeline.png
  apps/docs/docs/contribute-data/graphql-api.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: remove `unused` file
  warehouse/oso_dagster/assets/example.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  uv run ruff check --fix --force-exclude: any of: **/*.py
  uv run isort: any of: **/*.py
  pnpm pyright: any of: **/*.py
  uv run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  uv run sqlfluff lint: any of: warehouse/dbt/**/*.sql
