Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

.lintstagedrc:

{
    "**/*.{js,jsx,ts,tsx,sol}": [
        "eslint --flag v10_config_lookup_from_file --fix --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff format",
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ]
}

chore: expose `graphql` error details
  warehouse/scheduler/scheduler/mq/common.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: use `from_unix_timestamp` macro
  warehouse/oso_sqlmesh/models/intermediate/drips/int_drips__project_funding.sql
Due: none

add: track osograph `exceptions` with posthog (#6646)
  apps/frontend/app/api/v1/osograph/route.ts
  warehouse/scheduler/scheduler/mq/common.py
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

add: drips `staging` models (#6639)
  warehouse/metrics_tools/metrics_tools/seed/schemas/drips/rpgf_applications.py
  warehouse/oso_sqlmesh/models/intermediate/drips/int_drips__project_funding.sql
  warehouse/oso_sqlmesh/models/staging/drips/stg_drips__rpgf_applications.sql
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
  ops/k8s-apps/production/scheduler/custom-helm-values.yaml
Due: none

fix: use `to_pylist` in helper (#6645)
  warehouse/scheduler/scheduler/mq/handlers/ingestion/utils/readers.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: prevent `unauthorized` access to user organizations
  apps/frontend/app/api/v1/osograph/schema/resolvers/user/user/type-resolvers.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: throw `notAuthorized` error
  apps/frontend/app/api/v1/osograph/schema/resolvers/user/user/type-resolvers.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: sanitize `drips` columns
  warehouse/oso_dagster/oso_dagster/assets/default/drips.py
  warehouse/oso_dagster/oso_dagster/utils/bq.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: sanitize `drips` columns (#6656)
  warehouse/oso_dagster/oso_dagster/assets/default/drips.py
  warehouse/oso_dagster/oso_dagster/utils/bq.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: adds a debug log for renewing the message locking (#6638)
  warehouse/scheduler/scheduler/mq/common.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: adds internal_processing_id to message handling logs
  warehouse/scheduler/scheduler/logging.py
  warehouse/scheduler/scheduler/mq/common.py
  warehouse/scheduler/scheduler/testing/resources/logging.py
  warehouse/scheduler/scheduler/types.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: adds internal_processing_id to message handling logs (#6666)
  warehouse/scheduler/scheduler/logging.py
  warehouse/scheduler/scheduler/mq/common.py
  warehouse/scheduler/scheduler/testing/resources/logging.py
  warehouse/scheduler/scheduler/types.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: increase default ttl for message lock
  warehouse/scheduler/scheduler/config.py
  warehouse/scheduler/scheduler/mq/common.py
  warehouse/scheduler/scheduler/mq/concurrency/redis.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: prevent `unauthorized` access to user organizations (#6654)
  apps/frontend/app/api/v1/osograph/schema/resolvers/user/user/type-resolvers.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: increase default ttl for message lock (#6667)
  warehouse/scheduler/scheduler/config.py
  warehouse/scheduler/scheduler/mq/common.py
  warehouse/scheduler/scheduler/mq/concurrency/redis.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: additional logs for the locking process
  warehouse/scheduler/scheduler/mq/common.py
  warehouse/scheduler/scheduler/mq/concurrency/inmem.py
  warehouse/scheduler/scheduler/mq/concurrency/redis.py
  warehouse/scheduler/scheduler/types.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: handle skipping messages in pubsub
  warehouse/scheduler/scheduler/mq/pubsub.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: additional logs for the locking process (#6668)
  warehouse/scheduler/scheduler/mq/common.py
  warehouse/scheduler/scheduler/mq/concurrency/inmem.py
  warehouse/scheduler/scheduler/mq/concurrency/redis.py
  warehouse/scheduler/scheduler/mq/pubsub.py
  warehouse/scheduler/scheduler/types.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: more logs inside pubsub thread
  warehouse/scheduler/scheduler/mq/pubsub.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: add dlt to logs
  warehouse/scheduler/scheduler/cli.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: configurable pubsub messaging timeouts
  ops/k8s-apps/production/scheduler/custom-helm-values.yaml
  warehouse/scheduler/scheduler/config.py
  warehouse/scheduler/scheduler/mq/pubsub.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: configurable pubsub messaging timeouts (#6669)
  ops/k8s-apps/production/scheduler/custom-helm-values.yaml
  warehouse/scheduler/scheduler/config.py
  warehouse/scheduler/scheduler/mq/pubsub.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: `httpx` error escapes `asynccontextmanager`
  warehouse/scheduler/scheduler/mq/handlers/ingestion/utils/download.py
  warehouse/scheduler/scheduler/mq/handlers/ingestion/utils/resources.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: add `OSO_USER_AGENT` to our requests
  warehouse/oso_dagster/oso_dagster/factories/archive2bq.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: `httpx` error escapes `asynccontextmanager` (#6672)
  warehouse/scheduler/scheduler/mq/handlers/ingestion/utils/download.py
  warehouse/scheduler/scheduler/mq/handlers/ingestion/utils/resources.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: add `OSO_USER_AGENT` to our requests (#6673)
  warehouse/oso_dagster/oso_dagster/factories/archive2bq.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: more frequent lock renewal
  warehouse/scheduler/scheduler/mq/common.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright
