Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

.lintstagedrc:

{
  "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --max-warnings 0",
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "**/*.{md,json}": [
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "**/*.py": [
    "poetry run ruff check --fix --force-exclude",
    "pnpm pyright"
  ],
  "warehouse/dbt/**/*.sql": [
    "poetry run sqlfluff fix -f",
    "poetry run sqlfluff lint"
  ]
}

fix: round number (#2399)
  apps/docs/blog/2024-10-24-rf5-ballot-box/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Fixes "appearance" of metric duplicates
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_tools/lib/factories/definition.py
  warehouse/metrics_tools/lib/factories/factory.py
  warehouse/metrics_tools/lib/factories/macros.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fixes appearance of metric duplicates (#2400)
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_tools/lib/factories/definition.py
  warehouse/metrics_tools/lib/factories/factory.py
  warehouse/metrics_tools/lib/factories/macros.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

refactor(dbt): modular events models (#2394)
  warehouse/dbt/models/intermediate/events/int_events.sql
  warehouse/dbt/models/intermediate/events/int_events__blockchain.sql
  warehouse/dbt/models/intermediate/events/int_events__dependencies.sql
  warehouse/dbt/models/intermediate/events/int_events__github.sql
  warehouse/dbt/models/intermediate/events/int_events__open_collective.sql
  warehouse/dbt/models/staging/open-collective/stg_open_collective__events.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

add: github repo `dependencies` dlt asset (#2397)
  warehouse/dbt/models/oss_directory_source.yml
  warehouse/dbt/models/staging/oss-directory/stg_ossd__missing_sbom.sql
  warehouse/dbt/models/staging/oss-directory/stg_ossd__schema.yml
  warehouse/oso_dagster/assets/ossd.py
  warehouse/oso_dagster/dlt_sources/github_repos/__init__.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

chore: update `dagster` version
  poetry.lock
  pyproject.toml
Due: none

fix: name typos in metrics models
  warehouse/metrics_mesh/models/timeseries_metrics_by_collection_v0.sql
  warehouse/metrics_mesh/models/timeseries_metrics_by_project_v0.sql
Due: none

fix: `cast` wide asset types
  warehouse/oso_dagster/factories/bq2clickhouse.py
  warehouse/oso_dagster/factories/bq_dts.py
  warehouse/oso_dagster/factories/gcs.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: name typos in metrics models (#2402)
  warehouse/metrics_mesh/models/timeseries_metrics_by_collection_v0.sql
  warehouse/metrics_mesh/models/timeseries_metrics_by_project_v0.sql
Due: none

fix: format open collective `staging` models appropriately
  warehouse/dbt/models/staging/open-collective/stg_open_collective__deposits.sql
  warehouse/dbt/models/staging/open-collective/stg_open_collective__expenses.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: add `dagster/concurrency_key` to `ossd` assets
  warehouse/oso_dagster/assets/ossd.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Addresses issues with generated models being overly eager to refresh
  warehouse/metrics_tools/dialect/translate.py
  warehouse/metrics_tools/lib/factories/definition.py
  warehouse/metrics_tools/lib/factories/factory.py
  warehouse/metrics_tools/lib/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add: `deps_dev` explicit source
  warehouse/dbt/models/deps_dev_sources.yml
  warehouse/dbt/models/staging/deps-dev/stg_deps_dev__dependencies.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

make things a list of tuples instead
  warehouse/metrics_tools/lib/factories/definition.py
  warehouse/metrics_tools/lib/factories/factory.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: recreating hasura3/ from scratch
  apps/hasura3/.gitignore
  apps/hasura3/.hasura/context.yaml
  apps/hasura3/app/metadata/.keep
  apps/hasura3/app/subgraph.yaml
  apps/hasura3/compose.yaml
  apps/hasura3/engine/.env.engine
  apps/hasura3/engine/Dockerfile.engine
  apps/hasura3/globals/metadata/auth-config.hml
  apps/hasura3/globals/metadata/compatibility-config.hml
  apps/hasura3/globals/metadata/graphql-config.hml
  apps/hasura3/globals/subgraph.yaml
  apps/hasura3/oso_subgraph/connector/oso_clickhouse/.hasura-connector/Dockerfile.oso_clickhouse
  apps/hasura3/oso_subgraph/connector/oso_clickhouse/.hasura-connector/connector-metadata.yaml
  apps/hasura3/oso_subgraph/connector/oso_clickhouse/compose.yaml
  apps/hasura3/oso_subgraph/connector/oso_clickhouse/configuration.json
  apps/hasura3/oso_subgraph/connector/oso_clickhouse/configuration.schema.json
  apps/hasura3/oso_subgraph/connector/oso_clickhouse/connector.yaml
  apps/hasura3/oso_subgraph/metadata/.keep
  apps/hasura3/oso_subgraph/metadata/ArtifactsByProjectV1.hml
  apps/hasura3/oso_subgraph/metadata/ArtifactsV1.hml
  apps/hasura3/oso_subgraph/metadata/CodeMetricsByArtifactV0.hml
  apps/hasura3/oso_subgraph/metadata/CodeMetricsByProjectV1.hml
  apps/hasura3/oso_subgraph/metadata/CollectionsV1.hml
  apps/hasura3/oso_subgraph/metadata/ContractsV0.hml
  apps/hasura3/oso_subgraph/metadata/EventTypesV1.hml
  apps/hasura3/oso_subgraph/metadata/FundingMetricsByProjectV1.hml
  apps/hasura3/oso_subgraph/metadata/MetricsV0.hml
  apps/hasura3/oso_subgraph/metadata/OnchainMetricsByProjectV1.hml
  apps/hasura3/oso_subgraph/metadata/ProjectsByCollectionV1.hml
  apps/hasura3/oso_subgraph/metadata/ProjectsV1.hml
  apps/hasura3/oso_subgraph/metadata/TimeseriesEventsByArtifactV0.hml
  apps/hasura3/oso_subgraph/metadata/TimeseriesMetricsByArtifactV0.hml
  apps/hasura3/oso_subgraph/metadata/TimeseriesMetricsByCollectionV0.hml
  apps/hasura3/oso_subgraph/metadata/TimeseriesMetricsByProjectV0.hml
  apps/hasura3/oso_subgraph/metadata/UsersV1.hml
  apps/hasura3/oso_subgraph/metadata/oso_clickhouse-types.hml
  apps/hasura3/oso_subgraph/metadata/oso_clickhouse.hml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

docs: manual sql steps for importing metrics to Clickhouse
  manual-work-log.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: recreating hasura3/ from scratch (#2409)
  apps/hasura3/.gitignore
  apps/hasura3/.hasura/context.yaml
  apps/hasura3/app/metadata/.keep
  apps/hasura3/app/subgraph.yaml
  apps/hasura3/compose.yaml
  apps/hasura3/engine/.env.engine
  apps/hasura3/engine/Dockerfile.engine
  apps/hasura3/globals/metadata/auth-config.hml
  apps/hasura3/globals/metadata/compatibility-config.hml
  apps/hasura3/globals/metadata/graphql-config.hml
  apps/hasura3/globals/subgraph.yaml
  apps/hasura3/oso_subgraph/connector/oso_clickhouse/.hasura-connector/Dockerfile.oso_clickhouse
  apps/hasura3/oso_subgraph/connector/oso_clickhouse/.hasura-connector/connector-metadata.yaml
  apps/hasura3/oso_subgraph/connector/oso_clickhouse/compose.yaml
  apps/hasura3/oso_subgraph/connector/oso_clickhouse/configuration.json
  apps/hasura3/oso_subgraph/connector/oso_clickhouse/configuration.schema.json
  apps/hasura3/oso_subgraph/connector/oso_clickhouse/connector.yaml
  apps/hasura3/oso_subgraph/metadata/.keep
  apps/hasura3/oso_subgraph/metadata/ArtifactsByProjectV1.hml
  apps/hasura3/oso_subgraph/metadata/ArtifactsV1.hml
  apps/hasura3/oso_subgraph/metadata/CodeMetricsByArtifactV0.hml
  apps/hasura3/oso_subgraph/metadata/CodeMetricsByProjectV1.hml
  apps/hasura3/oso_subgraph/metadata/CollectionsV1.hml
  apps/hasura3/oso_subgraph/metadata/ContractsV0.hml
  apps/hasura3/oso_subgraph/metadata/EventTypesV1.hml
  apps/hasura3/oso_subgraph/metadata/FundingMetricsByProjectV1.hml
  apps/hasura3/oso_subgraph/metadata/MetricsV0.hml
  apps/hasura3/oso_subgraph/metadata/OnchainMetricsByProjectV1.hml
  apps/hasura3/oso_subgraph/metadata/ProjectsByCollectionV1.hml
  apps/hasura3/oso_subgraph/metadata/ProjectsV1.hml
  apps/hasura3/oso_subgraph/metadata/TimeseriesEventsByArtifactV0.hml
  apps/hasura3/oso_subgraph/metadata/TimeseriesMetricsByArtifactV0.hml
  apps/hasura3/oso_subgraph/metadata/TimeseriesMetricsByCollectionV0.hml
  apps/hasura3/oso_subgraph/metadata/TimeseriesMetricsByProjectV0.hml
  apps/hasura3/oso_subgraph/metadata/UsersV1.hml
  apps/hasura3/oso_subgraph/metadata/oso_clickhouse-types.hml
  apps/hasura3/oso_subgraph/metadata/oso_clickhouse.hml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

docs: manual sql steps for importing metrics to Clickhouse (#2410)
  manual-work-log.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: enable Apollo federation on new Hasura3 config
  apps/hasura3/globals/metadata/graphql-config.hml
Due: none

fix: enable Apollo federation on new Hasura3 config (#2413)
  apps/hasura3/globals/metadata/graphql-config.hml
Due: none

feat: Algolia accepts hard-coded default search results
  apps/frontend/components/widgets/algolia.tsx
  apps/frontend/plasmic-init-client.tsx
Due: none

feat: Algolia accepts hard-coded default search results (#2414)
  apps/frontend/components/widgets/algolia.tsx
  apps/frontend/plasmic-init-client.tsx
Due: none

Addresses issues with generated models being overly eager to refresh (#2406)
  warehouse/metrics_tools/dialect/translate.py
  warehouse/metrics_tools/lib/factories/definition.py
  warehouse/metrics_tools/lib/factories/factory.py
  warehouse/metrics_tools/lib/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: trailing whitespace
  warehouse/dbt/models/staging/oss-directory/stg_ossd__current_repositories.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: `log` failed sbom request instead of throw
  warehouse/oso_dagster/dlt_sources/github_repos/__init__.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: `log` failed sbom request instead of throw (#2418)
  warehouse/oso_dagster/dlt_sources/github_repos/__init__.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Updates readme and some macros to ensure ease of use
  warehouse/metrics_mesh/README.md
  warehouse/metrics_mesh/oso_metrics/change_in_developers.sql
  warehouse/metrics_mesh/oso_metrics/contributor_activity_classification.sql
  warehouse/metrics_mesh/oso_metrics/developer_activity_classification.sql
  warehouse/metrics_tools/lib/factories/macros.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright

fix
  warehouse/metrics_tools/lib/factories/factory.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix
  warehouse/metrics_mesh/oso_metrics/contributor_activity_classification.sql
Due: none

Improve Metrics Mesh README (#2419)
  warehouse/metrics_mesh/README.md
  warehouse/metrics_mesh/oso_metrics/change_in_developers.sql
  warehouse/metrics_mesh/oso_metrics/contributor_activity_classification.sql
  warehouse/metrics_mesh/oso_metrics/developer_activity_classification.sql
  warehouse/metrics_tools/lib/factories/factory.py
  warehouse/metrics_tools/lib/factories/macros.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright

chore: update `dagster` version (#2401)
  poetry.lock
  pyproject.toml
  warehouse/dbt/models/staging/open-collective/stg_open_collective__deposits.sql
  warehouse/dbt/models/staging/open-collective/stg_open_collective__expenses.sql
  warehouse/oso_dagster/factories/bq2clickhouse.py
  warehouse/oso_dagster/factories/bq_dts.py
  warehouse/oso_dagster/factories/gcs.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: add `dagster/concurrency_key` to `ossd` assets (#2405)
  warehouse/oso_dagster/assets/ossd.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add: `deps_dev` explicit source (#2407)
  warehouse/dbt/models/deps_dev_sources.yml
  warehouse/dbt/models/staging/deps-dev/stg_deps_dev__dependencies.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat: dynamic data dictionary .yml generation
  data_dict/dataset_context/arbitrum_one.json
  data_dict/dataset_context/farcaster.json
  data_dict/dataset_context/filecoin.json
  data_dict/dataset_context/gitcoin.json
  data_dict/dataset_context/githubarchive.json
  data_dict/dataset_context/lens.json
  data_dict/dataset_context/open_collective.json
  data_dict/dataset_context/openrank.json
  data_dict/dataset_context/oso_playground.json
  data_dict/dataset_context/oso_production.json
  data_dict/dataset_context/oso_projects.json
  data_dict/dataset_context/superchain.json
  data_dict/update_data_dict.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright

fix: handle unused imports and variables
  data_dict/update_data_dict.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add: `sbom` source to `oss_directory`
  warehouse/dbt/models/oss_directory_source.yml
Due: none

fix: identify missing `sbom` repositories more efficiently
  warehouse/dbt/models/staging/oss-directory/stg_ossd__missing_sbom.sql
  warehouse/oso_dagster/assets/ossd.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: avoid calling `resolve_repos` when resolving `sbom`
  warehouse/oso_dagster/dlt_sources/github_repos/__init__.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: use dbt `source` macro
  warehouse/dbt/models/staging/oss-directory/stg_ossd__missing_sbom.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

chore: fix `sqlfluff` style for `missing_sbom` staging model
  warehouse/dbt/models/staging/oss-directory/stg_ossd__missing_sbom.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint
