Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

.lintstagedrc:

{
    "**/*.{js,jsx,ts,tsx,sol}": [
        "eslint --flag v10_config_lookup_from_file --fix --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff format",
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ]
}

chore(trino): upgrade trino version (#6073)
  ops/k8s-apps/base/trino/trino.yaml
Due: none

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
  ops/k8s-apps/production/scheduler/custom-helm-values.yaml
Due: none

fix(trino): revert version
  ops/k8s-apps/base/trino/trino.yaml
Due: none

fix(trino): revert version (#6107)
  ops/k8s-apps/base/trino/trino.yaml
Due: none

chore(trino): upgrade trino version
  ops/k8s-apps/base/trino/trino.yaml
  ops/k8s-apps/production/trino/custom-helm-values.yaml
  warehouse/docker-compose.yml
Due: none

fix(scheduler): explicitly parse with a dialect
  lib/query-rewriter/queryrewriter/defaults.py
  lib/query-rewriter/queryrewriter/rewrite.py
  lib/query-rewriter/queryrewriter/test_rewrite.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(scheduler): explicitly parse with a dialect (#6109)
  lib/query-rewriter/queryrewriter/defaults.py
  lib/query-rewriter/queryrewriter/rewrite.py
  lib/query-rewriter/queryrewriter/test_rewrite.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: update `rls` public access
  apps/frontend/supabase/migrations/20260108165418_fix_rls_public_access.sql
Due: none

chore: add `datasetcommon` to `scheduler` graphql
  warehouse/scheduler/scheduler/client.graphql
Due: none

chore: run `codegen` scripts
  warehouse/scheduler/scheduler/graphql_client/client.py
  warehouse/scheduler/scheduler/graphql_client/get_data_ingestion_config.py
  warehouse/scheduler/scheduler/graphql_client/input_types.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

investigatory work
  warehouse/scheduler/scheduler/config.py
  warehouse/scheduler/scheduler/mq/handlers/fake.py
  warehouse/scheduler/scheduler/resources.py
  warehouse/scheduler/scheduler/testing/client.py
  warehouse/scheduler/scheduler/types.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: emit `materialization` for data ingestion runs
  warehouse/scheduler/scheduler/mq/handlers/data_ingestion.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: avoid `recursive` rls calls
  apps/frontend/supabase/migrations/20260108165418_fix_rls_public_access.sql
Due: none

chore: add missing `users_by_organization` mapping to tests
  apps/frontend/lib/clients/oso-app/oso-app.test.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: remove extra `function`
  apps/frontend/supabase/migrations/20260108165418_fix_rls_public_access.sql
Due: none

chore: address `pr` feedback
  warehouse/scheduler/scheduler/mq/handlers/data_ingestion.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): reenable failing models
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/analysis/dependencies/int_ddp_package_centrality.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/analysis/repo_discovery/int_ddp_repo_discovery_v0.sql
Due: none

fix(sqlmesh): reenable failing models (#6117)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/analysis/dependencies/int_ddp_package_centrality.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/analysis/repo_discovery/int_ddp_repo_discovery_v0.sql
Due: none

fix(scheduler): fix trino dlt destination to do bulk inserts instead of row by row
  warehouse/scheduler/pyproject.toml
  warehouse/scheduler/scheduler/dlt_destination.py
  warehouse/scheduler/scheduler/mq/handlers/static_model.py
  warehouse/scheduler/scheduler/trino/dbapi.py
  warehouse/scheduler/scheduler/trino/dialect.py
  warehouse/scheduler/scheduler/utils.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: add scheduler workdir to gitignore
  .gitignore
Due: none

chore(trino): upgrade trino version (#6108)
  ops/k8s-apps/base/trino/trino.yaml
  ops/k8s-apps/production/trino/custom-helm-values.yaml
  warehouse/docker-compose.yml
Due: none

feat(sqlmesh): add models and tests for GitHub and OpenDevData developers
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_gharchive__developers.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers_with_dev_id.sql
  warehouse/oso_sqlmesh/tests/test_int_gharchive__developers.yml
  warehouse/oso_sqlmesh/tests/test_int_opendevdata__developers.yml
  warehouse/oso_sqlmesh/tests/test_int_opendevdata__developers_with_dev_id.yml
Due: none

feat(sqlmesh): add models and tests for OpenDevData commits and GitHub events
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/commits/int_opendevdata__commits_with_repo_id.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/events/int_github__events_enriched_with_opendevdata_commits.sql
  warehouse/oso_sqlmesh/models/intermediate/events/github/int_github__commits_all.sql
  warehouse/oso_sqlmesh/tests/test_int_github__commits_all.yml
  warehouse/oso_sqlmesh/tests/test_int_github__events_enriched_with_opendevdata_commits.yml
  warehouse/oso_sqlmesh/tests/test_int_opendevdata__commits_with_repo_id.yml
Due: none

feat: emit `materialization` for data ingestion runs (#6116)
  warehouse/scheduler/scheduler/client.graphql
  warehouse/scheduler/scheduler/graphql_client/client.py
  warehouse/scheduler/scheduler/graphql_client/get_data_ingestion_config.py
  warehouse/scheduler/scheduler/graphql_client/input_types.py
  warehouse/scheduler/scheduler/mq/handlers/data_ingestion.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore(gitignore): remove duplicated gitignore
  warehouse/scheduler/scheduler/.gitignore
Due: none

chore: run `open_collective/accounts` asset incrementally
  warehouse/oso_dagster/oso_dagster/assets/default/open_collective.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(scheduler): cleans up data_model schema names and dag creation
  warehouse/scheduler/scheduler/client.graphql
  warehouse/scheduler/scheduler/graphql_client/__init__.py
  warehouse/scheduler/scheduler/graphql_client/client.py
  warehouse/scheduler/scheduler/graphql_client/fragments.py
  warehouse/scheduler/scheduler/materialization/duckdb.py
  warehouse/scheduler/scheduler/materialization/trino.py
  warehouse/scheduler/scheduler/mq/handlers/data_model.py
  warehouse/scheduler/scheduler/types.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: update codegen
  warehouse/scheduler/scheduler/graphql_client/__init__.py
  warehouse/scheduler/scheduler/graphql_client/client.py
  warehouse/scheduler/scheduler/graphql_client/get_static_models.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(scheduler): make schema name generation consistent
  warehouse/scheduler/scheduler/client.graphql
  warehouse/scheduler/scheduler/materialization/duckdb.py
  warehouse/scheduler/scheduler/materialization/trino.py
  warehouse/scheduler/scheduler/mq/common.py
  warehouse/scheduler/scheduler/mq/handlers/data_model.py
  warehouse/scheduler/scheduler/mq/handlers/static_model.py
  warehouse/scheduler/scheduler/resources.py
  warehouse/scheduler/scheduler/types.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: run `open_collective/accounts` asset incrementally (#6121)
  warehouse/oso_dagster/oso_dagster/assets/default/open_collective.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: make all schema destination generation consistent
  warehouse/scheduler/scheduler/materialization/trino.py
  warehouse/scheduler/scheduler/mq/handlers/data_ingestion.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Fix DLT Trino destination bulk insert (#6118)
  .gitignore
  warehouse/scheduler/pyproject.toml
  warehouse/scheduler/scheduler/.gitignore
  warehouse/scheduler/scheduler/dlt_destination.py
  warehouse/scheduler/scheduler/mq/handlers/static_model.py
  warehouse/scheduler/scheduler/trino/dbapi.py
  warehouse/scheduler/scheduler/trino/dialect.py
  warehouse/scheduler/scheduler/utils.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright
