Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

.lintstagedrc:

{
    "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
        "eslint --ignore-path .gitignore --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ],
    "warehouse/dbt/**/*.sql": [
        "uv run sqlfluff fix -f",
        "uv run sqlfluff lint"
    ]
}

giveth test
  warehouse/oso_dagster/assets/giveth.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(dagster): typo in dagster deployment yaml
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

fix(dagster): typo in dagster deployment yaml (#3791)
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-calculation-service/custom-helm-values.yaml
Due: none

fix: use ignore_before to ignore some dates
  warehouse/metrics_tools/models/constants.py
  warehouse/oso_sqlmesh/config.py
  warehouse/oso_sqlmesh/models/intermediate/blockchain_artifacts/int_contracts_deployment.sql
  warehouse/oso_sqlmesh/models/intermediate/blockchain_artifacts/int_contracts_root_deployers.sql
  warehouse/oso_sqlmesh/models/intermediate/blockchain_artifacts/int_deployers.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__blockchain.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__blockchain_token_transfers.sql
  warehouse/oso_sqlmesh/models/metrics_factories.py
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__deployers.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__factories.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__potential_bots.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__traces.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__transactions.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: use ignore_before to ignore some dates (#3792)
  warehouse/metrics_tools/models/constants.py
  warehouse/oso_sqlmesh/config.py
  warehouse/oso_sqlmesh/models/intermediate/blockchain_artifacts/int_contracts_deployment.sql
  warehouse/oso_sqlmesh/models/intermediate/blockchain_artifacts/int_contracts_root_deployers.sql
  warehouse/oso_sqlmesh/models/intermediate/blockchain_artifacts/int_deployers.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__blockchain.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__blockchain_token_transfers.sql
  warehouse/oso_sqlmesh/models/metrics_factories.py
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__deployers.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__factories.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__potential_bots.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__traces.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__transactions.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): updates for S7-M3
  warehouse/oso_sqlmesh/models/intermediate/directory/int_projects_by_collection_in_op_atlas.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_repositories.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_summary_metrics_by_project.sql
Due: none

Added pypi publishing action
  .github/workflows/publish-pypi.yml
Due: none

fix(sqlmesh): updates for S7-M3 (#3793)
  warehouse/oso_sqlmesh/models/intermediate/directory/int_projects_by_collection_in_op_atlas.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_repositories.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_summary_metrics_by_project.sql
Due: none

chore: add missing_rate_min_threshold for no_gaps
  warehouse/oso_sqlmesh/audits/no_gaps.sql
Due: none

chore: add threshold for no_gaps
  warehouse/oso_sqlmesh/models/intermediate/blockchain_artifacts/int_contracts_deployment.sql
  warehouse/oso_sqlmesh/models/intermediate/blockchain_artifacts/int_contracts_root_deployers.sql
  warehouse/oso_sqlmesh/models/intermediate/blockchain_artifacts/int_deployers.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__blockchain.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__blockchain_token_transfers.sql
  warehouse/oso_sqlmesh/models/metrics_factories.py
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__deployers.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__factories.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__traces.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__transactions.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: default value
  warehouse/oso_sqlmesh/audits/no_gaps.sql
Due: none

fix
  warehouse/oso_sqlmesh/audits/no_gaps.sql
Due: none

fix: adds no gaps with threshold rate (#3795)
  warehouse/oso_sqlmesh/audits/no_gaps.sql
  warehouse/oso_sqlmesh/models/intermediate/blockchain_artifacts/int_contracts_deployment.sql
  warehouse/oso_sqlmesh/models/intermediate/blockchain_artifacts/int_contracts_root_deployers.sql
  warehouse/oso_sqlmesh/models/intermediate/blockchain_artifacts/int_deployers.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__blockchain.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__blockchain_token_transfers.sql
  warehouse/oso_sqlmesh/models/metrics_factories.py
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__deployers.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__factories.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__traces.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__transactions.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: hotfix disable no_gaps in some models
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_monthly_to_artifact.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_weekly__github.sql
Due: none

fix(consumer-trino): keep read-only global property
  ops/k8s-apps/production/consumer-trino/custom-helm-values.yaml
Due: none

feat(consumer-trino): make consumer trino accept dynamic connectors and create admin role
  ops/k8s-apps/production/consumer-trino/catalog-store-config.yaml
  ops/k8s-apps/production/consumer-trino/custom-helm-values.yaml
  ops/k8s-apps/production/consumer-trino/kustomization.yaml
  ops/k8s-apps/production/consumer-trino/trino-catalog-volume.yaml
Due: none

feat(consumer-trino): add permission for admin user to make edits
  ops/k8s-apps/production/consumer-trino/custom-helm-values.yaml
Due: none

fix(consumer-trino): remove unnecessary configmap
  ops/k8s-apps/production/consumer-trino/catalog-store-config.yaml
  ops/k8s-apps/production/consumer-trino/kustomization.yaml
Due: none

feat(consumer-trino): make consumer trino accept dynamic connectors and create admin role (#3741)
  ops/k8s-apps/production/consumer-trino/custom-helm-values.yaml
  ops/k8s-apps/production/consumer-trino/kustomization.yaml
  ops/k8s-apps/production/consumer-trino/trino-catalog-volume.yaml
Due: none

chore: set better no_gaps params for more blockchain models
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_traces_txs_joined.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_worldchain_events_by_project.sql
Due: none

Update warehouse/oso_sqlmesh/models/intermediate/superchain/int_worldchain_events_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_worldchain_events_by_project.sql
Due: none

chore: set better no_gaps params for more blockchain models (#3806)
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_traces_txs_joined.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_worldchain_events_by_project.sql
Due: none

feat: supabase migration for teams
  apps/frontend/supabase/migrations/20250503195516_organizations.sql
Due: none

chore: allow at least a batch concurrency of 2
  warehouse/oso_sqlmesh/models/intermediate/blockchain_artifacts/int_contracts_deployment.sql
  warehouse/oso_sqlmesh/models/intermediate/blockchain_artifacts/int_contracts_root_deployers.sql
  warehouse/oso_sqlmesh/models/intermediate/blockchain_artifacts/int_deployers.sql
  warehouse/oso_sqlmesh/models/intermediate/events/code/int_issue_event_time_deltas.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__4337.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__blockchain.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__blockchain_token_transfers.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__dependencies.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__funding.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__github.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_aux_issues.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__4337.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__blockchain.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__blockchain_token_transfers.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__dependencies.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__funding.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__github.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__github_with_lag.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily_to_artifact.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily_to_project__github.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_filtered__github.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_monthly_to_artifact.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_monthly_to_project__github.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_to_collection.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_to_project__github.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_weekly__github.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_events_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_onchain_builder_events.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__proxies.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__traces.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__transactions.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_worldchain__verified_users.sql
Due: none

chore: allow at least a batch concurrency of 2 (#3808)
  warehouse/oso_sqlmesh/models/intermediate/blockchain_artifacts/int_contracts_deployment.sql
  warehouse/oso_sqlmesh/models/intermediate/blockchain_artifacts/int_contracts_root_deployers.sql
  warehouse/oso_sqlmesh/models/intermediate/blockchain_artifacts/int_deployers.sql
  warehouse/oso_sqlmesh/models/intermediate/events/code/int_issue_event_time_deltas.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__4337.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__blockchain.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__blockchain_token_transfers.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__dependencies.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__funding.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__github.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_aux_issues.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__4337.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__blockchain.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__blockchain_token_transfers.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__dependencies.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__funding.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__github.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__github_with_lag.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily_to_artifact.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily_to_project__github.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_filtered__github.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_monthly_to_artifact.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_monthly_to_project__github.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_to_collection.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_to_project__github.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_weekly__github.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_events_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_onchain_builder_events.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__proxies.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__traces.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__transactions.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_worldchain__verified_users.sql
Due: none

feat: Let's get supabase local running again
  .github/workflows/ci-default.yml
  apps/docs/docs/guides/ops/supabase.md
  apps/frontend/README.md
  apps/frontend/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: add SUPABASE_ACCESS_TOKEN
  .github/workflows/ci-default.yml
  apps/frontend/lib/types/supabase.ts
Due: none

docs: remind people to log into Supabase
  apps/frontend/README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: lint before node build
  .github/workflows/ci-default.yml
Due: none
