Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

.lintstagedrc:

{
    "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
        "eslint --ignore-path .gitignore --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ],
    "warehouse/dbt/**/*.sql": [
        "uv run sqlfluff fix -f",
        "uv run sqlfluff lint"
    ]
}

fix(sqlmesh): remove duped row now that staging models returns distinct rows
  warehouse/oso_sqlmesh/tests/test_stg_op_atlas_project_repository.yml
Due: none

fix(sqlmesh): handle edge case where npm metadata hasn't been updated (#3372)
  warehouse/oso_sqlmesh/models/staging/op_atlas/stg_op_atlas_project_defillama.sql
  warehouse/oso_sqlmesh/models/staging/op_atlas/stg_op_atlas_project_repository.sql
  warehouse/oso_sqlmesh/tests/test_stg_op_atlas_project_repository.yml
Due: none

chore(sqlmesh): include source and rebuild staging model
  warehouse/metrics_tools/local/utils.py
  warehouse/oso_sqlmesh/models/staging/deps_dev/stg_deps_dev__packages.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: create temp table until source is recognized
  warehouse/oso_sqlmesh/models/staging/deps_dev/stg_deps_dev__packages.sql
Due: none

fix: use correct `defillama` tvl dataset name
  warehouse/oso_dagster/assets/defillama.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: use correct `defillama` tvl dataset name (#3374)
  warehouse/oso_dagster/assets/defillama.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(sqlmesh): fix join condition to catch packages that point to migrated repos
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_repositories.sql
Due: none

fix(sqlmesh): fix join condition to catch packages that point to migrated repos (#3376)
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_repositories.sql
Due: none

feat: add BigQuery public datasets as a Trino connector
  ops/k8s-apps/production/trino/custom-helm-values.yaml
Due: none

hotfix(dbt): get latest deps_dev staging data
  warehouse/dbt/models/deps_dev_sources.yml
  warehouse/dbt/models/staging/deps-dev/stg_deps_dev__packages.sql
Due: uv run sqlfluff fix -f, uv run sqlfluff lint

feat(routes): change content type to x-ndjson and add format parameter
  apps/frontend/app/api/v1/sql/route.ts
Due: none

feat(pyoso): process each line from request now that it is a x-ndjson
  warehouse/pyoso/pyoso/client.py
  warehouse/pyoso/pyoso/utils.py
  warehouse/pyoso/tests/test_client.py
  warehouse/pyoso/tests/test_utils.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: remove github and blockchain events from `oso initialize`
  warehouse/metrics_tools/local/utils.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: add BigQuery public datasets as a Trino connector (#3381)
  ops/k8s-apps/production/trino/custom-helm-values.yaml
Due: none

fix: snapshot date
  warehouse/dbt/models/staging/deps-dev/stg_deps_dev__packages.sql
Due: uv run sqlfluff fix -f, uv run sqlfluff lint

fix: remove github and blockchain events from `oso initialize` (#3384)
  warehouse/metrics_tools/local/utils.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Use consumer trino in pyoso (#3356)
  apps/frontend/.env.local.example
  apps/frontend/app/api/v1/sql/route.ts
  apps/frontend/lib/clients/trino.ts
  apps/frontend/lib/config.ts
  apps/frontend/package.json
  pnpm-lock.yaml
  pyproject.toml
  uv.lock
  warehouse/pyoso/pyoso/client.py
  warehouse/pyoso/pyoso/utils.py
  warehouse/pyoso/pyproject.toml
  warehouse/pyoso/tests/test_client.py
  warehouse/pyoso/tests/test_utils.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

hotfix(dbt): get latest deps_dev staging data (#3383)
  warehouse/dbt/models/deps_dev_sources.yml
  warehouse/dbt/models/staging/deps-dev/stg_deps_dev__packages.sql
Due: uv run sqlfluff fix -f, uv run sqlfluff lint

feat(sqlmesh): include artifact data in eligibility checks
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_onchain_builder_eligibility.sql
Due: none

fix(sqlmesh): remove ethereum-optimism namespace from eligible builders
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_onchain_builder_nodes.sql
Due: none

fix(route): increase maxDuration for sql
  apps/frontend/app/api/v1/sql/route.ts
Due: none

fix(route): increase maxDuration for sql (#3386)
  apps/frontend/app/api/v1/sql/route.ts
Due: none

fix(sqlmesh): simplify developer graph
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_devs_to_projects_graph.sql
Due: none

feat(sqlmesh): combined graph
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_graph.sql
Due: none

fix(sqlmesh): remove extra text at end of query
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_devs_to_projects_graph.sql
Due: none

feat(sqlmesh): expose artifact data for onchain builders and connections for devtools (#3385)
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_devs_to_projects_graph.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_graph.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_devtooling_onchain_builder_nodes.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_onchain_builder_eligibility.sql
Due: none

fix: update dependencies in docs/
  apps/docs/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: update dependencies in docs/ (#3390)
  apps/docs/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

docs: fixing broken anchor links
  apps/docs/blog/2024-07-16-oso-data-portal/index.md
  apps/docs/docs/contribute-models/challenges/2024-07-30-openrank.md
  apps/docs/docs/contribute-models/retrofunding/s7-devtooling.md
  apps/docs/docs/integrate/datasets/index.mdx
  apps/docs/docs/tutorials/collection-view.mdx
  apps/docs/docs/tutorials/dependencies.mdx
  apps/docs/docs/tutorials/funding-data.mdx
  apps/docs/docs/tutorials/network-graph.md
  apps/docs/docs/tutorials/project-deepdive.mdx
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

run pnpm install
  pnpm-lock.yaml
Due: none

fix: adds `metrics_sample_interval_length` macro to replace `rolling_window`
  warehouse/metrics_tools/factory/factory.py
  warehouse/metrics_tools/factory/proxy/proxies.py
  warehouse/metrics_tools/macros/macros.py
  warehouse/metrics_tools/runner.py
  warehouse/oso_sqlmesh/oso_metrics/blockchain/defillama_tvl.sql
  warehouse/oso_sqlmesh/tests/test_defillama_tvl_to_project_monthly.yml
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: handle multiple months with metrics_sample_interval_length
  warehouse/metrics_tools/macros/macros.py
  warehouse/oso_sqlmesh/oso_metrics/blockchain/defillama_tvl.sql
  warehouse/oso_sqlmesh/tests/test_defillama_tvl_to_project_monthly.yml
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

docs: fixing broken anchor links (#3391)
  apps/docs/blog/2024-07-16-oso-data-portal/index.md
  apps/docs/docs/contribute-models/challenges/2024-07-30-openrank.md
  apps/docs/docs/contribute-models/retrofunding/s7-devtooling.md
  apps/docs/docs/integrate/datasets/index.mdx
  apps/docs/docs/tutorials/collection-view.mdx
  apps/docs/docs/tutorials/dependencies.mdx
  apps/docs/docs/tutorials/funding-data.mdx
  apps/docs/docs/tutorials/network-graph.md
  apps/docs/docs/tutorials/project-deepdive.mdx
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

docs: pyoso getting started
  apps/docs/blog/2023-11-07-open-source-open-data-open-infra.mdx
  apps/docs/docs/get-started/bigquery.mdx
  apps/docs/docs/get-started/index.md
  apps/docs/docs/get-started/python.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: replace `@rolling_window` with `@metrics_sample_interval_length` macro (#3393)
  warehouse/metrics_tools/factory/factory.py
  warehouse/metrics_tools/factory/proxy/proxies.py
  warehouse/metrics_tools/macros/macros.py
  warehouse/metrics_tools/runner.py
  warehouse/oso_sqlmesh/oso_metrics/blockchain/defillama_tvl.sql
  warehouse/oso_sqlmesh/tests/test_defillama_tvl_to_project_monthly.yml
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

docs: add a getting started for pyoso
  apps/docs/docs/get-started/api.mdx
  apps/docs/docs/get-started/python.md
  apps/docs/docs/integrate/query-data.mdx
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(docs): op atlas api reference
  apps/docs/docs/contribute-models/retrofunding/s7-api-examples.mdx
Due: none

feat(docs): op atlas api reference (#3395)
  apps/docs/docs/contribute-models/retrofunding/s7-api-examples.mdx
Due: none

docs: getting started for pyoso (#3394)
  apps/docs/blog/2023-11-07-open-source-open-data-open-infra.mdx
  apps/docs/docs/get-started/api.mdx
  apps/docs/docs/get-started/bigquery.mdx
  apps/docs/docs/get-started/index.md
  apps/docs/docs/get-started/python.md
  apps/docs/docs/integrate/query-data.mdx
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(sqlmesh): correct join to project_id
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_onchain_builder_eligibility.sql
Due: none
