Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

.lintstagedrc:

{
  "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --max-warnings 0",
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "**/*.{md,json}": [
    "prettier --ignore-path .gitignore --write",
    "prettier --ignore-path .gitignore --log-level warn --check"
  ],
  "**/*.py": [
    "poetry run ruff check --fix --force-exclude",
    "pnpm pyright"
  ],
  "warehouse/dbt/**/*.sql": [
    "poetry run sqlfluff fix -f",
    "poetry run sqlfluff lint"
  ]
}

fixes
  ops/k8s-infrastructure/kind/minio-operator.yaml
  ops/scripts/setup-kind.sh
Due: none

fix config references
  ops/k8s-apps/local/minio/minio.yaml
Due: none

fix
  ops/k8s-apps/local/minio/minio.yaml
Due: none

guess that means error correction
  ops/k8s-apps/local/minio/minio.yaml
Due: none

no ec
  ops/k8s-apps/local/minio/minio.yaml
Due: none

install trust manager
  ops/k8s-infrastructure/common/cert-manager.yaml
Due: none

fix
  ops/k8s-infrastructure/common/cert-manager.yaml
Due: none

Working MCS
  ops/k8s-apps/base/metrics-calc-service/metrics-calc-service.yaml
  poetry.lock
  pyproject.toml
  warehouse/metrics_tools/builder/server.graphql
  warehouse/metrics_tools/compute/__init__.py
  warehouse/metrics_tools/compute/cache.py
  warehouse/metrics_tools/compute/client.py
  warehouse/metrics_tools/compute/cluster.py
  warehouse/metrics_tools/compute/constants.py
  warehouse/metrics_tools/compute/debug.py
  warehouse/metrics_tools/compute/flight.py
  warehouse/metrics_tools/compute/run_get.py
  warehouse/metrics_tools/compute/server.py
  warehouse/metrics_tools/compute/service.py
  warehouse/metrics_tools/compute/types.py
  warehouse/metrics_tools/compute/worker.py
  warehouse/metrics_tools/definition.py
  warehouse/metrics_tools/docs/compute.mmd
  warehouse/metrics_tools/docs/compute.svg
  warehouse/metrics_tools/evaluator.py
  warehouse/metrics_tools/runner.py
  warehouse/metrics_tools/utils/env.py
  warehouse/metrics_tools/utils/logging.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

further improve task handling
  warehouse/metrics_tools/compute/client.py
  warehouse/metrics_tools/compute/cluster.py
  warehouse/metrics_tools/compute/constants.py
  warehouse/metrics_tools/compute/run_get.py
  warehouse/metrics_tools/compute/server.py
  warehouse/metrics_tools/compute/service.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Added some testing for the service
  poetry.lock
  pyproject.toml
  warehouse/metrics_tools/compute/cache.py
  warehouse/metrics_tools/compute/service.py
  warehouse/metrics_tools/compute/test_cache.py
  warehouse/metrics_tools/compute/test_cluster.py
  warehouse/metrics_tools/compute/test_service.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

chore: delete `unused` model
  warehouse/metrics_mesh/models/key_metrics_v0.sql
Due: none

add: example sqlmesh key `metrics`
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_mesh/oso_metrics/key_commit_count.sql
  warehouse/metrics_mesh/oso_metrics/key_developer_count.sql
  warehouse/metrics_mesh/oso_metrics/key_first_commit.sql
  warehouse/metrics_mesh/oso_metrics/key_fork_count.sql
  warehouse/metrics_mesh/oso_metrics/key_last_commit.sql
  warehouse/metrics_mesh/oso_metrics/key_star_count.sql
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add: support for sqlmesh `overall` models to `factory`
  warehouse/metrics_tools/definition.py
  warehouse/metrics_tools/factory/factory.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

remove unused files
  warehouse/metrics_tools/builder/server.graphql
  warehouse/metrics_tools/compute/wrapper.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

sort all imports
  .lintstagedrc
  poetry.lock
  pyproject.toml
  warehouse/metrics_tools/compute/cache.py
  warehouse/metrics_tools/compute/client.py
  warehouse/metrics_tools/compute/cluster.py
  warehouse/metrics_tools/compute/constants.py
  warehouse/metrics_tools/compute/debug.py
  warehouse/metrics_tools/compute/run_get.py
  warehouse/metrics_tools/compute/server.py
  warehouse/metrics_tools/compute/service.py
  warehouse/metrics_tools/compute/test_cache.py
  warehouse/metrics_tools/compute/test_cluster.py
  warehouse/metrics_tools/compute/test_service.py
  warehouse/metrics_tools/compute/types.py
  warehouse/metrics_tools/compute/worker.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Reformat and fix tests
  pyproject.toml
  warehouse/metrics_tools/compute/client.py
  warehouse/metrics_tools/compute/cluster.py
  warehouse/metrics_tools/compute/debug.py
  warehouse/metrics_tools/compute/run_get.py
  warehouse/metrics_tools/compute/server.py
  warehouse/metrics_tools/compute/service.py
  warehouse/metrics_tools/compute/test_cluster.py
  warehouse/metrics_tools/compute/test_service.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

remove unnecessary
  ops/k8s-apps/base/metrics-calc-service/metrics-calc-service.yaml
  warehouse/metrics_tools/compute/service.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

more clean up
  warehouse/metrics_tools/compute/client.py
  warehouse/metrics_tools/compute/manual_testing_utils.py
  warehouse/metrics_tools/compute/service.py
  warehouse/metrics_tools/compute/types.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

remove
  warehouse/metrics_tools/docs/compute.svg
Due: none

delete evaluator
  warehouse/metrics_tools/evaluator.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Metrics calculation service (#2613)
  .lintstagedrc
  poetry.lock
  pyproject.toml
  warehouse/metrics_tools/compute/__init__.py
  warehouse/metrics_tools/compute/cache.py
  warehouse/metrics_tools/compute/client.py
  warehouse/metrics_tools/compute/cluster.py
  warehouse/metrics_tools/compute/constants.py
  warehouse/metrics_tools/compute/debug.py
  warehouse/metrics_tools/compute/flight.py
  warehouse/metrics_tools/compute/manual_testing_utils.py
  warehouse/metrics_tools/compute/run_get.py
  warehouse/metrics_tools/compute/server.py
  warehouse/metrics_tools/compute/service.py
  warehouse/metrics_tools/compute/test_cache.py
  warehouse/metrics_tools/compute/test_cluster.py
  warehouse/metrics_tools/compute/test_service.py
  warehouse/metrics_tools/compute/types.py
  warehouse/metrics_tools/compute/worker.py
  warehouse/metrics_tools/compute/wrapper.py
  warehouse/metrics_tools/definition.py
  warehouse/metrics_tools/docs/compute.mmd
  warehouse/metrics_tools/evaluator.py
  warehouse/metrics_tools/runner.py
  warehouse/metrics_tools/utils/env.py
  warehouse/metrics_tools/utils/logging.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Add Flux v2.4.0 component manifests
  ops/clusters/kind/flux-system/gotk-components.yaml
Due: none

Add Flux v2.4.0 component manifests
  ops/clusters/kind/what/flux-system/gotk-components.yaml
Due: none

Add Flux sync manifests
  ops/clusters/kind/flux-system/gotk-sync.yaml
  ops/clusters/kind/flux-system/kustomization.yaml
  ops/clusters/kind/what/flux-system/gotk-components.yaml
Due: none

remove need for flux-system secret
  ops/clusters/kind/flux-system/gotk-sync.yaml
Due: none

use public repo
  ops/clusters/kind/flux-system/gotk-sync.yaml
Due: none

remove
  ops/clusters/kind/flux-system/gotk-components.yaml
  ops/clusters/kind/flux-system/gotk-sync.yaml
  ops/clusters/kind/flux-system/kustomization.yaml
Due: none

Setup kind infrastructure base
  ops/clusters/local/README.md
  ops/clusters/local/infrastructure.yaml
  ops/clusters/local/kind/cluster.yaml
  ops/k8s-infrastructure/common/cert-manager.yaml
  ops/k8s-infrastructure/gke/cloudsql-proxy-operator.yaml
  ops/k8s-infrastructure/gke/ingress-internal-cloudflare.yaml
  ops/k8s-infrastructure/gke/kube-secrets-init.yaml
  ops/k8s-infrastructure/gke/kustomization.yaml
  ops/k8s-infrastructure/kind/kustomization.yaml
  ops/scripts/setup-kind.sh
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

move kind cluster config out of flux area
  ops/clusters/local/infrastructure.yaml
  ops/kind/cluster.yaml
  ops/scripts/setup-kind.sh
Due: none

Test redis deployment
  ops/k8s-apps/local/kustomization.yaml
  ops/k8s-apps/local/redis/kustomization.yaml
  ops/k8s-apps/local/redis/redis-deployment.yaml
  ops/k8s-apps/local/trino/custom-helm-values.yaml
  ops/k8s-apps/local/trino/kustomization.yaml
Due: none

connect apps
  ops/clusters/local/apps.yaml
  ops/k8s-apps/local/redis/kustomization.yaml
Due: none

add minio
  ops/k8s-apps/local/minio/kustomization.yaml
  ops/k8s-apps/local/minio/minio.yaml
  ops/k8s-infrastructure/kind/minio-operator.yaml
Due: none

connect minio
  ops/k8s-apps/local/kustomization.yaml
Due: none

connect minio in apps
  warehouse/metrics_tools/Dockerfile
  warehouse/metrics_tools/Dockerfile.test
Due: none

fix minio
  ops/k8s-infrastructure/kind/kustomization.yaml
  ops/k8s-infrastructure/kind/minio-operator.yaml
Due: none

use updated docs for minio
  ops/k8s-apps/local/minio/minio.yaml
Due: none

fix cluster issuance
  ops/k8s-apps/local/minio/minio.yaml
  ops/k8s-infrastructure/common/cert-manager.yaml
  ops/k8s-infrastructure/kind/minio-operator.yaml
  ops/scripts/setup-kind.sh
Due: none
