Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

chore: rename dir in oso_lets_go cli
  warehouse/oso_lets_go/cli.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: op_atlas and ossd directories (#3155)
  warehouse/oso_lets_go/cli.py
  warehouse/oso_sqlmesh/macros/onchain/chain_id_to_chain_name.py
  warehouse/oso_sqlmesh/models/intermediate/blockchain_artifacts/int_contracts_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/blockchain_artifacts/int_deployers_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/directory/int_all_artifacts.sql
  warehouse/oso_sqlmesh/models/intermediate/directory/int_artifacts.sql
  warehouse/oso_sqlmesh/models/intermediate/directory/int_artifacts_by_project_all_sources.sql
  warehouse/oso_sqlmesh/models/intermediate/directory/int_artifacts_by_project_in_op_atlas.sql
  warehouse/oso_sqlmesh/models/intermediate/directory/int_artifacts_by_project_in_ossd.sql
  warehouse/oso_sqlmesh/models/intermediate/directory/int_deployers_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/directory/int_projects.sql
  warehouse/oso_sqlmesh/models/staging/op_atlas/stg_op_atlas_project_defillama.sql
  warehouse/oso_sqlmesh/models/staging/op_atlas/stg_op_atlas_project_deployer.sql
  warehouse/oso_sqlmesh/models/staging/op_atlas/stg_op_atlas_project_farcaster.sql
  warehouse/oso_sqlmesh/models/staging/op_atlas/stg_op_atlas_project_links.sql
  warehouse/oso_sqlmesh/models/staging/op_atlas/stg_op_atlas_project_repository.sql
  warehouse/oso_sqlmesh/models/staging/op_atlas/stg_op_atlas_project_twitter.sql
  warehouse/oso_sqlmesh/models/staging/op_atlas/stg_op_atlas_project_website.sql
  warehouse/oso_sqlmesh/tests/test_stg_op_atlas_project_contract.yml
  warehouse/oso_sqlmesh/tests/test_stg_op_atlas_project_farcaster.yml
  warehouse/oso_sqlmesh/tests/test_stg_op_atlas_project_repository.yml
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

chore: remove unused file
  ops/k8s-apps/local/trino/custom-helm-values.yaml
  warehouse/oso_sqlmesh/models/intermediate/blockchain_artifacts/int_old_root_deployers.sql.bak
Due: none

fix: local source references
  warehouse/metrics_tools/local/loader.py
  warehouse/metrics_tools/source/rewrite.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: fix fixture for factory tests
  warehouse/metrics_tools/utils/fixtures/gen_data.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: column references
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_s7_devtooling_metrics_by_project.sql
Due: none

feat(consumer-trino): add nessie cotalog to consumer trino
  ops/k8s-apps/production/consumer-trino/custom-helm-values.yaml
Due: none

Fixes for local trino
  warehouse/oso_sqlmesh/config.py
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_s7_devtooling_repo_eligibility.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_s7_onchain_builder_eligibility.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_s7_trusted_developers.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__4337_traces.sql
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat(consumer-trino): add nessie cotalog to consumer trino (#3154)
  ops/k8s-apps/production/consumer-trino/custom-helm-values.yaml
Due: none

fix(sqlmesh): further sqlmesh fixes
  warehouse/metrics_tools/factory/generated.py
  warehouse/oso_sqlmesh/models/staging/defillama/stg_defillama.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: update oss-directory in external-prs
  ops/external-prs/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(sqlmesh): further sqlmesh fixes (#3159)
  warehouse/metrics_tools/factory/generated.py
  warehouse/oso_sqlmesh/models/staging/defillama/stg_defillama.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: update oss-directory in external-prs (#3160)
  ops/external-prs/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

bump oss-directory in external-prs
  ops/external-prs/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

bump oss-directory in external-prs (#3161)
  ops/external-prs/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: bump `oss-directory` version for `defillama` data
  pyproject.toml
  uv.lock
Due: none

feat: fetch `oss-directory` sources for `defillama` tvl asset
  warehouse/oso_dagster/assets/defillama.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: do not rely on `bigquery` for `ossd` projects
  warehouse/oso_dagster/assets/defillama.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: remove `undefined` defillama protocol reference
  warehouse/metrics_tools/local/utils.py
  warehouse/oso_sqlmesh/macros/defillama/unioned_defillama_tvl_events.py
  warehouse/oso_sqlmesh/models/staging/defillama/stg_defillama.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: add missing `op_atlas` defillama assets
  warehouse/oso_dagster/assets/defillama.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: updates to dbt models for S7
  warehouse/dbt/models/_sandbox/upstream/int_superchain_traces_txs_joined.sql
  warehouse/dbt/models/_sandbox/upstream/stg_superchain__traces.sql
  warehouse/dbt/models/_sandbox/upstream/stg_superchain__transactions.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat(consumer-trino): enforce readonly permission on consumer trino
  ops/k8s-apps/production/consumer-trino/custom-helm-values.yaml
Due: none

feat(consumer-trino): enforce readonly permission on consumer trino (#3164)
  ops/k8s-apps/production/consumer-trino/custom-helm-values.yaml
Due: none

chore: upgrade nessie JDBC store version
  ops/k8s-apps/production/nessie/custom-helm-values.yaml
Due: none

chore(nessie): add resources request/limit to nessie deployment
  ops/k8s-apps/production/nessie/custom-helm-values.yaml
Due: none

chore(consumer-trino): rename catalog from metrics to iceberg
  ops/k8s-apps/production/consumer-trino/custom-helm-values.yaml
Due: none

Nessie and Consumer Trino configuration minor updates (#3166)
  ops/k8s-apps/production/consumer-trino/custom-helm-values.yaml
  ops/k8s-apps/production/nessie/custom-helm-values.yaml
Due: none

fix: skip `op_atlas` defillama slugs for unauthorized users
  warehouse/oso_dagster/assets/defillama.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: delegate `concurrency_tag` to `rest` factory caller
  warehouse/oso_dagster/assets/defillama.py
  warehouse/oso_dagster/factories/rest.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

add: enable defillama `op` concurrency pool
  warehouse/oso_dagster/assets/defillama.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

chore: disables arbitrum ingest for now
  warehouse/oso_dagster/assets/arbitrum.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: use updated 4337 source models
  warehouse/metrics_tools/local/utils.py
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__4337_traces.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__4337_userop_logs.sql
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

refactor: decimal to bigint
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__4337_userop_logs.sql
Due: none

fix: typing in trace model
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__4337_traces.sql
Due: none

chore: update table n docs
  apps/docs/docs/integrate/datasets/index.mdx
Due: none

fix: use updated 4337 source models (#3180)
  apps/docs/docs/integrate/datasets/index.mdx
  warehouse/metrics_tools/local/utils.py
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__4337_traces.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__4337_userop_logs.sql
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  poetry run ruff check --fix --force-exclude: any of: **/*.py
  pnpm pyright: any of: **/*.py
  poetry run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  poetry run sqlfluff lint: any of: warehouse/dbt/**/*.sql
