Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

Fix the unix timestamp macro for trino
  warehouse/metrics_mesh/macros/to_unix_timestamp.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fix the unix timestamp macro for trino (#2771)
  warehouse/metrics_mesh/macros/to_unix_timestamp.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Uses a configurable start time
  warehouse/metrics_tools/factory/factory.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

key metrics model fix (#2772)
  warehouse/metrics_tools/factory/factory.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat(dbt): simple onchain builder metrics (#2770)
  warehouse/dbt/models/marts/metrics/optimism/int_superchain_filtered_events.sql
  warehouse/dbt/models/marts/metrics/optimism/int_superchain_onchain_builder_project_metrics.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

More key metrics fixes
  warehouse/metrics_mesh/macros/to_unix_timestamp.py
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_mesh/oso_metrics/key_active_address_count.sql
  warehouse/metrics_mesh/oso_metrics/key_active_contract_count.sql
  warehouse/metrics_mesh/oso_metrics/key_active_developer_count.sql
  warehouse/metrics_mesh/oso_metrics/key_comment_count.sql
  warehouse/metrics_mesh/oso_metrics/key_developer_active_day_count.sql
  warehouse/metrics_mesh/oso_metrics/key_first_commit.sql
  warehouse/metrics_mesh/oso_metrics/key_last_commit.sql
  warehouse/metrics_tools/factory/factory.py
  warehouse/metrics_tools/factory/proxy/proxies.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

More key metrics fixes (#2774)
  warehouse/metrics_mesh/macros/to_unix_timestamp.py
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_mesh/oso_metrics/key_active_address_count.sql
  warehouse/metrics_mesh/oso_metrics/key_active_contract_count.sql
  warehouse/metrics_mesh/oso_metrics/key_active_developer_count.sql
  warehouse/metrics_mesh/oso_metrics/key_comment_count.sql
  warehouse/metrics_mesh/oso_metrics/key_developer_active_day_count.sql
  warehouse/metrics_mesh/oso_metrics/key_first_commit.sql
  warehouse/metrics_mesh/oso_metrics/key_last_commit.sql
  warehouse/metrics_tools/factory/factory.py
  warehouse/metrics_tools/factory/proxy/proxies.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Fix `issue_event_time_deltas` model types
  warehouse/metrics_mesh/models/code/issue_event_time_deltas.sql
Due: none

Fix `issue_event_time_deltas` model types (#2776)
  warehouse/metrics_mesh/models/code/issue_event_time_deltas.sql
Due: none

fix: fetch all `repositories` from `ossd`
  warehouse/oso_dagster/assets/ossd.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: use all `repositories` from `ossd` when fetching `sboms`
  warehouse/oso_dagster/dlt_sources/github_repos/__init__.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: fetch missing `SBOMs` in `ossd` (#2777)
  warehouse/oso_dagster/assets/ossd.py
  warehouse/oso_dagster/dlt_sources/github_repos/__init__.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat: DefiLlama validator for oss-directory
  ops/external-prs/README.md
  ops/external-prs/package.json
  ops/external-prs/src/ossd/index.ts
  ops/external-prs/src/ossd/queries/artifacts_summary.sql
  ops/external-prs/src/ossd/queries/blockchain_artifacts.sql
  ops/external-prs/src/ossd/queries/blockchain_status.sql
  ops/external-prs/src/ossd/queries/changed_defillama_artifacts_to_validate.sql
  ops/external-prs/src/ossd/queries/changed_package_artifacts.sql
  ops/external-prs/src/ossd/queries/changed_projects.sql
  ops/external-prs/src/ossd/queries/changed_url_artifacts.sql
  ops/external-prs/src/ossd/queries/code_artifacts.sql
  ops/external-prs/src/ossd/queries/code_status.sql
  ops/external-prs/src/ossd/queries/package_artifacts.sql
  ops/external-prs/src/ossd/queries/package_status.sql
  ops/external-prs/src/ossd/queries/project_status.sql
  ops/external-prs/src/ossd/queries/project_summary.sql
  ops/external-prs/src/ossd/queries/projects_by_collection.sql
  ops/external-prs/src/ossd/queries/projects_by_collection_status.sql
  ops/external-prs/src/ossd/queries/url_artifacts.sql
  ops/external-prs/src/ossd/queries/url_status.sql
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Update README.md
  warehouse/metrics_mesh/README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

dbt: materialize some intermediate models as tables
  warehouse/dbt/models/intermediate/directory/int_artifacts_in_ossd_by_project.sql
  warehouse/dbt/models/marts/metrics/optimism/int_superchain_potential_bots.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

dbt: materialize some intermediate models as tables (#2783)
  warehouse/dbt/models/intermediate/directory/int_artifacts_in_ossd_by_project.sql
  warehouse/dbt/models/marts/metrics/optimism/int_superchain_potential_bots.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

feat: intermediate models for rf7 in sqlmesh
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_filtered_events.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_onchain_builder_filter.sql
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix models
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_filtered_events.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_onchain_builder_filter.sql
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat: intermediate models for rf7 in sqlmesh (#2785)
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_filtered_events.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_onchain_builder_filter.sql
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat: more intermediate models
  warehouse/metrics_mesh/models/intermediate/superchain/devtools/int_superchain_code_dependencies.sql
  warehouse/metrics_mesh/models/intermediate/superchain/devtools/int_superchain_devtool_artifact_filter.sql
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat: more intermediate models for superchain (#2787)
  warehouse/metrics_mesh/models/intermediate/superchain/devtools/int_superchain_code_dependencies.sql
  warehouse/metrics_mesh/models/intermediate/superchain/devtools/int_superchain_devtool_artifact_filter.sql
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat: refactor validator for oss-directory to track all URLs (#2780)
  ops/external-prs/README.md
  ops/external-prs/package.json
  ops/external-prs/src/ossd/index.ts
  ops/external-prs/src/ossd/queries/artifacts_summary.sql
  ops/external-prs/src/ossd/queries/blockchain_artifacts.sql
  ops/external-prs/src/ossd/queries/blockchain_status.sql
  ops/external-prs/src/ossd/queries/changed_defillama_artifacts_to_validate.sql
  ops/external-prs/src/ossd/queries/changed_package_artifacts.sql
  ops/external-prs/src/ossd/queries/changed_projects.sql
  ops/external-prs/src/ossd/queries/changed_url_artifacts.sql
  ops/external-prs/src/ossd/queries/code_artifacts.sql
  ops/external-prs/src/ossd/queries/code_status.sql
  ops/external-prs/src/ossd/queries/package_artifacts.sql
  ops/external-prs/src/ossd/queries/package_status.sql
  ops/external-prs/src/ossd/queries/project_status.sql
  ops/external-prs/src/ossd/queries/project_summary.sql
  ops/external-prs/src/ossd/queries/projects_by_collection.sql
  ops/external-prs/src/ossd/queries/projects_by_collection_status.sql
  ops/external-prs/src/ossd/queries/url_artifacts.sql
  ops/external-prs/src/ossd/queries/url_status.sql
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: add projects_v1 to sources
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: include event_source column in filtered_events
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_filtered_events.sql
Due: none

feat: add onchain builder activity metrics
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_onchain_builder_activity_metrics.sql
Due: none

feat: superchain builder activity metrics (#2789)
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_filtered_events.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_onchain_builder_activity_metrics.sql
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Finally a working pandas query
  warehouse/metrics_mesh/models/staging/defillama.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

small clean up
  warehouse/metrics_mesh/models/artifacts_by_project_v1.sql
Due: none

Update oso_source
  warehouse/metrics_mesh/config.py
  warehouse/metrics_mesh/macros/oso_source.py
  warehouse/metrics_mesh/models/artifacts_by_project_v1.sql
  warehouse/metrics_mesh/models/code/issue_event_time_deltas.sql
  warehouse/metrics_mesh/models/events_daily_to_artifact.sql
  warehouse/metrics_mesh/models/first_of_event_from_artifact.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_to_collection.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_to_project.sql
  warehouse/metrics_mesh/models/last_of_event_from_artifact.sql
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_mesh/models/projects_by_collection_v1.sql
  warehouse/metrics_mesh/models/staging/defillama.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

use production default for timeseries start
  warehouse/metrics_mesh/models/metrics_factories.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

remove print
  warehouse/metrics_mesh/macros/oso_source.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

production fixes
  warehouse/metrics_mesh/models/staging/defillama/defillama.py
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

oso_source for py models and other fixes
  warehouse/metrics_mesh/macros/oso_source.py
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_mesh/models/staging/defillama/defillama.py
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix after rebase
  warehouse/metrics_mesh/models/intermediate/superchain/devtools/int_superchain_code_dependencies.sql
  warehouse/metrics_mesh/models/intermediate/superchain/devtools/int_superchain_devtool_artifact_filter.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_filtered_events.sql
Due: none

update after another rebase
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_onchain_builder_activity_metrics.sql
Due: none

docs: add some testing steps
  warehouse/metrics_mesh/README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Initial defillama staging models (#2764)
  warehouse/metrics_mesh/config.py
  warehouse/metrics_mesh/macros/oso_source.py
  warehouse/metrics_mesh/models/artifacts_by_project_v1.sql
  warehouse/metrics_mesh/models/code/issue_event_time_deltas.sql
  warehouse/metrics_mesh/models/events_daily_to_artifact.sql
  warehouse/metrics_mesh/models/first_of_event_from_artifact.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_to_collection.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_to_project.sql
  warehouse/metrics_mesh/models/intermediate/superchain/devtools/int_superchain_code_dependencies.sql
  warehouse/metrics_mesh/models/intermediate/superchain/devtools/int_superchain_devtool_artifact_filter.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_filtered_events.sql
  warehouse/metrics_mesh/models/intermediate/superchain/int_superchain_onchain_builder_activity_metrics.sql
  warehouse/metrics_mesh/models/last_of_event_from_artifact.sql
  warehouse/metrics_mesh/models/metrics_factories.py
  warehouse/metrics_mesh/models/projects_by_collection_v1.sql
  warehouse/metrics_mesh/models/staging/defillama/defillama.py
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

feat: DefiLlama validator for oss-directory
  lib/oss-artifact-validators/package.json
  lib/oss-artifact-validators/src/common/interfaces.ts
  lib/oss-artifact-validators/src/index.ts
  lib/oss-artifact-validators/src/web/defillama.test.ts
  lib/oss-artifact-validators/src/web/defillama.ts
  lib/oss-artifact-validators/test/test.ts
  ops/external-prs/src/ossd/index.ts
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: DefiLlama validator for oss-directory (#2791)
  lib/oss-artifact-validators/package.json
  lib/oss-artifact-validators/src/common/interfaces.ts
  lib/oss-artifact-validators/src/index.ts
  lib/oss-artifact-validators/src/web/defillama.test.ts
  lib/oss-artifact-validators/src/web/defillama.ts
  lib/oss-artifact-validators/test/test.ts
  ops/external-prs/src/ossd/index.ts
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: try reordering external-prs sql steps
  ops/external-prs/src/ossd/index.ts
Due: none

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  poetry run ruff check --fix --force-exclude: any of: **/*.py
  pnpm pyright: any of: **/*.py
  poetry run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  poetry run sqlfluff lint: any of: warehouse/dbt/**/*.sql
