Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

.lintstagedrc:

{
    "**/*.{js,jsx,ts,tsx,sol}": [
        "eslint --flag v10_config_lookup_from_file --fix --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff format",
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ]
}

feat(pyoso): go back to jsonl instead of csv
  warehouse/pyoso/pyoso/client.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

test(pyoso): fix test to work with jsonl
  warehouse/pyoso/tests/test_client.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
  ops/k8s-apps/production/scheduler-data-ingestion/custom-helm-values.yaml
  ops/k8s-apps/production/scheduler-data-model/custom-helm-values.yaml
  ops/k8s-apps/production/scheduler-query/custom-helm-values.yaml
Due: none

fix: truncate prosperous blog post
  apps/docs/blog/2025-12-23-prosperous-software/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: truncate prosperous blog post (#6001)
  apps/docs/blog/2025-12-23-prosperous-software/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(scheduler): add `janus` library
  warehouse/scheduler/pyproject.toml
Due: none

fix(scheduler): create a tool for creating a batch of queries
  warehouse/scheduler/scheduler/config.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(scheduler): handle async event loop properly
  warehouse/scheduler/scheduler/mq/pubsub.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: update uv.lock
  uv.lock
Due: none

fix: added additional inline docs to explain the design of this
  warehouse/scheduler/scheduler/mq/pubsub.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(scheduler): fixes async handling (#5999)
  uv.lock
  warehouse/scheduler/pyproject.toml
  warehouse/scheduler/scheduler/config.py
  warehouse/scheduler/scheduler/mq/pubsub.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: re-enable turbo cache by pull plasmic version info
  apps/frontend/.gitignore
  apps/frontend/package.json
  apps/frontend/plasmic.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix
  apps/frontend/package.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(sqlmesh): remove `revoked` condition from labels_decoded SQL query
  warehouse/oso_sqlmesh/models/staging/openlabelsinitiative/stg_openlabelsinitiative__labels_decoded.sql
Due: none

fix(sqlmesh): remove `revoked` condition from labels_decoded SQL query (#6012)
  warehouse/oso_sqlmesh/models/staging/openlabelsinitiative/stg_openlabelsinitiative__labels_decoded.sql
Due: none

[OSO-1424] use async-sql route (#5984)
  uv.lock
  warehouse/pyoso/pyoso/client.py
  warehouse/pyoso/pyproject.toml
  warehouse/pyoso/tests/test_client.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore(frontend): remove unused dependencies
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(sqlmesh): add models and tests for GitHub and OpenDevData developers
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_gharchive__developers.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/developers/int_opendevdata__developers_with_dev_id.sql
  warehouse/oso_sqlmesh/tests/test_int_gharchive__developers.yml
  warehouse/oso_sqlmesh/tests/test_int_opendevdata__developers.yml
  warehouse/oso_sqlmesh/tests/test_int_opendevdata__developers_with_dev_id.yml
Due: none

feat(sqlmesh): add models and tests for OpenDevData commits and GitHub events
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/commits/int_opendevdata__commits_with_repo_id.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/events/int_github__events_enriched_with_opendevdata_commits.sql
  warehouse/oso_sqlmesh/models/intermediate/events/github/int_github__commits_all.sql
  warehouse/oso_sqlmesh/tests/test_int_github__commits_all.yml
  warehouse/oso_sqlmesh/tests/test_int_github__events_enriched_with_opendevdata_commits.yml
  warehouse/oso_sqlmesh/tests/test_int_opendevdata__commits_with_repo_id.yml
Due: none

chore: Update README with new OSO branding and links
  README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Update README.md
  README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: Update README with new OSO branding and links (#6022)
  README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(metrics): update gas date range in devtooling metrics SQL file
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/s8/int_superchain_s8_devtooling_metrics_by_project.sql
Due: none

fix(metrics): update gas date range in devtooling metrics SQL file (#6030)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/s8/int_superchain_s8_devtooling_metrics_by_project.sql
Due: none

chore: remove unneeded file
  warehouse/asyncworker/README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore!: flux upgrade
  ops/clusters/warehouse-bootstrap/README.md
  ops/clusters/warehouse-bootstrap/production-flux-instance.yaml
  ops/clusters/warehouse/flux-system/gotk-components.yaml
  ops/clusters/warehouse/flux-system/gotk-sync.yaml
  ops/clusters/warehouse/flux-system/kustomization.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: fix dagster deployment
  ops/helm-charts/oso-dagster/Chart.lock
  ops/helm-charts/oso-dagster/Chart.yaml
  ops/k8s-apps/base/dagster/dagster.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
Due: none

feat(ops): adds scheduler helm chart
  ops/helm-charts/scheduler/Chart.yaml
  ops/helm-charts/scheduler/lint-only-values.yaml
  ops/helm-charts/scheduler/templates/_helpers.tpl
  ops/helm-charts/scheduler/templates/cluster-role-binding.yaml
  ops/helm-charts/scheduler/templates/cluster-role.yaml
  ops/helm-charts/scheduler/templates/cronjob.yaml
  ops/helm-charts/scheduler/templates/deployment.yaml
  ops/helm-charts/scheduler/templates/service-account.yaml
  ops/helm-charts/scheduler/values.yaml
Due: none

chore: migrate all scheduler instances to single helm instance
  ops/helm-charts/scheduler/templates/deployment.yaml
  ops/k8s-apps/base/scheduler/scheduler.yaml
  ops/k8s-apps/production/kustomization.yaml
  ops/k8s-apps/production/scheduler-data-ingestion/custom-helm-values.yaml
  ops/k8s-apps/production/scheduler-data-ingestion/kustomization.yaml
  ops/k8s-apps/production/scheduler-query/custom-helm-values.yaml
  ops/k8s-apps/production/scheduler-query/kustomization.yaml
  ops/k8s-apps/production/scheduler/custom-helm-values.yaml
  ops/k8s-apps/production/scheduler/kustomization.yaml
  ops/k8s-apps/production/scheduler/namespace.yaml
Due: none

feat(ops): adds scheduler helm chart (#5981)
  ops/helm-charts/scheduler/Chart.yaml
  ops/helm-charts/scheduler/lint-only-values.yaml
  ops/helm-charts/scheduler/templates/_helpers.tpl
  ops/helm-charts/scheduler/templates/cluster-role-binding.yaml
  ops/helm-charts/scheduler/templates/cluster-role.yaml
  ops/helm-charts/scheduler/templates/cronjob.yaml
  ops/helm-charts/scheduler/templates/deployment.yaml
  ops/helm-charts/scheduler/templates/service-account.yaml
  ops/helm-charts/scheduler/values.yaml
  ops/k8s-apps/base/scheduler/scheduler.yaml
  ops/k8s-apps/production/kustomization.yaml
  ops/k8s-apps/production/scheduler-data-ingestion/custom-helm-values.yaml
  ops/k8s-apps/production/scheduler-data-ingestion/kustomization.yaml
  ops/k8s-apps/production/scheduler-query/custom-helm-values.yaml
  ops/k8s-apps/production/scheduler-query/kustomization.yaml
  ops/k8s-apps/production/scheduler/custom-helm-values.yaml
  ops/k8s-apps/production/scheduler/kustomization.yaml
  ops/k8s-apps/production/scheduler/namespace.yaml
Due: none
