Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

.lintstagedrc:

{
    "**/*.{js,jsx,ts,tsx,sol}": [
        "eslint --flag v10_config_lookup_from_file --fix --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff format",
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ]
}

feat: enhance GitHub events model with detailed comments and new test cases for filtering and null handling
  warehouse/oso_sqlmesh/models/intermediate/events/github/int_events__github_unified.sql
  warehouse/oso_sqlmesh/tests/test_int_events__github_unified.yml
Due: none

fix: map user to trino async client correctly
  warehouse/scheduler/scheduler/dlt_destination.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
  ops/k8s-apps/production/scheduler/custom-helm-values.yaml
Due: none

fix: use correct `opa` schema
  warehouse/scheduler/scheduler/mq/handlers/ingestion/archive.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: use `generate_destination_table_exp`
  warehouse/scheduler/scheduler/mq/handlers/ingestion/archive.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: add `destination_user` param
  warehouse/scheduler/scheduler/mq/handlers/ingestion/graphql.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: decouple graphql factory from dagster into `oso-core` (#6623)
  lib/oso-core/oso_core/graphql/__init__.py
  lib/oso-core/oso_core/graphql/client.py
  lib/oso-core/oso_core/graphql/introspection.py
  lib/oso-core/oso_core/graphql/pagination.py
  lib/oso-core/oso_core/graphql/query_builder.py
  lib/oso-core/oso_core/graphql/retry.py
  lib/oso-core/oso_core/graphql/types.py
  lib/oso-core/pyproject.toml
  uv.lock
  warehouse/oso_dagster/oso_dagster/assets/default/drips.py
  warehouse/oso_dagster/oso_dagster/factories/graphql.py
  warehouse/scheduler/scheduler/mq/handlers/data_ingestion.py
  warehouse/scheduler/scheduler/mq/handlers/ingestion/__init__.py
  warehouse/scheduler/scheduler/mq/handlers/ingestion/graphql.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: use correct `opa` schema (#6633)
  warehouse/scheduler/scheduler/mq/handlers/ingestion/archive.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: listen on 0.0.0.0 for async-workers prometheus port
  ops/helm-charts/scheduler/templates/deployment.yaml
Due: none

fix: add explicit column schemas to empty staging tables in tests
  warehouse/oso_sqlmesh/tests/test_int_events__github_unified.yml
Due: none

Update GitHub unified test fixtures
  warehouse/oso_sqlmesh/tests/test_int_events__github_unified.yml
Due: none

Cast GitHub event date params to TIMESTAMP
  warehouse/oso_sqlmesh/models/intermediate/events/github/int_events__github_unified.sql
Due: none

docs: improve Google Sheets connector guide with critical fixes and enhancements
  apps/docs/docs/guides/google-sheets.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

refactor: simplify comments in raw_events section for clarity
  warehouse/oso_sqlmesh/models/intermediate/events/github/int_events__github_unified.sql
Due: none

fix: handle more than once delivery (#6631)
  lib/oso-core/oso_core/logging/__init__.py
  lib/oso-core/oso_core/logging/buffered.py
  lib/oso-core/oso_core/logging/proxied.py
  lib/oso-core/oso_core/logging/types.py
  warehouse/scheduler/scheduler/config.py
  warehouse/scheduler/scheduler/logging.py
  warehouse/scheduler/scheduler/mq/common.py
  warehouse/scheduler/scheduler/mq/concurrency/__init__.py
  warehouse/scheduler/scheduler/mq/concurrency/inmem.py
  warehouse/scheduler/scheduler/mq/concurrency/redis.py
  warehouse/scheduler/scheduler/mq/handlers/test_query.py
  warehouse/scheduler/scheduler/resources.py
  warehouse/scheduler/scheduler/testing/handlers.py
  warehouse/scheduler/scheduler/testing/resources/base.py
  warehouse/scheduler/scheduler/testing/resources/logging.py
  warehouse/scheduler/scheduler/types.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: add model and tests for mapping OSS_DIRECTORY GitHub repositories to gharchive IDs
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/repositories/int_ddp__bridge_ossd_to_gharchive.sql
  warehouse/oso_sqlmesh/tests/test_int_ddp__bridge_ossd_to_gharchive.yml
Due: none

feat: add entity_category tag to the bridge model for improved categorization
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/repositories/int_ddp__bridge_ossd_to_gharchive.sql
Due: none

docs: enhance Google Sheets connector guide with critical fixes, clarifications, and new sections
  DOCUMENTATION_IMPROVEMENTS.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

docs: enhance Google Sheets connector guide with critical fixes, clarifications, and new sections
  DOCUMENTATION_IMPROVEMENTS.md
  apps/docs/docs/guides/google-sheets.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: ensure we renew the lock
  warehouse/scheduler/scheduler/mq/common.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: ensure we renew the lock (#6636)
  warehouse/scheduler/scheduler/mq/common.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

hotfix: wire gcs-run-logger-factory
  warehouse/scheduler/scheduler/resources.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

hotfix: wire gcs-run-logger-factory (#6637)
  warehouse/scheduler/scheduler/resources.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

hotfix(helm/scheduler): bump chart version for proper host env var
  ops/helm-charts/scheduler/Chart.yaml
Due: none

fix: adds a debug log for renewing the message locking
  warehouse/scheduler/scheduler/mq/common.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: add `drips` seed data
  warehouse/metrics_tools/metrics_tools/seed/schemas/drips/rpgf_applications.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

add: `drips` project `staging` models
  warehouse/oso_sqlmesh/models/intermediate/drips/int_drips__project_funding.sql
  warehouse/oso_sqlmesh/models/staging/drips/stg_drips__rpgf_applications.sql
Due: none

fix: make level `lowercase` in log viewer
  apps/frontend/components/widgets/log-viewer.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: make level `lowercase` in log viewer (#6641)
  apps/frontend/components/widgets/log-viewer.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: use `to_pylist` in helper
  warehouse/scheduler/scheduler/mq/handlers/ingestion/utils/readers.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

add: track osograph `exceptions` with posthog
  apps/frontend/app/api/v1/osograph/route.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check
