Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: fetch `organization.members` with a `join` to avoid `n+1` problems
  apps/frontend/app/api/v1/osograph/schema/resolvers/organization.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: throw user-friendly `pagination` errors
  apps/frontend/app/api/v1/osograph/utils/errors.ts
  apps/frontend/app/api/v1/osograph/utils/pagination.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: address `pr` feedback
  apps/frontend/app/api/v1/osograph/schema/resolvers/dataset.ts
  apps/frontend/app/api/v1/osograph/utils/validation.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(sqlmesh): v1 of repo and developer edge rank
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_package_centrality.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_repo_pretrust.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_repo_to_dev_graph.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/int_ddp_repo_features.sql
Due: none

fix(sqlmesh): include url in graph
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_repo_to_dev_graph.sql
Due: none

feat(sqlmesh): v1 of repo and developer edge rank (#5625)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_package_centrality.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_repo_pretrust.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_repo_to_dev_graph.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/int_ddp_repo_features.sql
Due: none

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

feat: new `osograph` rewrite (#5617)
  apps/docs/docs/guides/ops/index.md
  apps/docs/docs/guides/ops/osograph.md
  apps/frontend/app/api/v1/osograph/route.ts
  apps/frontend/app/api/v1/osograph/schema.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/base.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/dataset.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/invitation.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/notebook.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/organization.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/user.graphql
  apps/frontend/app/api/v1/osograph/schema/resolvers/dataset.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/index.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/invitation.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/member.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/notebook.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/organization.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/user.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/viewer.ts
  apps/frontend/app/api/v1/osograph/types/context.ts
  apps/frontend/app/api/v1/osograph/types/utils.ts
  apps/frontend/app/api/v1/osograph/utils/auth.ts
  apps/frontend/app/api/v1/osograph/utils/connection.ts
  apps/frontend/app/api/v1/osograph/utils/errors.ts
  apps/frontend/app/api/v1/osograph/utils/pagination.ts
  apps/frontend/app/api/v1/osograph/utils/resolver-helpers.ts
  apps/frontend/app/api/v1/osograph/utils/validation.ts
  apps/frontend/components/widgets/notebook.tsx
  apps/frontend/lib/clients/cloudflare-r2.ts
  apps/frontend/lib/clients/oso-app/oso-app.ts
  apps/frontend/lib/graphql/generated/gql.ts
  apps/frontend/lib/graphql/generated/graphql.ts
  apps/frontend/lib/notebook/utils.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

refactor(sqlmesh): precompute monthly github events
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_filtered_github_events_by_monthly.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_repo_to_dev_graph.sql
  warehouse/oso_sqlmesh/models/intermediate/events/github/int_events_monthly__github.sql
Due: none

fix(sqlmesh): linting error and tighter filtering
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_filtered_github_events_by_monthly.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_repo_pretrust.sql
  warehouse/oso_sqlmesh/models/intermediate/events/github/int_events_monthly__github.sql
Due: none

fix(sqlmesh): model rename
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_filtered_github_events_by_month.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_repo_to_dev_graph.sql
Due: none

fix(sqlmesh): code review suggestions
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_filtered_github_events_by_month.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_repo_to_dev_graph.sql
  warehouse/oso_sqlmesh/models/intermediate/events/github/int_events_monthly__github.sql
Due: none

refactor(sqlmesh): precompute monthly github events (#5628)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_filtered_github_events_by_month.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_repo_pretrust.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_repo_to_dev_graph.sql
  warehouse/oso_sqlmesh/models/intermediate/events/github/int_events_monthly__github.sql
Due: none

feat(sqlmesh): create a v0 of a ranking algorithm for ethereum repos
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_repo_discovery_v0.sql
Due: none

feat(sqlmesh): create a v0 of a ranking algorithm for ethereum repos (#5631)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/ddp/discovery/int_ddp_repo_discovery_v0.sql
Due: none

feat(sqlmesh): add dex users model
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/grant-measurement/int_optimism_dex_trades.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/grant-measurement/int_optimism_dex_user_cohorts.sql
Due: none

feat(sqlmesh): add dex users model (#5632)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/grant-measurement/int_optimism_dex_trades.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/grant-measurement/int_optimism_dex_user_cohorts.sql
Due: none

fix(sqlmesh): use instead of id for the join
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/grant-measurement/int_optimism_dex_trades_daily.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/grant-measurement/int_optimism_dex_user_cohorts.sql
Due: none

fix(sqlmesh): use `to` instead of `from` id for the join (#5633)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/grant-measurement/int_optimism_dex_trades_daily.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/grant-measurement/int_optimism_dex_user_cohorts.sql
Due: none

fix(sqlmesh): add more granular cohorts to dex user model
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/grant-measurement/int_optimism_dex_user_cohorts.sql
Due: none

fix(sqlmesh): add more granular cohorts to dex user model (#5634)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/grant-measurement/int_optimism_dex_user_cohorts.sql
Due: none

fix: move things to resource dependency injection
  warehouse/oso_dagster/assets/default/udm.py
  warehouse/oso_dagster/definitions/resources.py
  warehouse/oso_dagster/resources/__init__.py
  warehouse/oso_dagster/resources/udm_engine_adapter.py
  warehouse/oso_dagster/resources/udm_state.py
  warehouse/scheduler/scheduler/evaluator.py
  warehouse/scheduler/scheduler/testing/client.py
  warehouse/scheduler/scheduler/types.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: update to latest dagster-sqlmesh
  pyproject.toml
  uv.lock
Due: none

Update warehouse/oso_dagster/resources/udm_state.py
  warehouse/oso_dagster/resources/udm_state.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Update warehouse/oso_dagster/resources/udm_engine_adapter.py
  warehouse/oso_dagster/resources/udm_engine_adapter.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

remove prototyping code
  warehouse/scheduler/scheduler/test_evaluator.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: make engine adapter loading lazy
  warehouse/oso_dagster/assets/default/udm.py
  warehouse/scheduler/scheduler/evaluator.py
  warehouse/scheduler/scheduler/test_evaluator.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: updated lint rules for new sqlmesh version
  warehouse/oso_sqlmesh/linter/entity_category_tags.py
  warehouse/oso_sqlmesh/linter/incremental.py
  warehouse/oso_sqlmesh/linter/time_partitions.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: add new graphql types for user defined models
  apps/frontend/app/api/v1/osograph/schema/graphql/base.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/dataset.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/system.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/user-defined-model.graphql
Due: none

chore(graphql): run codegen
  apps/frontend/lib/graphql/generated/gql.ts
  apps/frontend/lib/graphql/generated/graphql.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(models): add model resolver
  apps/frontend/app/api/v1/osograph/schema/graphql/dataset.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/model.graphql
  apps/frontend/app/api/v1/osograph/schema/resolvers/dataset.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/index.ts
  apps/frontend/app/api/v1/osograph/schema/resolvers/model.ts
  apps/frontend/app/api/v1/osograph/utils/validation.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(datasets): fix graphql dataset schema after refactor
  apps/frontend/app/api/v1/osograph/schema/graphql/dataset.graphql
  apps/frontend/app/api/v1/osograph/schema/resolvers/dataset.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(datasets): add oso-app client functions for model mutations
  apps/frontend/components/dataprovider/oso-global-context.tsx
  apps/frontend/lib/clients/oso-app/oso-app.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(datasets): fix dataset update using camel case
  apps/frontend/app/api/v1/osograph/schema/resolvers/dataset.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Path conditions:
  eslint --flag v10_config_lookup_from_file --fix --max-warnings 0: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --ignore-path .gitignore --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
  prettier --ignore-path .gitignore --log-level warn --check: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
  uv run ruff format: any of: **/*.py
  uv run ruff check --fix --force-exclude: any of: **/*.py
  uv run isort: any of: **/*.py
  pnpm pyright: any of: **/*.py
