Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

add: `query-builder` client `overload`
  apps/frontend/app/api/v1/osograph/utils/query-helpers.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore: fix `prettier` formatting error
  apps/frontend/components/widgets/form-error-banner.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add: `form-error-banner` component (#6481)
  apps/frontend/components/widgets/form-builder.tsx
  apps/frontend/components/widgets/form-error-banner.tsx
  apps/frontend/stories/widgets/form-builder.stories.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add: enable `trailofbits` security plugins
  .claude/settings.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
  ops/k8s-apps/production/scheduler/custom-helm-values.yaml
Due: none

fix: cast to double
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/oracles/int_optimism_oracles_indirect_fees_daily.sql
Due: none

Cast tx_count to double in SQL model
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/oracles/int_optimism_oracles_indirect_fees_daily.sql
Due: none

Update int_optimism_oracles_indirect_fees_daily.sql
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/oracles/int_optimism_oracles_indirect_fees_daily.sql
Due: none

fix: extra fields should appear in logs
  lib/oso-core/oso_core/logging/defaults.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: cast to double (#6500)
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/oracles/int_optimism_oracles_indirect_fees_daily.sql
Due: none

fix: temporary fix to check ghcr image every minute
  ops/k8s-infrastructure/common/oso-image-automation.yaml
Due: none

fix: more lenient image matching
  ops/k8s-infrastructure/common/oso-image-policy.yaml
Due: none

fix: cast to double for more tx_counts
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/superchain/oracles/int_optimism_oracles_direct_fees_daily.sql
Due: none

add: enable `trailofbits` security plugins (#6499)
  .claude/settings.json
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add: `karpathy-guidelines` claude `skill` (#6480)
  .claude/skills/karpathy-guidelines/SKILL.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

add: `query-builder` client `overload` (#6497)
  apps/frontend/app/api/v1/osograph/utils/query-helpers.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: extra fields should appear in logs (#6502)
  lib/oso-core/oso_core/logging/defaults.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: add correct `type` defaults
  apps/frontend/components/widgets/form-builder.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: add correct `type` defaults (#6510)
  apps/frontend/components/widgets/form-builder.tsx
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

chore(graphlq): remove unused query
  apps/frontend/app/api/v1/osograph/schema/graphql/dataset.graphql
  apps/frontend/app/api/v1/osograph/schema/resolvers/dataset.ts
  apps/frontend/lib/graphql/generated/graphql.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(trino): only allow accessing UDMs from own org
  opa/trino/trino.rego
Due: none

chore(graphlq): remove unused query (#6511)
  apps/frontend/app/api/v1/osograph/schema/graphql/dataset.graphql
  apps/frontend/app/api/v1/osograph/schema/resolvers/dataset.ts
  apps/frontend/lib/graphql/generated/graphql.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(trino): only allow accessing UDMs from own org (#6512)
  opa/trino/trino.rego
Due: none

fix: support udm dag properly
  warehouse/scheduler/scheduler/mq/handlers/data_model.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: support udm dag properly (#6524)
  warehouse/scheduler/scheduler/mq/handlers/data_model.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: autogen files
  apps/frontend/lib/graphql/generated/graphql.ts
  apps/frontend/lib/types/schema-types.ts
  apps/frontend/lib/types/schema.ts
  apps/frontend/lib/types/supabase.ts
  warehouse/scheduler/scheduler/graphql_client/__init__.py
  warehouse/scheduler/scheduler/graphql_client/client.py
  warehouse/scheduler/scheduler/graphql_client/create_data_connection_alias.py
  warehouse/scheduler/scheduler/graphql_client/create_data_connection_datasets.py
  warehouse/scheduler/scheduler/graphql_client/get_data_connection.py
  warehouse/scheduler/scheduler/graphql_client/get_data_ingestion_config.py
  warehouse/scheduler/scheduler/graphql_client/get_data_models.py
  warehouse/scheduler/scheduler/graphql_client/get_static_models.py
  warehouse/scheduler/scheduler/graphql_client/input_types.py
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(supabase): add data_connection migration
  apps/frontend/supabase/migrations/20260130192218_data_connection_migration.sql
Due: none

feat(data-connections): add data connection tables fetcher
  apps/frontend/app/api/v1/osograph/schema/resolvers/dataset.ts
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(data-connections): pass user to consumer trino when syncing schema
  apps/frontend/app/api/v1/osograph/schema/graphql/data-connection.graphql
  apps/frontend/app/api/v1/osograph/schema/resolvers/data-connection.ts
  apps/frontend/lib/graphql/generated/graphql.ts
  warehouse/scheduler/scheduler/client.graphql
  warehouse/scheduler/scheduler/graphql_client/__init__.py
  warehouse/scheduler/scheduler/graphql_client/client.py
  warehouse/scheduler/scheduler/graphql_client/get_data_connection.py
  warehouse/scheduler/scheduler/mq/handlers/data_model.py
  warehouse/scheduler/scheduler/mq/handlers/sync_connection.py
  warehouse/scheduler/scheduler/utils.py
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(data-connections): allow system to create data connection datasets
  apps/frontend/app/api/v1/osograph/schema/graphql/data-connection.graphql
  apps/frontend/app/api/v1/osograph/schema/graphql/system.graphql
  warehouse/scheduler/scheduler/client.graphql
Due: none

Path conditions:
  eslint --flag v10_config_lookup_from_file --fix --max-warnings 0: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --ignore-path .gitignore --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
  prettier --ignore-path .gitignore --log-level warn --check: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
  uv run ruff format: any of: **/*.py
  uv run ruff check --fix --force-exclude: any of: **/*.py
  uv run isort: any of: **/*.py
  pnpm pyright: any of: **/*.py
