Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

.lintstagedrc:

{
    "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
        "eslint --ignore-path .gitignore --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ],
    "warehouse/dbt/**/*.sql": [
        "uv run sqlfluff fix -f",
        "uv run sqlfluff lint"
    ]
}

fix
  warehouse/oso_sqlmesh/macros/extended_date_spine.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: temporarily disable for now
  warehouse/metrics_tools/factory/factory.py
  warehouse/oso_sqlmesh/audits/no_gaps.sql
  warehouse/oso_sqlmesh/macros/extended_date_spine.py
  warehouse/oso_sqlmesh/models/metrics_factories.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: replace datetrunc for no gaps (#3778)
  warehouse/metrics_tools/factory/factory.py
  warehouse/oso_sqlmesh/audits/no_gaps.sql
  warehouse/oso_sqlmesh/macros/extended_date_spine.py
  warehouse/oso_sqlmesh/macros/time_aggregation_bucket.py
  warehouse/oso_sqlmesh/models/metrics_factories.py
  warehouse/oso_sqlmesh/models/staging/deps-dev/stg_deps_dev__packages.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-calculation-service/custom-helm-values.yaml
Due: none

chore: bump `posthog-node` version
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: implement `consolidated` analytics `middleware`
  apps/frontend/middleware.ts
Due: none

chore: remove `duped` analytics reporting
  apps/frontend/app/api/v1/chat/route.ts
  apps/frontend/app/api/v1/graphql/route.ts
  apps/frontend/app/api/v1/sql/route.ts
Due: none

chore: remove `lodash` dependency due to `edge` runtime constraints
  apps/frontend/lib/parsing.ts
Due: none

chore: fix disable no_gaps on models that won't always succeed
  warehouse/oso_sqlmesh/models/intermediate/blockchain_artifacts/int_contracts_transactions_weekly.sql
  warehouse/oso_sqlmesh/models/staging/open-collective/stg_open_collective__deposits.sql
  warehouse/oso_sqlmesh/models/staging/open-collective/stg_open_collective__expenses.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__4337_userop_logs.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__proxies.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_worldchain__verified_users.sql
Due: none

chore: fix disable no_gaps on models that won't always succeed (#3780)
  warehouse/oso_sqlmesh/models/intermediate/blockchain_artifacts/int_contracts_transactions_weekly.sql
  warehouse/oso_sqlmesh/models/staging/open-collective/stg_open_collective__deposits.sql
  warehouse/oso_sqlmesh/models/staging/open-collective/stg_open_collective__expenses.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__4337_userop_logs.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__proxies.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_worldchain__verified_users.sql
Due: none

fix: provide `global` fetch to posthog client
  apps/frontend/lib/clients/posthog.ts
Due: none

fix: replace `withPostHog` with `createPostHog` for tracking API calls
  apps/frontend/middleware.ts
Due: none

fix: pass correct `fetch` function
  apps/frontend/lib/clients/posthog.ts
Due: none

fix: use simple `posthog` capture
  apps/frontend/middleware.ts
Due: none

fix: don't use bigints (sometimes it's out of bounds)
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__4337_traces.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__4337_userop_logs.sql
Due: none

fix: don't use bigints (sometimes it's out of bounds) (#3781)
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__4337_traces.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__4337_userop_logs.sql
Due: none

chore(sqlmesh): disable audits on failing models
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__funding.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__4337_traces.sql
Due: none

chore(sqlmesh): disable audits on failing models (#3784)
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__funding.sql
  warehouse/oso_sqlmesh/models/staging/superchain/stg_superchain__4337_traces.sql
Due: none

chore: remove additional audits
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__4337.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__4337.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__funding.sql
Due: none

chore: remove additional audits (#3785)
  warehouse/oso_sqlmesh/models/intermediate/events/int_events__4337.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__4337.sql
  warehouse/oso_sqlmesh/models/intermediate/events/int_events_daily__funding.sql
Due: none

fix: remove audits for funding
  warehouse/oso_sqlmesh/models/metrics_factories.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: add hack to the factory
  warehouse/metrics_tools/factory/factory.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: fixes the condition
  warehouse/metrics_tools/factory/factory.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: remove audits for funding (#3786)
  warehouse/metrics_tools/factory/factory.py
  warehouse/oso_sqlmesh/models/metrics_factories.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: superchain events
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_events_by_project.sql
Due: none

fix: superchain events (#3787)
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_events_by_project.sql
Due: none

fix(sqlmesh): refactor growth grant model
  warehouse/oso_sqlmesh/models/intermediate/events/int_s6_growth_grants.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s6/int_superchain_s6_growth_grant_metrics.sql
Due: none

fix(dagster): increase retry attempts to avoid getting stuck
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

fix(dagster): increase retry attempts to avoid getting stuck (#3788)
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

fix(dagster): increase retry attempts for upgrades to avoid getting stuck
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

fix(dagster): increase retry attempts for upgrades to avoid getting stuck (#3789)
  ops/k8s-apps/base/dagster/dagster.yaml
Due: none

update graphql
  warehouse/oso_dagster/factories/graphql.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright
