Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

.lintstagedrc:

{
    "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
        "eslint --ignore-path .gitignore --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ],
    "warehouse/dbt/**/*.sql": [
        "uv run sqlfluff fix -f",
        "uv run sqlfluff lint"
    ]
}

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

feat: Fixing the OSO client (#5028)
  apps/frontend/components/dataprovider/oso-global-context.tsx
  apps/frontend/lib/clients/oso-app/oso-app.ts
Due: none

fix: getNotebook should not look for a display_name
  apps/frontend/lib/clients/oso-app/oso-app.ts
Due: none

fix: getNotebook should not look for a display_name (#5033)
  apps/frontend/lib/clients/oso-app/oso-app.ts
Due: none

fix: fixing the oso app client
  apps/frontend/lib/clients/oso-app/oso-app.ts
Due: none

fix: use uuid instead of Math.random
  apps/frontend/lib/clients/oso-app/oso-app.ts
Due: none

fix: log errors in OsoDataProvider
  apps/frontend/components/dataprovider/oso-data-provider.tsx
Due: none

fix: fixing the oso app client (#5035)
  apps/frontend/components/dataprovider/oso-data-provider.tsx
  apps/frontend/lib/clients/oso-app/oso-app.ts
Due: none

feat(ethereum): increase dagster limits for ethereum assets
  warehouse/oso_dagster/assets/default/ethereum_blockchain.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(ethereum): increase dagster limits for ethereum assets (#5043)
  warehouse/oso_dagster/assets/default/ethereum_blockchain.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

[OSO-937] create staging model for defillama raises (#5030)
  warehouse/metrics_tools/seed/schemas/defillama/raises.py
  warehouse/oso_sqlmesh/models/staging/defillama/stg_defillama__raises.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore(ethereum): make assets run on spot instances
  warehouse/oso_dagster/assets/default/ethereum_blockchain.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: enforce lowercase `unique`, non dictionary `org` names
  apps/frontend/supabase/migrations/20250915000000_add_reserved_names_check.sql
Due: none

chore(ethereum): make assets run on spot instances (#5044)
  warehouse/oso_dagster/assets/default/ethereum_blockchain.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: enforce lowercase `unique`, non dictionary `org` names (#5045)
  apps/frontend/supabase/migrations/20250915000000_add_reserved_names_check.sql
Due: none

fix: forgot that I cannot retrieve a forbidden column
  apps/frontend/lib/clients/oso-app/oso-app.ts
Due: none

fix: forgot that I cannot retrieve a forbidden column (#5053)
  apps/frontend/lib/clients/oso-app/oso-app.ts
Due: none

fix: Moving more OSO client methods to work by orgName
  apps/frontend/components/dataprovider/oso-global-context.tsx
  apps/frontend/lib/clients/oso-app/oso-app.ts
Due: none

feat: fork and move notebooks
  apps/frontend/components/dataprovider/oso-global-context.tsx
  apps/frontend/lib/clients/oso-app/oso-app.ts
  apps/frontend/lib/types/db.ts
Due: none

fix: billing page
  apps/frontend/app/billing/page.tsx
Due: none

fix: check
  apps/frontend/app/billing/page.tsx
Due: none

feat: add shadcn context menus
  apps/frontend/components/ui/context-menu.tsx
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: adding Plasmic registrations for context-menu
  apps/frontend/components/ui/context-menu.tsx
  apps/frontend/components/ui/index.ts
Due: none

fix: Moving more OSO client methods to work by orgName (#5054)
  apps/frontend/app/billing/page.tsx
  apps/frontend/components/dataprovider/oso-global-context.tsx
  apps/frontend/lib/clients/oso-app/oso-app.ts
  apps/frontend/lib/types/db.ts
Due: none

feat: add shadcn context menus (#5055)
  apps/frontend/components/ui/context-menu.tsx
  apps/frontend/components/ui/index.ts
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(tutorials/semantic-layer): add semantic layer tab scaffolding to tutorial3
  apps/docs/docs/tutorials/project-deepdive.mdx
Due: none

docs(dagster): add documentation on dagster about SQLMesh and Seed data
  apps/docs/docs/guides/ops/dagster.md
  apps/docs/docs/guides/ops/index.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(venture): add venture sqlmesh models
  warehouse/oso_sqlmesh/models/intermediate/entities/projects/coresignal/int_project_to_projects__coresignal.sql
  warehouse/oso_sqlmesh/models/intermediate/events/venture/coresignal/int_events_daily__coresignal_investors.sql
  warehouse/oso_sqlmesh/models/intermediate/events/venture/coresignal/int_events_daily__coresignal_venture copy.sql
  warehouse/oso_sqlmesh/models/intermediate/events/venture/int_events_daily__investors.sql
  warehouse/oso_sqlmesh/models/intermediate/events/venture/int_events_daily__venture.sql
  warehouse/oso_sqlmesh/models/staging/defillama/stg_defillama__raises.sql
Due: none

refactor(sqlmesh): minor changes to defillama model
  warehouse/oso_sqlmesh/models/staging/defillama/stg_defillama__raises.sql
Due: none
