Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: materialize `opendevdata` weekly (#5878)
  warehouse/oso_dagster/oso_dagster/assets/default/opendevdata.py
  warehouse/oso_dagster/oso_dagster/schedules.py
  warehouse/oso_dagster/oso_dagster/utils/tags.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: update readme for testing
  warehouse/scheduler/README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: various
  lib/oso-core/oso_core/cli/utils.py
  pyproject.toml
  uv.lock
  warehouse/scheduler/pyproject.toml
  warehouse/scheduler/scheduler/config.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: rename types
  warehouse/scheduler/scheduler/config.py
  warehouse/scheduler/scheduler/mq/handlers/data_model.py
  warehouse/scheduler/scheduler/mq/pubsub.py
  warehouse/scheduler/scheduler/resources.py
  warehouse/scheduler/scheduler/types.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(scheduler): improve readme for local testing
  warehouse/scheduler/README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Automated production image update #production-deploy
  ops/clusters/warehouse/production-apps.yaml
  ops/k8s-apps/production/agent/custom-helm-values.yaml
  ops/k8s-apps/production/dagster/custom-helm-values.yaml
  ops/k8s-apps/production/mcp/custom-helm-values.yaml
  ops/k8s-apps/production/metrics-service/custom-helm-values.yaml
Due: none

chore(pynessie-gc): remove pynessie-gc standalone project
  pyproject.toml
  warehouse/pynessie-gc/.env.example
  warehouse/pynessie-gc/.python-version
  warehouse/pynessie-gc/README.md
  warehouse/pynessie-gc/pyproject.toml
  warehouse/pynessie-gc/src/pynessie_gc/__init__.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore(oso_dagster): update gcsfs dependency
  uv.lock
  warehouse/oso_dagster/pyproject.toml
Due: none

feat(oso_dagster): add nessie gc to dagster asset
  warehouse/oso_dagster/oso_dagster/assets/default/nessie.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(oso_dagster): create gcs resource
  warehouse/oso_dagster/oso_dagster/definitions/resources.py
  warehouse/oso_dagster/oso_dagster/resources/__init__.py
  warehouse/oso_dagster/oso_dagster/resources/gcs.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(oso_dagster): add dry_run config to nessie gc
  warehouse/oso_dagster/oso_dagster/assets/default/nessie.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore(oso_dagster): add scheduler as dependency to dagster project
  uv.lock
  warehouse/oso_dagster/pyproject.toml
Due: none

[OSO-1390] Fix nessie garbage collector (#5882)
  pyproject.toml
  uv.lock
  warehouse/oso_dagster/oso_dagster/assets/default/nessie.py
  warehouse/oso_dagster/oso_dagster/definitions/resources.py
  warehouse/oso_dagster/oso_dagster/resources/__init__.py
  warehouse/oso_dagster/oso_dagster/resources/gcs.py
  warehouse/oso_dagster/pyproject.toml
  warehouse/pynessie-gc/.env.example
  warehouse/pynessie-gc/.python-version
  warehouse/pynessie-gc/README.md
  warehouse/pynessie-gc/pyproject.toml
  warehouse/pynessie-gc/src/pynessie_gc/__init__.py
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(oso_dagster): get the correct import for GCSFileResource
  warehouse/oso_dagster/oso_dagster/assets/default/nessie.py
  warehouse/oso_dagster/oso_dagster/definitions/resources.py
  warehouse/oso_dagster/oso_dagster/resources/gcs.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(oso_dagster): get the correct import for GCSFileResource (#5883)
  warehouse/oso_dagster/oso_dagster/assets/default/nessie.py
  warehouse/oso_dagster/oso_dagster/definitions/resources.py
  warehouse/oso_dagster/oso_dagster/resources/gcs.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(oso_dagster): increase memory limit for nessie gc
  warehouse/oso_dagster/oso_dagster/assets/default/nessie.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(oso_dagster): increase memory limit for nessie gc (#5884)
  warehouse/oso_dagster/oso_dagster/assets/default/nessie.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat: automatically sync pubsub topics and schemata
  .github/workflows/sync-protobuf-pubsub-schema.yml
Due: none

feat: allow automatic initialization of registered message handlers
  warehouse/scheduler/scheduler/config.py
  warehouse/scheduler/scheduler/mq/handlers/data_model.py
  warehouse/scheduler/scheduler/resources.py
  warehouse/scheduler/scheduler/types.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: use correct dotenv lib
  uv.lock
  warehouse/scheduler/pyproject.toml
Due: none

fix(scheduler): use dotenv
  warehouse/scheduler/scheduler/cli.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(scheduler): update readme
  warehouse/scheduler/.env.local.example
  warehouse/scheduler/README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(scheduler): various fixes
  warehouse/scheduler/pyproject.toml
  warehouse/scheduler/scheduler/cli.py
  warehouse/scheduler/scheduler/config.py
  warehouse/scheduler/scheduler/resources.py
Due: uv run ruff format, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: update uv.lock
  uv.lock
Due: none

fix(frontend): clean up proto codegen from frontend
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: move generated ts protobufs to independent library
  apps/frontend/app/api/v1/osograph/schema/resolvers/scheduler.ts
  apps/frontend/package.json
  lib/protobufs/typescript/package.json
  lib/protobufs/typescript/src/data-ingestion.ts
  lib/protobufs/typescript/src/data-model.ts
  lib/protobufs/typescript/src/index.ts
  lib/protobufs/typescript/src/query.ts
  lib/protobufs/typescript/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: lock
  pnpm-lock.yaml
Due: none

fix: move generated ts protobufs to independent library (#5886)
  apps/frontend/app/api/v1/osograph/schema/resolvers/scheduler.ts
  apps/frontend/package.json
  lib/protobufs/typescript/package.json
  lib/protobufs/typescript/src/data-ingestion.ts
  lib/protobufs/typescript/src/data-model.ts
  lib/protobufs/typescript/src/index.ts
  lib/protobufs/typescript/src/query.ts
  lib/protobufs/typescript/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --flag v10_config_lookup_from_file --fix --max-warnings 0, prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat(ops/helm/generic): allow disabling service for worker type deploys
  ops/helm-charts/generic/Chart.yaml
  ops/helm-charts/generic/templates/service.yaml
  ops/helm-charts/generic/values.yaml
Due: none

chore: deploy initial scheduler for data models
  ops/k8s-apps/base/scheduler/kustomization.yaml
  ops/k8s-apps/base/scheduler/scheduler.yaml
  ops/k8s-apps/production/scheduler-data-model/custom-helm-values.yaml
  ops/k8s-apps/production/scheduler-data-model/kustomization.yaml
Due: none

chore(sqlmesh): add location field to seed data and update models
  warehouse/oso_sqlmesh/models/intermediate/domain-specific/developer-lifecycle/sre/int_sre_github_users.sql
  warehouse/oso_sqlmesh/models/seed/seed_sre_github_users.sql
  warehouse/oso_sqlmesh/seeds/sre_github_users.csv
Due: none

Path conditions:
  eslint --flag v10_config_lookup_from_file --fix --max-warnings 0: any of: **/*.{js,jsx,ts,tsx,sol}
  prettier --ignore-path .gitignore --write: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
  prettier --ignore-path .gitignore --log-level warn --check: (any of: **/*.{js,jsx,ts,tsx,sol}) or (any of: **/*.{md,json})
  uv run ruff format: any of: **/*.py
  uv run ruff check --fix --force-exclude: any of: **/*.py
  uv run isort: any of: **/*.py
  pnpm pyright: any of: **/*.py
