Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright, uv run sqlfluff fix -f, uv run sqlfluff lint

.lintstagedrc:

{
    "**/!(.eslintrc)*.{js,jsx,ts,tsx,sol}": [
        "eslint --ignore-path .gitignore --max-warnings 0",
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.{md,json}": [
        "prettier --ignore-path .gitignore --write",
        "prettier --ignore-path .gitignore --log-level warn --check"
    ],
    "**/*.py": [
        "uv run ruff check --fix --force-exclude",
        "uv run isort",
        "pnpm pyright"
    ],
    "warehouse/dbt/**/*.sql": [
        "uv run sqlfluff fix -f",
        "uv run sqlfluff lint"
    ]
}

Docs: replace Segment with Google Analytics (#3628)
  .github/workflows/ci-default.yml
  .github/workflows/deploy-docusaurus-docs.yml
  apps/docs/.env.local.example
  apps/docs/docusaurus.config.ts
  apps/docs/package.json
  apps/docs/src/config.ts
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix(clickhouse): rendered_sql and order_by translations
  warehouse/oso_dagster/utils/clickhouse.py
  warehouse/oso_sqlmesh/models/marts/metrics/metrics_v0.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(sqlmesh): add worldchain event types by project
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_worldchain_events_by_project.sql
Due: none

refactor(sqlmesh): create separate incremental table for onchain builder events only
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_onchain_builder_events.sql
Due: none

refactor(sqlmesh): calculate onchain builder metrics more efficiently
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_onchain_metrics_by_project.sql
Due: none

fix(sqlmesh): remove chain conditions
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_onchain_builder_events.sql
Due: none

refactor(sqlmesh): include worldchain events and refactor onchain builder event aggregations (#3630)
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_worldchain_events_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_onchain_builder_events.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_onchain_metrics_by_project.sql
Due: none

add: missing ossd funding `seed` data
  warehouse/metrics_tools/seed/schemas/ossd/funding.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix: invalid `date` coalesce
  warehouse/oso_sqlmesh/models/staging/oss-directory/stg_ossd__current_funding.sql
Due: none

feat(sqlmesh): union S7 numeric algo inputs into a single model
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_s7_timeseries_metrics_by_project.sql
Due: none

fix(sqlmesh): include builder eligibility metrics
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_s7_timeseries_metrics_by_project.sql
Due: none

feat(sqlmesh): expose retrofunding metrics in a mart model
  warehouse/oso_sqlmesh/models/intermediate/superchain/int_superchain_s7_timeseries_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/marts/metrics/retrofunding_metrics_by_project_v0.sql
Due: none

feat(sqlmesh): relational metrics for OP Atlas
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_relational_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_timeseries_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/marts/metrics/retrofunding_relationships_by_project_v0.sql
Due: none

Staging models for Gitcoin RegenData
  warehouse/oso_sqlmesh/models/staging/gitcoin/stg_gitcoin__all_donations.sql
  warehouse/oso_sqlmesh/models/staging/gitcoin/stg_gitcoin__all_matching.sql
  warehouse/oso_sqlmesh/models/staging/gitcoin/stg_gitcoin__project_groups_summary.sql
  warehouse/oso_sqlmesh/models/staging/gitcoin/stg_gitcoin__project_lookup.sql
Due: none

feat(clickhouse): add logs in case of command failure
  warehouse/oso_dagster/utils/clickhouse.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

feat(clickhouse): add logs in case of command failure (#3634)
  warehouse/oso_dagster/utils/clickhouse.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

chore: add seed models
  warehouse/metrics_tools/seed/schemas/gitcoin/all_donations.py
  warehouse/metrics_tools/seed/schemas/gitcoin/all_matching.py
  warehouse/oso_sqlmesh/models/staging/gitcoin/stg_gitcoin__all_matching.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(slqmesh): fix first two gitcoin staging models
  warehouse/oso_sqlmesh/models/staging/gitcoin/stg_gitcoin__all_donations.sql
  warehouse/oso_sqlmesh/models/staging/gitcoin/stg_gitcoin__all_matching.sql
Due: none

fix(clickhouse): rendered_sql and order_by translations (#3629)
  warehouse/oso_dagster/utils/clickhouse.py
  warehouse/oso_sqlmesh/models/marts/metrics/metrics_v0.sql
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

refactor(sqlmesh): use current time for snapshot and remove mart models
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_relational_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_summary_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/marts/metrics/retrofunding_metrics_by_project_v0.sql
  warehouse/oso_sqlmesh/models/marts/metrics/retrofunding_relationships_by_project_v0.sql
Due: none

feat(sqlmesh): expose retro-funding specific metrics in their own mart model (#3631)
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_relational_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_summary_metrics_by_project.sql
Due: none

feat(nessie): add nessie GC job
  ops/k8s-apps/production/nessie/kustomization.yaml
  ops/k8s-apps/production/nessie/nessie-gc.yaml
Due: none

fix(sqlmesh): grains
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_relational_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_summary_metrics_by_project.sql
Due: none

fix(sqlmesh): grains (#3637)
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_relational_metrics_by_project.sql
  warehouse/oso_sqlmesh/models/intermediate/superchain/s7/int_superchain_s7_summary_metrics_by_project.sql
Due: none

fix(exporter): specify that ColumnsDefinition need to parse into a type, and not a constant
  warehouse/metrics_tools/compute/types.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(column-definitions): correctly map default duckdb decimal type
  warehouse/metrics_tools/compute/types.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

fix(exporter): specify that ColumnsDefinition need to parse into a type, and not a constant (#3638)
  warehouse/metrics_tools/compute/types.py
Due: uv run ruff check --fix --force-exclude, uv run isort, pnpm pyright

Remove Segment from frontend. Add posthog
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Add Posthog env variables to frontend config
  apps/frontend/.env.local.example
  apps/frontend/lib/config.ts
Due: none

remove segment client from frontend
  apps/frontend/components/dataprovider/auth-router.tsx
  apps/frontend/lib/auth/auth.ts
  apps/frontend/lib/clients/segment.ts
Due: none

add PosthogPageView component
  apps/frontend/components/widgets/posthog-pageview.tsx
Due: none

add PosthogProvider
  apps/frontend/components/dataprovider/posthog-provider.tsx
Due: none

add Google analytics component
  apps/frontend/components/widgets/analytics.tsx
  apps/frontend/components/widgets/google-analytics.tsx
Due: none

Add server-side posthog client
  apps/frontend/lib/clients/posthog.ts
Due: none

Add Posthog and Google Analytics to all pages in frontend
  apps/frontend/app/layout.tsx
Due: none

feat: Replace Segment with PostHog/GA on frontend (#3640)
  apps/frontend/.env.local.example
  apps/frontend/app/layout.tsx
  apps/frontend/components/dataprovider/auth-router.tsx
  apps/frontend/components/dataprovider/posthog-provider.tsx
  apps/frontend/components/widgets/analytics.tsx
  apps/frontend/components/widgets/google-analytics.tsx
  apps/frontend/components/widgets/posthog-pageview.tsx
  apps/frontend/lib/auth/auth.ts
  apps/frontend/lib/clients/posthog.ts
  apps/frontend/lib/clients/segment.ts
  apps/frontend/lib/config.ts
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

feat: PostHog Identify connected to Supabase
  apps/frontend/components/dataprovider/auth-router.tsx
Due: none

fix: reset posthog on logout
  apps/frontend/components/widgets/auth-actions.tsx
Due: none

feat: PostHog Identify connected to Supabase (#3643)
  apps/frontend/components/dataprovider/auth-router.tsx
  apps/frontend/components/widgets/auth-actions.tsx
Due: none

posthog captures log in/out events
  apps/frontend/components/widgets/auth-actions.tsx
Due: none
