Repository opensource-observer/oso: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check, poetry run ruff check --fix --force-exclude, pnpm pyright, poetry run sqlfluff fix -f, poetry run sqlfluff lint

SQLMesh Trino Further Debugging (#2910)
  ops/k8s-apps/local/trino/custom-helm-values.yaml
  poetry.lock
  pyproject.toml
  warehouse/metrics_mesh/macros/array_index.py
  warehouse/metrics_mesh/models/intermediate/defillama/int_defillama_tvl_events.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts_in_ossd_by_project.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_packages.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_projects.sql
  warehouse/metrics_mesh/models/intermediate/directory/int_users.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events__github.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events_aux_issues.sql
  warehouse/metrics_mesh/models/marts/events/timeseries_events_by_artifact_v0.sql
  warehouse/metrics_mesh/models/staging/defillama/stg_defillama.py
  warehouse/metrics_mesh/models/staging/github/stg_github__comments.sql
  warehouse/metrics_mesh/models/staging/github/stg_github__commits.sql
  warehouse/metrics_mesh/models/staging/github/stg_github__issues.sql
  warehouse/metrics_mesh/models/staging/github/stg_github__pull_request_merge_events.sql
  warehouse/metrics_mesh/models/staging/github/stg_github__pull_requests.sql
  warehouse/metrics_mesh/models/staging/github/stg_github__push_events.sql
  warehouse/metrics_tools/local/config.py
  warehouse/metrics_tools/local/customfss.py
  warehouse/metrics_tools/local/loader.py
  warehouse/metrics_tools/local/manager.py
  warehouse/metrics_tools/local/tls_portforward.py
  warehouse/metrics_tools/utils/logging.py
  warehouse/oso_lets_go/cli.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

chore: add input for manual run of duckdb cronjob for fresh builds
  .github/workflows/check-duckdb-schema.yml
Due: none

chore: add input for manual run of duckdb cronjob for fresh builds (#2913)
  .github/workflows/check-duckdb-schema.yml
Due: none

fix: op-atlas replication
  warehouse/oso_dagster/assets/op_atlas.py
  warehouse/oso_dagster/factories/sql.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: op-atlas replication (#2915)
  warehouse/oso_dagster/assets/op_atlas.py
  warehouse/oso_dagster/factories/sql.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

chore(dbt): clear out early versions of models
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__code_dependencies.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__developer_relationships.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__devtool_artifact_filter.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__devtool_to_onchain_project_registry.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__metrics_by_project.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_int__onchain_developers.sql
  warehouse/dbt/models/marts/metrics/optimism/devtools/odt_metric__total_dependents.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: don't replicate UserEmail and UserInteraction from op-atlas
  warehouse/oso_dagster/assets/op_atlas.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: don't replicate UserEmail and UserInteraction from op-atlas (#2916)
  warehouse/oso_dagster/assets/op_atlas.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: DuckDB struct support
  warehouse/metrics_tools/local/loader.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

remove unnecessary type conversion, add some logging
  warehouse/metrics_tools/local/loader.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: DuckDB struct support (#2918)
  warehouse/metrics_tools/local/loader.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix(metrics): do not replace substrings accidently when fixing column types
  warehouse/metrics_tools/local/loader.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix(metrics): do not replace substrings accidently when fixing column types (#2920)
  warehouse/metrics_tools/local/loader.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

refactor(dbt): create standalone repo model
  warehouse/dbt/models/_sandbox/int_superchain_s7_repositories.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix(dbt): package links
  warehouse/dbt/models/_sandbox/int_superchain_s7_repositories.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: Created a compatibility macro for unnesting in trino and duckdb
  warehouse/metrics_mesh/macros/unnested_ref.py
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts_in_ossd_by_project.sql
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

Update warehouse/metrics_mesh/macros/unnested_ref.py
  warehouse/metrics_mesh/macros/unnested_ref.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

A compatibility macro for unnesting in trino and duckdb (#2923)
  warehouse/metrics_mesh/macros/unnested_ref.py
  warehouse/metrics_mesh/models/intermediate/directory/int_artifacts_in_ossd_by_project.sql
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix(dbt): update developer graph
  warehouse/dbt/models/_sandbox/int_superchain_s7_devtooling_eligibility.sql
  warehouse/dbt/models/_sandbox/int_superchain_s7_repositories.sql
  warehouse/dbt/models/_sandbox/int_superchain_s7_trusted_developers.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix(dbt): reconnect developer metrics
  warehouse/dbt/models/_sandbox/int_superchain_s7_devtooling_metrics_by_project.sql
  warehouse/dbt/models/_sandbox/int_superchain_s7_project_to_dependency_graph.sql
  warehouse/dbt/models/_sandbox/int_superchain_s7_trusted_developers.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

chore: decrease size of initialize query on test duckdb
  .github/workflows/check-duckdb-schema.yml
Due: none

chore: decrease size of initialize query on test duckdb (#2925)
  .github/workflows/check-duckdb-schema.yml
Due: none

fix: duckdb schema job correct fresh input condition
  .github/workflows/check-duckdb-schema.yml
Due: none

fix: duckdb schema job correct fresh input condition (#2926)
  .github/workflows/check-duckdb-schema.yml
Due: none

data: migrate int_events__dependencies to sqlmesh
  warehouse/metrics_mesh/macros/deps_dev/deps_dev_artifact_details.py
  warehouse/metrics_mesh/models/intermediate/events/int_events.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events__dependencies.sql
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: README
  warehouse/metrics_mesh/README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

data: migrate int_events__dependencies to sqlmesh (#2927)
  warehouse/metrics_mesh/macros/deps_dev/deps_dev_artifact_details.py
  warehouse/metrics_mesh/models/intermediate/events/int_events.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events__dependencies.sql
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix: README (#2928)
  warehouse/metrics_mesh/README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

fix: materialize open collective staging models
  warehouse/dbt/models/staging/open-collective/stg_open_collective__deposits.sql
  warehouse/dbt/models/staging/open-collective/stg_open_collective__expenses.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: materialize open collective staging models (#2929)
  warehouse/dbt/models/staging/open-collective/stg_open_collective__deposits.sql
  warehouse/dbt/models/staging/open-collective/stg_open_collective__expenses.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

data: int_events__funding moved to sqlmesh
  warehouse/metrics_mesh/models/intermediate/events/int_events.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events__funding.sql
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

fix incompatible type on Trino
  warehouse/metrics_mesh/models/intermediate/events/int_events__funding.sql
Due: none

fix: loading open collective data to duckdb
  warehouse/metrics_tools/local/loader.py
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

data: int_events__funding moved to sqlmesh (#2930)
  warehouse/metrics_mesh/models/intermediate/events/int_events.sql
  warehouse/metrics_mesh/models/intermediate/events/int_events__funding.sql
  warehouse/metrics_tools/local/loader.py
  warehouse/metrics_tools/local/utils.py
Due: poetry run ruff check --fix --force-exclude, pnpm pyright

refactor(dbt): finalize s7 initial metrics
  warehouse/dbt/models/_sandbox/eligibility/int_superchain_s7_devtooling_repo_eligibility.sql
  warehouse/dbt/models/_sandbox/eligibility/int_superchain_s7_onchain_builder_eligibility.sql
  warehouse/dbt/models/_sandbox/int_superchain_s7_devtooling_metrics_by_project.sql
  warehouse/dbt/models/_sandbox/int_superchain_s7_onchain_builder_repositories.sql
  warehouse/dbt/models/_sandbox/int_superchain_s7_project_to_dependency_graph.sql
  warehouse/dbt/models/_sandbox/int_superchain_s7_project_to_developer_graph.sql
  warehouse/dbt/models/_sandbox/int_superchain_s7_project_to_project_graph.sql
  warehouse/dbt/models/_sandbox/int_superchain_s7_trusted_developers.sql
  warehouse/dbt/models/_sandbox/metrics/int_superchain_s7_devtooling_metrics_by_project.sql
  warehouse/dbt/models/_sandbox/metrics/int_superchain_s7_onchain_metrics_by_project.sql
  warehouse/dbt/models/_sandbox/upstream/int_code_dependencies.sql
  warehouse/dbt/models/_sandbox/upstream/int_developer_activity_by_repo.sql
  warehouse/dbt/models/_sandbox/upstream/int_repositories_enriched.sql
  warehouse/dbt/models/_sandbox/upstream/int_superchain_onchain_user_labels.sql
  warehouse/dbt/models/_sandbox/upstream/int_superchain_traces_txs_joined.sql
  warehouse/dbt/models/_sandbox/upstream/stg_superchain__traces.sql
  warehouse/dbt/models/_sandbox/upstream/stg_superchain__transactions.sql
Due: poetry run sqlfluff fix -f, poetry run sqlfluff lint

fix: replace JSON_VALUE with json_extract_scalar in int_events__funding
  warehouse/metrics_mesh/models/intermediate/events/int_events__funding.sql
Due: none

fix: replace JSON_VALUE with json_extract_scalar in int_events__funding (#2931)
  warehouse/metrics_mesh/models/intermediate/events/int_events__funding.sql
Due: none

docs: add some Trino debugging tips to README
  warehouse/metrics_mesh/README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

docs: add some Trino debugging tips to README (#2933)
  warehouse/metrics_mesh/README.md
Due: prettier --ignore-path .gitignore --write, prettier --ignore-path .gitignore --log-level warn --check

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{md,json}
  prettier --ignore-path .gitignore --log-level warn --check: any of: **/*.{md,json}
  poetry run ruff check --fix --force-exclude: any of: **/*.py
  pnpm pyright: any of: **/*.py
  poetry run sqlfluff fix -f: any of: warehouse/dbt/**/*.sql
  poetry run sqlfluff lint: any of: warehouse/dbt/**/*.sql
